<div class="page-header">
    <h3>Team Details</h3>
</div>
<form role="form">
    <div class="row">
        <div class="col-sm-7">
            <div class="form-group">
            <label for="team-name">Team name</label>
            <input type="text" class="form-control" id="team-name" placeholder="The Chicago Bulls">
            </div>
            <div class="form-group">
            <label for="team-slug">URL slug</label>
            <input type="text" class="form-control" id="team-slug" placeholder="chicago-bulls">
            </div>
            <div class="form-group">
                <label for="owner">Owner</label>
                <select id="status" class="contacts selectized" placeholder="Choose a status..." name="status">
                    <option value="1" selected="selected">dcramer</option>
                    <option value="2">ckj</option>
                    <option value="3">robomatt</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        <div class="col-sm-5">
            <label>Subscription Details</label>
            <p>This team is owned by <strong>dcramer</strong>, who is subscribed to the <strong>Unlimited</strong> plan.</p>
        </div>
    </div>
</form>
