@mixin flex-col($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: column;
}

@mixin flex-row($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

@mixin sub-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

@mixin content {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
