<div style="padding: 20px; border-bottom: 1px solid #ddd; background: #fff; margin-bottom: 20px;">
  <div style="width: 500; margin: 0 auto">
    {% if preview.subject %}<h1>{{ preview.subject }}</h1>{% endif %}
    <label for="event" style="margin-right: 10px">Selection:</label>
    <select id="event" style="width: 200px; margin-right: 20px;">
      <option></option>
      <optgroup label="Activity">
        <option value="mail/assigned/">Assigned</option>
        <option value="mail/assigned/self/">Assigned (Self)</option>
        <option value="mail/assigned/team/">Assigned (Team)</option>
        <option value="mail/note/">Note</option>
        <option value="mail/new-release/">Release</option>
        <option value="mail/regression/">Regression</option>
        <option value="mail/regression/release/">Regression (w/ Release)</option>
        <option value="mail/resolved/">Resolved</option>
        <option value="mail/resolved-in-release/">Resolved In Release</option>
        <option value="mail/resolved-in-release/upcoming/">Resolved In Release (Upcoming)</option>
        <option value="mail/unassigned/">Unassigned</option>
        <option value="mail/new-user-feedback/">New User Feedback</option>
        <option value="mail/new-processing-issues/">New Processing Issues</option>
        <option value="mail/new-processing-issues-no-reprocessing/">New Processing Issues (No Reprocessing)</option>
      </optgroup>
      <optgroup label="Alerts">
        <option value="mail/alert/">Alert</option>
        <option value="mail/digest/">Digest</option>
      </optgroup>
      <optgroup label="Account">
        <option value="mail/confirm-email/">Confirm Email</option>
        <option value="mail/recover-account/">Reset Password</option>
        <option value="mail/invalid-identity/">Invalid Identity</option>
        <option value="mail/sso-linked/">SSO Linked</option>
        <option value="mail/sso-unlinked/">SSO Unlinked</option>
        <option value="mail/sso-unlinked/no-password">SSO Unlinked (No Password)</option>
      </optgroup>
      <optgroup label="Releases">
        <option value="mail/unable-to-fetch-commits/">Unable to Fetch Commits</option>
      </optgroup>
      <optgroup label="Membership">
        <option value="mail/request-access/">Access Requested</option>
        <option value="mail/access-approved/">Access Approved</option>
        <option value="mail/invitation/">Membership Invite</option>
        <option value="mail/invite-request/">Invite Request</option>
        <option value="mail/join-request/">Join Request</option>
      </optgroup>
      <optgroup label="Reports">
        <option value="mail/report/">Weekly Report</option>
      </optgroup>
      <optgroup label="Repository">
        <option value="mail/unable-to-delete-repo/">Unable to Delete Repo</option>
      </optgroup>
      <optgroup label="Security">
        <option value="mail/mfa-added/">MFA Added</option>
        <option value="mail/mfa-removed/">MFA Removed</option>
        <option value="mail/password-changed/">Password Changed</option>
      </optgroup>
    </select>

    <label for="format" style="margin-right: 10px">Format:</label>
    <select id="format" style="width: 100px">
      <option value="html">HTML</option>
      <option value="txt" {% if format == 'txt' %} selected="selected"{% endif %}>Plaintext</option>
    </select>
  </div>
</div>

<script type="text/javascript">
function selectEmail(e) {
  var value = e.target.value;
  window.location.href = '/debug/' + value;
}

function selectFormat(e) {
  var value = e.target.value;
  window.location.href = window.location.pathname + '?format=' + value;
}

var eventSelect = document.getElementById('event');
eventSelect.addEventListener('change', selectEmail);

var formatSelect = document.getElementById('format');
formatSelect.addEventListener('change', selectFormat);
</script>

<div id="preview">
  {% if format == 'txt' %}
    <pre>{{ preview.text_body|safe }}</pre>
  {% else %}
    {{ preview.html_body|safe }}
  {% endif %}
</div>
