# Legal
/LICENSE  @getsentry/owners-legal

# Migrations
/src/sentry/south_migrations/  @getsentry/owners-migrations

# Snuba
/src/sentry/eventstream/        @getsentry/owners-snuba
/src/sentry/utils/snuba.py      @getsentry/owners-snuba
/src/sentry/tsdb/snuba.py       @getsentry/owners-snuba
/src/sentry/tsdb/redissnuba.py  @getsentry/owners-snuba
/src/sentry/search/snuba/       @getsentry/owners-snuba
/src/sentry/tagstore/snuba/     @getsentry/owners-snuba
/src/sentry/interfaces/security.py @getsentry/owners-ingest

# Security
/src/sentry/net/  @getsentry/security
