# Legal
/LICENSE  @getsentry/owners-legal

# Migrations
south_migrations/  @getsentry/owners-migrations

# Snuba
/src/sentry/eventstream/        @getsentry/owners-snuba
/src/sentry/utils/snuba.py      @getsentry/owners-snuba
/src/sentry/tsdb/snuba.py       @getsentry/owners-snuba
/src/sentry/tsdb/redissnuba.py  @getsentry/owners-snuba
/src/sentry/search/snuba/       @getsentry/owners-snuba
/src/sentry/tagstore/snuba/     @getsentry/owners-snuba

# Ted stuff
/src/sentry/similarity/              @tkaemming
/src/sentry/receivers/similarity.py  @tkaemming
/src/sentry/digests/                 @tkaemming
/src/sentry/tasks/reports.py         @tkaemming
/src/sentry/tasks/digests.py         @tkaemming
