{% comment %}
<div id="exception" class="module">
  <h2>Exception</h2>
  <div class="module-content">
  <table class="table meta">
    <tr>
      <th>Exception Type:</th>
      <td><pre>{{ exception_type|escape }}</pre></td>
    </tr>
    <tr>
      <th>Exception Value:</th>
      <td><pre>{{ exception_value|escape }}</pre></td>
    </tr>
    {% if lastframe %}
    <tr>
      <th>Exception Location:</th>
      <td>{{ lastframe.filename|escape }} in {{ lastframe.function|escape }}, line {{ lastframe.lineno }}</td>
    </tr>
    {% endif %}
  </table>
  </div>
</div>
{% endcomment %}