{% load i18n %}
{% load sentry_helpers %}

<div id="request" class="module">
    <div class="page-header">
        <a href="{% url sentry-replay event.project_id event.id %}" class="btn small pull-right">{% trans "Replay this request" %}</a>
        <h2>{% trans "Request" %}</h2>
    </div>
    <div class="module-content">
        <table class="bordered-table">
            <colgroup>
                <col style="width:60px;">
            </colgroup>
            <tbody>
                <tr>
                    <th>{% trans "URL:" %}</th>
                    <td><a href="{{ url }}">{{ url }}</a></td>
                </tr>
                <tr>
                    <th>{% trans "Method:" %}</th>
                    <td>{% if method %}{{ method }}{% else %}<em>No method recorded.</em>{% endif %}</td>
                </tr>
                <tr>
                    <th>{% trans "Query:" %}</th>
                    <td>
                        {% if query_string %}
                            {{ query_string }}
                        {% else %}
                            <em>{% trans "No query string." %}</em>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Body:" %}</th>
                    <td>
                        {% if data %}
                            {% if data|length > 5 %}
                                <a href="#" onclick="return varToggle(this, 'HttpBody')"><span>&#x25b6;</span> {% trans "Body" %}</a>
                                <div id="vHttpBody" style="display:none;">
                                    <pre>{{ data|pprint|escape }}</pre>
                                </div>
                            {% else %}
                                <pre>{{ data|pprint|escape }}</pre>
                            {% endif %}
                        {% else %}
                            <em>{% trans "No post body." %}</em>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Headers:" %}</th>
                    <td>
                        {% if headers %}
                            {% if headers|length > 5 %}
                                <a href="#" onclick="return varToggle(this, 'HttpHeaders')"><span>&#x25b6;</span> {% trans "Headers" %}</a>
                                <table class="vars" id="vHttpHeaders" style="display:none;">
                                    <colgroup>
                                        <col style="width:100px;">
                                    </colgroup>
                                    <tbody>
                                        {% for key, value in headers.iteritems|as_sorted %}
                                            <tr>
                                                <td>{{ key|escape }}</td>
                                                <td class="code"><pre>{{ value|pprint|escape }}</pre></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <table class="vars">
                                    <colgroup>
                                        <col style="width:100px;">
                                    </colgroup>
                                    <tbody>
                                        {% for key, value in headers.iteritems|as_sorted %}
                                            <tr>
                                                <td>{{ key|escape }}</td>
                                                <td class="code"><pre>{{ value|pprint|escape }}</pre></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        {% else %}
                            <em>{% trans "No headers recorded." %}</em>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Environment:" %}</th>
                    <td>
                        {% if env %}
                            {% if env|length > 5 %}
                                <a href="#" onclick="return varToggle(this, 'HttpEnv')"><span>&#x25b6;</span> {% trans "Environment" %}</a>
                                <table class="vars" id="vHttpEnv" style="display:none;">
                                    <colgroup>
                                        <col style="width:120px;">
                                    </colgroup>
                                    <tbody>
                                        {% for key, value in env.iteritems|as_sorted %}
                                            <tr>
                                                <td>{{ key|escape }}</td>
                                                <td class="code"><pre>{{ value|pprint|escape }}</pre></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <table class="vars">
                                    <colgroup>
                                        <col style="width:120px;">
                                    </colgroup>
                                    <tbody>
                                        {% for key, value in env.iteritems|as_sorted %}
                                            <tr>
                                                <td>{{ key|escape }}</td>
                                                <td class="code"><pre>{{ value|pprint|escape }}</pre></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        {% else %}
                            <em>{% trans "No environment recorded." %}</em>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>