{% load i18n %}

<div id="traceback" class="module">
    <div class="page-header">
      <h2>{% trans "Stacktrace" %}</h2>
    </div>
    <div class="module-content">
        {% autoescape off %}
        <div id="browserTraceback">
        <ul class="traceback">
          {% for frame in frames %}
            <li class="frame">
              <p><code>{{ frame.filename|escape }}</code> in <code>{{ frame.function|escape }}</code></p>

              {% if frame.context %}
                  <ol start="{{ frame.start_lineno }}" class="context expandable" id="c{{ forloop.counter0 }}">
                      {% for num, line in frame.context %}
                          <li{% if num == frame.lineno %} class="active"{% else %} class="stack{{ forloop.parentloop.counter0 }} closed"{% endif %} onclick="$('.stack{{ forloop.parentloop.counter0 }}').toggle()"><pre>{{ line|escape }}</pre></li>
                      {% endfor %}
                  </ol>
              {% endif %}
              {% if frame.vars %}
                <div class="commands">
                  <a href="#" onclick="return varToggle(this, '{{ forloop.counter0 }}')"><span>&#x25b6;</span> Local vars</a>
                </div>
                <table class="vars" id="v{{ forloop.counter0 }}" style="display:none;">
                  <thead>
                    <tr>
                      <th>Variable</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if frame.vars %}
                    {% for key, value in frame.vars.iteritems %}
                      <tr>
                        <td>{{ key|escape }}</td>
                        <td class="code"><pre>{{ value|pprint|escape }}</pre></td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                  </tbody>
                </table>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        </div>
        {% endautoescape %}
    </div>
</div>