<div id="template" class="module">
    <h2>Template error</h2>
    <div class="module-content">
        <p>In template <code>{{ filename }}</code>, error at line <strong>{{ lineno }}</strong></p>
        {% if context %}
            <ol start="{{ start_lineno }}" class="context expandable">
                {% for num, line in context %}
                    <li{% if num == lineno %} class="active"{% else %} class="template{{ forloop.parentloop.counter0 }} closed"{% endif %} onclick="$('.template{{ forloop.parentloop.counter0 }}').toggle()"><pre>{{ line }}</pre></li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
</div>