{% extends "sentry/layout.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block heading %}{% trans "Events <small>Stream</small>" %}{% endblock %}

{% block sidebar %}
    {% if chart_url %}
        <h2>{% trans "Last 24 Hours" %}</h2>
        <img src="{{ chart_url }}" class="chart" alt="chart"/>
    {% endif %}

    {% for filter in filters %}
        <div class="sidebar-module sidebar-module-{{ filter.column }}">
            {% if filter.show_label %}
                <h2>{% trans filter.label %}</h2>
            {% endif %}
            <form method="get" action="{{ filter.get_query_string|safe }}">
                {{ filter.render }}
            </form>
        </div>
    {% endfor %}
{% endblock %}

{% block main %}
    {% paginator event_list from request as event_list per_page MESSAGES_PER_PAGE %}

    <ul class="options">
        <li class="previous{% if not event_list.paginator.has_previous %} disabled{% endif %}">
            {% if event_list.paginator.has_previous %}
                <a href="?{{ event_list.query_string|escape }}&amp;p={{ event_list.paginator.previous_page }}">&larr; {% trans "Previous" %}</a>
            {% else %}
                <a>&larr; {% trans "Previous" %}</a>
            {% endif %}
        </li>
        <li class="next{% if not event_list.paginator.has_next %} disabled{% endif %}">
            {% if event_list.paginator.has_next %}
                <a href="?{{ event_list.query_string|escape }}&amp;p={{ event_list.paginator.next_page }}">{% trans "Next" %} &rarr;</a>
            {% else %}
                <a>{% trans "Next" %} &rarr;</a>
            {% endif %}
        </li>
    </ul>

    {% if event_list.paginator.objects %}
        <ul class="messages" id="event_list">
            {% for event in event_list.paginator.objects %}
                {% include "sentry/partial/_event.html" %}
            {% endfor %}
        </ul>
    {% else %}
        <ul class="messages" id="event_list">
            <li class="no-messages" id="no_messages">{% trans "No events match your filters." %}</li>
        </ul>
    {% endif %}

{% endblock %}
