{% extends "sentry/bases/admin.html" %}

{% block admin-nav-overview %} class="active"{% endblock %}

{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Overview" %} | {{ block.super }}{% endblock %}

{% block inner %}
  <div class="page-header">
    <h2>{% trans "System Overview" %}</h2>
  </div>

  <h3>
    Event Throughput
    <small id="rate" class="pull-right"></small>
  </h3>
  <div id="org_chart" class="chart" style="height:250px"></div>

  <h3>API Responses</h3>
  <div id="api_chart" class="chart" style="height:250px"></div>

  <script>
  $(function(){
    var $projectData = $('#project_data');
    var rawData = {
      "events.total": null,
      "events.dropped": null,
      "client-api.all-versions.responses.2xx": null,
      "client-api.all-versions.responses.4xx": null,
      "client-api.all-versions.responses.5xx": null
    };
    var statsEndpoint = app.config.urlPrefix + '/api/0/internal/stats/';
    var stats = {received: [], rejected: []};
    var systemTotal = {received: 0, rejected: 0, accepted: 0};

    $.each(rawData, function(statName, _) {
      // query the organization stats via a separate call as its possible the project stats
      // are too heavy
      $.ajax({
        url: statsEndpoint,
        type: 'get',
        dataType: 'json',
        data: {
          since: new Date().getTime() / 1000 - 3600 * 24 * 7,
          resolution: '1h',
          key: statName
        },
        success: function(data){
          rawData[statName] = data;
          requestFinished();
        },
        error: function(data) {
          $chart.html('<div class="error">There was an error loading statistics.</div>');
        }
      });
    });

    function requestFinished() {
      if (rawData['events.total'] && rawData['events.dropped']) {
        processOrgData();
        renderOrgChart();
      }
      if (rawData['client-api.all-versions.responses.2xx'] && rawData['client-api.all-versions.responses.4xx'] && rawData['client-api.all-versions.responses.5xx']) {
        renderApiChart();
      }
    }

    function processRawSeries(series) {
      var result = [];
      var item;
      for (var i = 0; i < series.length; i++) {
        item = series[i];
        result.push([item[0] * 1000, item[1]]);
      }
      return result;
    }

    function processOrgData() {
      var oReceived = 0;
      var oRejected = 0;
      var sReceived = {};
      var sRejected = {};
      var aReceived = [0, 0]; // received, points
      $.each(rawData['events.total'], function(idx, point){
        var dReceived = point[1];
        var dRejected = rawData['events.dropped'][idx][1];
        var ts = point[0] * 1000;
        if (sReceived[ts] === undefined) {
          sReceived[ts] = dReceived;
          sRejected[ts] = dRejected;
        } else {
          sReceived[ts] += dReceived;
          sRejected[ts] += dRejected;
        }
        oReceived += dReceived;
        oRejected += dRejected;
        if (dReceived > 0) {
          aReceived[0] += dReceived;
          aReceived[1] += 1;
        }
      });
      systemTotal.received = oReceived;
      systemTotal.rejected = oRejected;
      systemTotal.accepted = oReceived - oRejected;
      systemTotal.avgRate = parseInt((aReceived[0] / aReceived[1]) / 60, 10);

      stats.rejected = $.map(sRejected, function(value, ts) { return [[ts, value || null]]; });
      stats.accepted = $.map(sReceived, function(value, ts) {
        // total number of events accepted (received - rejected)
        return [[ts, value - sRejected[ts]]];
      });
    }

    function renderOrgChart() {
      var points = [
        {
          data: stats.accepted,
          label: 'Accepted',
          color: 'rgba(86, 175, 232, 1)',
          shadowSize: 0,
          stack: true,
          lines: {
            lineWidth: 2,
            show: true,
            fill: true
          }
        },
        {
          data: stats.rejected,
          color: 'rgba(244, 63, 32, 1)',
          shadowSize: 0,
          label: 'Dropped',
          stack: true,
          lines: {
            lineWidth: 2,
            show: true,
            fill: true
          }
        }
      ];
      renderChart('#org_chart', points);
      $('#rate').text(systemTotal.avgRate + ' avg EPM');
    }

    function renderApiChart() {
      var points = [
        {
          data: processRawSeries(rawData['client-api.all-versions.responses.4xx']),
          color: 'rgb(86, 175, 232)',
          shadowSize: 0,
          label: '4xx',
          stack: true,
          lines: {
            lineWidth: 2,
            show: true,
            fill: true
          }
        },
        {
          data: processRawSeries(rawData['client-api.all-versions.responses.5xx']),
          color: 'rgb(244, 63, 32)',
          shadowSize: 0,
          label: '5xx',
          stack: true,
          lines: {
            lineWidth: 2,
            show: true,
            fill: true
          }
        },
        {
          data: processRawSeries(rawData['client-api.all-versions.responses.2xx']),
          label: '2xx',
          color: 'rgb(78, 222, 73)',
          shadowSize: 0,
          stack: true,
          lines: {
            lineWidth: 2,
            show: true,
            fill: true
          }
        }
      ];
      renderChart('#api_chart', points);
    }

    function renderChart(parent, points) {
      var options = {
        xaxis: {
          mode: "time",
          minTickSize: [1, "day"],
          tickFormatter: Sentry.charts.tickFormatter
        },
        yaxis: {
          min: 0,
          minTickSize: 1,
          tickFormatter: function(value) {
            if (value > 999999) {
              return (value / 1000000) + 'mm';
            }
            if (value > 999) {
              return (value / 1000) + 'k';
            }
            return value;
          }
        },
        tooltip: true,
        tooltipOpts: {
          content: function(label, xval, yval, flotItem) {
            xval = parseInt(xval, 10);
            if(typeof yval.toLocaleString == "function") {
              yval = yval.toLocaleString();
            }
              return '<strong>' + flotItem.series.label + ':</strong> ' + yval + '<br>' + moment(xval).format('llll');
          },
          defaultTheme: false
        },
        grid: {
          show: true,
          hoverable: true,
          backgroundColor: '#ffffff',
          borderColor: '#DEE3E9',
          borderWidth: 2,
          tickColor: '#f0f0f0'
        },
        hoverable: false,
        legend: {
            noColumns: points.length,
            position: 'nw'
        },
        lines: { show: false }
      };

      var $parent = $(parent);
      $.plot($parent, points, options);
      $(window).resize(function(){
        $.plot($parent, points, options);
      });
    }
  });
  </script>
{% endblock %}
