{% extends "sentry/bases/admin.html" %}

{% block admin-nav-overview %} class="active"{% endblock %}

{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Overview" %} | {{ block.super }}{% endblock %}

{% block main %}
  <div class="page-header">
    <h2>{% trans "System Overview" %}</h2>
  </div>

  <h3>Event Throughput</h3>
  <div id="blk_chart"></div>

  <script>
  $(function(){
    var rawData = {"events.total": null, "events.dropped": null};
    var statsEndpoint = '{{ URL_PREFIX }}/api/0/internal/stats/';
    var stats = {received: [], rejected: []};
    var systemTotal = {received: 0, rejected: 0, accepted: 0};
    var pendingRequests = 2;

    $.each(rawData, function(statName, _) {
      // query the organization stats via a separate call as its possible the project stats
      // are too heavy
      $.ajax({
        url: statsEndpoint,
        type: 'get',
        dataType: 'json',
        data: {
          since: new Date().getTime() / 1000 - 3600 * 24 * 7,
          resolution: '1h',
          key: statName
        },
        success: function(data){
          rawData[statName] = data;
          requestFinished();
        },
        error: function(data) {
          $chart.html('<div class="error">There was an error loading statistics.</div>');
        }
      });
    });

    function requestFinished() {
      if (rawData['events.total'] && rawData['events.dropped']) {
        processData();
        renderChart();
      }
    }

    function processData() {
      var oReceived = 0;
      var oRejected = 0;
      var sReceived = {};
      var sRejected = {};
      $.each(rawData['events.total'], function(idx, point){
        var dReceived = point[1];
        var dRejected = rawData['events.dropped'][idx][1];
        var ts = point[0] * 1000;
        if (sReceived[ts] === undefined) {
          sReceived[ts] = dReceived;
          sRejected[ts] = dRejected;
        } else {
          sReceived[ts] += dReceived;
          sRejected[ts] += dRejected;
        }
        oReceived += dReceived;
        oRejected += dRejected;
      });
      systemTotal.received = oReceived;
      systemTotal.rejected = oRejected;
      systemTotal.accepted = oReceived - oRejected;

      stats.rejected = $.map(sRejected, function(value, ts) { return [[ts, value || null]]; });
      stats.accepted = $.map(sReceived, function(value, ts) {
        // total number of events accepted (received - rejected)
        return [[ts, value - sRejected[ts]]];
      });
    }

    function renderChart() {
      var points = [
        {
          data: stats.accepted,
          label: 'Stored',
          color: 'rgba(86, 175, 232, 1)',
          shadowSize: 0,
          stack: true,
          lines: {
            lineWidth: 2,
            show: true,
            fill: true
          }
        },
        {
          data: stats.rejected,
          color: 'rgba(244, 63, 32, 1)',
          shadowSize: 0,
          label: 'Dropped',
          stack: true,
          lines: {
            lineWidth: 2,
            show: true,
            fill: true
          }
        }
      ];

      React.render(React.createFactory(FlotChart)({
         className: "chart",
         plotData: points
      }), document.getElementById('blk_chart'));
    }
  });
  </script>
{% endblock %}
