{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "es2015": {
          "modules": false
        }
      }
    ]
  ],
  "plugins": [
    "emotion",
    "@babel/plugin-proposal-decorators",
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining",
    "lodash",
    "react-hot-loader/babel",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": ["Array", "Error"]
      }
    ]
  ],
  "env": {
    "production": {},
    "development": {
      "plugins": [
        ["emotion", {"sourceMap": true, "autoLabel": true}]
      ]
    },
    "test": {
      "plugins": [
        ["emotion", {"autoLabel": true}],
        "dynamic-import-node"]
    }
  }
}
