{
  "presets": [
    "react",
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ]
  ],
  "plugins": [
    "emotion",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "lodash",
    "syntax-dynamic-import",
    "react-hot-loader/babel",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": ["Array", "Error"]
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "idx"
      ]
    },
    "development": {
      "plugins": [
        ["emotion", {"sourceMap": true, "autoLabel": true}]
      ]
    },
    "test": {
      "presets": ["react", "latest"],
      "plugins": [
        ["emotion", {"autoLabel": true}],
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "dynamic-import-node",
        "syntax-dynamic-import",
        [
          "babel-plugin-transform-builtin-extend",
          {
            "globals": ["Array", "Error"]
          }
        ]
      ]
    }
  }
}
