{
  "extends": [
    "prettier",
    "sentry-react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "jquery": true // hard-loaded into vendor.js
  },
  "globals": {
    "require": false,
    "expect": false,
    "sinon": false,
    "MockApiClient": true,
    "TestStubs": true,
    "tick": true,
    "Raven": true,
    "jest": true
  },
  "plugins": [
    "react",
    "import",
    "getsentry"
  ],
  "settings": {
    "import/resolver": "webpack",
    "import/extensions": [".js", ".jsx"]
  }
}
