.coverage
.tox
.DS_Store
*.egg-info
*.pyc
*.log
*.egg
*.db
*.pid
test.conf
pip-log.txt
/htmlcov
/cover
/build
/dist
/node_modules/
/docs/html
/docs/doctrees
example/db.sqlite
/src/sentry/static/CACHE/
/wheelhouse