.env
.cache/
.code-workspace
.coverage*
.DS_Store
.venv
*.egg-info
*.pyc
*.log
*.egg
*.db
*.pid
MANIFEST
test.conf
pip-log.txt
celerybeat-schedule
sentry-package.json
/.artifacts
/coverage/
/cover
/build
/dist
/env
/tmp
node_modules
/static/app/constants/ios-device-list.tsx
/src/sentry/apidocs/api_ownership_stats_dont_modify.json
/src/sentry/assets.json
/src/sentry/static/version
/src/sentry/static/sentry/dist/
/src/sentry/static/sentry/vendor/
/src/sentry/static/sentry/admin/
/src/sentry/static/sentry/rest_framework/
/src/sentry/integration-docs
/src/sentry/loader/_registry.json
/config/chartcuterie/config.js*
/config/*.pem
/tests/apidocs/openapi-derefed.json
/tests/apidocs/openapi-deprecated.json
/tests/sentry/utils/appleconnect/*.json
/tests/apidocs/openapi-spectacular.json
/fixtures/integrations/*/data/**
/wheelhouse
/test_cli/
Gemfile.lock
.idea/
.vim/
*.iml
.pytest_cache/
.vscode/tags
.vscode/bookmarks.json
coverage.xml
junit.xml
*.codestyle.xml
package-lock.json
.webpack.meta
pip-wheel-metadata/
Brewfile.lock.json
import-graph.txt
import-graph.dot
bin/rrweb-output
model-manifest.json
