.devenv/bin/**/*
**/*.min.js
tests/**/fixtures/**/*
tests/relay_integration/**/*
!tests/js/**/*
fixtures/profiles/embedded.js
fixtures/artifact_bundle_debug_ids/**/*
fixtures/artifact_bundle_duplicated_debug_ids/**/*
pnpm-lock.yaml
