.devenv/bin/**/*
**/*.min.js
**/tests/**/fixtures/**/*
fixtures/profiles/embedded.js
fixtures/artifact_bundle_debug_ids/**/*
fixtures/artifact_bundle_duplicated_debug_ids/**/*
tests/relay_integration/**/*
