{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "tsx": true
    },
    "transform": {
      // babel legacy decorator support
      "legacyDecorator": true,
      "react": {
        "runtime": "automatic"
      }
    },
    "experimental": {
      "plugins": [
        [
          "emotion-swc-plugin",
          {
            // default is true. It will be disabled when build type is production.
            "sourceMap": true,
            // default is 'dev-only'.
            "autoLabel": "dev-only",
            // default is '[local]'.
            // Allowed values: `[local]` `[filename]` and `[dirname]`
            // This option only works when autoLabel is set to 'dev-only' or 'always'.
            // It allows you to define the format of the resulting label.
            // The format is defined via string where variable parts are enclosed in square brackets [].
            // For example labelFormat: "my-classname--[local]", where [local] will be replaced with the name of the variable the result is assigned to.
            "labelFormat": "[local]"
          }
        ]
      ]
    }
  },
  "module": {
    "type": "es6"
  },
  "minify": false,
  "env": {
    "mode": "usage",
    "coreJs": "3.23",
    "targets": [
      "last 10 Chrome versions",
      "last 10 Firefox versions",
      "last 2 Edge major versions",
      "last 2 Safari major versions",
      "last 3 iOS major versions",
      "last 1 OperaMobile version",
      "Firefox ESR"
    ]
  }
}
