sudo: false
language: python
cache:
  directories:
    - node_modules
    - $HOME/.cache/pip/wheels
branches:
  only:
  - master
env:
  global:
    - NODE_ENV=production
    - PIP_DISABLE_PIP_VERSION_CHECK=on
    - SENTRY_LIGHT_BUILD=1
    - SENTRY_SKIP_BACKEND_VALIDATION=1
install:
  - make travis-install-$TEST_SUITE
after_install:
  - pip freeze
script:
  - make travis-lint-$TEST_SUITE
  - make travis-test-$TEST_SUITE
after_success:
  - codecov -e TEST_SUITE
after_failure:
  - dmesg
# each attribute in the matrix will override the global attribute
matrix:
  fast_finish: true
  include:
    # only the sqlite suite runs cassandra/riak tests
    - python: 2.7
      env: TEST_SUITE=sqlite DB=sqlite
      services:
        - memcached
        - riak
        - redis-server
        - cassandra
      install:
        - make travis-install-$TEST_SUITE
        - make travis-setup-cassandra
    - python: 2.7
      env: TEST_SUITE=postgres DB=postgres
      services:
        - memcached
        - redis-server
        - postgresql
    - python: 2.7
      env: TEST_SUITE=mysql DB=mysql
      services:
        - memcached
        - mysql
        - redis-server
    - python: 2.7
      env: TEST_SUITE=acceptance
      services:
        - memcached
        - redis-server
        - postgresql
    - python: 2.7
      env: TEST_SUITE=js
    - python: 2.7
      env: TEST_SUITE=cli
    - python: 2.7
      env: TEST_SUITE=dist
