sudo: false
language: python
addons:
  firefox: "39.0"
services:
  - memcached
  - mysql
  - riak
  - postgresql
  - redis-server
  - cassandra
python:
  - "2.7"
  - "3.4"
  - "3.5"
cache:
  directories:
    - node_modules
    - $HOME/.cache/pip/wheels
    - "$HOME/virtualenv/python2.7.9"
branches:
  only:
  - master
env:
  matrix:
    - TEST_SUITE=sqlite DB=sqlite
    - TEST_SUITE=postgres DB=postgres
    - TEST_SUITE=mysql DB=mysql
    - TEST_SUITE=acceptance
    - TEST_SUITE=js
    - TEST_SUITE=cli
    - TEST_SUITE=dist
  global:
    - PIP_DISABLE_PIP_VERSION_CHECK=on
    - SENTRY_LIGHT_BUILD=1
    - SENTRY_SKIP_BACKEND_VALIDATION=1
    - SELENIUM_DRIVER=firefox
install:
  - make travis-install-$TEST_SUITE
  - pip freeze
script:
  - make travis-lint-$TEST_SUITE
  - make travis-test-$TEST_SUITE
after_success:
  - codecov -e TEST_SUITE
