sudo: false
language: python
services:
  - memcached
  - riak
  - postgresql
  - redis-server
  - cassandra
python:
  - "2.7"
cache:
  directories:
    - node_modules
    - $HOME/.cache/pip
    - "$HOME/virtualenv/python2.7.9"
env:
  matrix:
    - TEST_SUITE=sqlite DB=sqlite
    - TEST_SUITE=postgres DB=postgres
    - TEST_SUITE=webpack
    - TEST_SUITE=js
    - TEST_SUITE=cli
  global:
    - SENTRY_LIGHT_BUILD=1
    - SKIP_BACKEND_VALIDATION=1
install:
  - make travis-install-$TEST_SUITE
script:
  - make travis-lint-$TEST_SUITE
  - make travis-test-$TEST_SUITE
after_success:
  - which -s codecov && codecov -e TEST_SUITE
