include setup.py sentry-package.json package.json webpack.config.js README.rst MANIFEST.in LICENSE AUTHORS
recursive-include src/sentry/utils/ua_parser *.yaml
recursive-include src/sentry/templates *
recursive-include src/sentry/locale *
recursive-include src/sentry/data *
recursive-include src/sentry/static/sentry *
global-exclude *~
