[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {editable = true, path = ".", extras = ["optional", "dev", "tests"]}

[dev-packages]

[requires]
python_version = "2.7"
