beautifulsoup4==4.7.1
boto3==1.13.16
botocore==1.16.16
celery==4.4.7
click==7.1.2
# See if we can remove CPATH from lib.sh
# https://github.com/getsentry/sentry/pull/30094
confluent-kafka==1.5.0; python_version == '3.8'
confluent-kafka==1.6.0; python_version == '3.9'
croniter==0.3.37
datadog==0.29.3
django-crispy-forms==1.8.1
django-picklefield==2.1.0
django-pg-zero-downtime-migrations==0.10
Django==2.2.24
djangorestframework==3.11.2
drf-spectacular==0.21.0
email-reply-parser==0.5.12
google-api-core==1.25.1
google-auth==1.24.0
google-cloud-bigtable==1.6.1
google-cloud-core==1.5.0
googleapis-common-protos==1.52.0
google-cloud-pubsub==2.2.0
google-cloud-storage==1.35.0
# Only necessary to prevent installing the latest version
# https://github.com/googleapis/python-crc32c/issues/83
google-crc32c==1.1.2
jsonschema==3.2.0
lxml==4.6.5
maxminddb==2.0.3
mistune==0.8.4
mmh3==3.0.0
parsimonious==0.8.0
petname==2.6
phonenumberslite==8.12.0
Pillow==8.3.2
progressbar2==3.32.0
python-rapidjson==1.4
psycopg2-binary==2.8.6
PyJWT==2.1.0
python-dateutil==2.8.1
python-memcached==1.59
python-u2flib-server==5.0.0
fido2==0.9.2
python3-saml==1.10.1
PyYAML==5.4
rb==1.9.0
redis-py-cluster==2.1.0
redis==3.4.1
requests-oauthlib==1.2.0
requests==2.25.1
# [start] jsonschema format validators
rfc3339-validator==0.1.2
rfc3986-validator==0.1.1
# [end] jsonschema format validators
sentry-arroyo==0.0.5
sentry-relay==0.8.9
sentry-sdk>=1.4.3,<1.6.0
snuba-sdk==0.1.2
simplejson==3.17.2
statsd==3.3
structlog==21.1.0
symbolic==8.3.2
toronado==0.1.0
typing-extensions==3.10.0.2
ua-parser==0.10.0
unidiff==0.6.0
urllib3==1.24.2
# See if we can remove LDFLAGS from lib.sh
# https://github.com/getsentry/sentry/pull/30094
uWSGI==2.0.19.1
zstandard==0.14.1

msgpack==1.0.0
cryptography==3.4.8
# celery
billiard==3.6.3
kombu==4.6.11

# Note, grpcio>1.30.0 requires setting GRPC_POLL_STRATEGY=epoll1
# See https://github.com/grpc/grpc/issues/23796 and
# https://github.com/grpc/grpc/blob/v1.35.x/doc/core/grpc-polling-engines.md#polling-engine-implementations-in-grpc
grpcio==1.40.0

# not directly used, but provides a speedup for redis
hiredis==0.3.1

# not directly used, but pinned for at least semaphore/symbolic
cffi==1.14.5

# not directly used, but pinned for toronado because it doesn't pin these
cssutils==1.0.2
cssselect==1.0.3

# sentry-plugins specific dependencies
phabricator==0.7.0

# test dependencies, but unable to move to requirements-test until
# sentry.utils.pytest and sentry.testutils are moved to tests/
selenium==3.141.0  # When upgrading, remove hack from lib.sh (see https://github.com/getsentry/sentry/pull/29887 for details)
sqlparse==0.2.4
