batching-kafka-consumer==0.0.3
confluent-kafka==0.11.5
maxminddb==1.4.1
google-cloud-bigtable>=0.32.1,<0.33.0
google-cloud-pubsub>=0.35.4,<0.36.0
google-cloud-storage>=1.13.2,<1.14
python3-saml>=1.4.0,<1.5
