beautifulsoup4==4.7.1
boto3==1.10.49
botocore==1.13.50
celery==4.4.7
click==7.1.2
confluent-kafka==1.5.0; python_version <= '3.8'
confluent-kafka==1.6.0; python_version == '3.9'
croniter==0.3.34
datadog==0.29.3
django-crispy-forms==1.7.2
django-picklefield==1.0.0
django-sudo==3.1.0
Django==1.11.29
djangorestframework==3.6.4
email-reply-parser==0.5.12
google-api-core==1.25.1
google-auth==1.24.0
google-cloud-bigtable==1.6.1
google-cloud-core==1.5.0
googleapis-common-protos==1.52.0
google-cloud-pubsub==2.2.0
google-cloud-storage==1.35.0
jsonschema==3.2.0
lxml==4.6.3
maxminddb==1.5.4
mistune==0.8.4
mmh3==3.0.0
parsimonious==0.8.0
petname==2.6
phonenumberslite==8.11.3
Pillow==8.1.0
progressbar2==3.32.0
# If we bump it to 2.8.4 or greater then Python 3.6 & 3.8 would use the same version
psycopg2-binary==2.7.7; python_version == '3.6'
psycopg2-binary==2.8.6; python_version > '3.6'
PyJWT==1.5.3
python-dateutil==2.8.1
python-memcached==1.59
python-u2flib-server==5.0.0
python3-saml==1.4.1
PyYAML==5.4
rb==1.9.0
redis-py-cluster==2.1.0
redis==3.4.1
requests-oauthlib==1.2.0
requests[security]==2.20.1
# [start] jsonschema format validators
rfc3339-validator==0.1.2
rfc3986-validator==0.1.1
# [end] jsonschema format validators
sentry-relay==0.8.4
sentry-sdk>=1.0.0,<1.2.0
simplejson==3.17.2
statsd==3.1
structlog==17.1.0
symbolic==8.0.3
toronado==0.1.0
ua-parser==0.10.0
unidiff==0.5.5
urllib3==1.24.2
uWSGI==2.0.19.1
zstandard==0.14.1

msgpack==1.0.0

# celery
billiard==3.6.3
kombu==4.6.11

# Note, grpcio>1.30.0 requires setting GRPC_POLL_STRATEGY=epoll1
# See https://github.com/grpc/grpc/issues/23796 and
# https://github.com/grpc/grpc/blob/v1.35.x/doc/core/grpc-polling-engines.md#polling-engine-implementations-in-grpc
grpcio==1.35.0

# not directly used, but provides a speedup for redis
hiredis==0.3.1

# not directly used, but pinned for at least semaphore/symbolic
cffi==1.12.2; python_version <= '3.8'
cffi==1.14.4; python_version == '3.9'

# not directly used, but pinned for toronado because it doesn't pin these
cssutils==1.0.2
cssselect==1.0.3

# sentry-plugins specific dependencies
phabricator==0.7.0

# test dependencies, but unable to move to requirements-test until
# sentry.utils.pytest and sentry.testutils are moved to tests/
selenium==3.141.0
sqlparse==0.2.4
# We're still using mock in Python 3.6 because it contains a fix to Python issue37972.
# We should be able to fully swap it out for stdlib once we're on 3.8.
mock==4.0.3
