--index-url https://pypi.devinfra.sentry.io/simple

covdefaults>=2.3.0
docker>=6
time-machine>=2.13.0
honcho>=1.1.0
openapi-core>=0.18.2
psutil
pytest>=7.2.1
pytest-cov>=4.0.0
pytest-django>=4.7.0
pytest-fail-slow>=0.3.0
pytest-rerunfailures>=11
pytest-sentry>=0.1.11
pytest-xdist>=3
responses>=0.23.1
selenium>=4.16.0
sentry-cli>=2.16.0

# pre-commit dependencies
pre-commit>=3.3
black>=22.10.0
flake8>=6.1
flake8-bugbear>=22.10
flake8-logging>=1.4
pyupgrade>=3.2.3
isort>=5.10.1

# For tools/. To be moved into redistributable dev environments.
# note: wheel is pulled in by pip-tools
pip-tools>=7.1.0
packaging>=21.3

# for type checking
sentry-forked-django-stubs>=4.2.7.post1
sentry-forked-djangorestframework-stubs>=3.14.5.post1
lxml-stubs
msgpack-types>=0.2.0
mypy>=1.8
types-beautifulsoup4
types-cachetools
types-croniter
types-jsonschema
types-oauthlib
types-parsimonious
types-pillow
types-protobuf
types-psutil
types-psycopg2
types-python-dateutil
types-pytz
types-pyyaml
# make sure to match close-enough to redis==
types-redis<4
types-requests
types-setuptools
types-simplejson>=3.17.7.2
