{% load sentry_helpers %}

<li class="{% cycle 'row1' 'row2' %} level-{{ event.level }}{% if priority %} priority-{{ priority }}{% endif %}" id="message_{{ event.pk|safe }}">
    <h3><a href="{% url sentry-group-event event.project_id event.group_id event.pk %}">{% if event.view %}{{ event.view }}{% else %}{{ event.message_top|truncatechars:100 }}{% endif %}</a></h3>
    <span class="last_seen">{{ event.datetime|timesince }}</span>
    {% if event.time_spent %}
        <span class="time_spent">{{ event.time_spent|duration }}</span>
    {% endif %}
    <span class="status status-{{ event.status }}">{{ event.get_status_display }}</span>
    <p class="message" title="{{ event.message }}">
        <span class="tag tag-level">{{ event.get_level_display }}</span>
        <span class="tag tag-logger">{{ event.logger }}</span>
        {% with event.get_version as version %}
            {% if version %}
                <span class="tag tag-version">{{ version.0 }} {{ version.1 }}</span>
            {% endif %}
        {% endwith %}
        {% for tag in event|get_tags:request %}<span class="tag">{{ tag }}</span> {% endfor %}
        {{ event.error }}
    </p>
    <a href="{% url sentry-group-event event.project_id event.group_id event.pk %}" class="row_link"></a>
</li>

