{% load i18n %}
<form action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-block alert-error">
            <p>There were errors saving your changes:</p>
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% for field in form %}
        {% include "sentry/partial/_form_field.html" %}
    {% endfor %}
    <fieldset class="form-actions">
        <button type="submit" class="btn primary">{% trans "Save Changes" %}</button>
    </fieldset>
</form>