{% load i18n %}
<form class="form-stacked" action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="error block-message alert-message">
            <p>There were errors saving your changes:</p>
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% for field in form %}
        <div class="clearfix{% if field.errors %} error{% endif %}">
            {{ field.label_tag }}
            <div class="input">{{ field }}</div>
            {% if field.help_text %}
                <span class="help-inline">{{ field.help_text }}</span>
            {% endif %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="help-block error">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <p class="actions">
        <button type="submit" class="btn primary">{% trans "Save Changes" %}</button>
    </p>
</form>