<li class="{% cycle 'row1' 'row2' %} level-{{ message.level }}{% if priority %} priority-{{ priority }}{% endif %}" onclick="window.location.href='{% url sentry-group message.pk %}'">
	<span class="count">{{ message.times_seen }}</span>
	<h3><a href="{% url sentry-group message.pk %}">{% if message.view %}{{ message.view }}{% else %}{{ message.message }}{% endif %}</a></h3>
	<span class="last_seen">{{ message.last_seen|timesince }} ago</span>
	<p class="message"><span class="tag tag-level">{{ message.get_level_display }}</span> <span class="tag tag-server">{{ message.server_name }}</span> {{ message.error }}</p>
	<pre class="traceback">{{ message.shortened_traceback }}</pre>
	<span class="hidden">&raquo;</span>
</li>