{% load i18n %}

<div class="pagination">
    {% if paginator.num_pages %}
        <ul>
            <li class="prev{% if paginator.is_first %} disabled{% endif %}">
                {% if not paginator.is_first %}
                    <a href="?{{ query_string|escape }}&amp;p=1">{% trans "First" %}</a>
                {% else %}
                    <span>{% trans "First" %}</span>
                {% endif %}
            </li>
            <li class="prev{% if not paginator.has_previous %} disabled{% endif %}">
                {% if paginator.has_previous %}
                    <a href="?{{ query_string|escape }}&amp;p={{ paginator.previous_page }}">{% trans "Previous" %}</a>
                {% else %}
                    <span>{% trans "Previous" %}</span>
                {% endif %}
            </li>
            {% for p in paginator.page_range %}
                <li{% ifequal p paginator.page %} class="active"{% endifequal %}><a href="?{{ query_string|escape }}&amp;p={{ p }}">{{ p }}</a></li>
            {% endfor %}
            <li class="next{% if not paginator.has_next %} disabled{% endif %}">
                {% if paginator.has_next %}
                    <a href="?{{ query_string|escape }}&amp;p={{ paginator.next_page }}">{% trans "Next" %}</a>
                {% else %}
                    <span>{% trans "Next" %}</span>
                {% endif %}
            </li>
            {% if paginator.num_pages %}
                <li class="last{% if paginator.is_last %} disabled{% endif %}">
                    {% if not paginator.is_last %}
                        <a href="?{{ query_string|escape }}&amp;p={{ paginator.num_pages }}">Last</a>
                    {% else %}
                        <span>{% trans "Last" %}</span>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    {% else %}
        <ul>
            <li class="prev{% if not paginator.has_previous %} disabled{% endif %}">
                {% if paginator.has_previous %}
                    <a href="?{{ query_string|escape }}&amp;p={{ paginator.previous_page }}">&larr; {% trans "Previous" %}</a>
                {% else %}
                    <a>&larr; {% trans "Previous" %}</a>
                {% endif %}
            </li>
            <li class="next{% if not paginator.has_next %} disabled{% endif %}">
                {% if paginator.has_next %}
                    <a href="?{{ query_string|escape }}&amp;p={{ paginator.next_page }}">{% trans "Next" %} &rarr;</a>
                {% else %}
                    <a>{% trans "Next" %} &rarr;</a>
                {% endif %}
            </li>
        </ul>
    {% endif %}
</div>
