{"openapi":"3.1.0","info":{"title":"Sentry Internal RPC APIs","version":"0.0.1"},"servers":[{"url":"https://sentry.io/"}],"paths":{"/api/0/internal/rpc/auth/change_scim/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__change_scim__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__change_scim__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/auth/create_auth_identity/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__create_auth_identity__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__create_auth_identity__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/auth/disable_provider/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__disable_provider__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__disable_provider__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/auth/enable_partner_sso/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__enable_partner_sso__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__enable_partner_sso__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/auth/get_auth_provider/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__get_auth_provider__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__get_auth_provider__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/auth/get_auth_provider_with_config/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__get_auth_provider_with_config__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__get_auth_provider_with_config__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/auth/get_org_auth_config/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__get_org_auth_config__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__get_org_auth_config__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/auth/get_org_ids_with_scim/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__get_org_ids_with_scim__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__get_org_ids_with_scim__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/auth/get_organization_api_keys/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__get_organization_api_keys__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__get_organization_api_keys__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/auth/get_organization_key/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__get_organization_key__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__get_organization_key__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/auth/update_provider/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__update_provider__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__update_provider__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/auth/update_provider_config/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__update_provider_config__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthService__update_provider_config__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/orgauthtoken/update_orgauthtoken/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgAuthTokenService__update_orgauthtoken__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgAuthTokenService__update_orgauthtoken__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/region_organization_provisioning/create_organization_in_region/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionOrganizationProvisioningRpcService__create_organization_in_region__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionOrganizationProvisioningRpcService__create_organization_in_region__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/region_organization_provisioning/update_organization_slug_from_reservation/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionOrganizationProvisioningRpcService__update_organization_slug_from_reservation__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionOrganizationProvisioningRpcService__update_organization_slug_from_reservation__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/project/create_project_for_organization/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__create_project_for_organization__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__create_project_for_organization__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/project/delete_option/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__delete_option__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__delete_option__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/project/get_by_id/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__get_by_id__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__get_by_id__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/project/get_by_slug/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__get_by_slug__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__get_by_slug__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/project/get_many_by_organizations/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__get_many_by_organizations__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__get_many_by_organizations__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/project/get_option/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__get_option__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__get_option__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/project/get_or_create_project_for_organization/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__get_or_create_project_for_organization__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__get_or_create_project_for_organization__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/project/serialize_many/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__serialize_many__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__serialize_many__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/project/update_option/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__update_option__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__update_option__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/project/update_project/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__update_project__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectService__update_project__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/add_organization_member/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__add_organization_member__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__add_organization_member__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/add_team_member/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__add_team_member__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__add_team_member__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/check_membership_by_email/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__check_membership_by_email__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__check_membership_by_email__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/check_membership_by_id/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__check_membership_by_id__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__check_membership_by_id__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/count_members_without_sso/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__count_members_without_sso__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__count_members_without_sso__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/create_org_delete_log/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__create_org_delete_log__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__create_org_delete_log__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/delete_option/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__delete_option__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__delete_option__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/delete_organization/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__delete_organization__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__delete_organization__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/delete_organization_member/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__delete_organization_member__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__delete_organization_member__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_aggregate_project_flags/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_aggregate_project_flags__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_aggregate_project_flags__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_default_organization/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_default_organization__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_default_organization__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_invite_by_id/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_invite_by_id__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_invite_by_id__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_invite_by_slug/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_invite_by_slug__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_invite_by_slug__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_member_summaries_by_ids/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_member_summaries_by_ids__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_member_summaries_by_ids__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_option/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_option__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_option__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_or_create_default_team/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_or_create_default_team__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_or_create_default_team__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_or_create_team_member/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_or_create_team_member__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_or_create_team_member__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_org_by_id/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_org_by_id__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_org_by_id__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_org_by_slug/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_org_by_slug__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_org_by_slug__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_organization_by_id/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_organization_by_id__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_organization_by_id__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_organization_owner_members/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_organization_owner_members__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_organization_owner_members__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_organizations_by_user_and_scope/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_organizations_by_user_and_scope__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_organizations_by_user_and_scope__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/get_single_team/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_single_team__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__get_single_team__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/merge_users/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__merge_users__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__merge_users__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/remove_user/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__remove_user__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__remove_user__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/reset_idp_flags/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__reset_idp_flags__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__reset_idp_flags__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/send_signal/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__send_signal__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__send_signal__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/send_sso_link_emails/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__send_sso_link_emails__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__send_sso_link_emails__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/send_sso_unlink_emails/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__send_sso_unlink_emails__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__send_sso_unlink_emails__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/serialize_organization/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__serialize_organization__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__serialize_organization__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/set_user_for_organization_member/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__set_user_for_organization_member__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__set_user_for_organization_member__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/update_default_role/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__update_default_role__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__update_default_role__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/update_flags/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__update_flags__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__update_flags__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/update_membership_flags/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__update_membership_flags__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__update_membership_flags__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/update_option/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__update_option__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__update_option__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/update_organization_member/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__update_organization_member__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__update_organization_member__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization/update_region_user/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__update_region_user__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationService__update_region_user__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/control_org_provisioning/bulk_create_organization_slug_reservations/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlOrganizationProvisioningRpcService__bulk_create_organization_slug_reservations__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlOrganizationProvisioningRpcService__bulk_create_organization_slug_reservations__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/control_org_provisioning/idempotent_provision_organization/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlOrganizationProvisioningRpcService__idempotent_provision_organization__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlOrganizationProvisioningRpcService__idempotent_provision_organization__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/control_org_provisioning/provision_organization/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlOrganizationProvisioningRpcService__provision_organization__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlOrganizationProvisioningRpcService__provision_organization__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/control_org_provisioning/update_organization_slug/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlOrganizationProvisioningRpcService__update_organization_slug__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlOrganizationProvisioningRpcService__update_organization_slug__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/notifications/enable_all_settings_for_provider/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__enable_all_settings_for_provider__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__enable_all_settings_for_provider__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/notifications/get_notification_recipients/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__get_notification_recipients__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__get_notification_recipients__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/notifications/get_participants/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__get_participants__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__get_participants__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/notifications/get_users_for_weekly_reports/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__get_users_for_weekly_reports__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__get_users_for_weekly_reports__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/notifications/remove_notification_settings_for_organization/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__remove_notification_settings_for_organization__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__remove_notification_settings_for_organization__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/notifications/remove_notification_settings_for_project/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__remove_notification_settings_for_project__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__remove_notification_settings_for_project__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/notifications/remove_notification_settings_for_provider_team/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__remove_notification_settings_for_provider_team__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__remove_notification_settings_for_provider_team__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/notifications/subscriptions_for_projects/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__subscriptions_for_projects__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__subscriptions_for_projects__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/notifications/update_notification_options/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__update_notification_options__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationsService__update_notification_options__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/region_replica/delete_replicated_api_token/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__delete_replicated_api_token__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__delete_replicated_api_token__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/region_replica/delete_replicated_auth_provider/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__delete_replicated_auth_provider__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__delete_replicated_auth_provider__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/region_replica/delete_replicated_org_slug_reservation/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__delete_replicated_org_slug_reservation__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__delete_replicated_org_slug_reservation__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/region_replica/upsert_replicated_api_key/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__upsert_replicated_api_key__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__upsert_replicated_api_key__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/region_replica/upsert_replicated_api_token/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__upsert_replicated_api_token__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__upsert_replicated_api_token__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/region_replica/upsert_replicated_auth_identity/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__upsert_replicated_auth_identity__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__upsert_replicated_auth_identity__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/region_replica/upsert_replicated_auth_provider/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__upsert_replicated_auth_provider__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__upsert_replicated_auth_provider__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/region_replica/upsert_replicated_org_auth_token/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__upsert_replicated_org_auth_token__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__upsert_replicated_org_auth_token__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/region_replica/upsert_replicated_org_slug_reservation/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__upsert_replicated_org_slug_reservation__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionReplicaService__upsert_replicated_org_slug_reservation__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/control_replica/remove_replicated_organization_member_team/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlReplicaService__remove_replicated_organization_member_team__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlReplicaService__remove_replicated_organization_member_team__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/control_replica/upsert_external_actor_replica/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlReplicaService__upsert_external_actor_replica__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlReplicaService__upsert_external_actor_replica__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/control_replica/upsert_replicated_organization_member_team/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlReplicaService__upsert_replicated_organization_member_team__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlReplicaService__upsert_replicated_organization_member_team__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/control_replica/upsert_replicated_team/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlReplicaService__upsert_replicated_team__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlReplicaService__upsert_replicated_team__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization_mapping/delete/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMappingService__delete__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMappingService__delete__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization_mapping/get/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMappingService__get__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMappingService__get__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization_mapping/get_by_slug/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMappingService__get_by_slug__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMappingService__get_by_slug__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization_mapping/get_many/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMappingService__get_many__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMappingService__get_many__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization_mapping/get_owners/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMappingService__get_owners__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMappingService__get_owners__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organization_mapping/upsert/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMappingService__upsert__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMappingService__upsert__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/region_caching/clear_key/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionCachingService__clear_key__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionCachingService__clear_key__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/control_caching/clear_key/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlCachingService__clear_key__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlCachingService__clear_key__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/create_by_username_and_email/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__create_by_username_and_email__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__create_by_username_and_email__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/flush_nonce/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__flush_nonce__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__flush_nonce__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/get_by_username/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_by_username__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_by_username__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/get_existing_usernames/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_existing_usernames__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_existing_usernames__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/get_first_superuser/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_first_superuser__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_first_superuser__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/get_many/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_many__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_many__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/get_many_by_email/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_many_by_email__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_many_by_email__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/get_many_ids/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_many_ids__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_many_ids__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/get_many_profiles/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_many_profiles__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_many_profiles__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/get_member_region_names/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_member_region_names__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_member_region_names__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/get_or_create_by_email/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_or_create_by_email__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_or_create_by_email__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/get_organizations/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_organizations__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_organizations__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/get_user_avatar/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_user_avatar__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_user_avatar__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/get_user_by_email/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_user_by_email__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_user_by_email__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/get_user_by_social_auth/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_user_by_social_auth__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__get_user_by_social_auth__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/serialize_many/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__serialize_many__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__serialize_many__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/trigger_user_consent_email_if_applicable/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__trigger_user_consent_email_if_applicable__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__trigger_user_consent_email_if_applicable__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/update_user/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__update_user__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__update_user__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/verify_any_email/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__verify_any_email__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__verify_any_email__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/verify_user_email/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__verify_user_email__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__verify_user_email__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user/verify_user_emails/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__verify_user_emails__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserService__verify_user_emails__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/log/find_last_log/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogService__find_last_log__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogService__find_last_log__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/log/record_audit_log/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogService__record_audit_log__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogService__record_audit_log__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/log/record_user_ip/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogService__record_user_ip__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogService__record_user_ip__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organizationmember_mapping/delete/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMemberMappingService__delete__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMemberMappingService__delete__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/organizationmember_mapping/upsert_mapping/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMemberMappingService__upsert_mapping__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMemberMappingService__upsert_mapping__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user_option/delete_options/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserOptionService__delete_options__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserOptionService__delete_options__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user_option/get_many/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserOptionService__get_many__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserOptionService__get_many__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user_option/serialize_many/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserOptionService__serialize_many__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserOptionService__serialize_many__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/user_option/set_option/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserOptionService__set_option__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserOptionService__set_option__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/data_access_grant/get_effective_grant_status/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataAccessGrantService__get_effective_grant_status__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataAccessGrantService__get_effective_grant_status__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/create_internal_integration_for_channel_request/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__create_internal_integration_for_channel_request__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__create_internal_integration_for_channel_request__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/disable_sentryapp/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__disable_sentryapp__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__disable_sentryapp__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/find_alertable_services/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__find_alertable_services__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__find_alertable_services__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/find_app_components/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__find_app_components__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__find_app_components__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/find_installation_by_proxy_user/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__find_installation_by_proxy_user__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__find_installation_by_proxy_user__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/find_service_hook_sentry_app/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__find_service_hook_sentry_app__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__find_service_hook_sentry_app__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_component_contexts/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_component_contexts__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_component_contexts__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_custom_alert_rule_actions/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_custom_alert_rule_actions__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_custom_alert_rule_actions__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_installation_by_id/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_installation_by_id__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_installation_by_id__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_installation_component_contexts/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_installation_component_contexts__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_installation_component_contexts__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_installation_org_id_by_token_id/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_installation_org_id_by_token_id__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_installation_org_id_by_token_id__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_installation_token/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_installation_token__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_installation_token__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_installations_for_organization/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_installations_for_organization__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_installations_for_organization__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_internal_integrations/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_internal_integrations__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_internal_integrations__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_many/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_many__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_many__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_published_sentry_apps_for_organization/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_published_sentry_apps_for_organization__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_published_sentry_apps_for_organization__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_sentry_app_by_id/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_sentry_app_by_id__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_sentry_app_by_id__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_sentry_app_by_slug/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_sentry_app_by_slug__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_sentry_app_by_slug__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_sentry_apps_by_proxy_users/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_sentry_apps_by_proxy_users__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_sentry_apps_by_proxy_users__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/get_sentry_apps_for_organization/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_sentry_apps_for_organization__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__get_sentry_apps_for_organization__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/prepare_sentry_app_components/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__prepare_sentry_app_components__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__prepare_sentry_app_components__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/serialize_many/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__serialize_many__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__serialize_many__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/trigger_sentry_app_action_creators/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__trigger_sentry_app_action_creators__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__trigger_sentry_app_action_creators__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/app/update_sentry_app/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__update_sentry_app__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppService__update_sentry_app__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/identity/delete_identities/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityService__delete_identities__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityService__delete_identities__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/identity/get_identities/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityService__get_identities__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityService__get_identities__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/identity/get_identity/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityService__get_identity__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityService__get_identity__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/identity/get_provider/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityService__get_provider__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityService__get_provider__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/identity/get_user_identities_by_provider_type/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityService__get_user_identities_by_provider_type__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityService__get_user_identities_by_provider_type__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/identity/update_data/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityService__update_data__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityService__update_data__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/add_organization/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__add_organization__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__add_organization__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/delete_integration/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__delete_integration__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__delete_integration__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/get_integration/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_integration__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_integration__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/get_integration_external_project/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_integration_external_project__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_integration_external_project__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/get_integration_external_projects/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_integration_external_projects__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_integration_external_projects__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/get_integration_identity_context/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_integration_identity_context__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_integration_identity_context__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/get_integrations/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_integrations__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_integrations__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/get_organization_integration/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_organization_integration__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_organization_integration__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/get_organization_integrations/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_organization_integrations__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__get_organization_integrations__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/organization_context/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__organization_context__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__organization_context__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/organization_contexts/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__organization_contexts__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__organization_contexts__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/page_integration_ids/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__page_integration_ids__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__page_integration_ids__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/refresh_github_access_token/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__refresh_github_access_token__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__refresh_github_access_token__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/send_incident_alert_notification/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__send_incident_alert_notification__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__send_incident_alert_notification__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/send_message/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__send_message__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__send_message__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/send_msteams_incident_alert_notification/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__send_msteams_incident_alert_notification__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__send_msteams_incident_alert_notification__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/start_grace_period_for_provider/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__start_grace_period_for_provider__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__start_grace_period_for_provider__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/update_integration/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__update_integration__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__update_integration__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/update_integrations/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__update_integrations__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__update_integrations__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/update_organization_integration/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__update_organization_integration__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__update_organization_integration__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/integration/update_organization_integrations/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__update_organization_integrations__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationService__update_organization_integrations__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/usersocialauth/get_many/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSocialAuthService__get_many__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSocialAuthService__get_many__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/usersocialauth/get_one_or_none/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSocialAuthService__get_one_or_none__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSocialAuthService__get_one_or_none__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/usersocialauth/link_auth/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSocialAuthService__link_auth__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSocialAuthService__link_auth__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/usersocialauth/refresh_token/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSocialAuthService__refresh_token__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSocialAuthService__refresh_token__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/usersocialauth/revoke_token/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSocialAuthService__revoke_token__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSocialAuthService__revoke_token__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/repository/create_repository/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__create_repository__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__create_repository__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/repository/disable_repositories_for_integration/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__disable_repositories_for_integration__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__disable_repositories_for_integration__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/repository/disassociate_organization_integration/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__disassociate_organization_integration__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__disassociate_organization_integration__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/repository/get_repositories/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__get_repositories__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__get_repositories__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/repository/get_repository/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__get_repository__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__get_repository__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/repository/serialize_repository/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__serialize_repository__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__serialize_repository__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/repository/update_repositories/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__update_repositories__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__update_repositories__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/repository/update_repository/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__update_repository__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepositoryService__update_repository__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/workflow_engine_action/delete_actions_for_organization_integration/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionService__delete_actions_for_organization_integration__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionService__delete_actions_for_organization_integration__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/workflow_engine_action/update_action_status_for_organization_integration/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionService__update_action_status_for_organization_integration__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionService__update_action_status_for_organization_integration__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/workflow_engine_action/update_action_status_for_sentry_app_via_sentry_app_id/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionService__update_action_status_for_sentry_app_via_sentry_app_id__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionService__update_action_status_for_sentry_app_via_sentry_app_id__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/workflow_engine_action/update_action_status_for_sentry_app_via_uuid/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionService__update_action_status_for_sentry_app_via_uuid__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionService__update_action_status_for_sentry_app_via_uuid__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/workflow_engine_action/update_action_status_for_sentry_app_via_uuid__region/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionService__update_action_status_for_sentry_app_via_uuid__region__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionService__update_action_status_for_sentry_app_via_uuid__region__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/workflow_engine_action/update_action_status_for_webhook_via_sentry_app_slug/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionService__update_action_status_for_webhook_via_sentry_app_slug__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionService__update_action_status_for_webhook_via_sentry_app_slug__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/sentry_app_region/create_external_issue/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__create_external_issue__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__create_external_issue__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/sentry_app_region/create_issue_link/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__create_issue_link__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__create_issue_link__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/sentry_app_region/delete_external_issue/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__delete_external_issue__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__delete_external_issue__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/sentry_app_region/delete_service_hook_projects/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__delete_service_hook_projects__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__delete_service_hook_projects__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/sentry_app_region/get_interaction_stats/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__get_interaction_stats__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__get_interaction_stats__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/sentry_app_region/get_select_options/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__get_select_options__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__get_select_options__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/sentry_app_region/get_service_hook_projects/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__get_service_hook_projects__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__get_service_hook_projects__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/sentry_app_region/record_interaction/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__record_interaction__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__record_interaction__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/sentry_app_region/set_service_hook_projects/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__set_service_hook_projects__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SentryAppRegionService__set_service_hook_projects__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/hook/bulk_create_service_hooks_for_app/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HookService__bulk_create_service_hooks_for_app__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HookService__bulk_create_service_hooks_for_app__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/hook/create_or_update_webhook_and_events_for_installation/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HookService__create_or_update_webhook_and_events_for_installation__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HookService__create_or_update_webhook_and_events_for_installation__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/hook/create_service_hook/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HookService__create_service_hook__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HookService__create_service_hook__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/hook/update_webhook_and_events/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HookService__update_webhook_and_events__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HookService__update_webhook_and_events__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/hook/update_webhook_and_events_for_app_by_region/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HookService__update_webhook_and_events_for_app_by_region__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HookService__update_webhook_and_events_for_app_by_region__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/region_tombstone/record_remote_tombstone/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionTombstoneService__record_remote_tombstone__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionTombstoneService__record_remote_tombstone__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/control_tombstone/record_remote_tombstone/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlTombstoneService__record_remote_tombstone__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ControlTombstoneService__record_remote_tombstone__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/issue/get_external_issue_groups/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueService__get_external_issue_groups__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueService__get_external_issue_groups__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/issue/get_shared_for_org/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueService__get_shared_for_org__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueService__get_shared_for_org__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/issue/get_shared_for_region/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueService__get_shared_for_region__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueService__get_shared_for_region__ReturnModel"}}}}},"deprecated":false}},"/api/0/internal/rpc/issue/upsert_issue_email_reply/":{"post":{"description":"Execute an RPC","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueService__upsert_issue_email_reply__ParameterModel"}}},"required":false},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueService__upsert_issue_email_reply_
[...]
