{% extends "sentry/bases/auth.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Recover Account" %} | {{ block.super }}{% endblock %}

{% block auth_main %}
  <h3>{% trans "Recover Account" %}</h2>
  <p>{% blocktrans %}We will send a confirmation email to this address:{% endblocktrans %}</p>

  <form class="form-stacked" action="" method="post">
    {% csrf_token %}

    {{ form|as_crispy_errors }}

    {% for field in form %}
      {{ field|as_crispy_field }}
    {% endfor %}

    <fieldset class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans "Send Email" %}</button>
    </fieldset>
  </form>
{% endblock %}
