{% load url from future %}
{% load i18n %}

{% url 'sentry-manage-project' project.pk as project_link %}

<p>{% blocktrans with 'https://github.com/getsentry/raven-js' as link %}Start by installing <a href="{{ link }}">raven-js</a>.{% endblocktrans %}</p>

<pre>&lt;script src="//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js"&gt;&lt;/script&gt;</pre>

<p>{% blocktrans %}Add the any URLs which will be logging errors in your project's settings under <a href="{{ project_link }}#client-security">Client Security</a>:{% endblocktrans %}</p>

<div class="image"><img src="{% url 'sentry-media' "sentry" "images/client_security.png" %}"></div>

<p>{% trans "Configure the client:" %}</p>

<pre>&lt;script&gt;
Raven.config('{% if dsn_public %}{{ dsn_public }}{% else %}<strong>SENTRY_DSN</strong>{% endif %}').install();
&lt;/script&gt;</pre>

<p>{% trans "Now call out to the raven client to capture events:" %}</p>

<pre>
// {% trans "record a simple message" %}
Raven.captureMessage('hello world!')

// {% trans "capture an exception" %}
try {
    errorThrowingCode();
} catch(err) {
    Raven.captureException(err);
}</pre>

<p>{% blocktrans with 'http://raven-js.readthedocs.org/' as link %}For more information on other uses of Raven with Javascript, please see the <a href="{{ link }}">official documentation for raven-js</a>.{% endblocktrans %}</p>
