{% extends "sentry/partial/client_config/python_base.html" %}

{% load i18n %}

{% block main %}
	<p>{% trans "Create an instance of the client:" %}</p>

	<pre>import raven

client = raven.Client(
    dsn='{% if dsn %}{{ dsn }}{% else %}<strong class="dsn">SENTRY_DSN</strong>{% endif %}',

    # inform the client which parts of code are yours
    # include_paths=['my.app']
    # include_paths=[__name__.split('.', 1)[0]],

    # pass along the version of your application
    # release='1.0.0'
    # release=raven.fetch_package_version('my-app')
    # release=raven.fetch_git_sha(os.path.dirname(__file__)),
)</pre>

	<p>{% trans "Now call out to the raven client to capture events:" %}</p>

	<pre># {% trans "record a simple message" %}
client.captureMessage('hello world!')

# {% trans "capture an exception" %}
try:
    1 / 0
except ZeroDivisionError:
    client.captureException()</pre>

	<p>{% trans "If you want to wrap a WSGI app to record uncaught exceptions, Raven provides a middleware for that:" %}</p>

	<pre>from raven.middleware import Sentry

application = Sentry(application, client=client)</pre>

	<p>{% trans "If you wish to test your connection to the server, you can use the raven test command:" %}</p>

	<pre>raven test {% if dsn %}{{ dsn }}{% else %}<strong class="dsn">SENTRY_DSN</strong>{% endif %}</pre>

{% endblock %}
