{% load i18n %}

<p>{% blocktrans with 'https://github.com/coderanger/raven-ruby' as link %}Start by installing <a href="{{ link }}">raven-ruby</a>:{% endblocktrans %}</p>

<pre>gem install sentry-raven</pre>

<p>{% trans "Or add it to your <code>Gemfile</code>:" %}</p>

<pre>gem "sentry-raven", :git => "https://github.com/coderanger/raven-ruby.git"</pre>

<p>{% trans "Add a <code>config/initializers/raven.rb</code> containing:" %}</p>

<pre>require 'raven'

Raven.configure do |config|
  config.dsn = '{% if dsn %}{{ dsn }}{% else %}<strong>SENTRY_DSN</strong>{% endif %}'
end</pre>

<p>{% trans "That's it! Raven automatically installs an error handling hook to pipe all uncaught exceptions to Sentry." %}</p>

<p>{% blocktrans with 'https://github.com/coderanger/raven-ruby' as link %}For more information on other uses of Raven with Ruby, please see the <a href="{{ link }}">official documentation for raven-ruby</a>.{% endblocktrans %}</p>
