# Run `docker-compose run web config generate-secret-key`
# to get the SENTRY_SECRET_KEY value.
SENTRY_SECRET_KEY=""
SENTRY_SLACK_CLIENT_ID=""
SENTRY_SLACK_CLIENT_SECRET=""
SENTRY_SLACK_VERIFICATION_TOKEN=""
SENTRY_EMAIL_HOST=""
SENTRY_EMAIL_PORT=""
SENTRY_EMAIL_USER=""
SENTRY_EMAIL_USE_TLS=""
SENTRY_EMAIL_PASSWORD=""
SENTRY_WEB_HOST=127.0.0.1
SENTRY_SINGLE_ORGANIZATION=false
