@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url('../fonts/YanoneKaffeesatz-Regular.ttf') format('truetype');
}

html, body {
    background-color: #eee;
}
body {
    padding-top: 60px; /* 40px to make the container go all the way to the bottom of the topbar */
}
footer {
    padding: 40px 0;
}
.container > .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
/* Give a quick and non-cross-browser friendly divider */
.navbar .btn {
    border: 0;
}
.navbar .brand {
    background: url('../images/sentry.png') 20px center no-repeat;
    padding-left: 80px;
    text-indent: -10000em;
}
/*body {
    font: small "Lucida Grande", "Lucida Sans", verdana, sans-serif;
    background: #E5E5E5;
}
h1 a { color: inherit; text-decoration: none; }
h2 span { font-size:80%; color:#666; font-weight:normal; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ul,
table, form, pre, ol { margin-bottom: 15px; }
ul { margin: 0 0 15px 20px; }

a { color: #333; }
a:visited { color: inherit; }*/

/* sidebar */

.sidebar-module {
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 4px #c5c5c5;
    -webkit-box-shadow: 0 1px 4px #c5c5c5;
    box-shadow: 0 1px 4px #c5c5c5;
    position: relative;
}
.sidebar-module-content {
    background: transparent;
}

.sidebar-module h2 {
    color: #fff;
    margin: 0;
    padding: 5px 10px;
    line-height: 1;
    font-size: 1em;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-box-shadow: inset 0 0 1px #22579b, 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 0 1px #22579b, 0 1px 0 #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4da2e5', endColorstr='#3079d0'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#4da2e5), to(#3079d0)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #4da2e5,  #3079d0); /* for firefox 3.6+ */
}

.filter-list {
    margin-left: 0;
    text-transform: lowercase;
    list-style: none;
}
.filter-select {
    padding: 10px;
}
.filter-select select {
    width: 100%;
}
.filter-list li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0, .05);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255, .3);
     -webkit-box-shadow: 0 1px 0 rgba(255,255,255, .3);
    color: #666;
}

.filter-list li a:hover  {
    background: rgba(131,136,142, .20);
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0, .1);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0, .1);
}
.filter-list li.active a {
    color: #3079d0;
    font-weight: bold;
}
.filter-list li:last-child a {
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.filter-text {
    position: relative;
}

.filter-text p {
    margin-bottom: 0;
}

.filter-text input[type=text] {
    margin: 2px;
    border: 0;
    background: transparent;
    padding: 8px;
    color: #666;
    width: 277px;
    font-size: 1em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.filter-text .submit {
    position: absolute;
    right: 14px;
    top: 12px;
    opacity: .6;
}

.filter-text .search-submit {
    display: block;
    width: 12px;
    height: 12px;
    background: #fff url(../images/search.png);
    text-indent: -9999em;
    border: none;
    cursor: pointer;
}

#chart { margin-bottom: 15px; overflow: hidden; }

/* tracebacks */
.frame table.vars { margin:5px 0 2px 35px; }
table.vars td.code { overflow: hidden; }
table.vars td.code pre { margin-bottom: 0; }
div.pastebin textarea { padding: 10px; background: #f9f9f9; border-color: #ddd; }

ul.traceback { list-style-type: none; margin-left: 0;}
ul.traceback li.frame { margin-bottom: 1em; overflow: hidden; position: relative; }
div.commands { margin-top: 10px; margin-left: 20px; }
div.commands a { color:black; text-decoration:none; }
div.commands span { font-size: 0.9em; }

/** variables **/
#requestinfo { overflow: hidden; }
#requestinfo > table { border: 0; width: 100%; margin-bottom: 0; }
#requestinfo th.key, #requestinfo td.values { padding: 0 0 15px; position: relative; }
#requestinfo th.key { vertical-align: top; font-size: 1.1em; text-align: left; padding-right: 30px; }
#requestinfo td.values td { }
#requestinfo td.values th { text-align: left; }

#versioninfo th { text-align: left; font-family: monospace; padding-right: 20px; }
#versioninfo tr:nth-child(odd) {
    background: #eee;
}

.error { background: #ffc; padding: 5px; }
.specific { color:#cc3300; font-weight:bold; }
h2 span.commands { font-size:.7em;}
span.commands a:link {color:#5E5694;}
pre.exception_value { font-family: sans-serif; font-weight: normal; color: #333; font-size: 1.5em; }

/* message details */
.server-list, .url-list, .logger-list, .level-list { list-style: none; margin-left: 0; margin-bottom: 0; }
.server-list li, .url-list li { padding-bottom: 10px; }
.url-list li a { line-height: 18px; }

dl.flat {
    margin-bottom: 1em;
}
dl.flat dt {
    float: left;
    clear: left;
    width: 90px;
    padding-bottom: 5px;
}
dl.flat dd {
    padding-bottom: 5px;
}
/* messages generic */
.level-10 .count {
    background: #999;
    background:-moz-linear-gradient(center top, #999, #444) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#444));
}
.level-20 .count {
    background: #0C7AD8;
    background:-moz-linear-gradient(center top, #0C7AD8, #004F92) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0C7AD8), to(#004F92));
}
.level-30 .count {
    background: #F4B63E;
    background:-moz-linear-gradient(center top, #F4B63E, #D18A00) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4B63E), to(#D18A00));
}
.level-40 .count {
    background: #CC0000;
    background:-moz-linear-gradient(center top, #CC0000, #4E0303) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#CC0000), to(#4E0303));
}
.level-50 .count {
    background: #FF9797;
    background:-moz-linear-gradient(center top, #FF9797, #FF0000) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9797), to(#FF0000));
}

.count {
    text-shadow: -1px -1px 0px rgba(0,0,0.4);
    background: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 3px;
    line-height: 19px;
    color: #fff;
    display: inline-block;
    font-size: 0.8em;
    background: #ff7800;
    background:-moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAA51A), to(#F47A20));
}

/* message list */
.messages .no-messages {
    font-weight: bold;
}
.messages .count {
    width: 28px;
    vertical-align: top;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 4px;
    line-height: 19px;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
}
.messages h3 {
    vertical-align: middle;
    font-weight: bold;
    line-height: 24px;
    display: inline-block;
    margin: 0;
    max-width: 80%;
}
.messages h3 a { text-decoration: none; }
.messages .message {
    color: #666;
    margin-top: 8px;
    font-size: 0.9em;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
}

.messages .tag { display: inline-block; padding: 2px 5px; background: #F5F5F5; -moz-border-radius: 4px; border-radius: 4px; margin-right: 5px;}
.messages .traceback { display: none; }

.messages .row_link {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.messages .last_seen,
.messages .time_spent {
    color: #bbb;
    font-size: 0.9em;
    margin-left: 8px;
    margin-top: 3px;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
}

.messages .status { margin-left: 5px; text-transform: uppercase; font-size: 0.9em; }
.messages .status-0 { display: none; }
.messages .status-1 { color: red; }
.messages li:hover, .messages .active {
    background: #F5F5F5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.messages li:hover .tag { background: #fff; }
.messages li:hover h3 a {
    color: #0099dc;
}
.messages li:hover .last_seen,
.messages .active .last_seen,
.messages li:hover .time_spent,
.messages .active .time_spent { color: #777; }
.priority-veryhigh .count {
    background: #e22e2e;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background:-moz-linear-gradient(center top , #ED1C24, #AA1317) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ED1C24), to(#AA1317));
}
.priority-high .count {
    background: #ff5400;
    background:-moz-linear-gradient(center top , #F16C7C, #BF404F) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F16C7C), to(#BF404F));
}
.priority-medium .count {
    background: #ff7800;
    background:-moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAA51A), to(#F47A20));
}
.priority-low .count,
.priority-verylow .count {
    background: #ffb400;
    background:-moz-linear-gradient(center top , #efd57c, #e0ae00) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#efd57c), to(#e0ae00));
}

.no-messages { font-size: 1.1em; padding: 10px 0; }

h2 .morelink { text-decoration: none; }

#full-message {
    line-height: 1.5em;
}

/* breadcrumbs */

#breadcrumbs {
    font-size: 0.9em;
    height: 16px;
    line-height: 16px;
    margin: 0 0 20px;
}
#breadcrumbs li {
    list-style: none;
    display: inline;
    float: left;
}
#breadcrumbs a,
#breadcrumbs span {
    font-weight: normal;
    background: url('../images/breadcrumb.png') right center no-repeat;
    padding: 0 12px 0 0;
    margin: 0 8px 0 0;
}
#breadcrumbs li:last-child {
    background: none;
    font-weight: bold;
}
#breadcrumbs li:last-child a,
#breadcrumbs li:last-child span {
    background: none;
    text-decoration: none;
    font-weight: inherit;
    padding-right: 0;
    margin-right: 0;
}

table.inline tr {
    display: inline-block;
}

#popup {
    background: #fff;
    padding: 10px;
    margin: 10px;
}
