{% extends "sentry/layout.html" %}

{% load i18n %}

{% block title %}{% trans "Project List" %} | {{ block.super }}{% endblock %}

{% block page_header %}
    <a href="{% url sentry-new-project %}" class="btn pull-right primary">+ Create a new project</a>
    {{ block.super }}
{% endblock %}

{% block heading %}
    {% trans "Project List" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="span16">
        {% if project_list %}
            <p>You have access to the following projects:</p>
            <table class="zebra-striped bordered-table">
                <colgroup>
                    <col>
                    <col style="width:150px;">
                    <col style="width:100px;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project_list %}
                        <tr>
                            <td><a href="{% url sentry-manage-project project.pk %}">{{ project.name }}</a></td>
                            <td>{% if project.owner %}{{ project.owner.username }}{% else %}<em>no owner</em>{% endif %}</td>
                            <td>{{ project.get_status_display }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% if can_create_projects %}
                <div class="alert-message info">You do not have access to any projects. Would you like to <a href="{% url sentry-new-project %}">create a new project</a>?</div>
            {% else %}
                <div class="alert-message notice">You do not have access to any projects. Ask an administrator to add you as a member.</div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
