{% extends "sentry/layout.html" %}

{% load i18n %}

{% block title %}{% blocktrans with project.name as name %}Manage Project: {{ name }}{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="divider">/</li>
    <li><a href="{% url sentry-manage-project project.pk %}">Manage</a></li>
{% endblock %}

{% block main %}
    <section class="body">
        <ul class="nav nav-tabs">
            <li{% if page == 'details' %} class="active"{% endif %}>
                <a href="{% url sentry-manage-project project.pk %}">{% trans "Details" %}</a>
            </li>
            {% for p in PLUGINS.for_project %}
                <li{% if page == 'plugin' and plugin.slug == p.slug %} class="active"{% endif %}>
                    <a href="{% url sentry-configure-project-plugin project.pk p.slug %}">{{ p.get_title }}</a>
                </li>
            {% endfor %}
        </ul>
        {% block inner %}
            <p>{% trans "Here you can edit project information, as well as control the access list for a project with fine-grained permissions." %}</p>
            <hr>
            <div class="page-header">
                <h2>{% trans "Project Details" %}</h2>
            </div>
            {% if request.GET.success %}
                <div class="alert alert-success">{% trans "Changes to your project were saved successfully." %}</div>
            {% else %}
                {% if form.errors %}
                    <div class="alert alert-error">{% trans "Please correct the errors below." %}</div>
                {% endif %}
            {% endif %}
            <form class="form-stacked" action="" method="post">
                {% csrf_token %}
                <fieldset>
                    {% for field in form %}
                        {% include "sentry/partial/_form_field.html" %}
                    {% endfor %}
                </fieldset>
                <fieldset class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
                    {% if PROJECT_ID != project.pk %}
                        <a href="{% url sentry-remove-project project.pk %}" class="btn btn-danger">{% trans "Remove Project" %}</a>
                    {% else %}
                        <a href="#" class="btn disabled btn-danger">{% trans "Cannot remove default project" %}</a>
                    {% endif %}
                </fieldset>
            </form>
            <div class="page-header">
                <a href="{% url sentry-new-project-member project.pk %}" class="btn pull-right small btn-primary">{% trans "+ New Member" %}</a>
                <h2>{% trans "Members" %}</h2>
            </div>
            <table class="table table-bordered table-zebra">
                <colgroup>
                    <col width="100px"/>
                    <col/>
                    <col width="50px"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>{% trans "Username" %}</th>
                        <th>{% trans "Access" %}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member, user in member_list %}
                        <tr>
                            <td><a href="{% url sentry-edit-project-member project.pk member.pk %}">{{ user.username }}</a></td>
                            <td>
                                {{ member.get_type_display }}
                            </td>
                            <td style="text-align:center;">
                                {% if user == project.owner %}
                                    <em>owner</em>
                                {% else %}
                                    <a href="{% url sentry-remove-project-member project.pk member.pk %}">{% trans "Revoke" %}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    </section>
{% endblock %}
