{% extends "sentry/layout.html" %}

{% load i18n %}

{% block title %}{% blocktrans with project.name as name %}Manage Project: {{ name }}{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block heading %}
    {% blocktrans with project.name as name %}Manage Project <small>{{ name }}</small>{% endblocktrans %}
{% endblock %}

{% block sidebar %}
    <h2>{% trans "Project List" %}</h2>
    <ul>
        {% for project in project_list %}
            <li><a href="{% url sentry-manage-project project.pk %}">{{ project.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block main %}
    <ul class="tabs">
        <li{% if page == 'details' %} class="active"{% endif %}>
            <a href="{% url sentry-manage-project project.pk %}">{% trans "Details" %}</a>
        </li>
        {% for slug, title in request.plugins.for_project %}
            <li{% if page == 'plugin' and plugin.slug == slug %} class="active"{% endif %}>
                <a href="{% url sentry-configure-project-plugin project.pk slug %}">{{ title }}</a>
            </li>
        {% endfor %}
    </ul>
    {% block inner %}
        <p>{% trans "Here you can edit project information, as well as control the access list for a project with fine-grained permissions." %}</p>
        <hr>
        <div class="page-header">
            <h2>{% trans "Project Details" %}</h2>
        </div>
        {% if request.GET.success %}
            <div class="alert-message success">{% trans "Changes to your project were saved successfully." %}</div>
        {% else %}
            {% if form.errors %}
                <div class="alert-message error">{% trans "Please correct the errors below." %}</div>
            {% endif %}
        {% endif %}
        <form class="form-stacked" action="" method="post">
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                    <div class="clearfix{% if field.errors %} error{% endif %}">
                        {{ field.label_tag }}
                        <div class="input">{{ field }}</div>
                        {% if field.help_text %}
                            <span class="help-block">{{ field.help_text }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </fieldset>
            <p class="actions">
                <button type="submit" class="btn primary">{% trans "Save Changes" %}</button>
                {% if PROJECT_ID != project.pk %}
                    <a href="{% url sentry-remove-project project.pk %}" class="btn danger">{% trans "Remove Project" %}</a>
                {% else %}
                    <a href="#" class="btn disabled danger">{% trans "Cannot remove default project" %}</a>
                {% endif %}
            </p>
        </form>
        <div class="page-header">
            <a href="{% url sentry-new-project-member project.pk %}" class="btn pull-right small primary">{% trans "+ New Member" %}</a>
            <h2>{% trans "Members" %}</h2>
        </div>
        <table class="bordered-table zebra-striped">
            <colgroup>
                <col width="100px"/>
                <col/>
                <col width="50px"/>
            </colgroup>
            <thead>
                <tr>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Access" %}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for member, user in member_list %}
                    <tr>
                        <td><a href="{% url sentry-edit-project-member project.pk member.pk %}">{{ user.username }}</a></td>
                        <td>
                            {{ member.get_type_display }}
                        </td>
                        <td style="text-align:center;">
                            {% if user == project.owner %}
                                <em>owner</em>
                            {% else %}
                                <a href="{% url sentry-remove-project-member project.pk member.pk %}">{% trans "Revoke" %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endblock %}
