{% extends "sentry/layout.html" %}

{% load i18n %}

{% block title %}{% trans "New Project" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="divider">/</li>
    <li><a href="{% url sentry-new-project %}">{% trans "New Project" %}</a></li>
{% endblock %}

{% block main %}
    <section class="body">
        <p>{% trans "Use this page to create a new project within Sentry. Once done, you'll be able to add members (whether they're system or actual users), as well as configure your client to send messages to this project." %}</p>
        <hr>
        <form class="form-stacked" action="" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans "Project Details" %}</legend>
                {% for field in form %}
                    <div class="clearfix{% if field.errors %} error{% endif %}">
                        {{ field.label_tag }}
                        <div class="input">{{ field }}</div>
                        {% if field.help_text %}
                            <span class="help-block">{{ field.help_text }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </fieldset>
            <div class="actions">
                <button type="submit" class="btn primary">{% trans "Save Changes" %}</button>
            </div>
        </form>
    </section>
{% endblock %}
