{% extends "sentry/projects/base.html" %}

{% load i18n %}

{% block title %}{% trans "New Project" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="divider">/</li>
    <li><a href="{% url sentry-new-project %}">{% trans "New Project" %}</a></li>
{% endblock %}

{% block main %}
    <section class="body">
        {% if TEAM_LIST %}
            <p>{% trans "Select a team you are a member of to create a project." %}</p>
            <ul>
                {% for team in TEAM_LIST %}
                    <li><a href="{% url sentry-new-team-project team.slug %}">{{ team.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            {% if can_create_teams %}
                {% url sentry-new-team as create_team_link %}
                <p>{% blocktrans %}You must first <a href="{{ create_team_link }}">create a team</a> to create a project.{% endblocktrans %}</p>
            {% else %}
                <p>{% trans "You are not able to create a new project because you are not a member of any teams. Ask an administrator to add you to a team." %}</p>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}
