{% extends "sentry/projects/manage.html" %}

{% load i18n %}

{% block inner %}
    <div class="page-header">
        <a href="{% url 'sentry-new-project-rule' project.organization.slug project.slug %}" class="btn pull-right btn-primary">{% trans "New Rule" %}</a>
        <h2>{% trans "Rules" %}</h2>
    </div>
    {% if rule_list %}
        <table class="table table-striped">
            <colgroup>
                <col />
                <col style="width:60px;" />
            </colgroup>
            <tbody>
                {% for rule in rule_list %}
                    <tr>
                        <td>
                            <strong><a href="{% url 'sentry-edit-project-rule' project.organization.slug project.slug rule.id %}">{{ rule.label }}</a></strong><br />
                            {% if rule.conditions %}
                                <div><small><strong>When</strong></small></div>
                                {% for condition in rule.conditions %}
                                    <code>{{ condition }}</code><br />
                                {% endfor %}
                            {% endif %}
                            {% if rule.actions %}
                                <div><small><strong>Do</strong></small></div>
                                {% for action in rule.actions %}
                                    <code>{{ action }}</code><br />
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'sentry-remove-project-rule' project.organization.slug project.slug rule.id %}"
                               class="btn btn-danger"
                               onclick="return confirm('Are you sure you want to remove this rule?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have not yet created any rules. Rules allow you to tweak the behavior of Sentry in various situations, such as sending notifications.</p>
    {% endif %}
{% endblock %}
