{% extends "sentry/projects/manage.html" %}

{% load i18n %}

{% block main %}
    <a href="{% url 'sentry-new-project-rule' project.organization.slug project.slug %}" class="btn pull-right btn-primary btn-sm" style="position: relative; top: -6px;">{% trans "New Rule" %}</a>
    <h2>{% trans "Rules" %}</h2>

    {% if rule_list %}
        <table class="table table-bordered">
            <colgroup>
                <col />
                <col style="width:60px;" />
            </colgroup>
            <tbody>
                {% for rule in rule_list %}
                    <tr>
                        <td style="vertical-align: middle">
                            <a href="{% url 'sentry-edit-project-rule' project.organization.slug project.slug rule.id %}">{{ rule.label }}</a><br /><br />
                            {% if rule.conditions %}
                                <div><small><strong>When</strong></small></div>
                                {% for condition in rule.conditions %}
                                    <code>{{ condition }}</code><br />
                                {% endfor %}
                            {% endif %}
                            {% if rule.actions %}
                                <div><small><strong>Do</strong></small></div>
                                {% for action in rule.actions %}
                                    <code>{{ action }}</code><br />
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td style="text-align: right">
                            <a href="{% url 'sentry-remove-project-rule' project.organization.slug project.slug rule.id %}" class="btn btn-sm btn-default"
                               onclick="confirm('Are you sure you want to remove this rule?')"><span class="icon-trash" style="margin-right: 3px;"></span> Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have not yet created any rules. Rules allow you to tweak the behavior of Sentry in various situations, such as sending notifications.</p>
    {% endif %}
{% endblock %}
