{% extends "sentry/projects/manage.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_helpers %}

{% block selectize %}{% endblock %}

{% block main %}
  <div id="blk_rule_editor"></div>
  <script>
  $(function(){
    React.render(React.createFactory(Sentry.RuleEditor)({
      rule: {% serialize rule %},
      actions: {{ action_list|safe }},
      conditions: {{ condition_list|safe }},
      project: {% serialize project %},
      organization: {% serialize organization %}
    }), document.getElementById('blk_rule_editor'));
  });
  </script>
{% endblock %}
