{% extends "sentry/plugins/bases/issue/create_issue.html" %}

{% block meta %}
  {{ block.super }}
  <script>
    $(function(){
      console.log('here');
      console.log('#id_project').length)
      $("#id_project").on('change', function(){
        console.log('here');
      }).trigger('change');
      // $("#id_project select").select2({
      //     placeholder: "Select a Task List",
      //     minimumInputLength: 0,
      //     quietMillis: 100,
      //     allowClear: true,
      //     width: "460px",
      //     ajax: {
      //       url: "?op=getTaskLists",
      //       dataType: 'json',
      //       data: function(q, page) { return { q: q }; },
      //       results: function(data, page) { return { results: data.users } }
      //     },
      //     initSelection : function (element, callback) {
      //       var val = $(element).val();
      //       callback({'value': val});
      //     }
      // });
    });
  </script>
{% endblock %}
