/**
 * Sentry Color Palette
 * ============================================================================
 */

@blue: #3b6ecc;
@blue-light: lighten(@blue, 10%);
@blue-dark: darken(@blue, 10%);

@green: #57be8c;
@green-light: lighten(@green, 10%);

@yellow-orange: #f9a66d;

@red: #e03e2f;

@purple: #6c5fc7;

@gray: @70;
@gray-light: desaturate(@50, 5%);
@gray-lighter: @40;
@gray-lightest: @20;
@gray-dark: @80;
@gray-darker: @90;
@gray-darkest: @100;

@white-dark: #fbfbfc;
@white-darker: #f7f8f9;
@white-darkest: darken(@white-darker, 6);

/**
 * Shortcuts
 * ============================================================================
 */

@link-color: @blue;

@trim: @gray-lightest;
@trim-dark: darken(@gray-lightest, 4);

// Alerts (TODO): Derive these from palette

@alert-warning-bg-color: #fffdf7;
@alert-warning-border-color: #e1d697;

@alert-danger-bg-color: #fdf6f5;
@alert-danger-border-color: #e7c0bc;

@alert-info-bg-color: #f5fafe;
@alert-info-border-color: #b5d6ed;

@alert-success-bg-color: #f8fcf7;
@alert-success-border-color: #bbd6b3;

/**
 * Playing around
 * ============================================================================
 */

@100: desaturate(#16111b, 8%);
@90: lighten(@100, 10%);
@80: lighten(@100, 20%);
@70: lighten(@100, 30%);
@60: lighten(@100, 40%);
@50: lighten(@100, 50%);
@40: lighten(@100, 60%);
@20: lighten(@100, 80%);
