/**
* Issue list
* ----------------------------------------------------------------------------
* Initial step in renaming .group-list & .group to .issue-list & .issue. This
* will eventually live in shared-components.less.
* ============================================================================
*/

.issue-list {
  padding: 0;

  .issue {
    h3 {
      em {
        font-style: normal;
        font-size: 14px;
        color: @60;
        font-weight: normal;
      }
    }

    &.isResolved {
      h3 {
        text-decoration: line-through;
        color: @gray;
      }
    }

    h3 {
      font-size: 16px;
      margin: 0;
    }

    .event-extra {
      padding-left: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: @gray;

      > span {
        font-size: 13px;
        color: @gray;
        margin-right: 10px;
      }

      a {
        color: @gray;
        font-weight: bold;

        &:hover {
          color: darken(@gray, 20);
        }
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}
