{% extends "sentry/bases/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Accept Project Transfer" %} | {{ block.super }}{% endblock %}

{% block main %}
  <div class="page-header">
    <h2>
      {% trans "Approve Transfer Project Request" %}
    </h2>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    {{ form|as_crispy_errors }}
    <p>Projects must be transferred to a specific <strong>Team</strong> in order to be moved over to another <strong>Organization</strong>. You can always change the team later under the <strong>Project Settings</strong>.</p>
    <p>Please select which <strong>Team</strong> you want for the project <strong>{{ project.slug }}</strong>.</p>
    <div class="box">
      <div class="box-content with-padding">
          {{ form.team|as_crispy_field }}
      </div>
    </div>

    <fieldset class="form-actions">
      <button type="submit" class="btn btn-danger">{% trans "Transfer Project" %}</button>
    </fieldset>
  </form>
{% endblock %}
