{% extends "sentry/projects/manage.html" %}

{% load i18n %}
{% load sentry_helpers %}
{% load sentry_plugins %}

{% block title %}{% trans "Client Keys" %} | {{ block.super }}{% endblock %}

{% block main %}
    {% if can_add_key %}
        <a href="{% url 'sentry-new-project-key' project.organization.slug project.slug %}" class="btn pull-right btn-primary btn-sm" style="position: relative; top: -6px;">{% trans "Generate New Key" %}</a>
    {% endif %}
    <h2>{% trans "Client Keys" %}</h2>

    <table class="table table-bordered">
        <colgroup>
            <col/>
            <col width="200px"/>
        </colgroup>
        <thead>
            <tr>
                <th colspan="2">{% trans "Client Key" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for key in key_list %}
                <tr>
                    <td style="width: 70%">
                        {% if key.label %}
                            <h5 style="margin-bottom: 0;"><a href="{% url 'sentry-edit-project-key' project.organization.slug project.slug key.id %}">{{ key.label }}</a></h5>
                        {% else %}
                            <h5 style="margin-bottom: 0;"><a href="{% url 'sentry-edit-project-key' project.organization.slug project.slug key.id %}">{{ key.public_key }}</a></h5>
                        {% endif %}<br>
                        <input class="form-control" value="{{ key.dsn_private }}">
                    </td>
                    <td style="text-align:right; vertical-align:bottom !important;">
                        {% if key.can_edit %}
                            {% if key.is_active %}
                                <form method="POST" action="{% url 'sentry-disable-project-key' project.organization.slug project.slug key.id %}" style="display:inline">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-default btn-sm" value="{% trans "Disable" %}">
                                </form>
                            {% else %}
                                <form method="POST" action="{% url 'sentry-enable-project-key' project.organization.slug project.slug key.id %}" style="display:inline">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-primary btn-sm" value="{% trans "Enable" %}">
                                </form>
                            {% endif %}
                        {% endif %}
                        {% if key.can_remove %}
                            <form method="POST" action="{% url 'sentry-remove-project-key' project.organization.slug project.slug key.id %}" style="display:inline">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger btn-sm" value="{% trans "Revoke" %}">
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
