{% extends "sentry/bases/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Remove Project" %} | {{ block.super }}{% endblock %}

{% block main %}
  <div class="page-header">
    <h2>
      {% trans "Remove Project" %}
      <small>{{ project.name }}</small>
    </h2>
  </div>
  <form action="" method="post">
    {% csrf_token %}

    <p><strong>{% trans "Removing this project is permanent and cannot be undone!" %}</strong></p>

    <p>{% trans "This will also remove the all associated event data." %}</p>

    {{ form|as_crispy_errors }}

    {% for field in form %}
        {{ field|as_crispy_field }}
    {% endfor %}

    <fieldset class="form-actions">
      <button type="submit" class="btn btn-danger">{% trans "Remove Project" %}</button>
      <a href="{% url 'sentry-manage-project' project.organization.slug project.slug %}" class="btn btn-default">{% trans "Cancel" %}</a>
    </fieldset>
  </form>
{% endblock %}
