{% extends "sentry/projects/manage.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Remove Project" %} | {{ block.super }}{% endblock %}

{% block main %}
    <section class="body">
        <form action="" method="post">
            <p class="alert alert-error">{% blocktrans %}WARNING: This operation is permanent and cannot be undone!{% endblocktrans %}</p>
            {% csrf_token %}
            {{ form|as_crispy_errors }}
            {% for field in form %}
                {{ field|as_crispy_field }}
            {% endfor %}
            <fieldset class="form-actions">
                <button type="submit" class="btn btn-danger">{% trans "Remove Project" %}</button> <a href="{% url 'sentry-manage-project' project.organization.slug project.slug %}" class="btn">{% trans "Cancel" %}</a>
            </fieldset>
        </form>
        <style>
        .control-group[data-name="project"] {
            margin-left: 20px;
        }
        </style>
    </section>
{% endblock %}
