{% extends "sentry/bases/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Remove Project" %} | {{ block.super }}{% endblock %}

{% block main %}
  <div class="page-header">
    <h2>
      {% trans "Transfer Project" %}
      <small>{{ project.slug }}</small>
    </h2>
  </div>
  <form action="" method="post">
    {% csrf_token %}

    <p><strong>{% trans "Transferring this project is permanent and cannot be undone!" %}</strong></p>

    <p>{% trans "Please enter the Owner of the organization you would like to transfer this project to." %}</p>

    {{ form|as_crispy_errors }}

    {% for field in form %}
        {{ field|as_crispy_field }}
    {% endfor %}

    <p>{% trans "A request will be emailed to the Owner in order to transfer" %} <strong> {{ project.slug }} </strong> {%trans "to a new organization." %}</p>

    <fieldset class="form-actions">
      <button type="submit" class="btn btn-danger">{% trans "Send Transfer Project Request" %}</button>
      <a href="{% url 'sentry-manage-project' project.organization.slug project.slug %}" class="btn btn-default">{% trans "Cancel" %}</a>
    </fieldset>
  </form>
{% endblock %}
