{% extends "sentry/emails/base.html" %}

{% load sentry_helpers %}

{% block main %}

<h2>{{ project.name }}</h2>

{% for rule, groups in digest.items %}

    <h3>{{ rule.label }}</h3>

    <ul>
    {% for group, records in groups.items %}
        <li>
            {% url 'sentry-group' group.organization.slug group.project.slug group.id as group_link %}
            <a href="{% absolute_uri group_link %}">{{ group.title }}</a>
        </li>
    {% endfor %}
    </ul>

{% endfor %}

{% endblock %}
