.container {
  background: no-repeat left center;
  cursor: pointer;
  margin-bottom: 4px;
  padding-left: 18px;
  position: relative;
  white-space: nowrap;
}

.container.module {
  background-image: url('../assets/icon-module.svg');
  background-position-x: 1px;
}

.container.folder {
  background-image: url('../assets/icon-folder.svg');
}

.container.chunk {
  background-image: url('../assets/icon-chunk.svg');
}

.container.invisible:hover::before {
  background: url('../assets/icon-invisible.svg') no-repeat left center;
  content: "";
  height: 100%;
  left: 0;
  top: 1px;
  position: absolute;
  width: 13px;
}
