.container {
  font: var(--main-font);
  position: absolute;
  padding: 5px 10px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #aaa;
  opacity: 0.9;
  white-space: nowrap;
  visibility: visible;
  transition: opacity .2s ease, visibility .2s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
