{% extends "sentry/bases/modal.html" %}

{% load i18n %}

{% block title %}{% trans "CSRF Validation Failed" %} | {{ block.super }}{% endblock %}

{% block main %}
    <section class="body">
        {% csrf_token %}

        <div class="page-header">
            <h2>{% trans "CSRF Validation Failed" %}</h2>
        </div>

        <p>{% trans "A required security token was not found or was invalid." %}</p>

        <div style="margin: 20px 0 40px;">
            <button id="csrf-rotate-btn" class="btn btn-primary">
                {% trans "Rotate the CSRF Token" %}
            </button>
            <span id="csrf-status" style="margin-left: 10px;"></span>
        </div>

        <p>{% trans "If you're continually seeing this issue, try the following steps:" %}</p>

        <ol>
          <li>{% trans "Make sure cookies are enabled in your browser." %}</li>
          <li>{% trans "Close other tabs with Sentry loaded." %}</li>
          <li>{% trans "Clear cookies (at least for Sentry's domain)." %}</li>
          <li>{% trans "Reload the page you're trying to submit (don't re-submit data)." %}</li>
          <li>{% trans "Re-enter the information, and submit the form again." %}</li>
          <li>{% trans "Ensure the URL does not contain an extra 	&quot;/&quot; anywhere (eg: https://foo//saml -> https://foo/saml)." %}</li>
        </ol>

        {% if no_referer %}
          <p>You are seeing this message because Sentry requires a 'Referer
           header' to be sent by your Web browser, but none was sent. This header is
           required for security reasons, to ensure that your browser is not being
           hijacked by third parties.</p>

          <p>If you have configured your browser to disable 'Referer' headers, please
           re-enable them, at least for this site, or for HTTPS connections, or for
           'same-origin' requests.</p>
        {% endif %}

        {% include "sentry/403-csrf-failure-script.html" %}
    </section>
{% endblock %}
