{% extends "sentry/layout.html" %}

{% load i18n %}

{% block title %}{% trans "Page Not Found" %} | {{ block.super }}{% endblock %}

{% block bodyclass %}{% endblock %}

{% block page_header %}
    <h2>{% trans "Page Not Found" %}</h2>
{% endblock %}

{% block content %}
    <section class="body">
        <p class="alert-message notice">{% trans "The page you are looking for was not found." %}</p>
        <p><a href="{% url sentry %}">{% trans "Return to the dashboard" %}</a></p>
    </section>
{% endblock %}
