{% extends "sentry/bases/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block wrapperclass %}windowed-small org-login{% endblock %}

{% block title %}{% trans "Confirm Identity" %} | {{ block.super }}{% endblock %}

{% block account_nav %}{% endblock%}

{% block main %}
  <section class="body org-login" style="padding: 40px">
    <form class="form-stacked" action="" method="post">
      {% csrf_token %}

      <input type="hidden" name="op" value="confirm" />

      <img src="{% url 'sentry-media' "sentry" "images/default-organization-logo.png" %}" class="merge-avatar avatar">
      <span class="icon-arrow-right"></span>
      <span class="icon-arrow-left"></span>
      <img src="{% url 'sentry-media' "sentry" "images/default-organization-logo.png" %}" class="merge-avatar avatar">

      <p>Looks like you've signed in previously with another account.
Would you like to merge it with this one?</p>

      <p class="align-center"><button class="btn btn-default">No thanks</button> <button class="btn btn-primary" type="submit">Merge accounts</button></p>
    </form>
  </section>
{% endblock %}

{% block footer %}
{% endblock %}
