{% extends "sentry/bases/auth.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_assets %}

{% block title %}{% trans "Link Identity" %} | {{ block.super }}{% endblock %}

{% block auth_main %}
  <form class="form-stacked" action="" method="post">
    {% csrf_token %}

    <div class="align-center">
      <img src="{% asset_url "sentry" "images/default-organization-logo.png" %}" class="org-avatar">

      <h3>{{ organization.name }}</h3>
    </div>

    <div class="align-center">
      <p>Link your Sentry account with your {{ provider_name }} account to continue.</p>

      <p>
        <button type="submit" class="btn btn-default btn-login-{{ provider_key }}">
          <span class="provider-logo {{ provider_name | lower}}"></span> Login with {{ provider_name }}
        </button>
      </p>
    </div>
  </form>
{% endblock %}
