{% extends "sentry/bases/modal.html" %}

{% load i18n %}

{% block title %}{% trans "Choose Project" %} | {{ block.super }}{% endblock %}

{% block content %}
<h4>Choose Project</h4>

{% for team, projects in teams %}
	<div class="box">
		<div class="box-header"><h3>{{ team.name }}</h3></div>
		<div class="box-content">
			<table class="table project-list">
				<tbody>
				{% for project in projects %}
					<tr>
						<td>
							<a href="/{{ organization.slug }}/{{ project.slug }}/{{ next }}">
								<h5>{{ project.name }}</h5>
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endfor %}


{% endblock %}