{% extends "sentry/layout.html" %}

{% load i18n %}

{% block title %}{% trans "Dashboard" %} | {{ block.super }}{% endblock %}

{% block controller %}TeamDashboardCtrl{% endblock %}

{% block content %}
    <div class="main">
        {% block alerts %}
            {% include "sentry/partial/alerts.html" %}
        {% endblock %}
        {% block main %}
            <div class="dashboard">
                {% if project_list %}
                    <div class="box">
                      <div class="box-header">
                        <h3>Last 7 days</h3>
                      </div>
                        <div class="box-content with-padding">
                            <div id="chart" class="chart" data-api-url="{% url 'sentry-api-0-team-stats' team.id %}">
                                <div class="sparkline">
                                    <noscript>{% trans "Get yourself some JavaScripts dood" %}</noscript>
                                    <span class="loading">{% trans "Loading historical data..." %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box">
                                <div class="box-header clearfix">
                                    <h3 class="pull-left">{% trans "Trends" %}</h3>
                                    <ul class="nav nav-pills nav-small pull-right">
                                        <li ng-class="trendingGroupList.selected == '15' ? 'active': ''">
                                            <a href="#" ng-click="loadTrendingGroups('15')">{% trans "15 minutes" %}</a></li>
                                        <li ng-class="trendingGroupList.selected == '60' ? 'active': ''">
                                            <a href="#" ng-click="loadTrendingGroups('60')">{% trans "60 minutes" %}</a></li>
                                        <li ng-class="trendingGroupList.selected == '1440' ? 'active': ''">
                                            <a href="#" ng-click="loadTrendingGroups('1440')">{% trans "24 hours" %}</a></li>
                                    </ul>
                                </div>
                                <div class="box-content">
                                    <div class="tab-pane active">
                                        <p ng-show="trendingGroupList.state == 'loading'">{% trans "Loading ..." %}</p>
                                        <p ng-show="trendingGroupList.state == 'error'">{% trans "There was an error fetching data from the server." %}</p>
                                        <ul ng-show="trendingGroupList.state == 'results'" class="dashboard-events">
                                            <li ng-repeat="group in trendingGroupList">
                                                <div class="dashboard-count">
                                                  <span count="group.count"></span>
                                                </div>
                                                <div class="dashboard-details">
                                                  <h3><a href="<% group.permalink %>"><% group.title %></a></h3>
                                                  <p class="message"><% group.culprit %></p>
                                                  <p class="time"><span>First:</span> <time time-since="group.firstSeen"></time>. <span>Last:</span> <time time-since="group.lastSeen"></time>.</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <p ng-show="trendingGroupList.state == 'no-results'" class="list-empty">{% trans "There are no events within the selected time window." %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box">
                                <div class="box-header clearfix">
                                    <h3 class="pull-left">{% trans "New Events" %}</h3>
                                    <ul class="nav nav-pills nav-small pull-right">
                                        <li ng-class="newGroupList.selected == '15' ? 'active': ''">
                                            <a href="#" ng-click="loadNewGroups('15')">{% trans "15 minutes" %}</a></li>
                                        <li ng-class="newGroupList.selected == '60' ? 'active': ''">
                                            <a href="#" ng-click="loadNewGroups('60')">{% trans "60 minutes" %}</a></li>
                                        <li ng-class="newGroupList.selected == '1440' ? 'active': ''">
                                            <a href="#" ng-click="loadNewGroups('1440')">{% trans "24 hours" %}</a></li>
                                    </ul>
                                </div>
                                <div class="box-content with-padding">
                                    <div class="tab-pane active">
                                        <p ng-show="newGroupList.state == 'loading'">{% trans "Loading ..." %}</p>
                                        <p ng-show="newGroupList.state == 'error'">{% trans "There was an error fetching data from the server." %}</p>
                                        <ul ng-show="newGroupList.state == 'results'" class="dashboard-events">
                                            <li ng-repeat="group in newGroupList">
                                                <div class="dashboard-count">
                                                  <span count="group.count"></span>
                                                </div>
                                                <div class="dashboard-details">
                                                  <h3><a href="<% group.permalink %>"><% group.title %></a></h3>
                                                  <p class="message"><% group.culprit %></p>
                                                  <p class="time"><span>First:</span> <time time-since="group.firstSeen"></time>. <span>Last:</span> <time time-since="group.lastSeen"></time>.</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <p ng-show="newGroupList.state == 'no-results'">{% trans "There are no events within the selected time window." %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% url 'sentry-new-project' team.slug as link %}
                    <div class="alert alert-info">{% blocktrans %}You do not have access to any projects. Would you like to <a href="{{ link }}">create a new project</a>?{% endblocktrans %}</div>
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
