{% extends "sentry/layout.html" %}

{% load url from future %}
{% load i18n %}
{% load sentry_helpers %}

{% block title %}{{ project.name }} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="divider"></li>
    <li><a href="{% url 'sentry-get-started' project.team.slug project.slug %}">{% trans "Getting Started" %}</a></li>
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block main %}
    <section class="body">
    	<div class="page-header">
    		<h2>{% trans "Getting Started" %}</h2>
    	</div>

		{% client_help request.user project %}
	</section>
{% endblock %}
