<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ ac_js_src }}"></script>
</head>
<body class="">
  <section id="content" role="main">
    {% if error_message %}
        <div>{{ error_message }}</div>
    {% endif %}

    <div class="description">Choose a Sentry Organization to link to JIRA</div>
    <form class="aui" action="" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="field-group">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
        </div>
      {% endfor %}
      <div class="field-group">
        <button class="aui-button aui-button-primary" type="submit">
            Configure Integration
        </button>
      </div>
    </form>
  </section>
</body>
</html>
