// nothing to see here
var Sentry = {
    addBreadcrumb: function() {},
    captureEvent: function() {},
    captureException: function() {},
    captureMessage: function() {},
    configureScope: function() {},
    forceLoad: function() {},
    init: function() {},
    onLoad: function() {},
    showReportDialog: function() {},
    withScope: function() {},
};
