{% load i18n %}
{% load sentry_api %}
{% load sentry_helpers %}
{% load static_compiler %}

{% get_sentry_version %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="robots" content="NONE,NOARCHIVE">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% url 'sentry-media' "sentry" "images/favicon.ico" %}" rel="shortcut icon" type="image/png"/>

        {% block css %}
          {% if DEBUG == true %}
          <link rel="stylesheet/less" type="text/css" href="{% url 'sentry-media' "sentry" 'less/sentry.less' %}" />
          <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.4/less.js" type="text/javascript"></script>

          {% else %}
            {% staticbundle 'sentry/dist/global.min.css' %}
          {% endif %}

        {% endblock %}

        <title>{% block title %}Sentry{% endblock %}</title>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="{% url 'sentry-media' "sentry" "scripts/lib/html5shiv.js" %}"></script>
        <![endif]-->
        {% block scripts %}
            <script>
            // Legacy app object
            window.app = {};

            window.SentryConfig = {};
            window.SentryConfig.popupCss = '{% url 'sentry-media' "sentry" 'styles/popup.css' %}';
            window.SentryConfig.mediaUrl = '{% url 'sentry-media' "sentry" '' %}';
            window.SentryConfig.urlPrefix = {{ URL_PREFIX|to_json|safe }};
            window.SentryConfig.lang = {{ request.LANGUAGE_CODE|to_json|safe }};
            {% if selectedProject %}
                window.SentryConfig.selectedProject = {% convert_to_json selectedProject %}
            {% else %}
                window.SentryConfig.selectedProject = null;
            {% endif %}
            {% if selectedTeam %}
                window.SentryConfig.selectedTeam = {% convert_to_json selectedTeam %}
            {% else %}
                window.SentryConfig.selectedTeam = null;
            {% endif %}
            </script>

            {% staticbundle 'sentry/dist/vendor-angular.min.js' %}
            {% staticbundle 'sentry/dist/vendor-jquery.min.js' %}
            {% staticbundle 'sentry/dist/vendor-bootstrap.min.js' %}
            {% staticbundle 'sentry/dist/vendor-misc.min.js' %}

            {% staticbundle 'sentry/dist/app.min.js' %}
            {% staticbundle 'sentry/dist/legacy-app.min.js' %}

            <script src="{% url 'sentry-media' 'sentry' 'vendor/raven/raven.js' %}"></script>
        {% endblock %}

        {% block meta %}
        {% endblock %}
    </head>

    <body class="{% block wrapperclass %}{% endblock %}" ng-app="sentry">
        {% block body %}
        {% block header %}
            <header>
                <div class="container">
                  {% block logo %}<a id="logo" href="{% url 'sentry' %}"><span class="icon-sentry-logo"></span></a>{% endblock %}
                  <ul class="pull-right user-nav">
                      {% block account_nav %}
                          {% if request.user.is_authenticated %}
                              {% if team and request.user|can_admin_team:team %}
                                  <li class="hidden-xs"><a href="{% url 'sentry-manage-team' team.slug %}"><span class="icon icon-settings"></span> {% trans "Team Settings" %}</a></li>
                              {% endif %}
                              <li class="hidden-xs">
                                <a href="{% url 'sentry-help' %}">
                                    <span class="icon icon-book"></span> {% trans "Docs" %}
                                </a>
                              </li>
                              <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="user-avatar" src="{% gravatar_url user.email size 44 %}"> <span class="icon-arrow-down"></span></a>
                                  <ul class="dropdown-menu">
                                      <li><a href="{% url 'sentry-account-settings' %}">{% trans "Account" %}</a></li>
                                      <li><a href="{% url 'sentry' %}">{% trans "Teams" %}</a></li>
                                      {% if request.user.is_staff %}
                                          <li><a href="{% url 'sentry-admin-status' %}">{% trans "Admin" %}</a></li>
                                      {% endif %}
                                      <li class="divider">
                                      <li><a href="{% url 'sentry-logout' %}">{% trans "Logout" %}</a></li>
                                  </ul>
                              </li>
                          {% else %}
                              <li><a href="{% url 'sentry-login' %}">{% trans "Login" %}</a></li>
                          {% endif %}
                      {% endblock %}
                  </ul>
                    <!-- <a id="logo" href="{% url 'sentry' %}">Sentry</a> -->
                    {% if team %}
                    <div class="project-dropdown">
                        {% if TEAM_LIST %}
                            <a class="team-name dropdown-toggle" data-toggle="dropdown">
                                {{ team.name }}
                                {% if project %}
                                    <span class="project-name">{{ project.name }}</span>
                                {% endif %}
                                <span class="icon-arrow-down"></span>
                            </a>
                            <div class="dropdown-menu">
                                <!-- <input type="text" value="search by project name"> <a href="#" class="btn">New</a> -->
                                {% for t, p_list in TEAM_LIST|reorder_teams:team %}
                                    <div class="team">
                                        <h5><a href="{% url 'sentry' t.slug %}">{{ t.name }}</a></h5>
                                        <ul class="project-list">
                                            {% for p in p_list %}
                                                <li{% if p.id == project.id %} class="active"{% endif %}>
                                                    <a href="{% url 'sentry-stream' t.slug p.slug %}" title="{{ p.name }}">{{ p.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <a>
                                {{ team.name }}
                                {% if project %}
                                    <small>{{ project.name }}</small>
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                    {% else %}
                        <h1>{% block heading %}{% endblock %}</h1>
                    {% endif %}
                 </div>
            </header>
        {% endblock %}
        {% block page_header_block %}
            <div class="toolbar">
                <div class="container">
                    {% block page_header %}{% endblock %}
                </div>
            </div>
        {% endblock %}
        <section id="content"
                 ng-controller="{% block controller %}DefaultCtrl{% endblock %}"
                 class="{% block bodyclass %}with-sidebar{% endblock %}">
            <div class="container">
                {% block above_content %}{% endblock %}
                <div class="content">
                    {% block content_before %}
                    {% endblock %}

                    {% block alerts %}
                        {% include "sentry/partial/alerts.html" %}
                    {% endblock %}

                    {% block content %}
                    <div class="row">
                        <div class="col-sm-3 sidebar">
                            {% block sidebar %}
                            {% endblock %}
                        </div>
                        <div class="col-sm-9">
                            {% block main %}
                            {% endblock %}
                        </div>
                    </div>
                    {% endblock %}

                    {% block content_after %}
                    {% endblock %}
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                {% block footer %}
                    <div class="contribute">Sentry is <a href="http://en.wikipedia.org/wiki/Open-source_software">Open Source Software</a>
                        <a href="https://github.com/getsentry/sentry" class="btn btn-small">{% trans "Contribute" %}</a> <a href="https://www.transifex.com/projects/p/sentry/" class="btn btn-small">{% trans "Translate" %}</a></div>
                    <div class="version">Sentry {{ sentry_version.current }} {% if sentry_version.update_available %}<a href="#" title="You're running a year old version of Sentry, did you know {{ sentry_version.latest }} is available?" class="tip icon-circle-arrow-up">&nbsp;</a>{% endif %}</div>
                    <div class="credits">Handcrafted by the <a href="https://www.getsentry.com">Sentry team</a> and its <a href="https://github.com/getsentry/sentry/contributors">many contributors</a></div>
                {% endblock %}
            </div>
        </footer>

        <script>
        jQuery('select').selectize();

        moment.lang(window.SentryConfig.lang);
        </script>
        {% endblock %}
    </body>
</html>
