{% load i18n %}
{% load sentry_api %}
{% load sentry_dsn %}
{% load sentry_helpers %}
{% load static_compiler %}

{% get_sentry_version %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="robots" content="NONE,NOARCHIVE">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% url 'sentry-media' "sentry" "images/favicon.ico" %}" rel="shortcut icon" type="image/png"/>

        {% block css %}
            {% staticbundle 'sentry/dist/global.min.css' %}
            <link href="{% url 'sentry-media' 'sentry' 'vendor/platformicons/platformicons/platformicons.css' %}" type="text/css" rel="stylesheet">
        {% endblock %}

        <title>{% block title %}Sentry{% endblock %}</title>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="{% url 'sentry-media' "sentry" "scripts/lib/html5shiv.js" %}"></script>
        <![endif]-->
        {% block scripts %}
            <script>
            // Legacy app object
            window.app = {};

            window.SentryConfig = {};
            window.SentryConfig.popupCss = '{% url 'sentry-media' "sentry" 'styles/popup.css' %}';
            window.SentryConfig.mediaUrl = '{% url 'sentry-media' "sentry" '' %}';
            window.SentryConfig.urlPrefix = {{ URL_PREFIX|to_json|safe }};
            window.SentryConfig.lang = {{ request.LANGUAGE_CODE|to_json|safe }};
            {% if selectedProject %}
                window.SentryConfig.selectedProject = {% convert_to_json selectedProject %}
            {% else %}
                window.SentryConfig.selectedProject = null;
            {% endif %}
            {% if selectedTeam %}
                window.SentryConfig.selectedTeam = {% convert_to_json selectedTeam %}
            {% else %}
                window.SentryConfig.selectedTeam = null;
            {% endif %}
            </script>

            {% staticbundle 'sentry/dist/vendor-angular.min.js' %}
            {% staticbundle 'sentry/dist/vendor-jquery.min.js' %}
            {% staticbundle 'sentry/dist/vendor-bootstrap.min.js' %}
            {% staticbundle 'sentry/dist/vendor-misc.min.js' %}

            {% staticbundle 'sentry/dist/app.min.js' %}
            {% staticbundle 'sentry/dist/legacy-app.min.js' %}

            {% staticbundle 'sentry/dist/raven.min.js' %}

            <script>
            Raven.config('{% public_dsn %}', {
                tags: {
                    sentry_version: '{{ sentry_version.current }}'
                },
                whitelistUrls: {% convert_to_json ALLOWED_HOSTS %},
                ignoreErrors: [
                  // Random plugins/extensions
                  'top.GLOBALS',
                  // See: http://blog.errorception.com/2012/03/tale-of-unfindable-js-error. html
                  'originalCreateNotification',
                  'canvas.contentDocument',
                  'MyApp_RemoveAllHighlights',
                  'http://tt.epicplay.com',
                  'Can\'t find variable: ZiteReader',
                  'jigsaw is not defined',
                  'ComboSearch is not defined',
                  'http://loading.retry.widdit.com/',
                  'atomicFindClose',
                  // Facebook borked
                  'fb_xd_fragment',
                  // ISP "optimizing" proxy - `Cache-Control: no-transform` seems to reduce this. (thanks @acdha)
                  // See http://stackoverflow.com/questions/4113268/how-to-stop-javascript-injection-from-vodafone-proxy
                  'bmi_SafeAddOnload',
                  'EBCallBackMessageReceived',
                  // See http://toolbar.conduit.com/Developer/HtmlAndGadget/Methods/JSInjection.aspx
                  'conduitPage'
                ],
                ignoreUrls: [
                  // Facebook flakiness
                  /graph\.facebook\.com/i,
                  // Facebook blocked
                  /connect\.facebook\.net\/en_US\/all\.js/i,
                  // Woopra flakiness
                  /eatdifferent\.com\.woopra-ns\.com/i,
                  /static\.woopra\.com\/js\/woopra\.js/i,
                  // Chrome extensions
                  /extensions\//i,
                  /^chrome:\/\//i,
                  // Other plugins
                  /127\.0\.0\.1:4001\/isrunning/i,  // Cacaoweb
                  /webappstoolbarba\.texthelp\.com\//i,
                  /metrics\.itunes\.apple\.com\.edgesuite\.net\//i
                ]
            }).install();

            {% if request.user.is_authenticated %}
            Raven.setUser({
                email: '{{ request.user.email }}',
                id: '{{ request.user.id }}',
                ip_address: '{{ request.META.REMOTE_ADDR }}'
            });
            {% endif %}
            </script>
        {% endblock %}

        {% block meta %}
        {% endblock %}
    </head>

    <body class="{% block wrapperclass %}{% endblock %} show-sidebar" ng-app="sentry">
      {% if request.user.is_authenticated %}
      <div class="app-sidebar">
        <div class="user-info">
          <img src="{% gravatar_url user.email size 72 %}">
          <p><strong><a class="username" href="#">{{ user.username }}</a></strong></p>
          <p><small>
            <a href="{% url 'sentry-account-settings' %}">{% trans "Account" %}</a>
            <a class="divider" href="{% url 'sentry-logout' %}">{% trans "Sign out" %}</a>
            </small></p>
        </div>
        <div class="user-options">
          {% block account_nav %}
          <ul class="list-unstyled truncate">
              <li><strong><a href="{% url 'sentry-help' %}"><span class="icon icon-book"></span>{% trans "Docs" %}</a></strong></li>
              {% block support_link %}{% endblock %}
              <li><strong><a href="https://kiwiirc.com/client/irc.freenode.net/#sentry" target="_blank"><span class="icon icon-comments"></span>Chat</a></strong></li>
              {% if request.user.is_staff %}
              <li><strong><a href="{% url 'sentry-admin-status' %}"> <span class="icon icon-settings"></span>{% trans "Admin" %}</a></strong></li>
              {% endif %}
          </ul>
          {% endblock%}
        </div>
        <div class="organizations divider-top">
          <h6>Organizations</h6>
          <ul class="list-unstyled truncate">
            <li class="active"><a class="pull-right" href="#"><span class="icon-settings"></span></a><strong><a href="#">Hanna Barbera</a></strong></li>
            <li><a class="pull-right" href="#"><span class="icon-settings"></span></a><strong><a href="#">GitHub</a></strong></li>
            <li><a class="pull-right" href="#"><span class="icon-settings"></span></a><strong><a href="#">Sentry</a></strong></li>

          </ul>
        </div>
        <div class="teams divider-top">
          {% if TEAM_LIST %}
              {% for t, p_list in TEAM_LIST|reorder_teams:team %}
                <div class="team">
                    <h6><a class="pull-right" href="#"><span class="icon-settings"></span></a><a href="{% url 'sentry' t.slug %}">{{ t.name }}</a></h6>
                    <ul class="project-list list-unstyled truncate">
                        {% for p in p_list %}
                            <li{% if p.id == project.id %} class="active"{% endif %}>
                                <strong><a href="{% url 'sentry-stream' t.slug p.slug %}" title="{{ p.name }}"><span class="badge badge-error pull-right">12</span>{{ p.name }}</a></strong>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
              {% endfor %}
          {% endif %}
        </div>
        <div class="broadcast">
          <span class="logo icon-sentry-logo"></span>
          <a class="update" href="#">
            See what's new in 7.1.1 <span class="icon-arrow-right"></span>
          </a>
        </div>
      </div>
      {% endif %}
      <div class="app">
        {% block body %}
        {% block header %}
            <header>
                <div class="container">
                  {% block menu_toggle %}
                    {% if request.user.is_authenticated %}
                      <a class="sidebar-toggle" onclick="$('body').toggleClass('show-sidebar');">
                        <span class="icon-menu"></span>
                        <span class="badge badge-error">12</span>
                      </a>
                    {% endif %}
                  {% endblock %}
                  <div class="pull-right">
                      {% block header_action %}
                          {% if request.user.is_authenticated %}
                          <div class="dropdown new-dropdown">
                            <a class="dropdown-toggle new-menu">
                              <span class="icon-new"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Organization</a></li>
                              <li><a href="#">Team</a></li>
                              <li><a href="#">Project</a></li>
                              <li><a href="#">Member</a></li>
                            </ul>
                          </div>
                          {% else %}
                              <a href="{% url 'sentry-login' %}">{% trans "Login" %}</a>
                          {% endif %}
                      {% endblock %}
                  </div>
                  {% block breadcrumb_outer %}
                    <ul class="breadcrumb">
                      {% block breadcrumb_inner %}
                        {% if team %}
                          <li>
                            <a class="team-name" href="{% url 'sentry' team.slug %}">{{ team.name }}</a>
                          </li>


                          {% if project %}
                          <li>
                            <a class="project-name" href="{% url 'sentry-stream' team.slug project.slug %}">{{ project.name }}</a> <a href="{% url 'sentry-manage-project' team.slug project.slug %}"><span class="icon-settings"></span></a>
                          </li>
                          {% endif %}


                        {% else %}
                            <li>{% block heading %}{% endblock %}</li>
                        {% endif %}
                      {% endblock %}
                    </ul>
                    {% endblock %}
                 </div>
            </header>
        {% endblock %}

        {% block alerts %}
            {% include "sentry/partial/alerts.html" %}
        {% endblock %}

        {% block page_header_block %}
            <div class="toolbar">
                <div class="container">
                    {% block page_header %}{% endblock %}
                </div>
            </div>
        {% endblock %}

        <section id="content"
                 ng-controller="{% block controller %}DefaultCtrl{% endblock %}"
                 class="{% block bodyclass %}with-sidebar{% endblock %}">
            <div class="container">
                {% block above_content %}{% endblock %}
                <div class="content">
                    {% block content_before %}
                    {% endblock %}

                    {% block content %}
                    <div class="row">
                        <div class="col-sm-3 sidebar">
                            {% block sidebar %}
                            {% endblock %}
                        </div>
                        <div class="col-sm-9">
                            {% block main %}
                            {% endblock %}
                        </div>
                    </div>
                    {% endblock %}

                    {% block content_after %}
                    {% endblock %}
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                {% block footer %}
                    <div class="contribute">Sentry is <a href="http://en.wikipedia.org/wiki/Open-source_software">Open Source Software</a>
                        <a href="https://github.com/getsentry/sentry" class="btn btn-small">{% trans "Contribute" %}</a> <a href="https://www.transifex.com/projects/p/sentry/" class="btn btn-small">{% trans "Translate" %}</a></div>
                    <div class="version">Sentry {{ sentry_version.current }} {% if sentry_version.update_available %}<a href="#" title="You're running a year old version of Sentry, did you know {{ sentry_version.latest }} is available?" class="tip icon-circle-arrow-up">&nbsp;</a>{% endif %}</div>
                    <div class="credits">Handcrafted by the <a href="https://www.getsentry.com">Sentry team</a> and its <a href="https://github.com/getsentry/sentry/contributors">many contributors</a></div>
                {% endblock %}
            </div>
        </footer>

        <div class="settings-modal">
          <div class="container">
            <div class="settings-modal-wrap">
              <div class="settings-modal-header">
                <h3>Netflix</h3>
              </div>
              <div class="settings-modal-body">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#">Teams</a></li>
                  <li><a href="#">Members</a></li>
                  <li><a href="#">Settings</a></li>
                </ul>
              </div>
              <div class="settings-modal-footer">
                <a class="btn btn-default" href="#">Cancel</a> <a class="btn btn-primary" href="#">Save Changes</a>
              </div>
            </div>
          </div>
        </div>

        <script>
        jQuery('select').selectize();

        moment.lang(window.SentryConfig.lang);


        $(function() {
          $(".team-settings-toggle, .team-settings-cancel").click(function() {

            toggleSettings(this);

          });

          function toggleSettings(target) {
            if ($(target).closest(".box").hasClass("settings-open")) {

              // close settings

              $(target).closest(".box").removeClass("settings-open");
              $(target).closest(".box").find(".team-settings").slideUp();
              $(target).closest(".box").find(".team-list").show();

            } else {

              // open settings

              $(target).closest(".box").addClass("settings-open");
              $(target).closest(".box").find(".team-settings").slideDown();
              $(target).closest(".box").find(".team-list").hide();
            }
          }
        });

        </script>
        {% endblock %}
      </div>
    </body>
</html>
