{% load compress %}
{% load i18n %}
{% load sentry_helpers %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="robots" content="NONE,NOARCHIVE">

        <link href="{% url sentry-media "sentry" "images/favicon.png" %}" rel="shortcut icon" type="image/png"/>

        {% block css %}
            {% compress css %}
                <link href="{% url sentry-media "sentry" "scripts/lib/select2/select2.css" %}" rel="stylesheet" type="text/css"/>
            {% endcompress %}
            {% if COMPRESS_LESS %}
                {% compress css %}
                    <link href="{% url sentry-media "sentry" "less/sentry.less" %}" rel="stylesheet" type="text/less"/>
                {% endcompress %}
            {% else %}
                <link href="{% url sentry-media "sentry" "styles/sentry.css" %}" rel="stylesheet" type="text/css"/>
            {% endif %}
        {% endblock %}

        <title>{% block title %}Sentry{% endblock %}</title>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/lib/html5shiv.js" %}"></script>
        <![endif]-->
        {% block scripts %}
            {% compress js %}
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/lib/jquery.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/lib/jquery.animate-colors-min.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/lib/jquery.clippy.min.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/lib/jquery.cookie.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/lib/jquery.flot.min.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/lib/json2.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/lib/underscore.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/lib/backbone.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/lib/select2/select2.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/lib/bootstrap.js" %}"></script>
            {% endcompress %}
            {% compress js %}
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/core.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/models.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/templates.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/utils.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/collections.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/charts.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/views.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/app.js" %}"></script>
            {% endcompress %}
            {% comment %}
                The sentry.* javascript is deprecated.
            {% endcomment %}
            {% compress js %}
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/sentry.core.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/sentry.charts.js" %}"></script>
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/sentry.stream.js" %}"></script>
            {% endcompress %}
            <script type="text/javascript">
            Sentry.config({
                urlPrefix: {{ URL_PREFIX|to_json|safe }},
                mediaUrl: '{% url sentry-media "sentry" '' %}',
                projectId: {% if project %}{{ project.id|to_json|safe }}{% else %}null{% endif %},
                defaultImage: '{% url sentry-media "sentry" 'images/sentry.png' %}',
                popupCss: '{% url sentry-media "sentry" 'styles/popup.css' %}'
            });
            app.config.defaultImage = '{% url sentry-media "sentry" 'images/sentry.png' %}';
            app.config.popupCss = '{% url sentry-media "sentry" 'styles/popup.css' %}';
            app.config.mediaUrl = '{% url sentry-media "sentry" '' %}';
            app.config.urlPrefix = {{ URL_PREFIX|to_json|safe }};
            app.config.hasRealtime = {{ hasRealtime|to_json|safe  }};
            app.config.projectId = {{ project.slug|to_json|safe }};
            app.config.viewId = {% if view %}{{ view.pk|to_json|safe }}{% else %}null{% endif %};
            </script>
        {% endblock %}

        {% if USE_JS_CLIENT and INTERNAL_PROJECT %}
            {% compress js %}
                <script type="text/javascript" src="{% url sentry-media "sentry" "scripts/lib/raven.js" %}"></script>
            {% endcompress %}
            <script type="text/javascript">
            Raven.config({{ INTERNAL_PROJECT.dsn|to_json|safe }});
            window.onerror = Raven.process;
            </script>
        {% endif %}

        {% block meta %}
        {% endblock %}
    </head>

    <body>
        {% block body %}
        {% block header %}
            {% include "sentry/header.html" %}
        {% endblock %}
        {% block page_header_block %}
            <section id="page-header" class="toolbar">
                {% block page_header %}
                    <ul class="breadcrumb">
                        <li><a href="{% url sentry %}">{% trans "Dashboard" %}</a></li>
                        {% if project %}
                            <li class="divider">/</li>
                            <li><a href="{% url sentry project.slug %}">{{ project.name }}</a></li>
                        {% endif %}
                        {% block breadcrumb %}
                        {% endblock %}
                    </ul>
                {% endblock %}
            </section>
        {% endblock %}
        <section id="content" class="{% block bodyclass %}with-sidebar{% endblock %}">
            <div class="container">
                <div class="content">
                    {% block content_before %}
                    {% endblock %}

                    {% block content %}
                        <div class="main">
                            {% block alerts %}
                                {% include "sentry/partial/alerts.html" %}
                            {% endblock %}

                            {% block main %}
                            {% endblock %}
                        </div>

                        <div class="sidebar">
                            {% block sidebar %}
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block content_after %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                {% block footer %}
                    Sentry {% sentry_version %} | Conjured up by the <a href="http://code.disqus.com">DISQUS</a> team and other noble <a href="https://github.com/getsentry/sentry/contributors">sorcerers</a>. | Sentry is <a href="https://github.com/getsentry/sentry">Open Source Software</a>
                {% endblock %}
            </div>
        </footer>
        {% endblock %}

        <div class="modal" id="modal" style="display:none">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3></h3>
          </div>
          <div class="modal-body">
          </div>
        </div>

        <script type="text/javascript">
        $(function(){
            $('.clippy').clippy({
                clippy_path: '{% url sentry-media "sentry" "clippy.swf" %}',
                keep_text: true
            });
            $('input[data-toggle="datepicker"]').datepicker();
            $('.tip').tooltip();
            $('.nav-tabs .active a').tab('show')
        });
        </script>
    </body>
</html>
