{% load i18n %}
{% load sentry_api %}
{% load sentry_dsn %}
{% load sentry_helpers %}
{% load sentry_permissions %}

{% get_sentry_version %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="robots" content="NONE,NOARCHIVE">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% url 'sentry-media' "sentry" "images/favicon.ico" %}" rel="shortcut icon" type="image/png"/>

        {% block css %}
            <link href="{% url 'sentry-media' "sentry" "dist/sentry.css" %}" rel="stylesheet"/>
            <link href="{% url 'sentry-media' 'sentry' 'vendor/platformicons/platformicons/platformicons.css' %}" type="text/css" rel="stylesheet">
        {% endblock %}

        <title>{% block title %}Sentry{% endblock %}</title>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="{% url 'sentry-media' "sentry" "scripts/lib/html5shiv.js" %}"></script>
        <![endif]-->
        {% block scripts %}
            <script>
            // Legacy app object
            window.app = {};

            window.SentryConfig = {};
            window.SentryConfig.popupCss = '{% url 'sentry-media' "sentry" 'styles/popup.css' %}';
            window.SentryConfig.mediaUrl = '{% url 'sentry-media' "sentry" '' %}';
            window.SentryConfig.urlPrefix = {{ URL_PREFIX|to_json|safe }};
            window.SentryConfig.lang = {{ request.LANGUAGE_CODE|to_json|safe }};
            {% if selectedProject %}
                window.SentryConfig.selectedProject = {% convert_to_json selectedProject %}
            {% else %}
                window.SentryConfig.selectedProject = null;
            {% endif %}
            {% if selectedTeam %}
                window.SentryConfig.selectedTeam = {% convert_to_json selectedTeam %}
            {% else %}
                window.SentryConfig.selectedTeam = null;
            {% endif %}
            {% if selectedOrganization %}
                window.SentryConfig.selectedOrganization = {% convert_to_json selectedOrganization %}
            {% else %}
                window.SentryConfig.selectedOrganization = null;
            {% endif %}
            </script>
<!--
            <script src="{% url 'sentry-media' "sentry" "dist/vendor-jquery.min.js" %}"></script>
            <script src="{% url 'sentry-media' "sentry" "dist/vendor-bootstrap.min.js" %}"></script>
            <script src="{% url 'sentry-media' "sentry" "dist/vendor-misc.min.js" %}"></script>
 -->
            <script src="{% url 'sentry-media' "sentry" "dist/vendor.js" %}"></script>
            <script src="{% url 'sentry-media' "sentry" "dist/app-react.js" %}"></script>

            {% include "sentry/includes/ravenjs.html" %}
        {% endblock %}

        {% block meta %}
        {% endblock %}
    </head>

    <body></body>
</html>
