{% extends "sentry/bases/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Login" %} | {{ block.super }}{% endblock %}

{% block wrapperclass %} {{block.super }} auth{% endblock %}

{% block footer %}{% endblock %}

{% block header_action %}
{% if CAN_REGISTER %}
<a href="{% url 'sentry-register' %}">{% trans "Create Account" %}</a>
{% endif %}
{% endblock%}

{% block content %}
  <div class="sso-toggle-container pull-right">
    <a href="#" class="sso-link sso-toggle">Looking for single sign-on?</a>
    <a href="#" class="go-back sso-toggle"><span class="icon-arrow-left"></span> Back to login</a>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="standard">
      <form class="form-stacked" action="" method="post" autocomplete="off">
        {{ form|as_crispy_errors }}

        <h3>{% trans "Sign in" %}</h3>
        {% csrf_token %}

        {% for field in form %}
        {{ field|as_crispy_field }}
        {% endfor %}

        <fieldset class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Sign in" %}</button> <a class="pull-right" style="margin-top: 9px" href="{% url 'sentry-account-recover' %}">{% trans "Lose your password?" %}</a>
        </fieldset>
      </form>
    </div>
    <div class="tab-pane" id="sso">
      <h3>Single sign-on</h3>
      <form class="form-stacked" method="post">
        {% csrf_token %}
        <input type="hidden" name="op" value="sso" />
        <div class="control-group">
          <div class="controls">
            <label style="display: block">SSO URL</label>
            <span style="padding: 7px 0; font-size: 15px">app.getsentry.com/</span> <input style="width: 240px; margin: 0 0 4px; padding: 5px 8px; display: inline" type="text" class="form-control" name="organization" placeholder="acme">
            <p class="help-block">Enter your organization's ID and we'll get things started.</p>
          </div>
        </div>
        <div class="form-actions" style="margin-top: 25px">
          <button class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    $('.sso-toggle').click(function(e) {
      e.preventDefault();
      $("body").toggleClass('show-sso');
    });
  </script>
{% endblock %}
