{% extends "sentry/bases/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Login" %} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-6" style="border-right: 3px solid #f1f2f3; padding-right: 30px;">
            <form class="form-stacked" action="." method="post">
                {{ form|as_crispy_errors }}

                <h2>{% trans "Login with your Sentry account" %}</h2>

                {% csrf_token %}

                {% for field in form %}
                    {{ field|as_crispy_field }}
                {% endfor %}

                {% if CAN_REGISTER %}
                    <p class="help-block">
                        <a href="{% url 'sentry-account-recover' %}">{% trans "Lose your password?" %}</a>
                    </p>
                {% endif %}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" style="min-width: 110px; text-align: center">{% trans "Login" %}</button>
                    <span class="btn" style="cursor: default">or</span>
                    <a href="{% url 'sentry-register' %}" class="btn btn-default">{% trans "Create a new account" %}</a>
                </div>
            </form>
        </div>
        {% if AUTH_PROVIDERS %}
            <div class="col-xs-6" style="padding-left: 30px;">
                <h2>
                    {% if SOCIAL_AUTH_CREATE_USERS %}
                        {% trans "Login or Register using another service" %}
                    {% else %}
                        {% trans "Login using another service" %}
                    {% endif %}
                </h2>
                {% url 'sentry-account-settings-identities' as identities_link %}
                <p>{% blocktrans with identities_link as link %}If you already have an account, you can associate a social identity in the
                    <a href="{{ link }}">identities</a> page in your account settings (after you login).{% endblocktrans %}</p>
                <br>
                <ul class="auth-options">
                    {% for engine in AUTH_PROVIDERS %}
                        <li><strong><a href="{% url 'socialauth_begin' engine %}" class="auth-{{ engine }}">Sign in with {{ engine|title }}</a></strong></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
