{% extends "sentry/bases/auth.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_auth %}
{% load sentry_avatars %}

{% block title %}{% trans "Authorize Application" %} | {{ block.super }}{% endblock %}

{% block auth_main %}
  <div class="sso-link">
    {% avatar user %}
    <span class="icon-arrow-right"></span>
    <span class="icon-arrow-left"></span>
    <span class="avatar">
      APP
    </span>
  </div>

  <form class="form-stacked" action="" method="post" autocomplete="off">
    {% csrf_token %}

    <div>
      <p>{{ app.name }} is requesting access to your Sentry account:</p>
      <ul>
        {% for permission in permissions %}
          <li>{{ permission }}</li>
        {% endfor %}
      </ul>
    </div>

    <fieldset class="form-actions">
      <button type="submit" class="btn btn-primary" name="op" value="approve">{% trans "Approve" %}</button>
      <button type="submit" class="btn btn-danger" name="op" value="deny">{% trans "Deny" %}</button>
    </fieldset>
  </form>
{% endblock %}
