{% extends "sentry/bases/organization.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Members" %} | {{ block.super }}{% endblock %}

{% block org_members_nav %} class="active"{% endblock %}

{% block main %}
    <section class="body">
        <div class="page-header">
            <h2>Members</h2>
        </div>

        <p>{% blocktrans %}Members of your organization gain slightly elevated permissions over individual team members. For example, organization administrators can create new teams as well as manage all organization settings (including the list of admins).{% endblocktrans %}</p>

        <br>

        <table class="table table-striped">
            {% for member in member_list %}
                <tr>
                    <td width="20">
                        <img class="avatar" src="{% gravatar_url member.user.email size 20 %}">
                    </td>
                    <td>
                        {{ member.user.get_display_name }}
                    </td>
                    <td width="100">
                        {{ member.get_type_display }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
