{% extends "sentry/bases/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Member Settings" %} | {{ block.super }}{% endblock %}

{% block main %}
  <div class="page-header">
    <a class="back-arrow" style="top: 0px;" href="{% url 'sentry-organization-members' organization.slug %}"><span class="icon-arrow-left"></span></a>
    <h2>
      {{ member.get_display_name }}
      <br><small>Member Settings</small>
    </h2>
  </div>

  <form class="form-stacked" action="" method="post">
    {% csrf_token %}

    {% if form.errors %}
      <div class="alert alert-error">{% trans "Please correct the errors below." %}</div>
    {% endif %}

    {{ form|as_crispy_errors }}

    <div class="row">
      <div class="control-group col-md-4">
        <label>{% trans "Email" %}</label>
        <div class="controls">
          {% if member.get_email %}
            <a href="mailto:{{ member.get_email }}">{{ member.get_email }}</a>
          {% else %}
            No email provided
          {% endif %}
        </div>
      </div>

      <div class="control-group col-md-4">
        <label>{% trans "Status" %}</label>
        <div class="controls">
          {% if member.is_pending %}
            Invited
          {% else %}
            Active
          {% endif %}
        </div>
      </div>
      <div class="control-group col-md-4">
      {{ form.type|as_crispy_field }}
      </div>
    </div>

    <div class="box">
      <div class="box-header">
        <div class="pull-right" style="margin-top: 28px; font-size: 85%; line-height: .5;">{{ form.has_global_access|as_crispy_field }}</div>
        <h3>
          {% trans "Teams" %}
        </h3>
      </div>
      <div class="box-content with-padding">
        <fieldset class="team-choices row">
          {% for team_id, team_name in form.teams.field.choices %}
            <div class="control-group col-md-4">
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" name="teams" value="{{ team_id }}"
                         class="checkboxinput"{% if team_id in form.teams.value %} checked="checked"{% endif %}>
                    {{ team_name }}
                  </label>
              </div>
            </div>
          {% endfor %}
        </fieldset>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" name="op" value="reinvite" class="btn btn-default">{% trans "Resend Invite" %}</button>
      <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
    </div>
  </form>
{% endblock %}

{% block content_after %}
  <script>
  $(function(){
    var selector = $('.team-choices input[type=checkbox]');
    var selectedTeams = $('.team-choices input[type=checkbox]:checked').slice(0);
    $('#id_has_global_access').change(function(){
      var $this = $(this);
      var checked = $this.is(':checked');

      if (checked) {
        selectedTeams = $('.team-choices input[type=checkbox]:checked').slice(0);
        selector.prop('checked', true);
      } else {
        selector.prop('checked', false);
        $(selectedTeams).prop('checked', true);
        selectedTeams = [];
      }

      $('.team-choices').prop('disabled', checked);
    }).change();
  });
  </script>
{% endblock %}
