{% extends "sentry/bases/organization.html" %}

{% load i18n %}

{% block org_auth_settings_nav %}active{% endblock %}

{% block inner %}
  <div class="page-header">
    <h2>Authentication</h2>
  </div>

  <form method="POST">
    {% csrf_token %}
    <ul>
      {% for provider_key, provider_name in provider_list %}
        <li>
          <button type="submit" name="provider" value="{{ provider_key }}"
                  class="btn btn-default">{{ provider_name }}</button>
        </li>
      {% endfor %}
    </ul>
  </form>
{% endblock %}
