{% extends "sentry/bases/organization.html" %}

{% load i18n %}

{% block title %}{% trans "Auth" %} | {{ block.super }}{% endblock %}

{% block org_auth_settings_nav %}active{% endblock %}

{% block main %}
<div class="sso">
  <h2>Authentication</h2>

  <div class="box">
    <div class="box-header"><h3>Choose a provider</h3></div>
      <div class="box-content with-padding">

      <p>Get started with Single Sign-on for your organization by selecting a provider. For more information on SSO please see our <a href="https://docs.getsentry.com">documentation</a>.</p>

      {% if provider_list %}
        <form method="POST">
          {% csrf_token %}
          <ul class="simple-list list-unstyled">
            {% for provider_key, provider_name in provider_list %}
              <li>
                <div class="provider-logo {{ provider_name | lower }}"></div>
                <button type="submit" name="provider" value="{{ provider_key }}" class="btn btn-default pull-right">Configure</button>
                <h4>{{ provider_name }}</h4>
                <p>Enable your organization to sign in with {{ provider_name }}.</p>
              </li>
            {% endfor %}
          </ul>
        </form>
      {% else %}
        <p style="padding: 50px; text-align: center;">No authentication providers are available.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
