{% extends "sentry/bases/organization.html" %}

{% load i18n %}

{% block org_auth_settings_nav %}active{% endblock %}

{% block inner %}
<div class="sso">
  <div class="page-header border-bottom">
    <h2>Authentication</h2>
  </div>

  <h3>Choose a provider</h3>

  <p>Get started with Single Sign-on for your organization by selecting a provider. For more information on SSO please see our <a href="{% url 'sentry-help' %}">documentation</a>.</p>

  <br>

  {% if provider_list %}
    <form method="POST">
      {% csrf_token %}
      <ul class="simple-list">
        {% for provider_key, provider_name in provider_list %}
          <li>
            <div class="provider-logo {{ provider_name | lower }}"></div>
            <button type="submit" name="provider" value="{{ provider_key }}" class="btn btn-default pull-right">Configure</button>
            <h4>{{ provider_name }}</h4>
            <p>Enable your organization to sign in with {{ provider_name }}.</p>
          </li>
        {% endfor %}
      </ul>
    </form>
  {% else %}
    <p>No authentication providers are available.</p>
  {% endif %}
</div>
{% endblock %}
