{% extends "sentry/bases/organization.html" %}

{% load i18n %}

{% block title %}{% trans "Pending Access Requests" %} | {{ block.super }}{% endblock %}

{% block org_members_nav %}active{% endblock %}

{% block inner %}
  <div class="page-header">
    <h2>{% trans "Pending Access Requests" %}</h2>
  </div>

  {% if request_list %}
    <p>The following access requests are waiting approval by an organization admin.</p>

    <ul class="access-request-list">
      {% for access_request in request_list %}
        <li>
          <div class="pull-right">
            <a href="#" class="btn btn-primary"
               data-action="approve" data-id="{{ access_request.id }}">Approve</a>
            <a href="#" class="btn btn-default"
               data-action="deny" data-id="{{ access_request.id }}">Deny</a>
          </div>
          <strong>{{ access_request.member.user.get_display_name }}</strong> requests access to the <strong>{{ access_request.team.name }}</strong> team.
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no pending access requests.</p>
  {% endif %}

  <script>
  $(function(){
    $('.access-request-list > li a').click(function(e){
      var $el = $(this);
      if (!$el.data('action')) {
        return;
      }
      e.preventDefault();

      $.ajax({
        method: 'PUT',
        url: app.config.urlPrefix + '/api/0/organizations/' + app.config.organizationId + '/access-requests/' + $el.data('id') + '/',
        contentType: 'application/json',
        data: JSON.stringify({
          isApproved: $el.data('action') === 'approve'
        }),
        success: function() {
          $el.parents('li').remove();
        },
        error: function() {
          window.alert('We were unable to act on the access request. Maybe someone else beat you to it?');
        }
      });
    });
  });
  </script>
{% endblock %}
