{% extends "sentry/bases/organization.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Admins" %} | {{ block.super }}{% endblock %}

{% block org_members_nav %} class="active"{% endblock %}

{% block main %}
    <section class="body">
        <table class="table table-striped">
            <colgroup>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>{% trans "User" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for member in member_list %}
                    <tr>
                        <td>
                            {{ member.user.get_display_name }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
