{% extends "sentry/projects/manage.html" %}

{% load i18n %}
{% load sentry_helpers %}
{% load sentry_plugins %}

{% block title %}{% trans "Release Tracking" %} | {{ block.super }}{% endblock %}

{% block inner %}
  <div class="page-header">
    <h2>{% trans "Release Tracking" %}</h2>
  </div>
  <p>Configure release tracking for this project to automatically record new releases of your application.</p>

  {% if enabled_plugins or other_plugins %}
    <form method="POST">
      {% csrf_token %}
      <fieldset>
        <legend>Token</legend>
        <p>Your token is a unique secret which is used to generate deploy hook URLs. If a service becomes compromised, you should regenerate the token and re-configure any deploy hooks with the newly generated URL.</p>
        <pre style="display:inline-block;margin-bottom:0" class="clippy">{{ token }}</pre>
        <button type="submit" class="btn btn-small btn-danger" name="op" value="regenerate-token">Regenerate Token</button>
      </fieldset>
    </form>

    {% for plugin, content in enabled_plugins %}
      <fieldset class="integration-settings">
        <legend>
          {{ plugin.get_title }}
          {% if plugin.can_disable %}
            <form method="POST" style="display: inline-block">
              {% csrf_token %}
              <input type="hidden" name="plugin" value="{{ plugin.slug }}" />
              <button type="submit" class="btn btn-small btn-default" name="op" value="disable">Disable</button>
            </form>
          {% endif %}
        </legend>
        {{ content }}
      </fieldset>
    {% endfor %}

    {% if other_plugins %}
      <fieldset>
        <legend>Inactive Integrations</legend>

        <ul class="integration-list unstyled">
          {% for plugin in other_plugins %}
            <li>
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="op" value="enable" />
                <input type="hidden" name="plugin" value="{{ plugin.slug }}" />
                <button type="submit">{{ plugin.get_title }}</button>
              </form>
            </li>
          {% endfor %}
        </ul>
      </fieldset>
    {% endif %}
  {% endif %}

  <fieldset>
    <legend>API</legend>

    <p>You can notify Sentry when you release new versions of your application via our HTTP API.</p>

    <p>See the <a href="{% url 'sentry-api-0-help-section' 'releases' %}">Releases API documentation</a> for more information.</p>
  </fieldset>
{% endblock %}
