{% extends "sentry/bases/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Register" %} | {{ block.super }}{% endblock %}

{% block wrapperclass %}windowed-small{% endblock %}

{% block footer %}{% endblock %}

{% block main %}
    <section class="body">
        {{ form|as_crispy_errors }}

        <form class="form-stacked" action="" method="post" autocomplete="off">
            <fieldset>
                <legend style="border: 0">{% trans "Create a new account" %}</legend>
            </fieldset>

            {% csrf_token %}
            {{ form|as_crispy_errors }}
            {% for field in form %}
                {{ field|as_crispy_field }}
            {% endfor %}

            <fieldset class="form-actions">
                <div class="pull-right" style="margin-top: 5px;">
                    <a href="{% url 'sentry-login' %}">{% trans "Already have an account?" %}</a>
                </div>
                <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
            </fieldset>
        </form>
    </section>
{% endblock %}
