{% extends "sentry/bases/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Register" %} | {{ block.super }}{% endblock %}

{% block content %}
    <section class="body">
        {{ form|as_crispy_errors }}

        <div class="row">
            <div class="col-xs-6">
                <form class="form-stacked" action="." method="post">
                    <h2>{% trans "Create a new account" %}</h2>

                    {% csrf_token %}
                    {{ form|as_crispy_errors }}
                    {% for field in form %}
                        {{ field|as_crispy_field }}
                    {% endfor %}

                    <fieldset class="form-actions">
                        <div class="pull-right" style="margin-top: 6px;">
                            <a href="{% url 'sentry-login' %}">{% trans "Login as an existing user" %}</a>
                        </div>
                        <button type="submit" class="btn btn-primary">{% trans "Create account" %}</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
