{% extends "sentry/bases/modal.html" %}

{% load i18n %}

{% block title %}{% trans "Restore Organization" %} | {{ block.super }}{% endblock %}

{% block main %}
  <section class="body">
    <h3>{% trans "Deletion Scheduled" %}</h3>
    {% if pending_deletion %}
    <form class="form-stacked" action="" method="post">
      {% csrf_token %}
      <p>The <strong>{{ deleting_organization.name }}</strong> organization is currently scheduled for deletion.</p>
      <p>{% blocktrans %}Would you like to cancel this process and restore the organization back to the original state{% endblocktrans %}</p>
      <p><button type="submit" class="btn btn-primary">{% trans "Restore Organization" %}</button></p>
      <p>{% blocktrans %}Note: Restoration is available until deletion has started. Once it begins, there's no recovering the data that has been removed.{% endblocktrans %}</p>
    </form>
    {% else %}
    <p>{% blocktrans %}Sorry, but this organization is currently in progress of being deleted. No turning back.{% endblocktrans %} :(</p>
    {% endif %}
  </section>
{% endblock %}
