{% extends "sentry/bases/modal.html" %}

{% load i18n %}

{% block bodyclass %}team-index {{ block.super }}{% endblock %}

{% block main %}
    <section class="body">
        {% if org_list %}
            {% for org, team_list in org_list %}
                {% if can_create_teams %}
                <div class="pull-right">
                    <a href="{% url 'sentry-organization-settings' org.id %}" class="btn btn-default">{% trans "Settings" %}</a>
                    <a href="{% url 'sentry-new-team' org.id %}" class="btn btn-default">{% trans "New Team" %}</a>
                </div>
                {% endif %}
                <h2>{{ org.name }}</h2>
                <ul class="team-list">
                    {% for team, project_list in team_list %}
                        <li>
                            <div class="chart" data-api-url="{% url 'sentry-api-0-team-stats' team.id %}">
                                <div class="sparkline">
                                    <noscript>{% trans "Get yourself some JavaScripts dood" %}</noscript>
                                    <span class="loading">{% trans "Loading historical data..." %}</span>
                                </div>
                            </div>
                            <h3><a href="{% url 'sentry' team.slug %}">{{ team.name }}</a></h3>
                            <ul>
                                {% for project in project_list %}
                                    <li><a href="{% url 'sentry-stream' team.slug project.slug %}">{{ project.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% else %}
            <div class="alert alert-info">{% trans "You are not a member of any teams." %}</div>
        {% endif %}
    </section>
{% endblock %}

{% block content_after %}
    <script type="text/javascript">
    $(function(){
        new app.SelectTeamPage();
    })
    </script>
{% endblock %}
