{% extends "sentry/bases/modal.html" %}

{% load i18n %}

{% block title %}Your teams | {{ block.super }}{% endblock %}

{% block bodyclass %}team-index {{ block.super }}{% endblock %}

{% block controller %}TeamListCtrl{% endblock %}

{% block logo %}<a id="logo" href="{% url 'sentry' %}" style="font-size: 22px;"><span class="icon-sentry-logo-full"></span></a>{% endblock %}

{% block content %}
  {% if team_list %}
      <h2><span class="icon-building" style="padding-right: 5px; position: relative; top: 1px; font-size: 24px; opacity: .5"></span> Sentry</h2>
      {% if can_create_teams %}
        <a href="{% url 'sentry-new-team' %}" class="btn btn-primary btn-sm pull-right">{% trans "Create a New Team" %}</a>
      {% endif %}
      <ul class="nav nav-tabs" style="margin-bottom: 30px;">
        <li class="active"><a href="#">Teams</a></li>
        <li class=""><a href="#">Members</a></li>
        <li class=""><a href="#">Admin</a></li>
      </ul>
      <div class="team-list">
          {% for team, project_list in team_list %}
            <div class="box" id="team-{{ team.id }}">
              <div class="box-header">
                <h3>
                    <a href="{% url 'sentry' team.slug %}">{{ team.name }}</a> <a href="#" class="team-settings-toggle"><span class="icon-settings"></span></a>
                    {% if team.status %}
                        <small>{{ team.get_status_display }}</small>
                    {% endif %}
                </h3>
              </div>
              <div class="box-content with-padding team-settings">
                <div class="row">
                  <div class="col-sm-7">
                    <form role="form">
                      <div class="form-group">
                        <label for="teamName">Team name</label>
                        <input type="text" class="form-control" id="teamName" value="{{ team.name }}">
                      </div>
                      <div class="form-group">
                        <label for="teamSlug">Slug</label>
                        <input type="text" class="form-control" id="teamSlug" value="{{ team.slug }}">
                      </div>
                      <div class="form-group">
                        <label for="teamOwner">Owner</label>
                        <select id="teamOwner">
                          <option value="dcramer">dcramer</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="col-sm-5"></div>
                </div>
                <div class="form-actions" style="padding: 15px;">
                  <a href="#" class="btn btn-default team-settings-cancel">Cancel</a> <a href="#" class="btn btn-primary">Save</a>
                </div>
              </div>
              <div class="box-content with-padding team-list">
                <div class="chart" data-api-url="{% url 'sentry-api-0-team-stats' team.id %}">
                    <div class="sparkline">
                        <noscript>{% trans "Get yourself some JavaScripts dood" %}</noscript>
                        <span class="loading">{% trans "Loading historical data..." %}</span>
                    </div>
                </div>
                <ul>
                    {% for project in project_list %}
                        <li><a href="{% url 'sentry-stream' team.slug project.slug %}">{{ project.name }}</a></li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          {% endfor %}
      </div>
  {% else %}
      <div class="alert alert-info">{% trans "You are not a member of any teams." %}</div>
  {% endif %}
{% endblock %}
