{% extends "sentry/bases/modal.html" %}

{% load i18n %}

{% block title %}{% trans "Slack Linked" %} | {{ block.super }}{% endblock %}
{% block wrapperclass %}narrow auth{% endblock %}

{% block main %}
  <div class="align-center">
    <p>
      {% trans "Your Slack identity has been associated with your Sentry account. You may now take actions through Slack!" %}
    </p>
    <p>
      <a href="slack://channel?id={{ channel_id }}&team={{ team_id }}" class="btn btn-default btn-login-slack">
        <span class="provider-logo slack"></span> Go back to Slack
      </a>
    </p>
  </div>
{% endblock %}
