{
  "openapi": "3.0.1",
  "info": {
    "title": "API Reference",
    "description": "Sentry Public API",
    "termsOfService": "http://sentry.io/terms/",
    "contact": {
      "email": "partners@sentry.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://sentry.io/"
    }
  ],
  "tags": [
    {
      "name": "Teams",
      "description": "Endpoints for teams",
      "externalDocs": {
        "description": "Found an error? Let us know.",
        "url": "https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/teams/&template=api_error_template.md"
      }
    },
    {
      "name": "Organizations",
      "description": "Endpoints for organizations",
      "externalDocs": {
        "description": "Found an error? Let us know.",
        "url": "https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/organizations/&template=api_error_template.md"
      }
    },
    {
      "name": "Projects",
      "description": "Endpoints for projects",
      "externalDocs": {
        "description": "Found an error? Let us know.",
        "url": "https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/projects/&template=api_error_template.md"
      }
    },
    {
      "name": "Events",
      "x-sidebar-name": "Events & Issues",
      "description": "Endpoints for events and issues",
      "externalDocs": {
        "description": "Found an error? Let us know.",
        "url": "https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/events/&template=api_error_template.md"
      }
    },
    {
      "name": "Releases",
      "description": "Endpoints for releases",
      "externalDocs": {
        "description": "Found an error? Let us know.",
        "url": "https://github.com/getsentry/sentry-docs/issues/new/?title=API%20Documentation%20Error:%20/api/releases/&template=api_error_template.md"
      }
    }
  ],
  "paths": {
    "/api/0/organizations/{organization_slug}/teams/": {
      "get": {
        "tags": [
          "Teams"
        ],
        "description": "Returns a list of teams bound to a organization.",
        "operationId": "List an Organization's Teams",
        "parameters": [
          {
            "name": "organization_slug",
            "in": "path",
            "description": "The slug of the organization for which the teams should be listed.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "&cursor",
            "in": "query",
            "required": false,
            "description": "A pointer to the last object fetched and its' sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "avatar",
                      "dateCreated",
                      "hasAccess",
                      "id",
                      "isMember",
                      "isPending",
                      "memberCount",
                      "name",
                      "projects",
                      "slug"
                    ],
                    "properties": {
                      "avatar": {
                        "type": "object",
                        "properties": {
                          "avatarType": {
                            "type": "string"
                          },
                          "avatarUuid": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "dateCreated": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "hasAccess": {
                        "type": "boolean"
                      },
                      "id": {
                        "type": "string"
                      },
                      "isMember": {
                        "type": "boolean"
                      },
                      "isPending": {
                        "type": "boolean"
                      },
                      "memberCount": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "name": {
                        "type": "string"
                      },
                      "projects": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "avatar",
                            "color",
                            "dateCreated",
                            "features",
                            "firstEvent",
                            "hasAccess",
                            "id",
                            "isBookmarked",
                            "isInternal",
                            "isMember",
                            "isPublic",
                            "name",
                            "platform",
                            "slug",
                            "status"
                          ],
                          "properties": {
                            "avatar": {
                              "type": "object",
                              "properties": {
                                "avatarType": {
                                  "type": "string"
                                },
                                "avatarUuid": {
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            },
                            "color": {
                              "type": "string"
                            },
                            "dateCreated": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "features": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "firstEvent": {
                              "type": "string",
                              "nullable": true
                            },
                            "hasAccess": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "isBookmarked": {
                              "type": "boolean"
                            },
                            "isInternal": {
                              "type": "boolean"
                            },
                            "isMember": {
                              "type": "boolean"
                            },
                            "isPublic": {
                              "type": "boolean"
                            },
                            "name": {
                              "type": "string"
                            },
                            "platform": {
                              "type": "string",
                              "nullable": true
                            },
                            "slug": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "active",
                                "disabled",
                                "pending_deletion",
                                "deletion_in_progress"
                              ]
                            }
                          }
                        }
                      },
                      "slug": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "avatar": {
                      "avatarType": "letter_avatar",
                      "avatarUuid": null
                    },
                    "dateCreated": "2018-11-06T21:20:08.115Z",
                    "hasAccess": true,
                    "id": "3",
                    "isMember": true,
                    "isPending": false,
                    "memberCount": 1,
                    "name": "Ancient Gabelers",
                    "projects": [],
                    "slug": "ancient-gabelers"
                  },
                  {
                    "avatar": {
                      "avatarType": "letter_avatar",
                      "avatarUuid": null
                    },
                    "dateCreated": "2018-11-06T21:19:55.114Z",
                    "hasAccess": true,
                    "id": "2",
                    "isMember": true,
                    "isPending": false,
                    "memberCount": 1,
                    "name": "Powerful Abolitionist",
                    "projects": [
                      {
                        "avatar": {
                          "avatarType": "letter_avatar",
                          "avatarUuid": null
                        },
                        "color": "#bf5b3f",
                        "dateCreated": "2018-11-06T21:19:58.536Z",
                        "features": [
                          "releases",
                          "sample-events",
                          "minidump",
                          "servicehooks",
                          "rate-limits",
                          "data-forwarding"
                        ],
                        "firstEvent": null,
                        "hasAccess": true,
                        "id": "3",
                        "isBookmarked": false,
                        "isInternal": false,
                        "isMember": true,
                        "isPublic": false,
                        "name": "Prime Mover",
                        "platform": null,
                        "slug": "prime-mover",
                        "status": "active"
                      },
                      {
                        "avatar": {
                          "avatarType": "letter_avatar",
                          "avatarUuid": null
                        },
                        "color": "#3fbf7f",
                        "dateCreated": "2018-11-06T21:19:55.121Z",
                        "features": [
                          "releases",
                          "sample-events",
                          "minidump",
                          "servicehooks",
                          "rate-limits",
                          "data-forwarding"
                        ],
                        "firstEvent": null,
                        "hasAccess": true,
                        "id": "2",
                        "isBookmarked": false,
                        "isInternal": false,
                        "isMember": true,
                        "isPublic": false,
                        "name": "Pump Station",
                        "platform": null,
                        "slug": "pump-station",
                        "status": "active"
                      },
                      {
                        "avatar": {
                          "avatarType": "letter_avatar",
                          "avatarUuid": null
                        },
                        "color": "#bf6e3f",
                        "dateCreated": "2018-11-06T21:20:08.064Z",
                        "features": [
                          "servicehooks",
                          "sample-events",
                          "data-forwarding",
                          "rate-limits",
                          "minidump"
                        ],
                        "firstEvent": null,
                        "hasAccess": true,
                        "id": "4",
                        "isBookmarked": false,
                        "isInternal": false,
                        "isMember": true,
                        "isPublic": false,
                        "name": "The Spoiled Yoghurt",
                        "platform": null,
                        "slug": "the-spoiled-yoghurt",
                        "status": "active"
                      }
                    ],
                    "slug": "powerful-abolitionist"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Permission Denied"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "auth_token": [
              "team:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "description": "Create a new team bound to an organization. Only the name of the team is needed to create it, the slug can be auto generated.",
        "operationId": "Create a New Team",
        "parameters": [
          {
            "name": "organization_slug",
            "in": "path",
            "description": "The slug of the organization the team should be created for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the team."
                  },
                  "slug": {
                    "type": "string",
                    "description": "The optional slug for this team. If not provided it will be auto generated from the name."
                  }
                }
              },
              "example": {
                "name": "Ancient Gabelers",
                "slug": "ancient-gabelers"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "avatar",
                    "dateCreated",
                    "hasAccess",
                    "id",
                    "isMember",
                    "isPending",
                    "memberCount",
                    "name",
                    "slug"
                  ],
                  "properties": {
                    "avatar": {
                      "type": "object",
                      "properties": {
                        "avatarType": {
                          "type": "string"
                        },
                        "avatarUuid": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "dateCreated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "hasAccess": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "isMember": {
                      "type": "boolean"
                    },
                    "isPending": {
                      "type": "boolean"
                    },
                    "memberCount": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "memberCount": 0,
                  "name": "Ancient Gabelers",
                  "isMember": false,
                  "hasAccess": true,
                  "isPending": false,
                  "dateCreated": "2020-08-19T21:46:47.877073Z",
                  "id": "542610",
                  "avatar": {
                    "avatarUuid": null,
                    "avatarType": "letter_avatar"
                  },
                  "slug": "ancient-gabelers"
                }
              }
            }
          },
          "400": {
            "description": "Bad input"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Team slug already exists"
          }
        },
        "security": [
          {
            "auth_token": [
              "team:write"
            ]
          }
        ]
      }
    },
    "/api/0/teams/{organization_slug}/{team_slug}/": {
      "get": {
        "tags": [
          "Teams"
        ],
        "description": "Return details on an individual team.",
        "operationId": "Retrieve a Team",
        "parameters": [
          {
            "name": "organization_slug",
            "in": "path",
            "description": "The slug of the organization the team belongs to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_slug",
            "in": "path",
            "description": "The slug of the team to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "avatar",
                    "dateCreated",
                    "hasAccess",
                    "id",
                    "isMember",
                    "isPending",
                    "memberCount",
                    "name",
                    "slug",
                    "organization"
                  ],
                  "properties": {
                    "avatar": {
                      "type": "object",
                      "properties": {
                        "avatarType": {
                          "type": "string"
                        },
                        "avatarUuid": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "dateCreated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "hasAccess": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "isMember": {
                      "type": "boolean"
                    },
                    "isPending": {
                      "type": "boolean"
                    },
                    "memberCount": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "organization": {
                      "type": "object",
                      "required": [
                        "avatar",
                        "dateCreated",
                        "id",
                        "isEarlyAdopter",
                        "name",
                        "require2FA",
                        "slug",
                        "status"
                      ],
                      "properties": {
                        "avatar": {
                          "type": "object",
                          "properties": {
                            "avatarType": {
                              "type": "string"
                            },
                            "avatarUuid": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "dateCreated": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "id": {
                          "type": "string"
                        },
                        "isEarlyAdopter": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string"
                        },
                        "require2FA": {
                          "type": "boolean"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "status": {
                          "type": "object",
                          "required": [
                            "id",
                            "name"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "avatar": {
                    "avatarType": "letter_avatar",
                    "avatarUuid": null
                  },
                  "dateCreated": "2018-11-06T21:19:55.114Z",
                  "hasAccess": true,
                  "id": "2",
                  "isMember": true,
                  "isPending": false,
                  "memberCount": 1,
                  "name": "Powerful Abolitionist",
                  "organization": {
                    "avatar": {
                      "avatarType": "letter_avatar",
                      "avatarUuid": null
                    },
                    "dateCreated": "2018-11-06T21:19:55.101Z",
                    "id": "2",
                    "isEarlyAdopter": false,
                    "name": "The Interstellar Jurisdiction",
                    "require2FA": false,
                    "slug": "the-interstellar-jurisdiction",
                    "status": {
                      "id": "active",
                      "name": "active"
                    }
                  },
                  "slug": "powerful-abolitionist"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Team not found"
          }
        },
        "security": [
          {
            "auth_token": [
              "team:read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Teams"
        ],
        "description": "Update various attributes and configurable settings for the given team.",
        "operationId": "Update a Team",
        "parameters": [
          {
            "name": "organization_slug",
            "in": "path",
            "description": "The slug of the organization the team belongs to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_slug",
            "in": "path",
            "description": "The slug of the team to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name for the team."
                  },
                  "slug": {
                    "type": "string",
                    "description": "A new slug for the team. It has to be unique and available."
                  }
                }
              },
              "example": {
                "name": "The Inflated Philosophers",
                "slug": "the-inflated-philosophers"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "avatar",
                    "dateCreated",
                    "hasAccess",
                    "id",
                    "isMember",
                    "isPending",
                    "memberCount",
                    "name",
                    "slug"
                  ],
                  "properties": {
                    "avatar": {
                      "type": "object",
                      "properties": {
                        "avatarType": {
                          "type": "string"
                        },
                        "avatarUuid": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "dateCreated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "hasAccess": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "isMember": {
                      "type": "boolean"
                    },
                    "isPending": {
                      "type": "boolean"
                    },
                    "memberCount": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "avatar": {
                    "avatarType": "letter_avatar"
                  },
                  "dateCreated": "2018-11-06T21:20:08.115Z",
                  "hasAccess": true,
                  "id": "3",
                  "isMember": false,
                  "isPending": false,
                  "memberCount": 1,
                  "name": "The Inflated Philosophers",
                  "slug": "the-inflated-philosophers"
                }
              }
            }
          },
          "400": {
            "description": "Bad Input"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Team not found"
          }
        },
        "security": [
          {
            "auth_token": [
              "team:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Teams"
        ],
        "description": "Schedules a team for deletion.\n\nNote: Deletion happens asynchronously and therefore is not immediate. However once deletion has begun the state of a project changes and will be hidden from most public views.",
        "operationId": "Delete a Team",
        "parameters": [
          {
            "name": "organization_slug",
            "in": "path",
            "description": "The slug of the organization the team belongs to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_slug",
            "in": "path",
            "description": "The slug of the team to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Team not found"
          }
        },
        "security": [
          {
            "auth_token": [
              "team:admin"
            ]
          }
        ]
      }
    },
    "/api/0/teams/{organization_slug}/{team_slug}/projects/": {
      "get": {
        "tags": [
          "Teams"
        ],
        "description": "Return a list of projects bound to a team.",
        "operationId": "List a Team's Projects",
        "parameters": [
          {
            "name": "organization_slug",
            "in": "path",
            "description": "The slug of the organization the team belongs to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_slug",
            "in": "path",
            "description": "The slug of the team to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "&cursor",
            "in": "query",
            "required": false,
            "description": "A pointer to the last object fetched and its' sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "dateCreated",
                      "features",
                      "firstEvent",
                      "hasAccess",
                      "id",
                      "isBookmarked",
                      "isMember",
                      "name",
                      "platform",
                      "slug",
                      "team",
                      "teams",
                      "latestDeploys"
                    ],
                    "properties": {
                      "dateCreated": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "features": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "firstEvent": {
                        "type": "string",
                        "nullable": true
                      },
                      "hasAccess": {
                        "type": "boolean"
                      },
                      "id": {
                        "type": "string"
                      },
                      "isBookmarked": {
                        "type": "boolean"
                      },
                      "isMember": {
                        "type": "boolean"
                      },
                      "name": {
                        "type": "string"
                      },
                      "platform": {
                        "type": "string",
                        "nullable": true
                      },
                      "slug": {
                        "type": "string"
                      },
                      "team": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "slug"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          }
                        }
                      },
                      "teams": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "id",
                            "name",
                            "slug"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "latestDeploys": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                },
                "example": [
                  {
                    "slug": "the-spoiled-yoghurt",
                    "name": "The Spoiled Yoghurt",
                    "hasAccess": true,
                    "teams": [
                      {
                        "id": "542609",
                        "name": "Powerful Abolitionist",
                        "slug": "powerful-abolitionist"
                      }
                    ],
                    "platform": null,
                    "firstEvent": null,
                    "isMember": false,
                    "team": {
                      "id": "542609",
                      "name": "Powerful Abolitionist",
                      "slug": "powerful-abolitionist"
                    },
                    "dateCreated": "2020-08-20T14:36:34.171255Z",
                    "isBookmarked": false,
                    "id": "5398494",
                    "latestDeploys": null,
                    "features": [
                      "custom-inbound-filters",
                      "discard-groups",
                      "rate-limits",
                      "data-forwarding",
                      "similarity-view",
                      "issue-alerts-targeting",
                      "servicehooks",
                      "minidump",
                      "similarity-indexing"
                    ]
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Team not found"
          }
        },
        "security": [
          {
            "auth_token": [
              "project:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "description": "Create a new project bound to a team.",
        "operationId": "Create a New Project",
        "parameters": [
          {
            "name": "organization_slug",
            "in": "path",
            "description": "The slug of the organization the team belongs to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_slug",
            "in": "path",
            "description": "The slug of the team to create a new project for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name for the new project."
                  },
                  "slug": {
                    "type": "string",
                    "description": "Optional slug for the new project. If not provided a slug is generated from the name."
                  }
                }
              },
              "example": {
                "name": "The Spoiled Yoghurt",
                "slug": "the-spoiled-yoghurt"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "avatar",
                    "color",
                    "dateCreated",
                    "features",
                    "firstEvent",
                    "hasAccess",
                    "id",
                    "isBookmarked",
                    "isInternal",
                    "isMember",
                    "isPublic",
                    "name",
                    "platform",
                    "slug",
                    "status"
                  ],
                  "properties": {
                    "avatar": {
                      "type": "object",
                      "properties": {
                        "avatarType": {
                          "type": "string"
                        },
                        "avatarUuid": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "color": {
                      "type": "string"
                    },
                    "dateCreated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "firstEvent": {
                      "type": "string",
                      "nullable": true
                    },
                    "hasAccess": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "isBookmarked": {
                      "type": "boolean"
                    },
                    "isInternal": {
                      "type": "boolean"
                    },
                    "isMember": {
                      "type": "boolean"
                    },
                    "isPublic": {
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string"
                    },
                    "platform": {
                      "type": "string",
                      "nullable": true
                    },
                    "slug": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "disabled",
                        "pending_deletion",
                        "deletion_in_progress"
                      ]
                    }
                  }
                },
                "example": {
                  "status": "active",
                  "name": "The Spoiled Yoghurt",
                  "color": "#bf6e3f",
                  "isInternal": false,
                  "isPublic": false,
                  "slug": "the-spoiled-yoghurt",
                  "platform": null,
                  "hasAccess": true,
                  "firstEvent": null,
                  "avatar": {
                    "avatarUuid": null,
                    "avatarType": "letter_avatar"
                  },
                  "isMember": false,
                  "dateCreated": "2020-08-20T14:36:34.171255Z",
                  "isBookmarked": false,
                  "id": "5398494",
                  "features": [
                    "custom-inbound-filters",
                    "discard-groups",
                    "rate-limits",
                    "data-forwarding",
                    "similarity-view",
                    "issue-alerts-targeting",
                    "servicehooks",
                    "minidump",
                    "similarity-indexing"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad input"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Team not found"
          },
          "409": {
            "description": "Team already exists"
          }
        },
        "security": [
          {
            "auth_token": [
              "project:write"
            ]
          }
        ]
      }
    },
    "/api/0/teams/{organization_slug}/{team_slug}/stats/": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Caution: this endpoint may change in the future without notice.",
        "description": "Return a set of points representing a normalized timestamp and the number of events seen in the period.\n\nQuery ranges are limited to Sentry’s configured time-series resolutions.",
        "operationId": "Retrieve Event Counts for a Team",
        "parameters": [
          {
            "name": "organization_slug",
            "in": "path",
            "description": "The slug of the organization the team belongs to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_slug",
            "in": "path",
            "description": "The slug of the team to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stat",
            "in": "query",
            "description": "The name of the stat to query `(\"received\", \"rejected\")`.",
            "schema": {
              "type": "string",
              "enum": [
                "received",
                "rejected"
              ]
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "A timestamp to set the start of the query in seconds since UNIX epoch.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "A timestamp to set the end of the query in seconds since UNIX epoch.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "An explicit resolution to search for (one of `10s`, `1h`, and `1d`).",
            "schema": {
              "type": "string",
              "enum": [
                "10s",
                "1h",
                "1d"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "example": [
                  [
                    1541455200,
                    3302
                  ],
                  [
                    1541458800,
                    3832
                  ],
                  [
                    1541462400,
                    3669
                  ],
                  [
                    1541466000,
                    3533
                  ],
                  [
                    1541469600,
                    3499
                  ],
                  [
                    1541473200,
                    3201
                  ],
                  [
                    1541476800,
                    3769
                  ],
                  [
                    1541480400,
                    2706
                  ],
                  [
                    1541484000,
                    2698
                  ],
                  [
                    1541487600,
                    3747
                  ],
                  [
                    1541491200,
                    3261
                  ],
                  [
                    1541494800,
                    2860
                  ],
                  [
                    1541498400,
                    4350
                  ],
                  [
                    1541502000,
                    2924
                  ],
                  [
                    1541505600,
                    3389
                  ],
                  [
                    1541509200,
                    2931
                  ],
                  [
                    1541512800,
                    3132
                  ],
                  [
                    1541516400,
                    3213
                  ],
                  [
                    1541520000,
                    3650
                  ],
                  [
                    1541523600,
                    3096
                  ],
                  [
                    1541527200,
                    3845
                  ],
                  [
                    1541530800,
                    3545
                  ],
                  [
                    1541534400,
                    2880
                  ],
                  [
                    1541538000,
                    4057
                  ]
                ]
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Team not found"
          }
        },
        "security": [
          {
            "auth_token": [
              "team:read"
            ]
          }
        ]
      }
    },
    "/api/0/organizations/": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "description": "Return a list of organizations available to the authenticated session.  This is particularly useful for requests with an user bound context.  For API key based requests this will only return the organization that belongs to the key.",
        "operationId": "List Your Organizations",
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "description": "Restrict results to organizations in which you are an organization owner.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "&cursor",
            "in": "query",
            "required": false,
            "description": "A pointer to the last object fetched and its' sort order; used to retrieve the next or previous results.",
            "x-learn-more": "https://docs.sentry.io/api/pagination/",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "avatar",
                      "dateCreated",
                      "id",
                      "isEarlyAdopter",
                      "name",
                      "require2FA",
                      "slug",
                      "status"
                    ],
                    "properties": {
                      "avatar": {
                        "type": "object",
                        "properties": {
                          "avatarType": {
                            "type": "string"
                          },
                          "avatarUuid": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "dateCreated": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "id": {
                        "type": "string"
                      },
                      "isEarlyAdopter": {
                        "type": "boolean"
                      },
                      "name": {
                        "type": "string"
                      },
                      "require2FA": {
                        "type": "boolean"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "status": {
                        "type": "object",
                        "required": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": [
                  {
                    "avatar": {
                      "avatarType": "letter_avatar",
                      "avatarUuid": null
                    },
                    "dateCreated": "2018-11-06T21:19:55.101Z",
                    "id": "2",
                    "isEarlyAdopter": false,
                    "name": "The Interstellar Jurisdiction",
                    "require2FA": false,
                    "slug": "the-interstellar-jurisdiction",
                    "status": {
                      "id": "active",
                      "name": "active"
                    }
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "auth_token": [
              "org: read"
            ]
          }
        ]
      }
    },
    "/api/0/organizations/{organization_slug}/eventids/{event_id}/": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "description": "This resolves an event ID to the project slug and internal issue ID and internal event ID.",
        "operationId": "Resolve an Event ID",
        "parameters": [
          {
            "name": "organization_slug",
            "in": "path",
            "description": "The slug of the organization the event ID should be looked up in.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_id",
            "in": "path",
            "description": "The event ID to look up.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "event",
                    "eventId",
                    "groupId",
                    "organizationSlug",
                    "projectSlug"
                  ],
                  "properties": {
                    "event": {
                      "type": "object",
                      "required": [
                        "_meta",
                        "context",
                        "contexts",
                        "dateCreated",
                        "dateReceived",
                        "dist",
                        "entries",
                        "errors",
                        "eventID",
                        "fingerprints",
                        "groupID",
                        "id",
                        "message",
                        "metadata",
                        "packages",
                        "platform",
                        "sdk",
                        "size",
                        "tags",
                        "type",
                        "user",
                        "title"
                      ],
                      "properties": {
                        "_meta": {
                          "type": "object",
                          "properties": {
                            "context": {
                              "type": "string",
                              "nullable": true
                            },
                            "contexts": {
                              "type": "object",
                              "nullable": true
                            },
                            "entries": {
                              "type": "object"
                            },
                            "message": {
                              "type": "string",
                              "nullable": true
                            },
                            "packages": {
                              "type": "string",
                              "nullable": true
                            },
                            "sdk": {
                              "type": "string",
                              "nullable": true
                            },
                            "tags": {
                              "type": "object"
                            },
                            "user": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "context": {
                          "type": "object",
                          "properties": {
                            "emptyList": {
                              "type": "array",
                              "items": {}
                            },
                            "emptyMap": {
                              "type": "object"
                            },
                            "length": {
                              "type": "integer"
                            },
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "session": {
                              "type": "object",
                              "properties": {
                                "foo": {
                                  "type": "string"
                                }
                              }
                            },
                            "unauthorized": {
                              "type": "boolean"
                            },
                            "url": {
                              "type": "string"
                            }
                          }
                        },
                        "contexts": {
                          "type": "object"
                        },
                        "dateCreated": {
                          "type": "string"
                        },
                        "dateReceived": {
                          "type": "string"
                        },
                        "dist": {
                          "type": "string",
                          "nullable": true
                        },
                        "entries": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "required": [
                                  "type",
                                  "data"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "data": {
                                    "type": "object",
                                    "required": [
                                      "values"
                                    ],
                                    "properties": {
                                      "values": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "required": [
                                            "category",
                                            "level",
                                            "event_id",
                                            "timestamp",
                                            "data",
                                            "message",
                                            "type"
                                          ],
                                          "properties": {
                                            "category": {
                                              "type": "string"
                                            },
                                            "level": {
                                              "type": "string"
                                            },
                                            "event_id": {
                                              "type": "string",
                                              "nullable": true
                                            },
                                            "timestamp": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "data": {
                                              "type": "object",
                                              "nullable": true
                                            },
                                            "message": {
                                              "type": "string",
                                              "nullable": true
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "required": [
                                  "type",
                                  "data"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "data": {
                                    "type": "object",
                                    "required": [
                                      "fragment",
                                      "cookies",
                                      "inferredContentType",
                                      "env",
                                      "headers",
                                      "url",
                                      "query",
                                      "data",
                                      "method"
                                    ],
                                    "properties": {
                                      "fragment": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "cookies": {
                                        "type": "array",
                                        "nullable": true,
                                        "items": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "inferredContentType": {
                                        "type": "string",
                                        "nullable": true
                                      },
                                      "env": {
                                        "type": "object",
                                        "nullable": true,
                                        "properties": {
                                          "ENV": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "headers": {
                                        "type": "array",
                                        "items": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "url": {
                                        "type": "string"
                                      },
                                      "query": {
                                        "type": "array",
                                        "items": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "data": {
                                        "type": "object",
                                        "nullable": true
                                      },
                                      "method": {
                                        "type": "string",
                                        "nullable": true
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "required": [
                                  "type",
                                  "data"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "data": {
                                    "type": "object",
                                    "required": [
                                      "formatted"
                                    ],
                                    "properties": {
                                      "formatted": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "required": [
                                  "type",
                                  "data"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "data": {
                                    "type": "object",
                                    "required": [
                                      "excOmitted",
                                      "hasSystemFrames",
                                      "values"
                                    ],
                                    "properties": {
                                      "excOmitted": {
                                        "type": "array",
                                        "nullable": true,
                                        "items": {
                                          "type": "integer"
                                        }
                                      },
                                      "hasSystemFrames": {
                                        "type": "boolean"
                                      },
                                      "values": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "required": [
                                            "stacktrace",
                                            "module",
                                            "rawStacktrace",
                                            "mechanism",
                                            "threadId",
                                            "value",
                                            "type"
                                          ],
                                          "properties": {
                                            "stacktrace": {
                                              "type": "object",
                                              "nullable": true,
                                              "required": [
                                                "frames",
                                                "framesOmitted",
                                                "registers",
                                                "hasSystemFrames"
                                              ],
                                              "properties": {
                                                "frames": {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "object",
                                                    "required": [
                                                      "function",
                                                      "errors",
                                                      "colNo",
                                                      "vars",
                                                      "package",
                                                      "absPath",
                                                      "inApp",
                                                      "lineNo",
                                                      "module",
                                                      "filename",
                                                      "platform",
                                                      "instructionAddr",
                                                      "context",
                                                      "symbolAddr",
                                                      "trust",
                                                      "symbol"
                                                    ],
                                                    "properties": {
                                                      "function": {
                                                        "type": "string"
                                                      },
                                                      "errors": {
                                                        "type": "string",
                                                        "nullable": true
                                                      },
                                                      "colNo": {
                                                        "type": "integer",
                                                        "nullable": true
                                                      },
                                                      "vars": {
                                                        "type": "object",
                                                        "nullable": true
                                                      },
                                                      "package": {
                                                        "type": "string",
                                                        "nullable": true
                                                      },
                                                      "absPath": {
                                                        "type": "string",
                                                        "nullable": true
                                                      },
                                                      "inApp": {
                                                        "type": "boolean"
                                                      },
                                                      "lineNo": {
                                                        "type": "integer"
                                                      },
                                                      "module": {
                                                        "type": "string"
                                                      },
                                                      "filename": {
                                                        "type": "string"
                                                      },
                                                      "platform": {
                                                        "type": "string",
                                                        "nullable": true
                                                      },
                                                      "instructionAddr": {
                                                        "type": "string",
                                                        "nullable": true
                                                      },
                                                      "context": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "array",
                                                          "items": {
                                                            "oneOf": [
                                                              {
                                                                "type": "integer"
                                                              },
                                                              {
                                                                "type": "string"
                                                              }
                                                            ]
                                                          }
                                                        }
                                                      },
                                                      "symbolAddr": {
                                                        "type": "string",
                                                        "nullable": true
                                                      },
                                                      "trust": {
                                                        "type": "string",
                                                        "nullable": true
                                                      },
                                                      "symbol": {
                                                        "type": "string",
                                                        "nullable": true
                                                      }
                                                    }
                                                  }
                                                },
                                                "framesOmitted": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "registers": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "hasSystemFrames": {
                                                  "type": "boolean"
                                                }
                                              }
                                            },
                                            "module": {
                                              "type": "string",
                                              "nullable": true
                                            },
                                            "rawStacktrace": {
                                              "type": "object",
                                              "nullable": true
                                            },
                                            "mechanism": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "type": {
                                                  "type": "string"
                                                },
                                                "handled": {
                                                  "type": "boolean"
                                                }
                                              }
                                            },
                                            "threadId": {
                                              "type": "string",
                                              "nullable": true
                                            },
                                            "value": {
                                              "type": "string"
                                            },
                                            "type": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object"
                              }
                            }
                          }
                        },
                        "eventID": {
                          "type": "string"
                        },
                        "fingerprints": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "groupID": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string"
                            }
                          }
                        },
                        "packages": {
                          "type": "object",
                          "properties": {
                            "my.package": {
                              "type": "string"
                            }
                          }
                        },
                        "platform": {
                          "type": "string"
                        },
                        "sdk": {
                          "type": "object",
                          "nullable": true
                        },
                        "size": {
                          "type": "integer"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_meta": {
                                "type": "string",
                                "nullable": true
                              },
                              "key": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "user": {
                          "type": "object",
                          "nullable": true,
                          "required": [
                            "username",
                            "name",
                            "ip_address",
                            "email",
                            "data",
                            "id"
                          ],
                          "properties": {
                            "username": {
                              "type": "string",
                              "nullable": true
                            },
                            "name": {
                              "type": "string",
                              "nullable": true
                            },
                            "ip_address": {
                              "type": "string",
                              "nullable": true
                            },
                            "email": {
                              "type": "string",
                              "nullable": true
                            },
                            "data": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "isStaff": {
                                  "type": "boolean"
                                }
                              }
                            },
                            "id": {
                              "type": "string"
                            }
                          }
                        },
                        "title": {
                          "type": "string"
                        }
                      }
                    },
                    "eventId": {
                      "type": "string"
                    },
                    "groupId": {
                      "type": "string"
                    },
                    "organizationSlug": {
                      "type": "string"
                    },
                    "projectSlug": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "event": {
                    "_meta": {
                      "context": null,
                      "contexts": null,
                      "entries": {},
                      "message": null,
                      "packages": null,
                      "sdk": null,
                      "tags": {},
                      "user": null
                    },
                    "context": {
                      "emptyList": [],
                      "emptyMap": {},
                      "length": 10837790,
                      "results": [
                        1,
                        2,
                        3,
                        4,
                        5
                      ],
                      "session": {
                        "foo": "bar"
                      },
                      "unauthorized": false,
                      "url": "http://example.org/foo/bar/"
                    },
                    "contexts": {},
                    "dateCreated": "2018-11-06T21:19:55Z",
                    "dateReceived": "2018-11-06T21:19:55Z",
                    "dist": null,
                    "entries": [
                      {
                        "type": "request",
                        "data": {
                          "fragment": null,
                          "cookies": [],
                          "inferredContentType": null,
                          "env": null,
                          "headers": [
                            [
                              "User-Agent",
                              "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36"
                            ]
                          ],
                          "url": "http://example.com/foo",
                          "query": [],
                          "data": null,
                          "method": null
                        }
                      }
                    ],
                    "errors": [],
                    "eventID": "9fac2ceed9344f2bbfdd1fdacb0ed9b1",
                    "fingerprints": [
                      "c4a4d06bc314205bb3b6bdb612dde7f1"
                    ],
                    "groupID": "1",
                    "id": "1",
                    "message": "",
                    "title": "This is an example Python exception",
                    "metadata": {
                      "title": "This is an example Python exception"
                    },
                    "packages": {
                      "my.package": "1.0.0"
                    },
                    "platform": "python",
                    "sdk": null,
                    "size": 7055,
                    "tags": [
                      {
                        "_meta": null,
                        "key": "browser",
                        "value": "Chrome 28.0"
                      },
                      {
                        "_meta": null,
                        "key": "device",
                        "value": "Other"
                      },
                      {
                        "_meta": null,
                        "key": "level",
                        "value": "error"
                      },
                      {
                        "_meta": null,
                        "key": "os",
                        "value": "Windows 8"
                      },
                      {
                        "_meta": null,
                        "key": "release",
                        "value": "17642328ead24b51867165985996d04b29310337"
                      },
                      {
                        "_meta": null,
                        "key": "url",
                        "value": "http://example.com/foo"
                      },
                      {
                        "_meta": null,
                        "key": "user",
                        "value": "id:1"
                      }
                    ],
                    "type": "default",
                    "user": {
                      "data": {},
                      "email": "sentry@example.com",
                      "id": "1",
                      "ip_address": "127.0.0.1",
                      "name": "Sentry",
                      "username": "sentry"
                    }
                  },
                  "eventId": "1",
                  "groupId": "1",
                  "organizationSlug": "the-interstellar-jurisdiction",
                  "projectSlug": "pump-station"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "auth_token": [
              "org: read"
            ]
          }
        ]
      }
    },
    "/api/0/organizations/{organization_slug}/": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "description": "Return details on an individual organization including various details such as membership access, features, and teams.",
        "operationId": "Retrieve an Organization",
        "parameters": [
          {
            "name": "organization_slug",
            "in": "path",
            "description": "The slug of the organization to look up.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "access",
                    "allowSharedIssues",
                    "availableRoles",
                    "avatar",
                    "dataScrubber",
                    "dataScrubberDefaults",
                    "dateCreated",
                    "defaultRole",
                    "enhancedPrivacy",
                    "experiments",
                    "features",
                    "id",
                    "isDefault",
                    "isEarlyAdopter",
                    "name",
                    "onboardingTasks",
                    "openMembership",
                    "pendingAccessRequests",
                    "projects",
                    "quota",
                    "require2FA",
                    "safeFields",
                    "scrapeJavaScript",
                    "scrubIPAddresses",
                    "sensitiveFields",
                    "slug",
                    "status",
                    "storeCrashReports",
                    "teams",
                    "trustedRelays"
                  ],
                  "properties": {
                    "access": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "allowSharedIssues": {
                      "type": "boolean"
                    },
                    "availableRoles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "avatar": {
                      "type": "object",
                      "properties": {
                        "avatarType": {
                          "type": "string"
                        },
                        "avatarUuid": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "dataScrubber": {
                      "type": "boolean"
                    },
                    "dataScrubberDefaults": {
                      "type": "boolean"
                    },
                    "dateCreated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "defaultRole": {
                      "type": "string"
                    },
                    "enhancedPrivacy": {
                      "type": "boolean"
                    },
                    "experiments": {
                      "type": "object"
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "isDefault": {
                      "type": "boolean"
                    },
                    "isEarlyAdopter": {
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string"
                    },
                    "onboardingTasks": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "openMembership": {
                      "type": "boolean"
                    },
                    "pendingAccessRequests": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "dateCreated",
                          "firstEvent",
                          "hasAccess",
                          "id",
                          "isBookmarked",
                          "isMember",
                          "latestDeploys",
                          "name",
                          "platform",
                          "platforms",
                          "slug",
                          "team",
                          "teams"
                        ],
                        "properties": {
                          "dateCreated": {
                            "type": "string"
                          },
                          "firstEvent": {
                            "type": "string",
                            "nullable": true
                          },
                          "hasAccess": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "isBookmarked": {
                            "type": "boolean"
                          },
                          "isMember": {
                            "type": "boolean"
                          },
                          "latestDeploys": {
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string",
                            "nullable": true
                          },
                          "platforms": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "slug": {
                            "type": "string"
                          },
                          "team": {
                            "type": "object",
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "object",
                                "required": [
                                  "id",
                                  "name",
                                  "slug"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  }
                                }
                              },
                              {
                                "nullable": true,
                                "not": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "object"
                                    },
                                    {
                                      "type": "array",
                                      "items": {}
                                    }
                                  ]
                                }
                              }
                            ]
                          },
                          "teams": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "id",
                                "name",
                                "slug"
                              ],
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "quota": {
                      "type": "object"
                    },
                    "require2FA": {
                      "type": "boolean"
                    },
                    "safeFields": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "scrapeJavaScript": {
                      "type": "boolean"
                    },
                    "scrubIPAddresses": {
                      "type": "boolean"
                    },
                    "sensitiveFields": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "slug": {
[...]
