{% extends "sentry/emails/base.html" %}

{% load sentry_helpers %}
{% load sentry_assets %}

{% block preheader %}
  {{ author.get_display_name }} assigned you an issue in {{ group.organization.name }}/{{ group.project.name }}.
{% endblock %}

{% block header %}
  <a href="{{ link }}" class="btn">View on Sentry</a>
  {{ block.super }}
{% endblock %}

{% block main %}
  <h2>Assigned</h2>

  <p>
    <strong><span class="avatar-container">{% email_avatar author.get_display_name author.get_label size 20 %}</span>{{ author.get_display_name }}</strong> assigned this issue to you in <strong>{{ group.organization.name }}/{{ group.project.name }}</strong>.
  </p>

  {% include "sentry/emails/group_header.html" %}
{% endblock %}
