{% extends "sentry/emails/activity/generic.html" %}

{% load sentry_helpers %}

{% block action %}
{% endblock %}

{% block activity %}
    <h2 style="margin-bottom: 10px">
        Version {{ release.short_version }} was [deployed] to [production]
    </h2>
    <p class="muted"><small><strong style="color: #72697d;">{{ release.date_added }}</strong> <span class="divider">&nbsp;</span>  3 commits, 2 authors, and 14 files changed across 2 projects</small></p>

    <hr>

    <h6>Projects Affected</h6>
    <div class="table-border">
      <table class="table projects">
        <tbody>
          <tr>
            <td>
              <h5 style="margin-bottom: 0">Frontend</h5>
              <p class="muted" style="margin-bottom: 0">
                2 Issues expected to be resolved
              </p>
            </td>
            <td style="text-align: right">
              <a href="{{ release_link }}" class="btn btn-sm btn-primary">View Release</a>
            </td>
          </tr>
          <tr>
            <td>
              <h5 style="margin-bottom: 0">Backend</h5>
              <p class="muted" style="margin-bottom: 0">
                4 Issues expected to be resolved
              </p>
            </td>
            <td style="text-align: right">
              <a href="{{ release_link }}" class="btn btn-sm btn-primary">View Release</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr style="margin-top: 20px">

    {% if commit_list %}
    <h6 style="margin-top: 10px">Commits</h6>
    <div class="table-border">
      <table class="table commit-list" style="margin-bottom: 0;">
        <tbody>
          {% for commit in commit_list %}
            <tr>
              <td>
                {% if commit.message %}
                    {{ commit.title }}
                {% else %}
                    No message provided
                {% endif %}
              </td>
              <td>
                <small>{{ commit.short_id }}</small>
              </td>
              <td>
                {% if commit.author %}
                    <small>{{ commit.author.name }}</small>
                {% else %}
                    <small>No author provided</small>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
        <p>It looks like there's no commit data wired up yet :(</p>
    {% endif %}

    <!-- {% if commit_list %}
        <ul class="commit-list">
            {% for commit in commit_list %}
                <li>
                    {% if commit.message %}
                        <strong>{{ commit.title }}</strong><br />
                        <small>
                            &mdash; {% if commit.author %}by {{ commit.author.name }}{% endif %}
                            in {{ commit.short_id }}
                        </small>
                    {% else %}
                        <small>{{ commit.short_id }}</small>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>It looks like there's no commit data wired up yet :(</p>
    {% endif %} -->
{% endblock %}
