{% extends "sentry/projects/manage.html" %}

{% load i18n %}

{% block title %}{% trans "Edit Member" %} | {{ block.super }}{% endblock %}

{% block heading %}{% trans "Edit Member" %} <small>{{ member.user.username }}</small>{% endblock %}

{% block main %}
    <ul class="breadcrumb">
        <li><a href="{% url sentry-project-list %}">{% trans "Projects" %}</a> <span class="divider">/</span></li>
        <li><a href="{% url sentry-manage-project project.pk %}">{% trans "Manage Project" %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans "Edit Member" %}</li>
    </ul>
    {% if request.GET.success %}
        <div class="alert-message success">{% trans "Changes to your project were saved successfully." %}</div>
    {% else %}
        {% if form.errors %}
            <div class="alert-message error">{% trans "Please correct the errors below." %}</div>
        {% endif %}
    {% endif %}
    <form class="form-stacked" action="" method="post">
        {% csrf_token %}
        <fieldset>
            <div class="page-header">
                <h2>{% trans "Details" %}</h2>
            </div>
            <div class="clearfix">
                <label>{% trans "User" %}</label>
                <div class="input">{{ member.user.username }}</div>
            </div>
            <div class="clearfix">
                <label>{% trans "Public Key" %}</label>
                <div class="input">{{ member.public_key }}</div>
            </div>
            <div class="clearfix">
                <label>{% trans "Secret Key" %}</label>
                <div class="input">{{ member.secret_key }}</div>
            </div>
        </fieldset>
        <fieldset>
            <div class="page-header">
                <h2>{% trans "Access" %}</h2>
            </div>
            <div class="clearfix{% if form.type.errors %} error{% endif %}">
                {{ form.type.label_tag }}
                <div class="input">{{ form.type }}</div>
                {% if form.type.help_text %}
                    <span class="help-block">{{ form.type.help_text }}</span>
                {% endif %}
            </div>
        </fieldset>
        <div class="actions">
            <button type="submit" class="btn primary">{% trans "Save Changes" %}</button>
        </div>
    </form>
{% endblock %}
