{% extends "sentry/projects/manage.html" %}

{% load i18n %}

{% block title %}{% trans "New Member" %} | {{ block.super }}{% endblock %}

{% block heading %}{% trans "New Member" %}{% endblock %}

{% block main %}
    <ul class="breadcrumb">
        <li><a href="{% url sentry-project-list %}">{% trans "Projects" %}</a> <span class="divider">/</span></li>
        <li><a href="{% url sentry-manage-project project.pk %}">{% trans "Manage Project" %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans "New Member" %}</li>
    </ul>
    {% include "sentry/partial/_form.html" %}
{% endblock %}
