{% extends "sentry/projects/manage.html" %}

{% load i18n %}

{% block title %}{% trans "Remove Member" %} | {{ block.super }}{% endblock %}

{% block heading %}{% trans "Remove Member" %}{% endblock %}

{% block main %}
    <ul class="breadcrumb">
        <li><a href="{% url sentry-project-list %}">{% trans "Projects" %}</a> <span class="divider">/</span></li>
        <li><a href="{% url sentry-manage-project project.pk %}">{% trans "Manage Project" %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans "Remove Member" %}</li>
    </ul>
    <form class="form-stacked" action="" method="post">
        {% csrf_token %}
        <div class="alert alert-block alert-error">{% trans "Are you sure you wish to revoke this user's access? <strong>This change is permanent and will revoke their API keys immediately.</strong>" %}</div>
        <div class="actions">
            <button type="submit" class="btn danger">{% trans "Confirm" %}</button> <a href="{% url sentry-manage-project project.pk %}" class="btn">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock %}
