{% extends "sentry/bases/account.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Appearance" %} | {{ block.super }}{% endblock %}

{% block main %}
    <form class="form-stacked" action="" method="post" id="appearance_form">
        {% csrf_token %}

        {{ form|as_crispy_errors }}

        <legend style="margin-top: 0">{% trans "Events" %}</legend>

        {% with form.stacktrace_order as field %}
            {{ field|as_crispy_field }}
        {% endwith %}


        <legend>{% trans "Localization" %}</legend>

        {% with form.language as field %}
            {{ field|as_crispy_field }}
        {% endwith %}

        {% with form.timezone as field %}
            {{ field|as_crispy_field }}
        {% endwith %}

        {% with form.clock_24_hours as field %}
            {{ field|as_crispy_field }}
        {% endwith %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
        </div>
    </form>
{% endblock %}
