{% extends "sentry/bases/account.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Notification Settings" %} | {{ block.super }}{% endblock %}

{% block main %}
    {% if request.user.has_unverified_emails %}
      <div class="alert alert-warning alert-block">
        {% trans "You have unverified emails. " %}
        <a href="{% url 'sentry-account-confirm-email-send' %}">{% trans "Resend Verification Emails" %}</a>.
      </div>
    {% endif %}

    <legend style="margin-top: 0;">Emails</legend>

    <form action="" method="post" class="">
        {% csrf_token %}
        <button type="submit" class="hidden"></button>
        {{ email_form|as_crispy_errors }}
        <div class='primary-email'>
	        <div class='email-input'>
		        {{ email_form.primary_email|as_crispy_field }}
	        </div>
	        <div class='verified-status'>
		        {% if primary_email.is_verified %}
		        <span class='btn btn-success'>Verified</span>{% else %}<a href="{% url 'sentry-account-confirm-email-send' %}" class='btn btn-danger'>Unverified</a>
		        {% endif %}
	        </div>
	      </div>
        <br>
        <label for='id_alternative_emails' class='control-label'>Alternative Emails</label>
        <table class="table table-bordered" style="margin-bottom: 20px">
	        <tbody>
        	{% for email in alt_emails %}
        	<tr>
        		<td style="text-align:center">{{ email.email }}</td>
        		<td style="text-align:center">
	        	{% if email.is_verified %}
		    		<span class='btn btn-success'>Verified</span>{% else %}<a href="{% url 'sentry-account-confirm-email-send' %}" class='btn btn-warning'>Unverified</a>
		    	{% endif %}
		    	</td>
		    	<td style="text-align:center">
			    	<input type='hidden' name='email' value={{ email.email }}>
				    <button type='submit' name='remove' class='btn btn-danger remove'>Remove</button>
			    </td>
		    </tr>
		    </tbody>
	    {% endfor %}
	    </table>
	    {% if not alt_emails %}
	    	<div>No alternative emails in your account</div>
	    {% endif %}
	    <br>
    	{{ email_form.alt_email|as_crispy_field }}

    <legend style="margin-top: 0;">Verification</legend>

    	{{ email_form.password|as_crispy_field }}

    	<fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
        </fieldset>
    </form>
{% endblock %}
