{% extends "sentry/bases/account.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Notification Settings" %} | {{ block.super }}{% endblock %}

{% block main %}
    <style type="text/css">
    table label,
    table input[type=checkbox] {
        margin: 0;
    }
    table caption {
        font-weight: normal;
        text-align: left;
        font-size: 16px;
        padding-bottom: 10px;
    }
    td label small {
        font-weight: normal;
    }
    </style>
    <form action="" method="post" class="">
        {% csrf_token %}

        <h4>{% trans "General" %}</h4>

        {{ settings_form.alert_email|as_crispy_field }}

        <hr />

        <h4>{% trans "Workflow" %}</h4>

        <p>{% blocktrans %}Workflow notifications are separate from alerts, and are generated for things like comments and issue updates. You may subscribe (or unsubscribe) form individual issues on their respective pages.{% endblocktrans %}</p>

        {{ settings_form.workflow_notifications|as_crispy_field }}

        <hr />

        <h4>{% trans "Alerts" %}</h4>

        <p>Alerts are generated based on a project's rules, defined in <strong>[Project] &raquo; Settings</strong>.</p>

        {{ settings_form.subscribe_by_default|as_crispy_field }}

        {% for project, form in project_forms %}
            {{ form|as_crispy_errors }}
        {% endfor %}

        {% for project, form in project_forms %}
            {% ifchanged project.organization %}
                {% if not forloop.first %}
                    </table>
                {% endif %}

                <h5 style="margin-top: 20px; font-weight: normal">{{ project.organization.name }}</h5>

                <table class="table table-bordered table-striped" style="margin-bottom: 20px">
                    <thead>
                        <tr>
                          <th style="width:31px;"><input type="checkbox" data-toggle="alerts" /></th>
                            <th>{% trans "Project" %}</th>
                            <th style="width:150px;overflow:hidden;text-align:right">
                                {% trans "Email Address" %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
            {% endifchanged %}
            <tr>
              <td>{{ form.alert }}</td>
                <td>
                    <label for="{{ form.alert.auto_id }}">{{ project.organization.slug}} / {{ project.slug }}</label>
                </td>
                <td style="text-align:right">
                    <a href="javascript:void(0)" data-target="{{ form.email.auto_id }}" data-toggle="change-target-value">
                        {% if form.email.value %}{{ form.email.value }}{% else %}<em>Default</em>{% endif %}
                    </a>
                    {{ form.email }}
                </td>
            </tr>
        {% endfor %}
        </tbody></table>

        <p><small>{% blocktrans %}Note: You will never receive notifications if a project has them disabled (via the Project settings){% endblocktrans %}</small></p>

        {% for form in ext_forms %}
            <fieldset>
                <h4>{{ form.get_title }}</h4>
                {% with form.get_description as description %}
                    {% if description %}
                        {{ description|linebreaks }}
                    {% endif %}
                {% endwith %}
                {% include "sentry/partial/form_base.html" %}
            </fieldset>
        {% endfor %}

        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
        </fieldset>
    </form>
    <style>
    #div_id_workflow_notifications label { display:none; }
    #div_id_subscribe_by_default label { display:none; }
    </style>
    <script>
    $(function(){
      $('form a[data-toggle="change-target-value"]').click(function(){
        var $this = $(this);
        var $target = $('#' + $this.data('target'));
        var result = window.prompt('Enter an email address', $target.val());
        $target.val(result || '');
        if (result) {
          $this.text(result);
        } else {
          $this.html('<em>Default</em>');
        }
      });
      $('form input[data-toggle="alerts"]').click(function(e){
        $(this).parents('table')
          .find('tbody input[type="checkbox"]')
          .prop('checked', e.target.checked);
      });
    });
    </script>
{% endblock %}
