{% extends "sentry/bases/account.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Notification Settings" %} | {{ block.super }}{% endblock %}

{% block main %}
    <style type="text/css">
    table label,
    table input[type=checkbox] {
        margin: 0;
    }
    table caption {
        font-weight: normal;
        text-align: left;
        font-size: 16px;
        padding-bottom: 10px;
    }
    td label small {
        font-weight: normal;
    }
    </style>
    <form action="" method="post" class="">
        {% csrf_token %}

        <h4>{% trans "General" %}</h4>

        {{ settings_form.alert_email|as_crispy_field }}

        <hr />

        <h4>{% trans "Alerts" %}</h4>

        <p>Alerts are generated based on a project's rules, defined in <strong>[Project] &raquo; Settings &raquo; Rules</strong>.</p>

        {{ settings_form.subscribe_by_default|as_crispy_field }}

        <hr />

        <h4>{% trans "Workflow" %}</h4>

        <p>{% blocktrans %}Workflow notifications are separate from alerts, and are generated for things like comments and issue updates. You may subscribe (or unsubscribe) from individual issues on their respective pages.{% endblocktrans %}</p>

        {{ settings_form.workflow_notifications|as_crispy_field }}

        <p class="help-text help-block">Note: You'll always receive notifications if you're explicitly participating on an issue.</p>

        <hr />

        <h4>{% trans "Weekly Reports" %}</h4>

        <p>{% blocktrans %}Reports contain a summary of what's happened within your organization over the last week.{% endblocktrans %}</p>

        {{ reports_form.organizations|as_crispy_field }}

        <hr />

        <h4>{% trans "Fine Tuning" %}</h4>

        <p>Use the settings below to fine tune notification settings per-project.</p>

        {% for project, form in project_forms %}
            {{ form|as_crispy_errors }}
        {% endfor %}

        {% for project, form in project_forms %}
            {% ifchanged project.organization %}
                {% if not forloop.first %}
                    </table>
                {% endif %}

                <h5 style="margin-top: 20px; font-weight: normal">{{ project.organization.name }}</h5>

                <table class="table table-bordered table-striped" style="margin-bottom: 20px">
                    <thead>
                        <tr>
                            <th>{% trans "Project" %}</th>
                            <th style="width:50px;text-align:center">
                              <a data-toggle="alert">Alerts</a>
                            </th>
                            <th style="width:50px;text-align:center">
                              <a data-toggle="workflow">Workflow</a>
                            </th>
                            <th style="width:150px;overflow:hidden;text-align:right">
                              {% trans "Email Address" %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
            {% endifchanged %}
            <tr>
              <td>
                {{ project.organization.slug}} / {{ project.slug }}
              </td>
              <td style="text-align:center">{{ form.alert }}</td>
              <td style="text-align:center">{{ form.workflow }}</td>
              <td style="text-align:right">
                <a href="javascript:void(0)" data-target="{{ form.email.auto_id }}" data-toggle="change-target-value">
                  {% if form.email.value %}{{ form.email.value }}{% else %}<em>Default</em>{% endif %}
                </a>
                {{ form.email }}
              </td>
            </tr>
        {% endfor %}
        </tbody></table>

        {% for form in ext_forms %}
            <h4>{{ form.get_title }}</h4>
            {% with form.get_description as description %}
                {% if description %}
                    {{ description|linebreaks }}
                {% endif %}
            {% endwith %}
            {% include "sentry/partial/form_base.html" %}
        {% endfor %}

        {% block hosted_notifications %}
        {% endblock %}

        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
        </fieldset>
    </form>
    <script>
    $(function(){
      $('form a[data-toggle="change-target-value"]').click(function(){
        var $this = $(this);
        var $target = $('#' + $this.data('target'));
        var result = window.prompt('Enter an email address', $target.val());
        $target.val(result || '');
        if (result) {
          $this.text(result);
        } else {
          $this.html('<em>Default</em>');
        }
      });

      function findCheckboxes(parent, match) {
        return $(parent).parents('table')
          .find('tbody input[type="checkbox"]')
          .filter(function() {
            return this.name.indexOf(match) !== -1;
          });
      }

      function setupChecker(pattern) {
        $('form a[data-toggle="' + pattern + '"]').click(function(e){
          var checked = $(this).data('checked');
          findCheckboxes(this, pattern).prop('checked', !checked);
          $(this).data('checked', !checked);
        }).each(function() {
          var boxes = findCheckboxes(this, pattern);
          var checkedBoxes = boxes.filter(function(){
            return $(this).is(':checked');
          });
          var defaultChecked = (boxes.length === checkedBoxes.length);
          $(this).data('checked', defaultChecked);
        });
      }

      setupChecker('alert');
      setupChecker('workflow');
    });
    </script>
{% endblock %}
