{% extends "sentry/bases/twofactor_settings.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Two-Factor Authentication" %} | {{ block.super }}{% endblock %}

{% block twofactor_title %}{% trans "Two-factor Authentication" %}{% endblock %}
{% block twofactor_body %}
{% if has_2fa %}
  <p class="well"><span class="circle-indicator enabled"></span>{% blocktrans  %}Two-factor authentication is <strong>enabled</strong>.{% endblocktrans  %}</p>
{% else %}
  <p class="well"><span class="circle-indicator disabled"></span>{% blocktrans  %}Two-factor authentication is currently <strong>disabled</strong>.{% endblocktrans  %}</p>
{% endif %}
  <p>
    Two-factor authentication improves your security by requiring an authentication
    code in addition to your password.
  </p>
  {% for auth in active_authenticators %}
    <div class="well">
      <h4>{{ auth.name }}</h4>
      <p>{{ auth.description }}</p>
      {% if auth.configure_button %}
        <a href="{{ auth.interface_id }}/" class="btn btn-default btn-sm">{{ auth.configure_button }}</a>
      {% endif %}
      {% if auth.remove_button %}
        <form action="{{ auth.interface_id }}/" method="post" style="display: inline">
          {% csrf_token %}
          <button type="submit" name="remove"
            class="btn btn-default btn-sm">{{ auth.remove_button }}</button>
        </form>
      {% endif %}
    </div>
  {% endfor %}
  {% if missing_authenticators %}
    <h6>Add more methods:</h6>
    <ul>
      {% for auth in missing_authenticators %}
        <li><a href="{{ auth.interface_id }}/">{{ auth.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <form action="" method="post" class="form-stacked">
    {% csrf_token %}
    <fieldset class="form-actions">
      <button type="submit" name="back" class="btn btn-default">{% trans "Back" %}</button>
    </fieldset>
  </form>
{% endblock %}
