{% extends "sentry/layout.html" %}

{% load i18n %}

{% block title %}{% trans "Admin" %} | {{ block.super }}{% endblock %}

{% block page_header %}
    <ul class="breadcrumb">
        <li><a href="#">Admin</a></li>
        {% block breadcrumb %}{% endblock %}
    </ul>
{% endblock %}

{% block sidebar %}
<!--     <h6>Overview</h6>
    <ul class="nav tabs stacked">
        <li><a href="#">Projects</a></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Data Use</a></li>
    </ul>
 -->
    <h6>Plugins</h6>
    <ul class="nav tabs stacked">
        {% for plugin in PLUGINS.for_site %}
            <li><a href="{% url sentry-admin-configure-plugin plugin.slug %}">{{ plugin.get_conf_title }}</a></li>
        {% endfor %}
    </ul>
    <h6>Utilities</h6>
    <ul class="nav tabs stacked">
        <li><a href="{% url sentry-admin-status %}">Server Status</a></li>
    </ul>
{% endblock %}

{% block main %}
    <section class="body">
        {% block inner %}{% endblock %}
    </section>
{% endblock %}
