{% extends "sentry/layout.html" %}

{% load i18n %}

{% block title %}{% trans "Admin" %} | {{ block.super }}{% endblock %}

{% block page_header %}
    <ul class="breadcrumb">
        <li><a href="#">Admin</a></li>
        {% block breadcrumb %}{% endblock %}
    </ul>
{% endblock %}

{% block sidebar %}
<!--     <h6>Overview</h6>
    <ul class="nav nav-tabs nav-stacked">
        <li><a href="#">Projects</a></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Data Use</a></li>
    </ul>
 -->
    <h6>Plugins</h6>
    <ul class="nav nav-tabs nav-stacked">
        {% for p in PLUGINS.for_site %}
            <li{% if plugin and plugin.slug == p.slug %} class="active"{% endif %}>
                <a href="{% url sentry-admin-configure-plugin p.slug %}">{{ p.get_conf_title }}</a>
            </li>
        {% endfor %}
    </ul>
    <h6>Utilities</h6>
    <ul class="nav nav-tabs nav-stacked">
        <li{% block admin-nav-status %}{% endblock %}><a href="{% url sentry-admin-status %}">Server Status</a></li>
    </ul>
{% endblock %}

{% block main %}
    <section class="body">
        {% block inner %}{% endblock %}
    </section>
{% endblock %}
