{% extends "sentry/bases/modal.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Settings" %} | {{ block.super }}{% endblock %}

{% block breadcrumb_inner %}
  <li><a href="/"></a></li>
  <li>Account</li>
{% endblock %}

{% block alerts %}
{% endblock %}


{% block content %}
<div class="box">
    <div class="box-content with-padding" style="padding-bottom: 20px;">
      {% block nav %}
        <ul class="nav nav-tabs" style="padding-bottom: 10px;">
          <li{% if page == 'settings' %} class="active"{% endif %}><a href="{% url 'sentry-account-settings' %}">{% trans "Account" %}</a></li>
          <li{% if page == 'appearance' %} class="active"{% endif %}><a href="{% url 'sentry-account-settings-appearance' %}">{% trans "Appearance" %}</a></li>
          <li{% if page == 'notifications' %} class="active"{% endif %}><a href="{% url 'sentry-account-settings-notifications' %}">{% trans "Notifications" %}</a></li>
      {% if AUTH_PROVIDERS %}
          <li{% if page == 'identities' %} class="active"{% endif %}><a href="{% url 'sentry-account-settings-identities' %}">{% trans "Identities" %}</a></li>
        {% endif %}
        </ul>
      {% endblock %}
      {% include "sentry/partial/alerts.html" %}
      {% block main %}
      {% endblock %}
    </div>
</div>
{% endblock %}
