{% extends "sentry/bases/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block wrapperclass %}narrow auth org-login{% endblock %}

{% block content %}
<div class="pattern-bg"></div>

<div class="box">
  <div class="auth-sidebar">
    <a href="/">
      <span class="icon-sentry-logo"></span>
    </a>
  </div>
  <section class="org-login">
    {% block auth_container %}
      <div class="auth-container p-y-2">
        {% block auth_main %}{% endblock %}
      </div>
    {% endblock %}
  </section>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
