{% extends "sentry/bases/modal.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block global_sidebar %}{% endblock %}
{% block sub-header %}{% endblock %}

{% block wrapperclass %}narrow auth org-login{% endblock %}

{% block content %}
<div class="pattern-bg"></div>
<div class="box">
  <div class="auth-sidebar p-t-1">
    <a href="/">
      <span class="icon-sentry-logo"></span>
    </a>
  </div>
  <section class="org-login">
    {% block auth_main %}{% endblock %}
  </section>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
