{% extends "sentry/layout.html" %}

{% load i18n %}
{% load sentry_permissions %}

{% block title %}{{ project.name }} | {{ block.super }}{% endblock %}

{% block page_header %}
    {{ block.super }}
    <ul class="nav nav-tabs">
        <li>
            <a href="{% url 'sentry-stream' project.organization.slug project.slug %}">{% trans "Stream" %}</a>
        </li>
        <li class="active">
            <a href="{% url 'sentry-explore' project.organization.slug project.slug %}">{% trans "Explore" %}</a>
        </li>
        {% if request.user|can_manage_project:project %}
        <li>
            <a href="{% url 'sentry-manage-project' project.organization.slug project.slug %}">
                {% trans "Settings" %}
            </a>
        </li>
        {% endif %}
    </ul>
{% endblock %}

{% block main %}
    <section class="body">
        <div class="alert alert-block">
            <p>The Explore feature is currently a draft, and may change without notice.</p>
        </div>
    	{% block inner %}{% endblock %}
    </section>
{% endblock %}

{% block sidebar %}
    <h6>{% trans "About Explore" %}</h6>
    <p>Explore allows you to drill into the tagged data recorded at a project level. You can drill into each tag to quickly find outliers or events which have been recorded under a specific tagged value.</p>
    <p>To learn more about sending tags, check the <a href="{% url 'sentry-help' %}">knowledge base</a>.</p>
{% endblock %}
