{% extends "sentry/layout.html" %}

{% load i18n %}

{% block wrapperclass %}{{ block.super }} narrow{% endblock %}
{% block global_sidebar %}{% endblock %}
{% block sub-header %}{% endblock %}

{% block content %}
<div class="pattern-bg"></div>
<section class="org-login">
  <div class="box box-modal">
    <div class="box-header">
      {% block modal_header%}
        {% block modal_header_signout %}
          {% if request.user.is_authenticated %}
            <div class="pull-right">
              <a href="{% url 'sentry-logout' %}">{% trans "Sign out" %}</a>
            </div>
          {% endif %}
        {% endblock %}
        <a href="{% block modal_header_link %}/{% endblock %}">
          {% if request.user.is_authenticated %}
            <span class="icon-sentry-logo"></span>
          {% else %}
            <span class="icon-sentry-logo-full"></span>
          {% endif %}
          {% block modal_header_extra %}{% endblock %}
        </a>
      {% endblock %}
    </div>
    <div class="box-content with-padding">
      {% block main %}{% endblock %}
    </div>
  </div>
</section>
{% endblock %}
