{% extends "sentry/layout.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_features %}
{% load sentry_helpers %}

{% block title %}{% trans "Organization Settings" %} | {{ block.super }}{% endblock %}

{% block bodyclass %}with-left-sidebar{% endblock %}

{% block page_header_block %}
    <section id="page-header" class="toolbar">
      <div class="pull-right">
        {% block actions %}
        {% if ACCESS.org_write %}
          <a href="{% url 'sentry-create-team' organization.slug %}"
             class="btn btn-small btn-primary">{% trans "New Team" %}</a>
        {% endif %}
        {% if ACCESS.team_write %}
          <a href="{% url 'sentry-create-project' organization.slug %}"
             class="btn btn-small btn-primary">{% trans "New Project" %}</a>
        {% endif %}
        {% if ACCESS.org_write %}
          <a href="{% url 'sentry-create-organization-member' organization.slug %}"
             class="btn btn-small btn-primary">{% trans "New Member" %}</a>
        {% endif %}
        {% endblock %}
      </div>
      <h3>{{ organization.name }} <small>Dashboard</small></h3>
    </section>
{% endblock %}

{% block sidebar %}
  <ul class="nav nav-list">
    <!-- <li class="nav-header"><h6>{{ organization.name }}</h6></li> -->
    <li class="{% block org_teams_nav %}{% endblock %}">
      <a href="{% url 'sentry-organization-home' organization.slug %}">
        {% trans "Teams" %}
      </a>
    </li>
    {% if ACCESS.org_read %}
    <li class="{% block org_stats_nav %}{% endblock %}">
      <a href="{% url 'sentry-organization-stats' organization.slug %}">
        {% trans "Stats" %}
      </a>
    </li>
    <li class="{% block org_auditlog_nav %}{% endblock %}">
      <a href="{% url 'sentry-organization-audit-log' organization.slug %}">
        {% trans "Audit Log" %}
      </a>
    </li>
    <li class="{% block org_members_nav %}{% endblock %}">
      <a href="{% url 'sentry-organization-members' organization.slug %}">
        {% trans "Members" %}
      </a>
    </li>
    {% endif %}
    {% if ACCESS.org_delete %}
      {% feature organizations:sso organization %}
      <li class="{% block org_auth_settings_nav %}{% endblock %}">
        <a href="{% url 'sentry-organization-auth-settings' organization.slug %}">
          {% trans "Auth" %}
        </a>
      </li>
      {% endfeature %}
    {% endif %}
    {% if ACCESS.org_write %}
    <li class="{% block org_settings_nav %}{% endblock %}">
      <a href="{% url 'sentry-organization-settings' organization.slug %}">
        {% trans "Settings" %}
      </a>
    </li>
    {% endif %}
  </ul>
  {% block org_sidebar_nav_extra %}
    {% comment %}This block is used by getsentry.com{% endcomment %}
  {% endblock %}
{% endblock %}

{% block main %}
  <section class="body">
    {% if request.user|needs_access_group_migration:organization %}
      <div class="alert alert-block alert-info">
        <p>You have access groups that need to be migrated into the new organization structure. <a href="{% url 'sentry-organization-access-group-migration' organization.slug %}">Get Started</a></p>
      </div>
    {% endif %}
    {% block inner %}{% endblock %}
  </section>
{% endblock %}
