{% extends "sentry/layout.html" %}

{% load sentry_api %}

{% block body %}
  <div id="blk_router"></div>
  <script>
  $(function(){
    Router.run(routes, Router.HistoryLocation, function(Handler) {
      React.render(React.createFactory(Handler)({
          urlPrefix: '{{ URL_PREFIX }}',
          mediaUrl: '{% url 'sentry-media' "sentry" '' %}',
        {% if request.user.is_authenticated %}
          isAuthenticated: true,
          user: {% serialize request.user %}
        {% else %}
          isAuthenticated: false,
          user: null
        {% endif %}
      }), document.getElementById('blk_router'));
    });
  });
  </script>
{% endblock %}
