{% extends "sentry/layout.html" %}

{% block breadcrumb_outer %}
  <div id="blk_breadcrumb"></div>
  <script>
  $(function(){
    React.render(React.createFactory(Breadcrumbs)({
    }), document.getElementById('blk_breadcrumb'));
  });
  </script>
{% endblock %}

{% block content %}
  <div id="blk_content"></div>
  <script>
  $(function(){
    Router.run(routes, Router.HistoryLocation, function(Handler) {
      React.render(React.createFactory(Handler)({
      }), document.getElementById('blk_content'));
    });
  });
  </script>
{% endblock %}
