{% extends "sentry/layout.html" %}

{% load sentry_api %}

{% block body %}
  {% csrf_token %}
  <div id="blk_router">
    <div class="loading triangle">
      <div class="loading-mask"></div>
      <div class="loading-indicator"></div>
      <div class="loading-message">Please wait while we load an obnoxious amount of JavaScript.</div>
    </div>
  </div>
  <script>
  $(function(){
    Router.run(Sentry.routes, Router.HistoryLocation, function(Handler) {
      React.render(React.createFactory(Handler)({
      }), document.getElementById('blk_router'));
    });
  });
  </script>
{% endblock %}
