{% extends "sentry/layout.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block title %}{{ project.name }} | {{ block.super }}{% endblock %}

{% block page_header %}
    {{ block.super }}
    <a href="{% url 'sentry' team.slug %}" class="back-button icon-arrow-left"></a>
    <ul class="nav nav-tabs project-nav" style="margin-bottom: 20px;">
        <li class="pull-right hidden-xs broadcast">
            <broadcast>
                <span class="new">new</span>
                <a href="#">See what's new in Sentry!</a>
            </broadcast>
        </li>
        <li class="active">
            <a href="{% url 'sentry-stream' project.team.slug project.slug %}">{% trans "Stream" %}</a>
        </li>
        {% if team and request.user|can_admin_team:team %}
            <li>
                <a href="{% url 'sentry-manage-project' project.team.slug project.slug %}" title="{% trans "Project Settings" %}">
                    {% trans "Settings" %}
                </a>
            </li>
        {% endif %}
    </ul>

    <div class="filter-nav">
        <div class="row">
            <div class="col-sm-4 primary-filters">
              <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-default active">All Events</a>
                <a href="#" class="btn btn-default btn-middle">Bookmarks</a>
                <a href="#" class="btn btn-default">Assigned</a>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="search">
                  <form class="form-horizontal">
                      <div>
                          <input type="text" class="search-input form-control"
                                 placeholder="Search for events, users, tags, and everything else.">
                          <span class="icon-search"></span>
                          <a href="#" class="filter-toggle"><span aria-hidden="true" class="icon-arrow-down"></span></a>
                      </div>
                      <div class="filter-dropdown">
                          <!-- <ul class="nav nav-pills">
                            <li class="active"><a href="#">Build</a></li>
                            <li><a href="#">Recent searches</a></li>
                          </ul> -->
                          <div class="users form-group">
                              <label class="col-md-2 control-label">String</label>
                              <div class="col-md-10">
                                <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-md-4">
                              <select class="selectize" placeholder="Browser">
                                <option>Hi</option>
                              </select>
                            </div>
                            <div class="col-md-4">
                              <select class="selectize" placeholder="Status">
                                <option>Hi</option>
                              </select>
                            </div>
                            <div class="col-md-4">
                              <select class="selectize" placeholder="Client">
                                <option>Hi</option>
                              </select>
                            </div>
                            <div class="col-md-4">
                              <select class="selectize" placeholder="Logger">
                                <option>Hi</option>
                              </select>
                            </div>
                            <div class="col-md-4">
                              <select class="selectize" placeholder="Project">
                                <option>Hi</option>
                              </select>
                            </div>
                            <div class="col-md-4">
                              <select class="selectize" placeholder="User">

                              </select>
                            </div>
                            <div class="col-md-4">
                              <select class="selectize" placeholder="Project">
                                <option>Hi</option>
                              </select>
                            </div>
                            <div class="col-md-4">
                              <select class="selectize" placeholder="User">
                                <option>Hi</option>
                              </select>
                            </div>
                          </div>
                      </div>
                  </form>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
