{% extends "sentry/layout.html" %}

{% load i18n %}

{% block title %}{{ team.name }} | {{ block.super }}{% endblock %}

{% block wrapperclass %}team-settings{% endblock %}

{% block sidebar %}
    <ul class="nav nav-stacked">
        <li{% if SUBSECTION == 'settings' %} class="active"{% endif %}>
            <a href="{% url 'sentry-manage-team' team.slug %}">{% trans "Settings" %}</a>
        </li>
        <li{% if SUBSECTION == 'projects' %} class="active"{% endif %}>
            <a href="{% url 'sentry-manage-team-projects' team.slug %}">{% trans "Projects" %}</a>
        </li>
        <li{% if SUBSECTION == 'members' %} class="active"{% endif %}>
            <a href="{% url 'sentry-manage-team-members' team.slug %}">{% trans "Members" %}</a>
        </li>
        <li{% if SUBSECTION == 'groups' %} class="active"{% endif %}>
            <a href="{% url 'sentry-manage-access-groups' team.slug %}">{% trans "Access Groups" %}</a>
        </li>
        {% if selectedTeam.permission.admin %}
            <li class="divider"></li>
            <li{% if SUBSECTION == 'transfer' %} class="active"{% endif %}>
                <a href="{% url 'sentry-transfer-team' team.slug %}">{% trans "Transfer Ownership" %}</a>
            </li>
            <li{% if SUBSECTION == 'delete' %} class="active"{% endif %}>
                <a href="{% url 'sentry-remove-team' team.slug %}">{% trans "Delete Team" %}</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
