{% extends "sentry/teams/manage.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block content %}
<div class="box">
    <div class="box-header">
        {% if can_add_project %}
            <a href="{% url 'sentry-new-project' team.slug %}" class="btn pull-right btn-primary btn-sm">{% trans "New Project" %}</a>
        {% endif %}
        <h3>{% trans "Projects" %}</h3>
    </div>
    <div class="box-content with-padding">
    {% if project_list %}
        <table class="table table-striped">
            <colgroup>
                <col/>
                <col width="140px"/>
            </colgroup>
            <thead>
                <tr>
                    <th>{% trans "Project" %}</th>
                    <th style="text-align:right;">{% trans "Created" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for project in project_list %}
                <tr>
                    <td>
                        <strong><a href="{% url 'sentry-manage-project' project.team.slug project.slug %}">{{ project.name }}</a></strong>
                        {% if project.status == STATUS_HIDDEN %}
                            (pending deletion)
                        {% endif %}<br>
                         {{ team.slug }}/{{ project.slug }}
                    </td>
                    <td style="text-align:right;">
                        {{ project.date_added|timesince }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "There are no projects managed by this team." %}</p>
    {% endif %}
    </div>
</div>
{% endblock %}
