{% extends "sentry/teams/manage.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block main %}

  <a class="btn pull-right btn-primary btn-sm" href="{% url 'sentry-new-project' team.slug %}">{% trans "Create a New Project" %}</a>
  <h3>{% trans "Projects" %}</h3>

  {% if project_list %}
    <table class="table table-bordered">
        <colgroup>
            <col/>
            <col width="180px"/>
            <col width="180px"/>
        </colgroup>
        <tbody>
        {% for project in project_list %}
            <tr>
                <td>
                    <strong><a href="{% url 'sentry-manage-project' project.team.slug project.slug %}">{{ project.name }}</a></strong><br>
                     {{ team.slug }}/{{ project.slug }}
                </td>
                <td style="text-align:center; vertical-align: middle;">{{ project.get_status_display }}</td>
                <td style="text-align:right;  vertical-align: middle;">
                  {% trans "Created" %} {{ project.date_added|timesince }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {% else %}
    <div class="well">
      <p>{% trans "There are no projects managed by this team." %}</p>
    </div>
  {% endif %}

{% endblock %}
