{% extends "sentry/bases/explore.html" %}

{% load i18n %}
{% load sentry_helpers %}
{% load sentry_plugins %}

{% block title %}{{ tag_key.get_label }} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="barchart">
        <h6>{{ tag_key.get_label }} events in the last 48 hours</h6>
        <div class="box">
            <div style="line-height: 150px; text-align: center; opacity: .5">Graph</div>
        </div>
    </div>

    {% paginator tag_values from request as tag_values %}
    {% querystring from request without sort as sort_querystring %}

    <div class="btn-toolbar">
        <div class="btn-group" style="margin-bottom: 20px">
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{% blocktrans with sort_label as label %}Sort by: {{ label }}{% endblocktrans %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li{% ifequal sort 'recent' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=recent">{{ SORT_OPTIONS.recent }}</a></li>
                <li{% ifequal sort 'newest' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=newest">{{ SORT_OPTIONS.newest }}</a></li>
                <li{% ifequal sort 'events' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=events">{{ SORT_OPTIONS.events }}</a></li>
            </ul>
        </div>
        <div class="btn-group pull-right">
            <a class="btn btn-default prev{% if not tag_values.paginator.has_previous %} disabled{% else %}" href="?{{ tag_values.query_string|escape }}&amp;p={{ tag_values.paginator.previous_page }}{% endif %}"><span><span title="Next" class="icon-arrow-left"></span></span></a>
            <a class="btn btn-default next{% if not tag_values.paginator.has_next %} disabled{% else %}" href="?{{ tag_values.query_string|escape }}&amp;p={{ tag_values.paginator.next_page }}{% endif %}"><span><span title="Next" class="icon-arrow-right"></span></span></a>
        </div>
    </div>

    {% if not tag_values.paginator.objects %}
        <div class="well">{% blocktrans %}You dont seem to have any data recorded for this tag. For more information on how to send this information consult your client's documentation.{% endblocktrans %}</div>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 40%">{{ tag_key.get_label }}</th>
                    <th>{% trans "Last Seen" %}</th>
                    <th class="align-right">{% trans "Events Seen" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for tag_value in tag_values.paginator.objects %}
                    <tr>
                        <td>

                            <a href="{{ tag_value.get_absolute_url }}">
                                {{ tag_value.value }}
                            </a>
                        </td>
                        <td>{{ tag_value.last_seen|timesince }}</td>
                        <td class="align-right">{{ tag_value.times_seen|small_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="btn-toolbar" style="margin-top: 20px;">
            <div class="btn-group pull-right">
                <a class="btn btn-default prev{% if not tag_values.paginator.has_previous %} disabled{% else %}" href="?{{ tag_values.query_string|escape }}&amp;p={{ tag_values.paginator.previous_page }}{% endif %}"><span><span title="Next" class="icon-arrow-left"></span></span></a>
                <a class="btn btn-default next{% if not tag_values.paginator.has_next %} disabled{% else %}" href="?{{ tag_values.query_string|escape }}&amp;p={{ tag_values.paginator.next_page }}{% endif %}"><span><span title="Next" class="icon-arrow-right"></span></span></a>
            </div>
        </div>
    {% endif %}
{% endblock %}
