{% extends "sentry/bases/explore.html" %}

{% load url from future %}
{% load i18n %}
{% load sentry_helpers %}

{% block content %}
{% comment %}
{% if tag_list %}
{% for tag_key, tag_values in tag_list %}
{% if not forloop.counter|divisibleby:2 %}
{% if not forloop.first %}

{% endif %}
  <div class="row">
    {% endif %}
    <div class="col-md-6">
      <div class="box">
        <div class="box-header">
          <span class="pull-right"><a href="{{ tag_key.get_absolute_url }}">More Details</a></span>

          <h3>{{ tag_key.get_label }} <small>({{ tag_key.values_seen|small_count }})</small></h3>
        </div>
        <div class="box-content with-padding">
          <ul class="tag-list">
            {% for tag_value in tag_values %}
            <li>
              <a href="{{ tag_value.get_absolute_url }}">
                {{ tag_value.get_label }}
                <span>{{ tag_value.times_seen|small_count }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% if forloop.last %}
  </div>
  {% endif %}
  {% endfor %}
  {% else %}
  <p>{% trans "There don't seem to be any tags in the system yet. For more information on how you can tag data, check your client's documentation." %}</p>

{% endif %}

{% endcomment %}

  <div class="barchart">
    <h6>Users in the last 48 hours</h6>
    <div class="box">
      <div style="line-height: 150px; text-align: center; opacity: .5">Graph</div>
    </div>
  </div>

  <div class="btn-group pull-right">
    <a class="btn btn-default prev disabled"><span title="Previous" class="icon-arrow-left"></span></a><a class="btn btn-default next"><span title="Next" class="icon-arrow-right"></span></a>
  </div>

  <div class="btn-group" style="margin-bottom: 20px;">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Sort: Priority <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Frequency</a></li>
      <li><a href="#">etc</a></li>
    </ul>
  </div>

  <table class="table simple-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Last seen</th>
        <th class="align-right">Events seen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">Curtis Blackman</a></td>
        <td>curtisbman@gmail.com</td>
        <td>1 day ago</td>
        <td class="align-right">12</td>
      </tr>
      <tr>
        <td><a href="#">Curtis Blackman</a></td>
        <td>curtisbman@gmail.com</td>
        <td>1 day ago</td>
        <td class="align-right">12</td>
      </tr>
      <tr>
        <td><a href="#">Curtis Blackman</a></td>
        <td>curtisbman@gmail.com</td>
        <td>1 day ago</td>
        <td class="align-right">12</td>
      </tr>
      <tr>
        <td><a href="#">Curtis Blackman</a></td>
        <td>curtisbman@gmail.com</td>
        <td>1 day ago</td>
        <td class="align-right">12</td>
      </tr>
      <tr>
        <td><a href="#">Curtis Blackman</a></td>
        <td>curtisbman@gmail.com</td>
        <td>1 day ago</td>
        <td class="align-right">12</td>
      </tr>
      <tr>
        <td><a href="#">Curtis Blackman</a></td>
        <td>curtisbman@gmail.com</td>
        <td>1 day ago</td>
        <td class="align-right">12</td>
      </tr>
      <tr>
        <td><a href="#">Curtis Blackman</a></td>
        <td>curtisbman@gmail.com</td>
        <td>1 day ago</td>
        <td class="align-right">12</td>
      </tr>
      <tr>
        <td><a href="#">Curtis Blackman</a></td>
        <td>curtisbman@gmail.com</td>
        <td>1 day ago</td>
        <td class="align-right">12</td>
      </tr>
      <tr>
        <td><a href="#">Curtis Blackman</a></td>
        <td>curtisbman@gmail.com</td>
        <td>1 day ago</td>
        <td class="align-right">12</td>
      </tr>
      <tr>
        <td><a href="#">Curtis Blackman</a></td>
        <td>curtisbman@gmail.com</td>
        <td>1 day ago</td>
        <td class="align-right">12</td>
      </tr>
    </tbody>
  </table>

  <div class="btn-group pull-right" style="margin-top: 20px">
    <a class="btn btn-default prev disabled"><span title="Previous" class="icon-arrow-left"></span></a><a class="btn btn-default next"><span title="Next" class="icon-arrow-right"></span></a>
  </div>

{% endblock %}

{% block rightbar %}
  <ul class="nav nav-stacked">
    <li class="active"><a href="#">Users</a></li>
    <li><a href="#">Servers</a></li>
    <li><a href="#">Devices</a></li>
    <li><a href="#">Browsers</a></li>
  </ul>
{% endblock %}
