steps:
- name: 'gcr.io/kaniko-project/executor:latest'
  args: [
    '--cache=true',
    '--build-arg', 'SOURCE_COMMIT=$COMMIT_SHA',
    '--destination=us.gcr.io/$PROJECT_ID/sentry:$COMMIT_SHA',
    '--destination=us.gcr.io/$PROJECT_ID/sentry:$SHORT_SHA',
    '--destination=us.gcr.io/$PROJECT_ID/sentry:latest',
    '-f', './docker/Dockerfile'
  ]
  timeout: 900s
# Derive the -onbuild variant
- name: 'gcr.io/cloud-builders/docker'
  args: [
    'build',
    '--build-arg', 'SENTRY_IMAGE=us.gcr.io/$PROJECT_ID/sentry:$COMMIT_SHA',
    '-t', 'us.gcr.io/$PROJECT_ID/sentry:$COMMIT_SHA-onbuild',
    '-t', 'us.gcr.io/$PROJECT_ID/sentry:$SHORT_SHA-onbuild',
    '-t', 'us.gcr.io/$PROJECT_ID/sentry:latest-onbuild',
    '-f', './docker/onbuild/Dockerfile', '.'
  ]
# Smoke tests
- name: 'gcr.io/$PROJECT_ID/docker-compose'
  entrypoint: 'bash'
  env:
  - 'SENTRY_IMAGE=us.gcr.io/$PROJECT_ID/sentry:$COMMIT_SHA'
  - 'SENTRY_TEST_HOST=http://web:9000'
  - 'CI=1'
  args:
  - '-e'
  - '-c'
  - |
    mkdir onpremise && cd onpremise
    # TODO(byk): This should fetch from master when the branch is merged
    # TODO(byk): We may also build this part as a builder image everytime
    #            there's a push to onpremise and use that image for
    curl -L "https://github.com/getsentry/onpremise/archive/v10.tar.gz" | tar xzf - --strip-components=1
    ./install.sh
    docker-compose run --rm web createuser --superuser --email test@example.com --password test123TEST
    # The following trick is from https://stackoverflow.com/a/52400857/90297 with great gratuity
    echo '{"version": "3.4", "networks":{"default":{"external":{"name":"cloudbuild"}}}}' > docker-compose.override.yml
    docker-compose up -d
    timeout 20 bash -c 'until $(curl -Isf -o /dev/null http://web:9000); do printf "."; sleep 0.5; done' || docker-compose logs web
    ./test.sh
  timeout: 1200s
# Only tag "latest" when on master
- name: 'gcr.io/cloud-builders/docker'
  entrypoint: 'bash'
  args:
  - '-e'
  - '-c'
  - |
    if [ "$BRANCH_NAME" == "master" ]; then
      docker push us.gcr.io/$PROJECT_ID/sentry:latest
      docker push us.gcr.io/$PROJECT_ID/sentry:latest-onbuild
    fi
images:
- 'us.gcr.io/$PROJECT_ID/sentry:$COMMIT_SHA'
- 'us.gcr.io/$PROJECT_ID/sentry:$COMMIT_SHA-onbuild'
- 'us.gcr.io/$PROJECT_ID/sentry:$SHORT_SHA'
- 'us.gcr.io/$PROJECT_ID/sentry:$SHORT_SHA-onbuild'
timeout: 2400s
options:
  # We need more memory for Webpack builds & e2e onpremise tests
  machineType: 'N1_HIGHCPU_8'
