/**
* Django template auth shell
* ============================================================================
*/

/* Integration templates use body.auth! */
body.auth {
  .app > .container {
    padding-top: 5vh;
    max-width: 740px;
  }

  .box {
    border: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    display: flex;
    width: 100%;
  }

  .box-modal {
    display: flex;
    flex-direction: column;
  }

  .auth-sidebar {
    padding-top: 20px;
    width: 60px;
    background: #564f64;
    background-image: linear-gradient(
      -180deg,
      rgba(52, 44, 62, 0) 0%,
      rgba(52, 44, 62, 0.5) 100%
    );
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px 0 0 4px;
    margin-top: -1px;
    margin-bottom: -1px;
    text-align: center;

    a {
      color: #fff;
      font-size: 22px;
      line-height: 1.5;
    }
  }

  .org-login {
    flex: 1;
  }

  .auth-container {
    padding-left: 40px;
    padding-right: 40px;

    &.border-bottom {
      border-bottom: 1px solid @trim;
    }

    ul,
    ol,
    p,
    blockquote {
      &:last-child {
        margin-bottom: 0;
      }
    }

    .help-center-link {
      color: #6c5fc7;
    }
  }

  .tab-content .auth-container {
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
  }

  .auth-form-column {
    flex: 1;
  }

  .auth-provider-column {
    width: 46%;
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid @trim;

    p {
      margin-bottom: 15px;

      &:first-child {
        margin-top: 28px;
      }
    }

    .btn-default {
      display: block;
      text-align: left;
      padding: 8px 8px;

      .provider-logo {
        top: 0;
      }
    }
  }

  .auth-footer {
    display: flex;
    align-items: center;
    margin-top: 20px;

    > .btn {
      margin-right: 6px;
    }

    .secondary {
      flex: 1;
      text-align: right;
      color: @gray-light;

      &:hover {
        color: @gray-dark;
      }
    }
  }

  .auth-toggle {
    display: flex;
  }

  .join-request {
    margin-left: auto;
    margin-right: 0;

    > a {
      display: flex;
      align-items: center;

      > svg {
        height: 17px;
        width: 20px;
        margin-right: 5px;
      }
    }
  }
}
