{% extends "sentry/groups/details.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="divider">/</li>
    <li><a href="{% url sentry-group-event group.project.slug group.pk event.pk %}">Event at {{ event.datetime }} UTC</a></li>
{% endblock %}

{% block inner %}
    {% include "sentry/partial/event_nav.html" %}

    <ul class="events no-counts">
        {% include "sentry/partial/_event.html" %}
    </ul>

    <br>

    {% if event.has_two_part_message %}
        <pre id="full-message">{{ event.message }}</pre>
    {% endif %}

    {% include "sentry/partial/_event_details.html" %}
{% endblock %}