{% extends "sentry/groups/details.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="divider">/</li>
    <li><a href="{% url sentry-group-event group.project.slug group.id event.id %}">Event at {{ event.datetime }} UTC</a></li>
{% endblock %}

{% block inner %}
    {% include "sentry/partial/event_nav.html" %}

    <div class="btn-toolbar">
            <!-- We switch the ordering of events here as it makes more sense visually -->
        <a class="btn {% if not next_event %} disabled{% endif %}"{% if next_event %} href="{% url sentry-group-event group.project.slug group.id next_event.id %}"{% endif %}><span>{% trans "Newer Event" %}</span></a>
        <a class="btn pull-right {% if not prev_event %} disabled{% endif %}"{% if prev_event %} href="{% url sentry-group-event group.project.slug group.id prev_event.id %}"{% endif %}><span>{% trans "Older Event" %}</span></a>
    </div>

    <ul class="events no-counts">
        {% include "sentry/partial/_event.html" %}
    </ul>

    <br>

    {% if event.has_two_part_message %}
        <pre id="full-message">{{ event.message }}</pre>
    {% endif %}

    {% include "sentry/partial/_event_details.html" %}
{% endblock %}