{% extends "sentry/bases/stream.html" %}

{% load sentry_api %}
{% load sentry_plugins %}

{% block content %}
    <div id="blk_stream"></div>
    <script>
    $(function(){
      React.render(React.createFactory(Stream)({
        aggList: {% serialize event_list %},
        project: {% serialize project %},
        initialQuery: {% convert_to_json query %},
        pageLinks: {% convert_to_json page_links %}
      }), document.getElementById('blk_stream'));
    });
    </script>
{% endblock %}
