{% extends "sentry/bases/stream.html" %}

{% load i18n %}
{% load sentry_api %}
{% load sentry_helpers %}
{% load sentry_plugins %}

{% block controller %}ProjectStreamCtrl{% endblock %}

{% block content %}
    {% querystring from request without sort as sort_querystring %}
    {% querystring from request without since as since_querystring %}
    <div class="group-header-container" data-spy="affix" data-offset-top="195">
      <div class="container">
        <div class="group-header">
          <div class="stream-actions">
            <div class="stream-actions-left stream-actions-cell">
                <div class="checkbox">
                    <input type="checkbox" class="chk-select-all">
                </div>
                <div class="btn-group">
                    <a href="javascript:void(0)" class="btn btn-default btn-sm action-resolve">
                        <i aria-hidden="true" class="icon-checkmark"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn btn-default btn-sm action-bookmark">
                        <span class="icon icon-bookmark"></span>
                    </a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default btn-sm hidden-xs" data-action="pause" data-pause-label="{% trans "Updates are paused. Click to enable." %}" data-play-label="{% trans "Updates are live. Click to pause." %}" href="javascript:void(0)">
                        <span class="icon icon-pause"></span>
                    </a>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn dropdown-toggle btn-sm" data-toggle="dropdown">{% blocktrans with sort_label as label %}<span class="hidden-sm hidden-xs">Sort by:</span> {{ label }}{% endblocktrans %} <span aria-hidden="true" class="icon-arrow-down"></span></a>
                    <ul class="dropdown-menu">
                        <li{% ifequal sort 'priority' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=priority">{{ SORT_OPTIONS.priority }}</a></li>
                        <li{% ifequal sort 'date' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=date">{{ SORT_OPTIONS.date }}</a></li>
                        <li{% ifequal sort 'new' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=new">{{ SORT_OPTIONS.new }}</a></li>
                        <li{% ifequal sort 'freq' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=freq">{{ SORT_OPTIONS.freq }}</a></li>
                        <li class="divider"></li>
                        <li{% ifequal sort 'tottime' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=tottime">{{ SORT_OPTIONS.tottime }}</a></li>
                        <li{% ifequal sort 'avgtime' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=avgtime">{{ SORT_OPTIONS.avgtime }}</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a href="#" class="btn dropdown-toggle btn-sm" onclick="" data-toggle="dropdown">
                        {% if from_date %}
                            {% if not to_date %}
                                Since: {{ from_date|date:"M jS" }}
                            {% else %}
                                Between: {{ from_date|date:"M jS" }} <small>and</small> {{ to_date|date:"M jS" }}
                            {% endif %}
                        {% else %}
                            {% if to_date %}
                                Before: {{ to_date|date:"M jS" }}
                            {% else %}
                                Between: The Past <small>and</small> The Present
                            {% endif %}
                        {% endif %}
                     <span aria-hidden="true" class="icon-arrow-down"></span></a>
                     <div class="datepicker-box dropdown-menu" id="daterange">
                         <form method="GET" action=".">
                             {% for key, value in request.GET.iteritems %}
                                 {% if key != df and key != tf and key != dt and key != tt and key != page %}
                                     <input type="hidden" name="{{ key }}" value="{{ value }}">
                                 {% endif %}
                             {% endfor %}
                             <div class="input">
                               <div class="inline-inputs">
                                 <input data-toggle="datepicker" data-date-format="yyyy-mm-dd"name="df" class="form-control date" type="text" value="{% if from_date %}{{ from_date|date:"Y-m-d" }}{% endif %}" placeholder="Date" />
                                 <input class="time form-control" type="text" name="tf" value="{% if from_date %}{{ from_date|time:"h:i A" }}{% endif %}" placeholder="Time" />
                                 to
                                 <input data-toggle="datepicker" data-date-format="yyyy-mm-dd" name="dt" class="date form-control" type="text" value="{% if to_date %}{{ to_date|date:"Y-m-d" }}{% endif %}" placeholder="Date"/>
                                 <input class="time form-control" type="text" name="tt" value="{% if to_date %}{{ to_date|time:"h:i A" }}{% endif %}" placeholder="Time" />
                               </div>
                               <div class="help-block">{% trans "All events are represented in UTC time." %}</div>
                             </div>
                             <div class="submit">
                                 <div class="pull-right">
                                     <button class="btn btn-default btn-sm" onclick="$('#daterange input[type=text]').val(''); this.form.submit();">{% trans "Clear" %}</button>
                                     <button class="btn btn-primary btn-sm">{% trans "Apply" %}</button>
                                 </div>
                                 <div class="radio-inputs">
                                     <label class="radio">
                                         <input type="radio" name="date_type" value="last_seen" {% if date_type != 'first_seen' %}checked{% endif %}> {% trans "Last Seen" %}
                                     </label>
                                     <label class="radio">
                                         <input type="radio" name="date_type" value="first_seen" {% if date_type == 'first_seen' %}checked{% endif %}> {% trans "First Seen" %}
                                     </label>
                                 </div>
                             </div>
                         </form>
                     </div>
                </div>
              </div>
                <div class="hidden-sm hidden-xs stream-actions-graph stream-actions-cell">
                  <ul class="toggle-graph">
                    <li ng-class="chartDuration == '24h' ? 'active' : ''"><a ng-click="setChartDuration('24h')">24h</a></li>
                    <li ng-class="chartDuration == '30d' ? 'active' : ''"><a ng-click="setChartDuration('30d')">30d</a></li>
                  </ul>
                </div>
                <div class="stream-actions-occurrences stream-actions-cell align-center hidden-xs"> events</div>
                <div class="stream-actions-users stream-actions-cell align-center hidden-xs"> users</div>
            </div>
        </div>
      </div>
    </div>

    {% recent_alerts from project as recent_alerts %}
    {% if recent_alerts %}
        <ul class="active-alerts">
            {% for alert in recent_alerts %}
                <li class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <a href="{% url 'sentry-alert-details' project.team.slug project.slug alert.id %}">{{ alert.message }}</a>
                    <small>&mdash; {{ alert.datetime|timesince }}</small>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul class="group-list" ng-if="groupList.length">
        <li class="group" ng-repeat="group in groupList"
            ng-class="{'seen': group.hasSeen}">
            <div class="event-details event-cell">
              <div class="checkbox">
                  <input type="checkbox" class="chk-select" value="<% group.id %>">
              </div>
              <h3><a href="<% group.permalink %>"><span class="icon icon-bookmark"></span>  <% group.title %></a></h3>
              <div class="event-meta">
                  <span class="message"><% group.culprit %></span>
                  &middot; <time time-since="group.firstSeen"></time>
              </div>
            </div>
            <div class="event-assignee event-cell hidden-xs">
                <assignee-selector></assignee-selector>
            </div>
            <div class="hidden-sm hidden-xs event-graph align-right event-cell">
              <barchart data="group.activeChartData" options="chartOptions" class="sparkline"></barchart>
            </div>
            <div class="hidden-xs event-occurrences align-center event-cell">
              <span count="group.count"></span>
            </div>
            <div class="hidden-xs event-users align-center event-cell">
              <span count="group.tags['sentry:user'].count || 0"></span>
            </div>
        </li>
    </ul>

    <div class="stream-pagination" ng-if="groupList.length">
        <div class="btn-group pull-right">
            {% spaceless %}
                {% if previous_page %}
                    <a class="btn btn-default btn-lg prev" href="?{{ pageless_query_string|escape }}&amp;p={{ previous_page }}">
                        <span title="{% trans "Previous" %}" class="icon-arrow-left"></span>
                    </a>
                {% else %}
                    <a class="btn btn-default btn-lg prev disabled">
                        <span title="{% trans "Previous" %}" class="icon-arrow-left"></span>
                    </a>
                {% endif %}
                {% if next_page %}
                    <a class="btn btn-default btn-lg next" href="?{{ pageless_query_string|escape }}&amp;p={{ next_page }}">
                        <span title="{% trans "Next" %}" class="icon-arrow-right"></span></a>
                {% else %}
                    <a class="btn btn-default btn-lg next disabled">
                        <span calss="{% trans "Next" %}" class="icon-arrow-right"></span>
                    </a>
                {% endif %}
            {% endspaceless %}
        </div>
    </div>

    <div class="stream-empty" ng-if="!groupList.length">
      <div class="container">
        <h3>No events to show.</h3>
      </div>
    </div>
    <script>
    window.groupList = {% serialize event_list %}
    </script>
{% endblock %}
