<div ui-view>
    <br><br>
    <div class="container" style="max-width:600px">
        <div class="panel panel-default">
            <div class="panel-heading">Select a project</div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="team in teamList">
                        <h5><a ui-sref="team({team_slug: team.slug})">{{team.name}}</a></h5>
                        <ul>
                            <li ng-repeat="project in team.projects">
                                <a ui-sref="project.stream({team_slug: team.slug, project_slug: project.slug})">{{project.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
