<table class="table table-settings">
    <colgroup>
        <col/>
        <col width="140px"/>
    </colgroup>
    <thead>
        <tr>
            <th><h4>Group</h4></th>
            <th style="text-align:right;">
                <a ui-sref="create_access_group()" class="btn btn-default btn-sm">New Access Group</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="accessGroup in accessGroupList">
            <td>{{accessGroup.name}} <small ng-if="accessGroup.managed">automatically managed</small></td>
            <td style="text-align:left">{{accessGroup.access}}</td>
        </tr>
    </tbody>
</table>
