<div class="page-header">
    <h3>Notifications</h3>
</div>

<p>Sentry will automatically notify you whenever an event is first seen, or its state changes from resolved to unresolved.</p>

<form role="form" name="form">

    <br>
    <h3>Alerts</h3>
    <div class="form-group" ng-class="form.projectName.$invalid ? 'error' : ''">
        <label for="projectName">Alerts:</label>
        <input id="projectName"
               name="name"
               ng-model="projectData.name"
               class="form-control"
               type="text"
               placeholder="Team Name"
               required>
        <div ng-show="form.projectName.$dirty && form.projectName.$invalid">Invalid:
            <span ng-show="form.projectName.$error.required">Enter a valid project name.</span>
        </div>
    </div>

    <br>
    <h3>Mail</h3>
    <div class="form-group">
        <label><input type="checkbox"> Enable email notifications for this project</label>
        <div class="help-block">Disabling mail will still allow project members to opt-in to email notifications.</div>
    </div>
    <div class="form-group">
        <label for="mail:subject_prefix">Subject Prefix:</label>
        <input id="mail:subject_prefix"
               name="mail:subject_prefix"
               ng-model="projectData.options['mail:subject_prefix']"
               class="form-control"
               type="text">
        <div class="help-block">Choose a custom prefix for emails from this project.</div>
    </div>

    <br>
    <h3>HipChat <small class="pull-right" style="font-size:0.5em"><a href="#">Disable Integration</a></small></h3>
    <div class="form-group">
        <label for="mail:subject_prefix">API Key:</label>
        <input id="mail:subject_prefix"
               name="mail:subject_prefix"
               ng-model="projectData.options['mail:subject_prefix']"
               class="form-control"
               type="text">
    </div>
    <div class="form-group">
        <label for="mail:subject_prefix">Rooms:</label>
        <input id="mail:subject_prefix"
               name="mail:subject_prefix"
               ng-model="projectData.options['mail:subject_prefix']"
               class="form-control"
               type="text">
        <div class="help-block">Seperate room IDs with a comma.</div>
    </div>

    <br>
    <h3>More Integrations</h3>
    <p>The following integrations are available and can be enabled for this project:</p>
    <ul>
        <li><input type="checkbox"> Campfire</li>
        <li><input type="checkbox"> IRC</li>
    </ul>

    <br>
    <button class="btn btn-primary"
            ng-click="saveForm()"
            ng-disabled="form.$invalid || isUnchanged(projectData)">Save</button>
    <br><br>
</form>
