<div class="container">
    <div class="pull-right hidden-xs">
        <ul class="user-nav">
            <li ng-if="selectedTeam.permission.edit"><a ui-sref="manage_team.settings({team_slug: selectedTeam.slug})">
                <span class="icon-settings"></span> Team Settings
            </a></li>
            <li><a ui-sref="help()"><span class="icon-question"></span> Help</a></li>
            <li class="dropdown">
                <a href="#" dropdown-toggle><img src="{{userData.avatarUrl}}" class="user-avatar"> <span class="icon-arrow-down"></span> </a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="manage_account.settings()">Account Settings</a></li>
                    <li><a href="/logout/" target="_self">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <a href="#" class="icon-sentry-logo"></a>
    <div class="project-dropdown dropdown" ng-if="selectedTeam">
        <a href="#" class="team-name" dropdown-toggle>
            <span>{{selectedTeam.name}}</span>
            <span class="project-name" ng-if="selectedProject">{{selectedProject.name}}</span>
            <span class="icon-arrow-down"></span>
        </a>
        <ul class="dropdown-menu">
            <li ng-repeat="team in teamList" class="team">
                <h5><a ui-sref="team({team_slug: team.slug})">{{team.name}}</a></h5>
                <ul>
                    <li ng-repeat="project in team.projects">
                        <a ui-sref="project.stream({team_slug: team.slug, project_slug: project.slug})">{{project.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
