{% extends "sentry/bases/admin.html" %}

{% block admin-nav-packages %} class="active"{% endblock %}

{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Packages" %} | {{ block.super }}{% endblock %}

{% block main %}
    <h3>{% trans "Extensions" %}</h3>

    {% if extensions %}
        <dl class="vars">
            {% for key, value in extensions %}
            <dt>{{ key }}</dt>
            <dd>
<pre class="val">{{ value }}</pre>
            </dd>
            {% endfor %}
        </dl>
    {% else %}
        <p>{% trans "No extensions registered." %}</p>
    {% endif %}

    <h3>{% trans "Modules" %}</h3>
    <dl class="vars">
        {% for key, value in modules %}
        <dt>{{ key }}</dt>
        <dd>
<pre class="val">{{ value }}</pre>
        </dd>
        {% endfor %}
    </dl>
{% endblock %}
