{% extends "sentry/bases/admin.html" %}

{% block admin-nav-warnings %} class="active"{% endblock %}

{% load i18n %}
{% load sentry_helpers %}

{% block title %}System Warnings | {{ block.super }}{% endblock %}

{% block main %}
    <h3>System Warnings</h3>
    {% if groups or warnings %}
        <p><a href="https://docs.getsentry.com/on-premise/server/warnings/">Check out our guide</a> for more information on how to resolve these issues.</p>
        {% for group, items in groups %}
            <h4>{{ group }}</h4>
            <ul>
                {% for warning in items %}
                    <li>{{ warning }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        {% if warnings %}
            <h4>Miscellaneous</h4>
            <ul>
                {% for warning in warnings %}
                    <li>{{ warning }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        There are no warnings at this time.
    {% endif %}
{% endblock %}
