{% extends "sentry/bases/modal.html" %}
{% load crispy_forms_tags %}
{% load sentry_assets %}
{% load i18n %}

{% block wrapperclass %}narrow auth{% endblock %}
{% block modal_header_signout %}{% endblock %}

{% block title %}{% trans "Atlassian Connect Setup" %} | {{ block.super }}{% endblock %}

{% block main %}
<h3>Bitbucket Setup</h3>

<p>
Configure Bitbucket to use with Sentry.io.
</p>
<a href="{{ url }}">
    <button
    type="submit"
    class="btn btn-primary"
    name="save_mappings"
    value="{{ url }}">{% trans "Connect to Bitbucket" %}</button>
</a>
{% endblock %}
