<!DOCTYPE html>
{% load i18n %}
<html lang="en">
  <head>
    <script src="{{ ac_js_src }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.9/js/aui.min.js"></script>
    <link
      rel="stylesheet"
      href="//aui-cdn.atlassian.com/aui-adg/6.0.9/css/aui.min.css"
      media="all"
    />
    <style>
      body {
        background: transparent;
      }
      .container {
        padding: 30px;
      }
    </style>
    <script>
          AJS.$("#simple-tooltip").tooltip({gravity: 'n'});
    </script>
  </head>
  <body>
    <div class="container">
      {% if error_message %}
      <div class="aui-message aui-message-info">
        <h2>Error</h2>
        <p>{{ error_message }}</p>
      </div>
      {% elif refresh_required %}
      <div class="aui-message aui-message-info">
        <h2>Error</h2>
        <p>
          {% trans "This page has expired, please refresh to view the Sentry issue" %}
        </p>
      </div>
      {% elif issue_not_linked %}
      <div class="aui-message aui-message-info">
        <h2>Issue not linked</h2>
        <p>
          {% trans "This Sentry issue is not linked to a Jira issue" %}
        </p>
      </div>
      {% else %}
      <div>
        <h2>{{ type }}</h2>
        <p>{{ title }}</p>
        <br />
        <div>
          <div>
            <span>{% trans "Events last 24 hours:" %}</span>
            <aui-badge>{{ stats_24hr }}</aui-badge>
          </div>
          <div>
            <span>{% trans "Events last 14 days:" %}</span>
            <aui-badge>{{ stats_14d }}</aui-badge>
          </div>
        </div>
      </div>

      <!-- FIRST SEEN GROUP -->
      <div class="aui-group">
        <div class="aui-item">
          <h4 id="simple-tooltip" title="When the first event in this issue was captured">{% trans "First Seen" %}</h4>
        </div>
      </div>

      <div class="aui-group">
        <div class="aui-item">
          <span class="left-grid">{% trans "Date:" %}</span>
        </div>
        <div class="aui-item">
          <span class="right-grid">{{ last_seen }} UTC</span>
        </div>
      </div>

      {% if last_release %}
      <div class="aui-group">
        <div class="aui-item">
          <span class="left-grid">{% trans "Release:" %}</span>
        </div>
        <div class="aui-item">
          <span class="right-grid"><a href="{{ first_release_url}}">{{first_release}}</a></span>
        </div>
      </div>
      {% endif %}

      <!-- LAST SEEN GROUP -->
      <div class="aui-group">
        <div class="aui-item">
          <h4 id="simple-tooltip" title="When the most recent event in this issue was captured">{% trans "Last Seen" %} </h4>
        </div>
      </div>

      <div class="aui-group">
        <div class="aui-item">
          <span class="left-grid">{% trans "Date:" %}</span>
        </div>
        <div class="aui-item">
          <span class="right-grid">{{ last_seen }} UTC</span>
        </div>
      </div>

      {% if last_release %}
      <div class="aui-group">
        <div class="aui-item">
          <span class="left-grid">{% trans "Release:" %}</span>
        </div>
        <div class="aui-item">
          <span class="right-grid"><a href="{{ last_release_url}}">{{last_release}}</a></span>
        </div>
      </div>
      {% endif %}
    {% endif %}

    </div>
