{% extends "sentry/bases/modal.html" %}
{% load crispy_forms_tags %}
{% load sentry_assets %}
{% load i18n %}

{% block css %}
  <style>
    ol li {
      padding:10px 0px;
    }
    .code-list {
      padding: 10px;
      background-color: #f7f8f9;
      margin-top: 10px;
      border-radius: 3px;
    }
    .code-list li {
      font-size: 90%;
    }
  </style>
{% endblock %}

{% block wrapperclass %} narrow auth {% endblock %}
{% block modal_header_signout %} {% endblock %}

{% block title %} {% trans "Jira-Server Setup" %} | {{ block.super }} {% endblock %}

{% block main %}
<h3>{% trans "Connect Sentry with your App" %}</h3>
  <p>{% trans "Add your Jira Server App credentials to Sentry." %}</p>
  <p class="alert alert-block flex">
    <i class="icon icon-exclamation"></i>
    <span>
        {% blocktrans %}
        You must complete the <a href="https://docs.sentry.io/product/integrations/jira/#jira-server">required steps</a>

        in Jira Server before attempting to connect with Sentry.
        {% endblocktrans %}
    </span>
  </p>
  <form action="" method="post" class="form-stacked">
    {% csrf_token %}
    <input type="hidden" name="provider" value="jira_server" />

    {{ form|as_crispy_errors }}

    {% for field in form %}
    {{ field|as_crispy_field }}
    {% endfor %}

    <fieldset class="form-actions clearfix">
      <div class="pull-right">
        <button type="submit" class="btn btn-primary" name="save_mappings" value="url">{% trans "Submit" %}</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
