.map-container {
  background: #cad2d3;
  position: relative;
}

.user-list {
  .avatar {
    .square(36px);
    margin-right: 10px;
    float: left;
  }
  small {
    color: @gray;
    font-size: 13px;
  }
  thead th {
    background: @white-darker;
    color: @gray-darkest;
  }
  thead > tr > th,
  tbody > tr > td {
    padding: 10px 15px;
  }
}

.user-details-modal,
.release-details-modal {
  margin: -20px -30px 0;

}

.user-details-modal,
.release-details-modal {
  overflow: hidden;

  .user-details-banner {
    margin-top: -130px;
    position: relative;
  }

  .release-details-banner .sparkline {
    position: relative;
    height: 70px;

    .chart-container,
    .chart-column {
      height: 70px;
    }
  }

  .user-details-inner,
  .release-details-inner {
    padding: 20px 30px 0;
    border-top: 1px solid #ccc;
    background: #fff;
  }

  .release-details-inner {
    margin-top: -70px;
    padding-top: 15px;
    opacity: 0.8;
  }

  .user-details-inner {
    margin-top: -160px;
    opacity: 0.9;
  }

  .user-details-header,
  .release-details-header {
    text-align: center;
    position: relative;
    border-bottom: 1px solid @trim;
    margin: 0 -30px 20px;
    padding: 0 0 10px;

    .avatar {
      display: inline-block;
      .square(96px);
      margin: -55px auto 10px;
    }

    .user-name,
    .release-name {
      text-align: left;
      float: left;
      padding: 0 0 0 30px;

      h5 {
        margin-bottom: 0;
      }
    }

    .user-action,
    .release-action {
      padding: 0 30px 0 0;
      text-align: left;
      float: right;
    }
  }

  .nav-header {
    margin-bottom: 20px;
  }

  .user-info,
  .release-info {
    dl.flat {
      font-size: 12px;
      margin-bottom: 20px;
      dt {
        color: @gray-lighter;
      }
    }
  }
  .activity-issue-list {
    list-style: none;
    position: relative;
    padding-left: 10px;
    margin-bottom: 0;

    li {
      position: relative;
      margin-left: 0;
      padding: 2px 2px 20px 20px;
      border-left: 1px solid @white-darkest;

      .issue-icon {
        position: absolute;
        .square(18px);
        font-size: 11px;
        text-align: center;
        display: inline-block;
        border-radius: 18px;
        background: #fff;
        border: 1px solid @orange-light;
        color: @orange-light;
        left: -9px;
        top: -2px;

        .icon {
          position: absolute;
          top: 2px;
          right: 2px;
          bottom: 2px;
        }
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    h6 {
      font-family: @font-family-code;
      margin-bottom: 0px;
      font-size: 15px;
      color: @gray;

      a {
        color: inherit;
      }
    }

    small {
      font-size: 12px;
      color: @gray-lighter;
    }
  }
}

.audience-feedback {
  .audience-feedback-item {
    position: relative;
    padding-left: 48px;
    font-size: 15px;
    margin-bottom: 20px;

    .avatar {
      position: absolute;
      left: 0;
      top: 0;
      .square(36px);
    }

    .pull-right{
      line-height: 1;
      margin-top: -1px;
    }

    .audience-feedback-name, time {
      font-size: 13px;
    }

    .audience-feedback-name {
      line-height: 1.1;
      margin-bottom: 2px;
    }

    time {
      line-height: 1;
      color: @60;
    }
    // Todo(ckj): we should eventually handle this at the ShortId component level
    .audience-feedback-short-id {
      font-family: @font-family-monospace;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: -1px;

      a {
        color: @70;
        &:hover {
          color: @90;
        }
      }
    }
  }
}
