.user-list {
    .avatar {
        .square(36px);
        margin-right: 10px;
        float: left;
    }
    small {
        color: @gray;
        font-size: 13px;
    }
    thead th {
        background: @white-darker;
        color: @gray-darkest;
    }
    thead > tr > th,
    tbody > tr > td {
        padding: 10px 15px;
    }
}
