// Dashboard specific styles // --------------------------------------------------

.dashboard {

  .empty {
    text-align: center;
    margin: 30px 0;
  }

  .box-header {
    padding-bottom: 8px;

    .nav-pills {
      position: relative;
      top: -2px;
      margin: 0 0 -4px;
    }
  }

  .dashboard-events {
    .list-unstyled();
    margin: 0;

    li {
      .clearfix();
      border-bottom: 1px solid #E9EBEC;
      padding: 10px 10px 10px 0;
      &:last-child {
        border-bottom: 0;
      }
    }

    .dashboard-count {
      font-size: 20px;
      width: 14%;
      float: left;
      padding-top: 2px;
      text-align: center;
    }
    .dashboard-details {
      width: 86%;
      float: left;

      h3 {
        line-height: 1.2;
        margin: 0;
        font-size: 15px;
      }

      .message {
        font-size: 13px;
        margin: 0;
      }
      .time {
        font-size: 12px;
        margin: 0;
        opacity: .55;
      }
    }
  }
}
