.docs {
  .page-header {
    margin-bottom: 20px;

    h1, h2, h3, h4 {
      margin-bottom: 15px !important;
    }
  }

  #blk_main {
    font-size: 18px;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6, p, ul, ol, pre, .table {
      margin: 0 0 30px;
    }
  }
}
