// Detail page // ------------------------------------------

.group-detail {
  position: relative;
  padding-bottom: 28px;
  margin-bottom: 30px;
  border-bottom: 1px solid #E9EBEC;
  margin-top: -5px;
  h3 {
    font-size: 24px;
    letter-spacing: -0.25px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.4;
  }

  .stats {
    color: #949ea4;
  }

  .count {
    color: #454C50;
    font-size: 22px;
    font-weight: 500;
    display: block;
    line-height: 1.4;
  }

  .is-assigned {
    clear: both;
    text-align: right;
  }

  .assigned-to {
    .btn-group {
      margin-top: -3px;
      float: right;
    }

  }

  .meta {
    margin: 0 0 15px;
    color: #949ea4;
  }

  .group-actions {
    .clearfix;

    .id-label {
      background: #fff;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.seen-by {
  float: right;
  ul {
    .list-unstyled;
    li:first-child {
      padding-right: 4px;
    }
    li {
      float: left;
      margin-left: 4px;
      line-height: 32px;
      img {
        border-radius: 3px;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.group-list, .events {
  .list-unstyled;
  margin-bottom: 20px;
  display: table;
  width: 100%;
  border-radius: 4px;

  .group {
    display: table-row;
    background: transparent;
    .transition(all 2s linear);
    z-index: 1;
    position: relative;

    .event-details:after {
      position: absolute;
      content: "";
      top: -1px;
      right: 0;
      bottom: -1px;
      left: 0;
      width: 4px;
      background: #54adff;
      z-index: 100;
    }
    &.seen {
      .event-details:after {
        background: transparent;
      }
    }
    &.ng-enter {
      background: #fffff4;
      .event-cell {
        border-color: #f7f7c7;
      }
      &+ .group .event-cell{
        border-color: #f7f7c7;
      }
    }
    &:first-child {
      .event-cell{
        border-top: 0;
      }
      .event-details:after {
        top: 0;
      }
    }
    &:last-child {
      .event-cell {
        border-bottom: 1px solid #E9EBEC;
      }
      .event-details {
        border-radius: 0 0 0 4px;
      }
      .event-users {
        border-radius: 0 0 4px 0;
      }
    }
  }

  .event-cell {
    .transition(all 2s linear);
    position: relative;
    display: table-cell;
    border-top: 1px solid #E9EBEC;
    padding: 15px 0;
    vertical-align: middle;
  }

  .deploy {
    background: lighten(#F8F9FA, 1.25);
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #E9EBEC;
    padding: 5px 0;
  }

  .row {
    margin: 0;
  }

  .checkbox {
    position: absolute;
    left: 16px;
    top: 4px;
  }

  .event-details {
    padding-left: 42px;
    h3 {
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: -0.25;
      margin: 0 0 3px;
      a {
        color: inherit;
      }
    }

    .event-message {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    p {
      line-height: 1.4;
      color: #79858C;
      margin-bottom: 0;
    }

    h3 a, p {
      display: block;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .event-meta {
      color: lighten(#79858C, 10);
      time {

      }
    }
  }

  .event-assignee {
    width: 40px;
    padding: 0 30px;

    .open .dropdown-toggle {
      background: #f1f2f3 !important;
      border-color: #cacccc;
      box-shadow: inset 0 1px 1px rgba(0,0,0, .06);
    }
  }

  .event-graph {
    width: 100px;
    margin-left: 30px;
  }

  .event-users {
    border-right: 1px solid #E9EBEC;
  }

  .event-users, .event-occurrences {
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 10px;
    width: 100px;
    span {
      color: #949ea4;
      font-size: 20px;
      padding: 3px 4px;
      .transition(all linear .3s);

      &.ng-update {
        background: rgba(255, 252, 82, 0.75);
        opacity: 1;
        border-radius: 4px;
        color: #111;
      }
    }
  }
  &.small {
    .checkbox, .event-graph, .event-assignee {
      display: none;
    }
    .event-details {
      padding-left: 0;
      &:after {
        display: none;
      }
    }

    li:first-child {
      .event-cell {
        padding-top: 0;
      }
    }

    li:last-child {
      .event-cell {
        border: 0;
        padding-bottom: 0;
      }
    }
  }

  &.similar-events {
    border-top: 1px solid #f1f2f3;

    .event-cell {
      display: block;
    }
    .event-details {
      padding-left: 10px;
    }
  }
}

ul.tag-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 15px;

  li {
    margin-bottom: 5px;
    position: relative;

    .progressbar {
      padding: 5px 0;
    }

    &:nth-child(even) {
      background: #f9f9f9;
    }

    span {
      position: absolute;
      right: 10px;
    }
  }
}

a.icon-share {
  margin-top: 1px;
  .opacity(30);
  zoom: 0.8;
  &:hover {
    .opacity(100);
  }
}
.progressbar {
  position: relative;
  min-height: 1.5em;
  line-height: 1.5em;

  > a,
  > div {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    max-width: 100%;
    position: absolute;
  }

  > div {
    border-radius: 3px;
  }

  > a {
    left: 0;
    position: relative;
    z-index: 1;
    padding-right: 60px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      position: absolute;
      right: 0px;
    }
  }

  > div {
    background-color: lighten(#f1f2f3, 2);
    text-indent: -100000em;
    z-index: 0;
  }
}

.tag-widget {
  h6 {
    margin: 15px 0 6px;
  }
}

// Tag list // --------------------------------------------------

.mini-tag-list {
  .clearfix();
  .list-unstyled();
  margin-bottom: 0;

  > li {
    float: left;
    background: #fff;
    border-radius: 3px;
    margin: 0 20px 10px 0;


    em {
      color: #aaa;
    }
  }
}

.event-toolbar {
  text-align: center;
  margin-bottom: 30px;

  h4 {
    font-size: 16px;
    margin: 5px 0 0;
  }
}

div.pastebin textarea { padding: 10px; background: #f9f9f9; border-color: #ddd; }

.error { background: #ffc; padding: 5px; }
.specific { color:#cc3300; font-weight:bold; }

/* message details */
.server-list, .url-list, .logger-list, .level-list { list-style: none; margin-left: 0; margin-bottom: 0; }
.server-list li, .url-list li { padding-bottom: 10px; }
.url-list li a { line-height: 18px; }

dl.flat {
    margin-bottom: 1em;
}
dl.flat dt {
    float: left;
    clear: left;
    width: 70px;
    padding-bottom: 5px;
}
dl.flat dd {
    padding-bottom: 5px;
}

#full-message {
    line-height: 1.5em;
}

// Activity // ---------------------------------------------

.activity {
  position: relative;

  > ul {
    list-style: none;
    margin: 0 0 0;
    padding-left: 0;

    > li {
      padding: 10px 0;
      position: relative;
      padding-left: 24px;
      border-bottom: 1px solid #E9EBEC;

      &:last-child {
        border: 0;
      }

      .avatar {
        position: absolute;
        left: 0;
        top: 11px;
        width: 16px;
        height: 16px;
        display: block;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 3px;

        img {
          width: 16px;
          height: 16px;
          display: block;
          border-radius: 16px;
        }

        &.sentry {
          background-image: url('../images/favicon.ico');
        }
      }

      p {
        font-size: 12px;
        margin-bottom: 10px;
        &:last-child {
          margin: 0;
        }
      }

      .sep, .time {
        font-size: 12px;
        color: #aaa;
      }
    }
  }

  .post-box {
    margin: -0 -0 5px;

    textarea {
      .form-control();
      min-height: 36px;
      margin: 0;
      .transition(.1s ease-in-out min-height);

      &.expanded {
        min-height: 52px;
      }
    }
  }
}

// Seen by // --------------------------------------------------

.seen-by {
  position: relative;
  margin-left: 0;
  > li {
    list-style: none;
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 32px;
    border: 1px solid #ddd;
    font-size: 15px;
    color: #aaa;

    img {
      height: 100%;
      width: 100%;
      height: 32px;
      width: 32px;
      border-radius: 32px;
    }
  }
}
