/**
* Group Detail
* ============================================================================
*/

.group-detail {
  position: relative;
  margin: 0 0 20px;

  &:before {
    position: absolute;
    content: "";
    display: block;
    top: -20px;
    left: -1000px;
    right: -1000px;
    bottom: -1px;
    background: #fff;
    border-bottom: 1px solid @trim;
    z-index: -1;
  }

  h3 {
    color: @grayDark;
    font-size: 22px;
    margin: 0 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.1;
  }

  .event-message, .event-meta {
    line-height: 1.2;
  }

  .event-message {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .event-meta {
    font-size: 80%;
    margin-top: 6px;
  }

  .count {
    font-size: 24px;
    display: block;
    line-height: 1.1;
    font-weight: 500;
  }

  .count-label {
    margin-top: 8px;
    display: block;
    font-size: 14px;
    font-weight: 400;
  }

  .is-assigned {
    clear: both;
    text-align: right;
    padding-top: 7px;
  }

  .assigned-to {
    text-align: right;
    position: relative;

    .btn-group {
      float: right;
    }

  }

  .meta {
    margin: 0 0 15px;
    color: #949ea4;
  }

  .group-actions {
    margin-top: 15px;

    .btn-group {
      margin-right: 5px;
    }

    .more .icon-arrow-down {
      margin-left: 5px;
    }

    .group-resolve.active {
      background: @green;
      color: #fff;
      border-color: darken(@green, 10);
      text-shadow: 0 1px 0 rgba(0,0,0, .15);
      box-shadow: none;
    }

    .group-bookmark.active {
      background: @purple;
      color: #fff;
      border-color: darken(@purple, 10);
      text-shadow: 0 1px 0 rgba(0,0,0, .15);
      box-shadow: none;
    }

    .group-remove:hover {
      color: #fff;
      background: @red;
      border-color: darken(@red, 14);
    }

    .clearfix;

    .id-label {
      background: #fff;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .severity {
    display: inline-block;
    position: relative;
    top: -7px;
    padding: 0 10px;
  }

  .nav-tabs {
    margin-top: 20px;
    margin-bottom: 0;
  }

  // loading indicator for the group needs extra fixing up.
  .assignee-selector {
    .loading {
      margin: 0;

      .loading-indicator {
        left: auto!important;
        right: 0!important;
      }
    }
  }
}

.seen-by {
  margin-top: 15px;
  float: right;

  ul {
    .list-unstyled;

    li:first-child {
      padding: 4px 5px 2px;
      border: 1px solid @trim;
      color: lighten(@gray, 15);
      border-radius: 2px;

      .icon-eye {
        font-size: 10px;
        opacity: .4;
      }
    }

    li {
      float: left;
      margin-left: 5px;

      img {
        border-radius: 2px;
        .square(28px);
      }
    }
  }
}

// Group Overview

.group-overview {
  .bar-chart {
    figure a {
      height: 70px;
    }
  }
  .bar-chart-small {
    figure a {
      height: 40px;
    }
  }
}

/**
* Activity
* ============================================================================
*/

.activity-container {
  position: relative;
  margin-bottom: 0;

  .activity-field {
    .form-control();
    padding: 0 10px 0 0;
    margin: 0 0 15px;
    .transition(padding .2s ease-in-out);

    textarea {
      display: block;
      width: 100%;
      max-height: 28px;
      max-width: 100%;
      margin: 0;
      .transition(.2s ease-in-out all);
      border: 0;
      padding: 10px 0 0 12px;
      margin-bottom: 10px;
      overflow: hidden;

      .placeholder(lighten(@gray, 28));

      &:focus {
        outline: 0;
      }
    }

    .activity-actions {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: right;
      border-top: 1px solid lighten(@trim, 4);
      opacity: 0;
      visibility: hidden;
      .transition(opacity .2s ease-in-out);

      .btn {
        font-size: 13px;
        margin: -1px -1px -1px;
        border-radius: 0 0 2px;
      }
    }

    &.expanded {
      padding-bottom: 35px;

      textarea {
        max-height: 1000px;
      }

      .activity-actions {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  > ul {
    .list-unstyled();
    margin-bottom: 0;

    .activity-note {
      position: relative;
      margin-bottom: 15px;

      .avatar {
        position: absolute;
        left: 0;
        top: 0;
        .square(32px);
      }

      .activity-bubble {
        background: #fff;
        border: 1px solid darken(@trim, 2);
        margin-left: 42px;
        border-radius: 2px;
        font-size: 13px;
        padding: 8px 12px;
        position: relative;

        &:before {
          display: block;
          content:"";
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-right: 7px solid darken(@trim, 2);;
          position: absolute;
          left: -7px;
          top: 9px;
        }

        &:after {
          display: block;
          content:"";
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-right: 6px solid #fff;
          position: absolute;
          left: -6px;
          top: 10px;
        }

        p {
          margin: 0;
        }

        .activity-author {
          font-weight: 500;
        }

        time {
          float: right;
          color: lighten(@gray, 20);
        }
      }
    }

    .activity-item {
      padding: 15px 0;
      border-top: 1px solid rgba(226, 231, 236, .4);
      position: relative;
      font-size: 13px;
      color: lighten(@gray, 20);

      .avatar {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 2px;
        position: relative;
        top: -1px;
        margin-right: 4px;

        &.sentry {
          color: @gray;
          font-size: 18px;
        }
      }

      time {
        float: right;
        color: lighten(@gray, 25);
      }

      .activity-author {
        font-weight: 500;
        color: lighten(@gray, 10);
      }
    }
  }

  .post-box {
    margin: -0 -0 5px;
  }
}

/**
* Event Toolbar
* ============================================================================
*/

.event-toolbar {
  margin: -20px -0 20px;
  height: 64px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid lighten(@trim, 3);
  position: relative;
  z-index: 1;

  .nav-tabs {
    margin: 0;
    > li a {
      padding-top: 21px;
      padding-bottom: 18px;
    }
  }

  .pull-right {
    margin-top: 12px;
  }
}

.sticky .event-toolbar {
  margin: 0 0 0 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.sticky + div .event {
  margin-top: 82px;
}

.module-user .avatar {
  .square(64px);

  img {
    height: 100%;
    width: 100%;
  }
}

.event-stats {
  padding-top: 84px;
  margin-top: -84px;
}

.sticky-sidebar {
  .event-stats {
    position: fixed;
    top: 84px;
    right: 20px;
  }
}

// User widget

.user-widget {
  margin: 0 0 20px;

  .avatar {
    .square(42px);
  }

  .btn-group {
    margin-top: -15px;
  }
}

/**
* Traceback
* ============================================================================
*/

.traceback {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.traceback > h3 {
  margin-top: 0;
  font-weight: normal;

  span {
    font-weight: 600;
  }
}

.traceback > pre {
  color: @grayDark;
  font-size: 12px;
  padding: 0;
  background: inherit;
  margin: -10px 0 20px;
}

.traceback ul {
  padding: 0;
}

.traceback > .traceback {
  padding-bottom: 5px;
}

.subtraceback {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  > h3 {
    line-height: 26px;
  }

  > h3:before {
    display: block;
    content: "";
    width: 20px;
    height: 0;
    border-bottom: 1px solid #E9EBEC;
    position: absolute;
    left: -15px;
    top: 11px;
  }
}

/**
* Frame
* ============================================================================
*/

.exc-message {
  margin: -10px 0 15px;
}

.frames-omitted,
.exc-omitted {
  color: #887676;
  font-size: 14px;
  font-weight: 500;
  border-left: 1px solid #E24444;
  border-right: 1px solid #E24444;
  background: #FFF0F0;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-left: -16px;
  margin-right: -16px;
}

.frame {
  overflow: hidden;
  position: relative;
  margin-bottom: 0;

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 12px;
    margin-bottom: 10px;

    a.annotation {
      &.trigger-popover {
        cursor: pointer;
      }
      color: inherit;
      padding: 0 1px;
      border-bottom: 1px dotted #666;
      &:hover { text-decoration: none; }
    }
  }

  .in-at {
    opacity: .7;
  }

  .blame {
    color: lighten(@gray, 5);

    a {
      color: @gray;
    }

    .icon-mark-github {
      position: relative;
      top: 1px;
    }
  }

  .divider {
    border-left: 1px solid @trim;
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 6px;
    position: relative;
    top: 1px;
  }

  code {
    padding: 0;
    background: #fff;
    font-size: inherit;
    color: inherit;
  }

  .context {
    margin-top: -5px;
    margin-bottom: 15px;
  }

  .tag-app {
    color: #aaa;
    font-size: 0.9em;
    margin-left: 10px;
  }

  > div > dl.vars {
    margin-bottom: 5px;
    > tbody > tr > th {
      color: @grayDark;
      text-align: right;
      padding-right: 12px !important;
    }
  }

  &.expanded {

    > p {
      color: #000;
    }

    .expandable {
      height: auto;
    }
  }

  &:last-child {
    .context {
      margin-bottom: 0;
    }

    .toggle-expand .btn {
      margin-bottom: -13px;
    }
  }
}

.expandable {
  height: 0;
  overflow: hidden;
  position: relative;

  .icon-plus {
    position: absolute;
    left: 6px;
    top: 5px;
    opacity: .25;
    .transition(.1s opacity linear);
  }

  &.vars {
    display: none;
  }

  .ws {
    display: none;
  }

  .contextline {
    padding-left: 12px;
  }

  &:hover {
    .icon-plus {
      opacity: .5;
    }
  }
}

.expanded {
  .icon-plus {
    display: none;
  }
  .expandable {
    overflow: none;
    height: auto;
  }

  .ws {
    display: inline;
  }

  .contextline {
    padding-left: 0;
  }

  dl.vars {
    &.expandable {
      display: block;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

ol.context {
  cursor: pointer;
  margin: 0;
  list-style-position: inside;
  border-radius: 3px;
  padding-left: 0;

  .vars {
    display: none;
  }

  > li {
    padding-left: 20px;
    font-family: @font-family-code;
    color: #222;
    background-color: #f6f7f8;
    line-height: 22px;
    font-size: 12px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  > li.active {
    background-color: #f6f7f8;
    min-height: 22px;
    list-style-type: none;
    border-radius: 3px;

    pre {
      color: @grayDark;
    }
  }

  > li:first-child {
      border-radius: 3px 3px 0 0;
  }

  > li:last-of-type {
      border-radius: 0 0 3px 3px;
  }

  li.closed {
    border-radius: 4px;
  }

  &.expanded {
    .vars {
      display: block;
    }

    > li.active {
      background-color: @blue;
      color: #fff;
      list-style-type: inherit;
      border-radius: 0;
    }
  }
}

dl.vars {
  margin-top: 20px;

  dt, dd {
    margin-bottom: 10px;
  }

  dt {
    padding-top: 10px;
    width: 130px;
    float: left;
    font-weight: 500;
    color: @grayDark;
  }

  pre {
    background: #f6f7f8;
    font-size: 12px;
    color: @grayDark;
  }
}

ol.context-line {
  > li {
    > span {
      float: right;
    }
  }
}

.expanded {
  ol.context {
    > li {
      min-height: 22px;
    }
    > li.active {
      background-color: @blue;
      color: #fff;
    }
  }
}

dl.flat {
  margin-bottom: 1em;
}
dl.flat dt {
  float: left;
  clear: left;
  width: 70px;
  padding-bottom: 5px;
}
dl.flat dd {
  padding-bottom: 5px;
}

#full-message {
  line-height: 1.5em;

  &#full-message {
    background: none;
    padding: 0;
  }
}

&.expanded div.commands,
div.commands:hover {
  .opacity(100);
  a {
    color: @state-info-text;
  }
}

div.commands {
  position: absolute;
  right: 10px;
  top: 6px;
  font-size: 0.9em;
  .opacity(30);

  a {
    color: #666;
    text-decoration: none;
    span {
      font-size: 9px;
      margin-right: 5px;
    }
  }
}

// Request

.box-clippable {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  border-top: 1px solid #f1f2f3;
  .transition(all .5s ease-in-out);
  max-height: 5000px;

  &:first-child {
    margin-top: -20px;
    border: 0;
  }

  .clip-fade {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px 0 0;
    #gradient > .vertical(rgba(255,255,255, .15), rgba(255,255,255, 1));
    text-align: center;
    border-bottom: 15px solid #fff;
  }

  &.clipped {
    .clip-fade {
      display: block;
    }

    max-height: 200px;
    overflow: hidden;
  }

}

/* message details */
.server-list, .url-list, .logger-list, .level-list { list-style: none; margin-left: 0; margin-bottom: 0; }
.server-list li, .url-list li { padding-bottom: 10px; }
.url-list li a { line-height: 18px; }

/**
* Responsive small screen
* ============================================================================
*/

@media(max-width:767px) {
  .group-detail {
    border: 0;
    margin: -10px 0 -5px;

    h3 {
      white-space: normal;
      font-size: 20px;
      line-height: 1.1;
    }

    .meta {
      font-size: 13px;
    }

    .assigned-to .btn-group {
      float: none;
      margin-left: -6px;

      .dropdown-menu {
        left: 0;
        right: auto;
      }
    }

    .count {
      font-size: 18px;
    }

    .user-selector {
      height: 25px;
      position: relative;
      left: 6px;
    }

    .is-assigned {
      text-align: left;
    }

    .stats {
      margin-bottom: 15px;

      .row {
        border: 1px solid #E9EBEC;
        border-radius: 4px;
        margin: 0;
      }
    }

    .assigned-to, .event-count, .user-count {
      padding: 6px 12px;
      margin: 0;
    }

    .event-count, .user-count {
      border-left: 1px solid #E9EBEC;
    }
  }

  .btn-group.more {
    float: right;

    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }

  .group-detail-filters {
    margin: -32px -17px -2px;
    padding-right: 0;

    a {
      padding: 10px 0;
    }
  }

  .event-toolbar {
    display: none;
  }

  .context {
    overflow: auto;

    li {
      width: 800px;
    }
  }
}
