@sidebar-width: 60px;
@sidebar-panel-width: 320px;

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: @font-family-base;
  font-size: 16px;
  line-height: 24px;
  color: @gray-darker;
  -webkit-font-smoothing: antialiased;
  .transition(.1s padding ease-in-out);
  overflow-x: hidden;
  padding-left: @sidebar-width;
}

/**
* body.narrow
* ============================================================================
*/

body.narrow {
  background: #fff;

  .container {
    max-width: 760px !important;
  }
}

/**
* body.white-bg
* ============================================================================
*/

body.white-bg {
  background: #fff;
}

/**
* body.auth
* ============================================================================
*/

body.auth {
  zoom: 1;
  .container {
    max-width: 400px !important;
  }
}

/**
* Container / Content
* ============================================================================
*/

.app {
  display: flex;
  flex-direction: column;
}


.container {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  width: 100% !important;
}

/**
* Navbar
* ============================================================================
*/

.navbar {
  background-color: @header-bg-color;
  color: #fff;
  .clearfix();
  font-size: 15px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: @sidebar-width;
  z-index: 100;

  .container {
    padding-left: 14px;
    padding-right: 14px;
    position: static;
  }

  .admin-action-message {
    line-height: 42px;
    display: block;
    float: right;
    font-size: 13px;
    font-weight: bold;
    padding-right: 10px;
    .animated;
    .animated.infinite;
    .animated.hinge;
    .flash-50;
  }

  .logo {
    display: block;
    float: left;
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin: 2px 0 0 1px;
  }

  .global-nav {
    .list-unstyled();
    margin: 0;

    li {
      float: left;
      margin-right: 16px;
      margin-left: 15px;

      a {
        height: 40px;
        line-height: 42px;
      }
    }
  }

  .icon-sentry-logo, .icon-sentry-logo-full {
    line-height: 40px;
  }

  .org-selector {
    padding: 15px 0;
    position: relative;

    .hover-bar-container {
      position: absolute;
      width: 32px;
      height: 3px;
      bottom: -2px;
      border-radius: 2px;
      overflow: hidden;

      .hover-bar {
        width: 0;
        height: 3px;
        background: rgba(255,255,255, .35);
        -webkit-transition: width 500ms ease;
      }
    }

    &:hover {
      .hover-bar-container {
        background: #625c69;
      }
      .hover-bar {
        width: 100%;
      }
    }

    &.active{
      &:before {
        position: absolute;
        display: block;
        content: "";
        right: -14px;
        top: 50%;
        margin-top: -6px;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid #F7F8F9;
      }
      &:hover {
        .hover-bar-container {
          display: none;
        }
      }
    }

    .org-list {
      > li {
        padding: 15px 20px 10px 68px;
        border-bottom: 1px solid @trim;
        position: relative;
        background: #fff;

        a {
          color: @50;

          &:hover {
            color: @70;
          }
        }

        h5, p {
          margin: 0;
        }

        h5 {
          font-size: 16px;
          margin-bottom: 2px;

          a {
            color: @80;

            &:hover {
              color: @90;
            }
          }
        }

        p {
          font-size: 13px;
          a {
            margin-right: 10px;
          }
        }

        &.active {
          background: #F5FAFE;
          border-top: 1px solid #B5D6ED;
          border-bottom: 1px solid #B5D6ED;
          margin-top: -1px;
        }

        &.org-create {
          padding: 15px 20px;
          background: none;

          a {
            color: @70;

            &:hover {
              color: @90;
            }
          }
        }
      }

      .org-avatar {
        position: absolute;
        display: block;
        left: 20px;
        .square(36px);
        background-color: @50;
        border-radius: 3px;
        text-align: center;
        line-height: 36px;
        color: #fff;

        &:hover, &:active, &:focus {
          color: #fff;
        }
      }
    }

    .active-org {
      display: block;
      .square(32px);
      &:before {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: -15px;
        right: -15px;
        bottom: -5px;
      }

      img {
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0, .3);
      }
    }
  }

  .navbar-nav {
    .list-unstyled;
    padding: 10px 0 5px;

    > li {
      position: relative;
      text-align: center;
      line-height: 32px;
      max-height: 32px;
      margin: 5px 0;
      .clearfix;

      > a {
        color: @40;

        &:hover, &:focus, &:active {
          color: #fff;
        }
      }

      &.active {
        > a {
          color: #fff;
        }

        &:before {
          position: absolute;
          display: block;
          content: "";
          right: -14px;
          top: 50%;
          margin-top: -8px;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-right: 7px solid #F7F8F9;
        }
      }
    }

    > li.onboarding {
      max-height: 9999em;
      margin: 12px 0;
    }

    .icon-user, .icon-star-solid {
      font-size: 18px;
    }

    .icon-av_timer {
      padding-top: 2px;
      font-size: 25px;
      line-height: 32px;
    }

    .icon-globe, .icon-alert {
      font-size: 20px;
    }

    &.anchor-bottom {
      position: absolute;
      bottom: -20px;
      width: 32px;
    }

    .activity-indicator {
      position: absolute;
      top: 2px;
      right: 3px;
      .square(8px);
      background: @red;
      border-radius: 50%;
      box-shadow: 0 0 0 3px @header-bg-color;
    }
  }

  .divider-top {
    border-top: 1px solid @gray;
  }

  .divider-bottom {
    border-bottom: 1px solid @gray;
  }

  .org-selector {
    .dropdown-menu {
      top: 38px;
    }
  }

  .user-settings {
    .avatar {
      .square(32px);
      box-shadow: 0 1px 1px rggba(0,0,0, .3);
    }

    .dropdown-toggle {
      display: block;
    }

    .dropdown-menu {
      left: 34px;
      top: auto;
      bottom: -4px;
      background: @90;
      border-color: transparent;
      box-shadow: 0 1px 3px rgba(0,0,0, .25);
      color: #fff;
      border-radius: 4px;

      a {
        color: @20;

        &:hover {
          color: @purple-light;
          background: transparent;
        }
      }

      &:before {
        display: none;
      }

      &:after {
        top: auto;
        left: -18px;
        bottom: 12px;
        border: 9px solid transparent;
        border-right: 9px solid @90;
      }
    }
  }

  .onboarding-progress-bar {
    margin: 0 8px;
  }

  .dropdown-toggle {
    .icon-arrow-down {
      color: #83899D;
      font-size: 12px !important;
      top: 1px;
      margin-left: 4px;
    }

    .avatar {
      border-radius: 2px;
      margin-right: 6px;
      position: relative;
      top: -1px;
    }
  }

  .dropdown.open {
    .dropdown-toggle {
      color: #fff;
      background: rgba(0,0,0, .3);
    }
  }
}

// Status update

.navbar .icon-alert {
  color: @yellow-orange;
}

.sub-header {
  color: @gray-dark;
  border-bottom: 1px solid @trim;
  position: relative;
  padding: 20px 0 0;
  margin: 0 0 20px;
  line-height: 1;
  font-size: 16px;
  .clearfix;

  .org-name {
    float: left;
    font-weight: bold;
    color: @gray-darker;

    a {
      color: @gray-darker;

      &:hover {
        color: @gray-darkest;
      }
    }
  }

  .project-select {
    position: relative;

    h3 {
      font-size: 20px;
      margin-bottom: 14px;
    }

    .project-selected {
      background-color: lighten(@blue-light, 30);
    }
  }

  .logo-logged-in {
    position: relative;
    padding-left: 38px;
    .icon-sentry-logo {
      position: absolute;
      left: 0;
    }
  }

  a {
    color: @gray-darker;

    &:hover, &:active, &:focus {
      color: @gray-darkest;
      text-decoration: none;
    }
  }

  h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
  }

  .nav-tabs {
    position: relative;
    margin-top: -3px;
    z-index: 2;
    margin-bottom: -20px;

    li {
      position: relative;
      z-index: 2;

      a {
        padding-bottom: 13px;
      }
    }
  }
}

@sidebar-panel-header-height: 62px;

.sidebar-panel {
  position: fixed;
  width: @sidebar-panel-width;
  top: 0;
  left: @sidebar-width;
  bottom: 0;
  background: @white-darker;
  z-index: 100;
  color: @gray-darker;
  border-right: 1px solid @trim;
  box-shadow: 1px 0 2px rgba(0,0,0, .06);
  text-align: left;
  line-height: 24px;


  .sidebar-panel-header {
    border-bottom: 1px solid @trim;
    padding: 23px 20px 20px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0, .06);
    height: @sidebar-panel-header-height;

    .close {
      font-size: 11px;
      position: relative;
      top: -2px;
      color: @40;

      &:hover {
        color: @60;
      }
    }

    h2 {
      font-size: 18px;
      margin: 0;
      font-weight: normal;
    }
  }

  .sidebar-panel-body {
    position: absolute;
    top: @sidebar-panel-header-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }

  .sidebar-panel-item {
    padding: 15px 20px;
    line-height: 1.2;
    cursor: pointer;
    border-bottom: 1px solid @trim;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0, .06);
    font-size: 14px;

    h3 {
      font-size: 15px;
      margin-bottom: 5px;
      .culprit {
        font-weight: normal;
      }
    }

    p {
      margin-bottom: 5px;
    }

    a {
      color: @50;

      &:hover {
        color: @70;
      }
    }

    .message {
      color: @gray-dark;
    }

    &.active {
      background: @10;
      border-color: @30;
      border-top: 1px solid @30;
      margin-top: -1px;
    }
  }

  .sidebar-panel-empty {
    color: @50;
    text-align: center;
    position: absolute;
    top: 50%;
    padding: 0 50px;
    margin-top: (-62px + -16px) / 2; // offset for sidebar-panel-header + font-size
  }
}

.incident-list {
  padding: 20px 20px;
  font-size: 13px;

  h4, p, h6  {
     margin-bottom: 15px;
  }

  h4 {
    font-size: 18px;
  }

  h6 {
    color: @60;
  }

  p {
    line-height: 1.5;
  }

  small {
    color: @60;
  }

  .incident-item {
    border-bottom: 1px solid @trim;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
}

.range-picker {
  .dropdown-toggle {
    font-size: 18px;
    font-weight: 600;

    .icon-arrow-down {
      top: 2px;
      margin-left: 4px;
    }
  }
}

/**
* Content sidebar
* ============================================================================
*/

.content .sidebar {
  float: right;
}


/**
* Footer
* ============================================================================
*/

footer {
  line-height: 30px;
  text-align: center;
  color: @gray;
  border-top: 1px solid @trim;
  margin-top: 20px;
  padding: 28px 0;

  .pull-right {
    a {
      margin-left: 20px;
    }
  }

  a {
    color: @gray;
    &:hover {
      color: @gray-dark;
    }
  }

  .icon-sentry-logo {
    color: @gray;
    font-size: 28px;
    width: 32px;
    margin: 0 auto;
    display: block;
  }
}


/**
* Project action menu
* ============================================================================
*/

.project-actions {
  margin-top: -5px;
  position: relative;
  z-index: 100;

  a {
    padding-left: 30px;
    color: @80;

    &:hover {
      color: @90;
    }
  }

  .icon {
    font-size: 14px;
    padding-right: 4px;
    color: @40;

    &.icon-signal  {
      font-size: 18px;
      position: relative;
      top: 1px;
    }
  }
}


/**
* Windowed
* ============================================================================
*/

.windowed-small {
  background: #fbfbfc;
  padding-top: 100px;

  .container {
    max-width: 600px !important;
    width: auto !important;
    margin: 0 auto;
  }

  header {
    margin-top: -100px;
    background: none;
    margin-bottom: 30px;
  }

  footer {
    display: none;
  }
}

/**
* Print
* ============================================================================
*/

@media print {
    body {
        color: @gray-darkest;
    }
    header {
        display: none;
    }
    .org-sidebar, .toolbar {
      display: none;
    }
    .content {
      padding: 0 !important;
    }
    #CModal, footer { display: none; }
}

/**
* Responsive Desktop
* ============================================================================
*/

@media(max-width:1200px) {
  .container {
    width: 100% !important;
  }
}

/**
* Responsive small screens
* ============================================================================
*/

@media(max-width:400px) {
  .project-select {
    display: none !important;
  }
  .sub-header .pull-right {
    float: left !important;

    li {
      margin: 0 15px 0 0px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

@media(max-width:767px) {
  body {
    overflow-x: hidden;
    zoom: .85;
  }
}
