img {
	max-width: 100%;
}

.image {
	border: 1px solid #e1e4e5;
	padding: 15px;
	border-radius: 2px;
}

.truncate {
	max-width: 100%;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bordered-column {
	border-right: 1px solid @trim;
	margin: -20px -1px 0 -10px;
	padding: 20px 20px 0;

	&+.bordered-column {
		border: 0;
		border-left: 1px solid @trim;
		margin: -20px 0 0 0;
		padding: 20px 0 0 20px;
	}
}

.no-border {
	border: 0 !important;
}
