.new-team {
  color: @gray;
  font-size: 15px;
  opacity: .8;

  .icon-plus {
    position: relative;
    top: 2px;
    font-size: 18px;
    opacity: .5;
  }

  &:hover {
    color: @gray;
    opacity: 1;
  }
}

/**
* Team list
* ============================================================================
*/

.team-list {
  list-style: none;
  padding-left: 0;

  .nav-tabs {
    li a {
      padding: 0 0 15px;
    }
  }

  .box-header {
    .actions {

        a {
          font-size: 13px;
          margin-left: 20px;
        }

        .icon-plus {
          top: 1px;
          font-size: 16px;
        }

        .icon-settings {
          top: 1px;
        }
      }

      a {
        color: @gray;
        &:hover {
          color: darken(@gray, 20);
        }
      }
  }

  .box-content {
    .clearfix();
    position: relative;
    padding-bottom: 10px !important;
  }

  .loading {
    display: none;
  }

  .chart {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    top: 10px;
    opacity: .75;
  }

  .projects {
    position: relative;
    overflow: hidden;
    padding-left: 0;
    list-style: circle;
    margin-left: -2%;
    margin-bottom: 0;

    > li {
      float: left;
      width: 23%;
      margin-left: 2%;
      margin-bottom: 8px;

      a {
        display: block;
        font-size: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

/**
* Create team
* ============================================================================
*/

.create-flow {
  .help-block {
    font-size: 14px;
    color: @gray;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .control-group {
    margin-bottom: 20px;
  }

  input[type="text"] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    margin: 0;
  }

  .actions {
    text-align: right;
    border-top: 2px solid darken(#f1f2f3, 0);
    padding-top: 30px;
    margin-top: 10px;
  }

  .steps {
    .clearfix();
    list-style-type: none;
    padding: 0;
    margin: 30px 0;

    li {
      width: 35%;
      float: left;
      text-align: center;
      font-size: 24px;
      color: lighten(@gray, 50);

      &.active {
        color: @gray;
      }

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}

/**
* SSO
* ============================================================================
*/

.sso {
  h3 {
    margin: 0 0 20px;
  }

  h4 {
    margin: 0 0 3px;
    line-height: 1.2;
  }

  .simple-list {
    margin-bottom: 0;

    li {
      position: relative;
      border-bottom: 1px solid #f6f7f8;
      padding: 20px 20px 0 80px;

      &:last-child {
        border: 0;
      }

      button {
        margin-top: 3px;
      }

      .provider-logo {
        position: absolute;
        left: 20px;
        top: 20px;
        .square(48px);
        border-radius: 3px;
      }
    }
  }
}

// Project list

.my-projects {
  .divider {
    color: @gray-light;
    padding: 0 4px;
  }

  tbody tr td {
    padding: 25px 20px 23px !important;
    height: 70px;
  }

  a {
    color: @gray;

    &:hover {
      color: @grayDark;
    }
  }
}
