/**
 * Sentry Color Palette
 * ============================================================================
 */

@blue: #2c60bf;
@blue-light: #698ed1;
@blue-dark: #2551a2;

@green: #45bf84;
@green-light: #7ad1a7;
@green-dark: #3aa16f;

@yellow: #eb982d;
@yellow-light: #f0b569;
@yellow-dark: #c78126;

@yellow-orange: #eb7738;
@yellow-orange-light: #f09e71;
@yellow-orange-dark: #c7652f;

@orange: #ed5934;
@orange-light: #f2896e;
@orange-dark: #c94b2c;

@red: #de3a2b;
@red-light: #e8675b;
@red-dark: #bd2215;
@red-darkest: darken(@red, 20%);

@pink: #d94aa2;
@pink-light: #e47ebc;
@pink-dark: #b83e89;

@purple: #5c4cc7;
@purple-light: #8b7fd7;
@purple-lightest: #9f92fa;
@purple-dark: #40358b;
@purple-darkest: #392c94;

@gray: @70;
@gray-light: desaturate(@50, 5%);
@gray-lighter: @40;
@gray-lightest: @20;
@gray-dark: @80;
@gray-darker: @90;
@gray-darkest: @100;

@white: #ffffff;
@white-dark: #fbfbfc;
@white-darker: #f7f8f9;
@white-darkest: darken(@white-darker, 6);

/**
 * Shortcuts
 * ============================================================================
 */

@link-color: @blue;
@link-color-hover: @blue-dark;
@header-bg-color: #342c3e;

@trim: #e2dbe8;
@trim-dark: #d1cad8;
@trim-darkest: darken(@trim, 10);

// Alerts (TODO): Derive these from palette

@alert-warning-bg-color: #fffdf7;
@alert-warning-border-color: #e1d697;

@alert-danger-bg-color: #fdf6f5;
@alert-danger-border-color: #e7c0bc;

@alert-info-bg-color: #f5fafe;
@alert-info-border-color: #b5d6ed;

@alert-success-bg-color: #f8fcf7;
@alert-success-border-color: #bbd6b3;

/**
 * Playing around
 * ============================================================================
 */

@100: desaturate(#16111b, 8%);
@90: lighten(@100, 10%);
@80: lighten(@100, 20%);
@70: lighten(@100, 30%);
@60: lighten(@100, 40%);
@50: lighten(@100, 50%);
@40: lighten(@100, 60%);
@30: lighten(@100, 70%);
@20: lighten(@100, 80%);
@10: lighten(@100, 90%);
