/**
 * Sentry Color Palette
 * ============================================================================
 */

@blue: #25A6F7;
@blue-light: #5BBCF9;
@blue-dark: #1D87CE;

@green: #6FBA57;
@green-light: #93CB81;
@green-dark: #599748;

@yellow: #F6D846;
@yellow-light: #F8E174;
@yellow-dark: #C5B03A;

@yellow-orange: #F8A509;
@yellow-orange-light: #F9BB46;
@yellow-orange-dark: #C78607;

@orange: #EC5B33;
@orange-light: #F08466;
@orange-dark: #BD4A2A;

@red: #E35141;
@red-light: #EA7C70;
@red-dark: #B64236;

@pink: #E56AA6;
@pink-light: #EB8FBC;
@pink-dark: #B8568A;

@purple: #836CC2;
@purple-light: #A290D1;
@purple-dark: #6958A2;

@gray: #6F7E94;
@gray-light: #94A0B3;
@gray-lighter: #BAC2D3;
@gray-lightest: #D6DBE4;
@gray-dark: #546076;
@gray-darker: #394359;
@gray-darkest: #1E263C;

@white: #FFFFFF;
@white-dark: #FBFBFC;
@white-darker: #F7F8F9;
@white-darkest: darken(@white-darker, 6);

/**
 * Shortcuts
 * ============================================================================
 */

@link-color: @blue;
@link-color-hover: @blue-dark;

@header-bg-color: @gray-dark;

@trim: @gray-lightest;
