/**
* Rules
* ============================================================================
*/

.rules-list {
	h6 {
		font-weight: 600;
	}

	.box-content {
		padding-bottom: 20px !important;
	}

	.table {
		margin-bottom: 10px;
	}

	.add {
		margin-bottom: 20px;
	}

	.conditions.table td, .actions.table td {
		padding: 12px 15px 10px !important;

		a {
			color: lighten(@gray, 30);

			&:hover {
				color: @gray;
			}
		}
	}
}
