/**
* Release list
* ============================================================================
*/

.release-search {
  .search-input {
    margin-top: -6px;
  }
}

/**
* Release Detail
* ============================================================================
*/

.release-details {
  position: relative;
  margin: 0 0 20px;
  border-bottom: 1px solid @trim;

  h3 {
    margin-bottom: 0;
    color: @gray-darkest;
  }

  .release-stats {
    text-align: right;

    .avatar-grid {
      flex-direction: row-reverse;
    }

    h6 {
      .nav-header;
      margin-bottom: 10px;
    }
  }

  .stream-count {
    font-weight: bold;
    font-size: 18px;
  }

  .nav-tabs {
    margin-bottom: 0;
  }
}

.release-meta {
  color: @gray;
  margin-bottom: 20px;

  .icon {
    font-size: 13px;
  }

  a {
    color: @gray-dark;

    &:hover {
      color: @gray-darker;
    }
  }
}

.release-count {
  font-size: 28px;
  color: lighten(@gray, 30);
}

/**
* Commit Bar
* ============================================================================
*/

.commit-bar {
  height: 6px;
  border-radius: 2px;
  background-color: @green;
}

/**
* Commits Tab
* ============================================================================
*/

.commits-dropdown {
  padding-left: 0;
  width: 180px;
  margin-bottom: 10px;
  a {
    color: @gray-darkest;
  }
  .dropdown-actor-title {
    font-size: 16px;
    font-weight: bold;
  }

  .dropdown-menu {
    top: 10px;
  }
}

/**
* Last Commit in Release Overview
* ============================================================================
*/

.commit {
  margin-top: 5px;
  margin-bottom: 20px;
  position: relative;
  padding: 1px 0 0 25px;
  font-size: 13px;

  .commit-avatar {
    position: absolute;
    .square(19px);
    top: 2px;
    left: 0;

    .avatar {
      .square(19px);
    }
  }

  .commit-message {
    line-height: 1.4;
    margin: 2px 0 5px;
  }
}
