// Vendor

@import url("../vendor/bootstrap/less/bootstrap.less");
@import url("vendor/datepicker.less");
@import url("vendor/github.less");
@import url("vendor/selectize.less");
@import url("vendor/pygments.less");
@import url("vendor/simple-slider.less");
@import url("vendor/typeahead.less");

// Sentry Components

@import url("fonts.less");
@import url("variables.less");
@import url("typography.less");
@import url("layout.less");
@import url("navs.less");
@import url("forms.less");
@import url("buttons.less");
@import url("graphs.less");
@import url("responsive.less");
@import url("platforms.less");
@import url("tables.less");
@import url("common.less");

// Sentry Pages

@import url("stream.less");
@import url("group-detail.less");

// Alerts // --------------------------------------------------

.alert {
  border-radius: 4px;
  text-shadow: none;
  background: #ffc01a;
  color: #fff;
  border: 0;
  margin-bottom: 30px;

  .close {
    opacity: .5;
    font-weight: 500;
    position: relative;
    top: -2px;
    box-shadow: none;
    .transition(opacity .15s);

    &:hover {
      box-shadow: none;
      color: #fff;
      opacity: 1;
    }
  }
  a {
    font-weight: 500;
    color: inherit;
  }
}
.alert-block {
  padding-bottom: 5px;
  > p {
    margin-bottom: 9px;
  }
  > ul {
    margin-bottom: 9px;
  }
}
.alert-error {
  background: #ff2e46;
}
.alert-info {
  background: #2e9fff;
}
.alert-success {
  background: #4bad00;
}

.active-alerts {
  margin: 15px 25px 0;
  padding: 0 5px;
  li.alert {
    margin-bottom: 5px;
  }
}

// Plugins // ----------------------------------------------

.plugin-meta {
  .description {
    p { font-size: 13px; }
  }
}

@media print {
    body {
        color: @black;
    }
    header {
        display: none;
    }
    .sidebar, .toolbar {
      display: none;
    }
    .content {
      padding: 0 !important;
    }
    #CModal, footer { display: none; }
}

.team-index {

  h2 {
    font-size: 26px;
    margin: 0 0 28px;
    letter-spacing: -0.25px;
  }

  .team-list {
    list-style: none;
    padding-left: 0;

    > li {
      display: block;
      margin: 0 0 20px 0;
      padding: 18px 20px 12px;
      border: 1px solid darken(#E9EBEC, 2.5);
      box-shadow: 0 1px 2px rgba(70, 82, 98, .06);
      position: relative;
      border-radius: 5px;
      overflow: hidden;

      .loading {
        display: none;
      }

      &:hover {
        border-color: #56AFE8;
        h2 {
          color: #000;
        }
      }

      h2 {
        width: 100%;
        position: relative;
        margin-bottom: 8px;
        line-height: 26px;
        font-size: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: @grayDark;
        font-weight: 500;

        a {
          color: inherit;
          &:hover {
            color: @linkColorHover;
          }
        }
      }

      .chart {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        top: 10px;
      }

      > ul {
        position: relative;

        overflow: hidden;
        padding-left: 0;
        list-style: circle;
        margin-left: -2%;

        > li {
          float: left;
          width: 23%;
          margin-left: 2%;
          margin-bottom: 5px;

          a {
            display: block;
            font-size: 17px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

.rule-list {
  list-style: none;
  li {
    line-height: 30px;
    input[type=number] {
      border-width: 0 0 1px;
      width: 50px;
      border-radius: 0;
      .box-shadow(none);
    }
  }
}
