//
// Sentry List Group
// Extends Bootstrap's list-group
//
// Variables for this component can be found in variables.less
//

.list-group {
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.03);
  &.list-group-striped {
    .list-group-item:nth-child(odd) {
      background: @white-dark;
    }
  }

  .list-group-item {
    padding: 10px 20px;

    &.list-group-item-sm {
      padding: 5px 10px;
      min-height: 36px;
    }

    // When pairing title / description / meta use <h*>, <p>, and <p>
    h1,
    h2 {
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 4px;
    }

    h3,
    h4,
    h5 {
      margin: 1px 0;
      font-size: 15px;
      line-height: 1.25;
    }

    h6 {
      margin: 0 0 5px;
    }

    p {
      font-size: 13px;
      color: @80;
      line-height: 1.3;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .list-group-actions {
      > .btn-group,
      > .btn {
        margin-left: 5px;
      }
      > .btn-group .btn,
      .btn-group .btn + .btn,
      .btn-group .btn + .btn-group,
      .btn-group .btn-group + .btn,
      .btn-group .btn-group + .btn-group {
        margin-left: -1px;
      }
    }
  }

  &.list-group-lg {
    .list-group-item {
      padding: 15px 20px;
    }
  }
}
