/**
* Buttons
* ============================================================================
*/

.btn {
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: 600;
  padding: 8px 16px;

  .transition(all .1s);

  &:active {
    box-shadow: none;
  }
  &.disabled {
    color: #CED3D6;
    border-color: #E3E5E6;
  }
  &.btn-default, .btn-primary, .btn-danger {
    &:active {
      position: relative;
      top: 2px;
    }
  }
}

/* Button sizes */

.btn-sm {
  font-size: 12px;
  padding: 4px 9px;
}

.btn-lg {
  font-size: 16px;
  padding: 10px 20px;
}

.btn-xs {
  font-size: 85%;
  padding: 4px 10px;
}

/* Button types */

.btn-default {
  color: @grayDark;
  background-color: #fff;
  border-color: @trim;
  box-shadow: none;

  &:hover, &:focus, &:active {
    color: #34343f;
    background-color: darken(#f1f2f3, 2);
    border-color: darken(#cacccc, 5);
  }
}

.btn-primary {
  color: #ffffff;
  background-color: @blue;
  border-color: darken(@blue, 15);
  box-shadow: none;

  &:hover, &:focus, &:active {
    background-color: darken(@blue, 5);
    border-color: darken(@blue, 18);
  }
}

.btn-danger {
  background: #fff;
  color: darken(@red, 15);
  border-color: @red;
  box-shadow: none;

  &:hover, &:focus, &:active {
    background: #fff;
    color: darken(@red, 15);
    border-color: darken(@red, 20);
  }
}

.btn-group .btn + .btn {
  margin-left: -1px;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

// Disabled buttons

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active, .btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
  color: lighten(@gray, 50);
  border-color: lighten(@gray, 58);
  background: #fff;
  opacity: 1;
  text-shadow: none;
}

/* Button icons */

.btn {
  .icon-bookmark {
    position: relative;
    top: 2px;
    margin-right: -1px;
    margin-left: -1px;
  }

  .icon-ellipsis {
    position: relative;
    top: 2px;
  }

  .icon-checkmark, .icon-trash, .icon-pause {
    position: relative;
    top: 1px;
    margin-right: -1px;
  }

  .icon-play {
    font-size: 14px;
    position: relative;
    top: 2px;
    left: -2px;
    width: 0;
    margin-right: -6px;
  }
}

/* Small button icons */

.btn-sm {
  .icon-arrow-down, .icon-arrow-right, .icon-arrow-left {
    font-size: 14px !important;
    top: 2px;
  }
}

// btn-group

.btn-group {
  .btn:active {
    position: static;
  }
  .btn code {
    background: transparent;
    color: inherit;
    padding: 0;
  }
  .btn {
    position: relative;
    z-index: 1 !important;
  }

  .btn.active {
    color: #fff;
    box-shadow: none;
    background: @blue;
    border-color: darken(@blue, 15);
    z-index: 2 !important;
    &:hover {
      color: #fff;
    }
  }
}

/* Justified button group */

.btn-group-justified {
  .btn {
    height: 44px;
    background: #fff;
    color: #808088;
    border-color: darken(@trim, 5);

    &:hover {
      color: @gray;
    }

    &:active {
      top: 0;
    }
  }
  .btn-middle {
    border-left: 0;
    border-right: 0;
    position: relative;
    &:before, &:after {
      display: block;
      content: "";
      position: absolute;
      top: -1px;
      bottom: -1px;
      width: 1px;
      background: transparent;
    }
    &:after {
      left: -1px;
    }
    &:before {
      right: -1px;
    }

    &.active {
      &:after, &:before {
        background: darken(@blue, 20);
      }
    }
  }
}

/**
* Tables
* ============================================================================
*/

table.table {
  table-layout: auto;
  margin-bottom: 0;
  border: 1px solid @trim;
  border-radius: 2px;
  border-spacing: 0;
  border-collapse: separate !important;
  background: #fff;

  td, th {
    border: 0 !important;
    vertical-align: middle !important;
    padding: 20px !important;
    line-height: 1 !important;
  }

  th {
    font-weight: 600 !important;
  }

  tr {
    th:first-child {
      border-top-left-radius: 4px;
    }
    th:last-child {
      border-top-right-radius: 4px;
    }

    &:first-child {
      > td {
        border-top: 0 !important;
      }
    }
  }

  th {
    border: none !important;
    border-bottom: 1px solid @trim !important;
  }

  td {
    border-top: 1px solid lighten(@trim, 8) !important;
  }

  .squash {
    width: 1%;
  }

  .table-user-info {
    position: relative;
    padding-left: 65px !important;
    line-height: 1.2 !important;
    font-size: 13px;

    h5 {
      font-weight: 600;
      font-size: 15px;
      margin: 0 0 4px;
    }

    .avatar {
      .square(36px);
      position: absolute;
      left: 20px;
      top: 18px;
    }
  }

  &.closed {
    display: none;
  }
}

thead + tbody {
  tr:first-child {
    td {
      border: 0 !important;
    }
  }
}

.condition-list, .action-list {
  th, td {
    vertical-align: middle !important;
  }
}

table.vars {

  border: 0;

  th, td {
    border: none;
    padding: 5px 8px;
    word-break: break-all;
    border: 1px solid #E9EBEC !important;
  }

  td .btn, th .btn {
    white-space: nowrap
  }

  td.values, td.code {
    overflow: hidden;

    > pre {
      background-color: inherit;
      padding: 0;
      border: 0;
      margin-bottom: 0;
    }
  }
}

table.table.vars {
  margin-top: -5px;
  border-radius: 0;

  tr:first-child > td, tr:first-child > th {
    border-top: 0 !important;
  }

  td, th {
    padding: 12px 0 !important;
    border: 0;
    vertical-align: top !important;
    border: 0 !important;
    border-top: 1px solid #f1f2f3 !important;
    border-radius: 0 !important;
  }
  td table {
    border-top: 0;
    margin-top: -12px;
    margin-bottom: -10px;
  }
  thead th,
  thead td {
    background-color: #fff !important;
  }
  tbody > tr:nth-child(odd) > td,
  tbody > tr:nth-child(odd) > th {
    background-color: #fff;
  }
  tbody > tr:nth-child(even) > td,
  tbody > tr:nth-child(even) > th {
    background-color: #fff;
  }
}

table.vars .toggle-expand {
  border-top: 0 !important;
  padding-top: 2px !important;

  .btn {
    background: rgba(0,0,0, .02);
  }
}

table.integrations {
  td, th {
    padding: 20px !important;
  }

  td:first-child {
    position: relative;
    padding-left: 78px !important;
  }

  .integration-icon {
    position: absolute;
    top: 15px;
    left: 16px;
    background: @teal;
    .square(48px);
    border-radius: 2px;
    color: #fff;

    &:after {
      display: block;
      font-family: "sentry-simple";
      content: "\e622";
      font-size: 24px;
      .square(48px);
      text-align: center;
      line-height: 48px;
    }
  }

  .auto-tag-browsers,
  .auto-tag-device,
  .auto-tag-interface-types,
  .auto-tag-operating-systems,
  .auto-tag-urls {
    .integration-icon {
      background: @sentry-orange;

      &:after {
        content: "\e603";
      }
    }
  }

  h5 {
    font-size: 16px;
    margin-bottom: 8px;

    span {
      color: #BABEC2;
    }
  }

  p {
    color: #979BA0;
    margin: 0;
  }

  a {
    color: #979BA0;
  }
}

.table.event-list {
  h5 {
    margin-bottom: 5px;
  }

  .table-user-info {
    padding-left: 54px !important;
    position: relative;

    .avatar {
      top: 50%;
      .square(24px);
      margin-top: -12px;
    }

    p {
      margin-bottom: 0;
    }
  }

  time {
    white-space: nowrap;
  }
}

/**
* Avatar
* ============================================================================
*/

.avatar {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border-radius: 2px;
}

/**
* Loading Indicator
* ============================================================================
*/


.loading {
  margin: 6em auto;
  position: relative;

  .loading-indicator {
    text-indent: -9999em;
    border-top: 6px solid rgba(52, 60, 69, .09);
    border-right: 6px solid rgba(52, 60, 69, .09);
    border-bottom: 6px solid rgba(52, 60, 69, .09);
    border-left: 6px solid rgba(52, 60, 69, .4);
    -webkit-animation: loading .5s infinite linear;
    animation: loading .55s infinite linear;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }

  .loading-message {
    margin-top: 15px;
    text-align: center;
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// mini

.loading.mini {
  margin: 4px 0;
  font-size: 13px;

  .loading-indicator {
    margin: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-width: 2px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .loading-message {
    padding-left: 30px;
    margin-top: 1px;
    display: inline-block;
  }
}

.loading.global {
  .loading.mini();
  padding: 20px 30px;
  font-size: 15px;
  z-index: 100000;
  border-radius: 3px;

  position: fixed;
  bottom: 0;
  right: 20px;
  background: rgba(52, 60, 69, .8);
  color: #fff;

  .transition(.2s bottom ease-in-out);

  .loading-indicator {
    border-color: rgba(255,255, 255, .4);
    border-left-color: rgba(255,255, 255, 1);
    top: 20px;
    left: 24px;
  }

  .loading-message {
    padding-left: 24px;
  }

  .loading-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(52, 60, 69, .4);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    .transition(opacity .1s linear);
  }

  &.active {
    bottom: 20px;
    .loading-mask {
      visibility: visible;
      opacity: 1;
    }
  }
}

/**
* Auth providers
* ============================================================================
*/

.auth-options {
  .list-unstyled;

  .auth-btn {
    padding-left: 33px;
    position: relative;

    .auth-icon {
      position: absolute;
      left: 10px;
      top: 10px;
      display: block;
      .square(16px);
      background-size: cover;
    }

    &.auth-github .auth-icon {
      background-image: url(../images/auth-providers/github.ico);
    }

    &.auth-bitbucket .auth-icon {
      background-image: url(../images/auth-providers/bitbucket.ico);
    }

    &.auth-twitter .auth-icon {
      background-image: url(../images/auth-providers/twitter.ico);
    }

    &.auth-google .auth-icon {
      background-image: url(../images/auth-providers/google.ico);
    }

    &.auth-facebook .auth-icon {
      background-image: url(../images/auth-providers/facebook.ico);
    }
  }
}

/**
* User Nav
* ============================================================================
*/

.user-nav {

  .avatar {
    position: absolute;
    .square(36px);
    left: 10px;
    top: 10px;
  }

  .user-name {
    font-weight: 600;
  }

  .user-details {
    padding-left: 45px;

    ul {
      font-size: 12px;
      .list-unstyled();
      margin-top: -2px;

      li {
        float: left;
        margin-right: 10px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

/**
* Search
* ============================================================================
*/

.search {
  form {
    display: block;
    position: relative;
  }

  .icon-search {
    color: #8E8E97;
    position: absolute;
    top: 12px;
    left: 14px;
    font-size: 14px;
  }

  .search-save-search {
    position: absolute;
    right: 34px;
    top: 12px;
    font-size: 12px;
    padding: 1px 5px 0;
    color: lighten(@gray, 10);
    border-radius: 3px;

    &:focus, &:active {
      position: absolute;
      top: 13px;
    }
  }

  .search-clear-form {
    position: absolute;
    top: 12px;
    right: 10px;
    color: lighten(@gray, 30);

    &:hover {
      color: lighten(@gray, 10);
    }
  }

  .search-input {
    padding: 8px 76px 8px 37px;
    margin-top: -8px;
    font-size: 14px;
    background: #fff;
    // height: 40px;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 rgba(52, 60, 69, 0.03);
    .transition(none);
    border-color: @trim;

    &:focus {
      border-radius: 2px 2px 0 0;
      border-color: darken(@trim, 5);
    }
  }

  .search-toggle {
    color: #8E8E97;
    position: absolute;
    right: 2px;
    top: -1px;
    padding: 10px;
  }
}

.search-dropdown {
  box-shadow: 0 1px 3px rgba(70, 82, 98, .2);
  border: 1px solid darken(@trim, 6) !important;
  border-radius: 0 0 4px 4px;
  position: absolute;
  top: 37px;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 100;
  overflow: hidden;

  .nav-tabs {
    border-bottom: 1px solid lighten(@trim, 6);
    margin: 0;
    padding-left: 13px;

    li {
      margin-right: 12px;
    }
  }

  .form-group {
    padding: 10px 0;
    border-top: 1px solid #E9EBEC;
    margin: 0;

    &:first-child {
      border-top: 0;
    }
  }
}

.search-autocomplete-list {
  .list-unstyled();
  margin-bottom: 0;

  li {
    position: relative;
    border-top: 1px solid #E9EBEC;
    padding: 12px 14px 12px 40px;
    cursor: pointer;

    .icon {
      position: absolute;
      left: 9px;
      top: 7px;
      color: rgba(70, 82, 98, .18);
      font-size: 16px;
      width: 24px;
      line-height: 24px;
      text-align: center;

      &.icon-toggle {
        font-size: 14px;
      }

      &.icon-tag {
        top: 8px;
      }
    }

    h4 {
      margin: 0;
      font-size: 14px;
      span {
        font-weight: normal;
      }
    }

    p {
      margin: 2px 0 0;
      font-size: 13px;
      color: #AAB2B7;
    }

    &:first-child {
      border: 0;
    }

    &:hover, .active {
      background: #f3f8fb;
      border-color: #e5ecf0;

      .icon {
        color: rgba(70, 82, 98, .24);
      }

      & + li {
        border-color: #e5ecf0;
      }
    }

    .remove-saved-search {
      margin-top: -5px;
      color: lighten(@gray, 30);
      &:hover {
        color: lighten(@gray, 10);
      }

      .icon-trash {
        position: static;
        font-size: 13px;
        color: inherit;
      }
    }
  }
}

/**
* Project Dropdown
* ============================================================================
*/

.project-dropdown {

  a {
    color: @grayDark !important;
  }

  .dropdown-toggle {
    border: 1px solid lighten(@trim, 5);
    margin-left: 6px;
    display: inline-block;
    padding: 1px 2px 0;
    border-radius: 2px;
    top: 0;
    position: relative;
    color: lighten(@gray, 10);
    font-size: 13px;

    &:hover {
      border-color: darken(@trim, 2);
      .icon-arrow-down {
        color: @gray;
      }
    }

    .icon-arrow-down {
      font-size: 13px !important;
      top: 1px;
      color: lighten(@gray, 15);
    }
  }

  .dropdown-menu {
    width: 320px;
    padding-bottom: 0;
    left: -145px;
    .clearfix;

    &:before {
      left: 50%;
      margin-left: -9px;
    }

    &:after {
      left: 50%;
      margin-left: -8px;
    }

    .project-filter {
      width: 100%;
      float: none;
      padding: 0;
      margin-bottom: 5px;

      input {
        .form-control();
        width: 100%;
        border-radius: 3px 3px 0 0;
        font-size: 15px;
        border: 0;
        border-bottom: 1px solid lighten(@trim, 4);
        margin-top: -5px;
        box-shadow: none;
        padding-left: 15px;

        &:focus {
          border-bottom: 1px solid lighten(@trim, 4);
        }
      }
    }

    .team-name {
      width: 100%;
      padding: 8px 15px;
      font-size: 13px;
      // text-transform: uppercase;
      letter-spacing: -0.5px;
      font-weight: 600;
      color: lighten(@gray, 18);
    }

    li {
      font-size: 15px;
      width: 50%;
      position: relative;
      float: left;
      padding: 0 15px 6px;

      strong {
        font-weight: normal;
        background: lighten(@yellow, 15);
      }

      > a {
        .truncate();
        border-radius: 2px;
        padding: 0;

        &:hover {
          background: transparent;
        }
      }
    }
  }

  &.open .dropdown-toggle {
    border-color: darken(@blue, 15);
    background-color: @blue;
    .icon-arrow-down {
      color: #fff;
    }
  }
}

/**
* Charts
* ============================================================================
*/


.chart {
  display: block;
  position: relative;
  height: 100%;
  margin-bottom: 20px;

  > .title {
    font-size: 2em;
    text-transform: uppercase;
    position: absolute;
    left: 1px;
    top: 1px;
    color: #dfe3e9;
    .opacity(70);
    background: #fff;
    padding: 5px 8px;
    line-height: 100%;
  }

  > .legend {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    padding-left: 10px;
    height: 100%;
    text-align: left;
    color: @linkColor;
    .legendLabel {
      padding: 0 5px;
    }
  }
}

.bar-chart {
  h6 {
    font-weight: 600;
    margin-bottom: 18px;
  }

  figure {
    .clearfix();
    margin-bottom: 20px;
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 1px;
      left: 0;
      right: 0;
      height: 50%;
    }

    a {
      height: 90px;
      position: relative;
      cursor: default;

      span {
        display: block;
        border-radius: 0;
        min-height: 2px;
        background: lighten(@gray, 12);
      }
    }
  }
}

.tag-bar {
  .clearfix();
  position: relative;
  display: block;
  line-height: 2.2;
  color: @gray-dark;
  margin-bottom: 4px;
  padding: 0 6px;

  .tag-bar-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #f6f7f8;
    border-radius: 2px;
  }

  .tag-bar-label {
    float: left;
    position: relative;
    .truncate;
    max-width: 90%;
  }

  .tag-bar-count {
    float: right;
    position: relative;
  }

}

.sparkline {
  position: relative;

  .max-y,
  .min-y {
    display: none;
  }

  a {
    position: relative;
    float: left;
    height: 20px;
    display: block;
    cursor: default;

    &:hover {
      > span {
        background: lighten(@blue, 10%);
        border-color: lighten(@blue, 10%);
      }
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1px;
      right: 1px;
      background: rgba(38, 73, 112, 0.04);
    }

    > span {
      display: block;
      position: absolute;
      bottom: 0;
      left: 1px;
      right: 1px;
      background: lighten(@gray, 12);
      min-width: 1px;
      height: 0;
      overflow: hidden;
      text-indent: -9999px;
      text-align: left;
      min-height: 1px;
      border-radius: 0;
    }
  }

  .chart-marker {
    display: block;
    position: relative;
    float: left;
    width: 0;

    &:hover {
      > span {
        background-color: gray;
        border-color: #fff;
      }
    }

    &.first-seen > span {
      background: @purple;
    }

    &.last-seen > span {
      background: @green;
    }

    > span {
      z-index: 2;
      position: absolute;
      bottom: -5px;
      left: -5px;
      border: 2px solid #fff;
      .square(10px);
      background: gray;
      border-radius: 8px;
    }

    &.first-seen > span {
    }
    &.last-seen > span {
    }
  }
}

// Sparkline grid

.innerColumn(@columnSpan: 1) {
  width: ((@gridColumnWidth) * @columnSpan) + (@gridGutterWidth * (@columnSpan - 1)) - 10;
}

// Distribution graph

.distribution-graph {
  position: relative;
  font-size: 13px;
  margin-bottom: 10px;

  h6 {
    position: relative;
    font-size: 13px !important;
    margin-bottom: 8px !important;
    z-index: 5;

    &:before {
      display: none !important;
    }
  }

  .segment {
    height: 16px;
    display: inline-block;
    color: inherit;

    &:hover {
      background: @blue !important;

      .tag-description {
        display: block;
        z-index: 2;
      }
    }

    .tag-description {
      background-color: #fff;
      position: absolute;
      text-align: right;
      top: -1px;
      right: 0;
      line-height: 1;
      display: none;
      z-index: 1;
      width: 100%;
    }

    .tag-percentage {
      margin-right: 6px;
      color: lighten(@gray, 30%);
      display: inline-block;
      vertical-align: middle;
    }

    .tag-label {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 45%;
      vertical-align: middle;
    }

    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;

      .tag-description {
        display: block !important;
      }
    }

    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    &:nth-child(1) {
      background-color: lighten(@gray, 51%);
    }

    &:nth-child(2) {
      background-color: lighten(@gray, 45%);
    }

    &:nth-child(3) {
      background-color: lighten(@gray, 39%);
    }

    &:nth-child(4) {
      background-color: lighten(@gray, 33%);
    }
  }
}

/**
* Assignee Selector
* ============================================================================
*/

.assignee-selector {
  height: 24px;

  .btn-group {
    height: 24px;

    &.open {
      .dropdown-toggle {
        color: @gray-dark;
      }
    }
  }

  .icon-arrow-down {
    top: 3px;
    right: -2px;
  }

  .avatar {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    position: relative;
    left: -2px;
    top: -1px;
  }

  .dropdown-toggle {
    color: inherit;

    .avatar + span, .icon-user + span {
      display: none;
    }
  }

  .dropdown-menu {
    left: auto;
    right: -14px !important;
    min-width: 180px;
    padding-top: 0;
    padding-bottom: 3px;
    max-width: 250px;
    top: 30px;
    z-index: 100;
    font-size: 13px;

    .form-control {
      border: 0;
      border: 0;
      border-bottom: 1px solid #E9EBEC;
      background: none;
      box-shadow: none;
      padding-bottom: 8px;
      margin-bottom: 6px;
      border-radius: 0;
      font-size: 13px;

      &:focus {
        box-shadow: none;
      }
    }

    ul {
      .list-unstyled();
      max-height: 180px;
      overflow: auto;
      margin: 0;
    }

    li a {
      padding: 5px 8px;
      display: block;
      padding-left: 33px;
      position: relative;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;

      img {
        margin-right: 5px;
        position: absolute;
        left: 8px;
        top: 4px;
        .square(20px);
      }
    }
  }

  &.unassigned {
    .icon-user {
      margin-right: 3px;
      position: relative;
      top: 3px;
      font-size: 18px;
    }
  }

  .clear-assignee a {
    background: rgba(52, 60, 69, .03);
    border-bottom: 1px solid rgba(52, 60, 69, .06);
    margin-top: -6px;
    margin-bottom: 2px;
    padding: 4px 0 2px 33px !important;

    .icon-close {
      font-size: 16px;
      position: absolute;
      left: 9px;
      top: 4px;
      opacity: .3;
    }
  }
}

/**
* Clippy
* ===========================================================================
*/

code.clippy {
  overflow: hidden;
}
.clippy {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 8px 3px 26px;
  line-height: 20px;
  position: relative;
  width: auto;
  object {
    border-radius: 3px;
    position: absolute;
    left: 8px;
    top: 7px;
    width: 12px;
    height: 12px;
  }
  &:hover {
    border-color: #bbb;
  }
}
td .clippy {
  border: 0;
}
pre.clippy {
  display: block;
}

/**
* Settings modal
* ============================================================================
*/

.settings-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0, .65);
  z-index: 10000;
  overflow: auto;

  .container {
    max-width: 760px;
  }

  .settings-modal-wrap {
    margin-top: 80px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: #fff;
    z-index: 10000;
  }

  .settings-modal-header {
    background: #f7f7f7;
    padding: 15px 20px;
    border-radius: 5px 5px 0 0;

    h3 {
      margin: 0;
    }
  }

  .settings-modal-body {
    padding: 20px;
  }

  .settings-modal-footer {
    border-top: 1px solid #E9EBEC;
    padding: 15px 20px;
    text-align: right;
  }
}

// Back Arrow

.back-arrow {
  position: absolute;
  left: -25px;
  top: -4px;

  .icon-arrow-left {
    font-size: 28px !important;
    font-weight: bold;
    color: lighten(@gray, 30);
    .transition(color .2s linear);
  }

  &:hover {
    .icon-arrow-left {
      color: lighten(@gray, 20);
    }
  }

  &:active {
    top: -3px
  }
}

/**
* Box
* ============================================================================
*/

.box {
  background: #fff;
  border: 1px solid @trim;
  border-radius: 2px;
  margin: 0 0 30px;
  box-shadow: 0 1px 0 rgba(52, 60, 69, .02);

  .box-header {
    background: rgba(249, 250, 251, 0.6);
    color: @grayDark;
    line-height: 1;
    padding: 0 20px;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid @trim;
    height: 54px;
    line-height: 54px;

    a {
      color: @gray;
      &:hover {
        color: darken(@gray, 20);
      }
    }

    h3, h4, h5 {
      font-size: 14px;
      margin: 0;
      font-weight: 600;
      line-height: inherit;

      small {
        color: @gray;
        font-size: 14px;
      }
    }

    .pull-right {
      a, .btn {
        margin-left: 10px;
      }
    }

    .btn-group {
      float: right;
      margin-top: 13px;
    }

    .nav-tabs {
      float: right;
      line-height: inherit;

      li {
        margin: 0 0 0 20px;
        font-weight: 400;

        &.active a {
          font-weight: 600;
          border: 0;
          box-shadow: inset 0 -3px 0 @blue;
        }
      }

      a {
        font-weight: 400;
        padding: 0;
        font-size: 14px;
        line-height: inherit;
      }
    }

    .nav-pills {
      position: relative;
      right: -6px;

      a {
        padding: 2px 8px;
        font-size: 12px;
        border-radius: 4px;
      }

      .active {
        a {
          background: @blue;
        }
      }
    }

    .checkbox {
      margin-top: -4px;
    }
  }

  .box-content {
    &.with-padding {
      padding: 20px 20px 0;
    }

    .form-actions {
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -20px;
      margin-right: -20px;
    }

    h1, h2, h3, h4, h5, h6 {
      color: @grayDark;
    }
  }

  &.box-mini {
    .box-header {
      padding: 10px;
      line-height: normal;
      height: auto;
      font-size: 14px;
    }
    .with-padding {
      padding: 10px 10px 0;
    }
  }
}

/**
* Alerts
* ============================================================================
*/

.sub-header + .alert, header + .alert {
  margin-top: -31px;
  position: relative;
  z-index: 2;
  border-radius: 0;
}

.alert {
  background: #ffc01a;
  color: #fff;
  border: 0;
  font-weight: 400;
  padding: 12px 20px;
  border-radius: 2px;
  margin: 0 0 30px;

  p:last-child {
    margin: 0;
  }

  .icon {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    display: none;
    font-size: 15px;
  }

  .icon-sentry-logo {
    display: block;
  }

  .close {
    opacity: .5;
    font-weight: 600;
    position: absolute;
    top: 0px;
    right: 15px;
    box-shadow: none;
    .transition(opacity .15s);
    color: #fff;
    background: 0;
    border: 0;
    font-size: 22px;
    float: right;

    &:hover {
      box-shadow: none;
      color: #fff;
      opacity: 1;
    }
  }
  a {
    font-weight: 600;
    color: inherit;
  }
}

.alert-error {
  background: @red;
  .icon-exclamation {
    display: block;
  }
}
.alert-info {
  background: @blue;
}
.alert-success {
  background: @green;
  .icon-checkmark {
    display: block;
    margin-top: 4px;
  }
}

.alert-error, .alert-success {
  .icon-sentry-logo {
    display: none;
  }
}

.active-alerts {
  margin: 15px 25px 0;
  padding: 0 5px;
  li.alert {
    margin-bottom: 5px;
  }
}

/**
* Dropdowns
* ============================================================================
*/

.dropdown-menu {
  top: 32px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(52, 60, 69, .2), 0 1px 2px rgba(70, 82, 98, .1);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  &:after {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 12px;
    z-index: -1;
  }

  &:before {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid rgba(52, 60, 69, .25);
    content: "";
    display: block;
    position: absolute;
    top: -9px;
    left: 11px;
    z-index: -2;
  }

  &.dropdown-menu-right:after {
    right: 13px;
    left: auto;
  }

  li a {
    .transition(none);
    color: #7a8188;

    &:hover {
      background: #f1f2f3;
      color: darken(#878e94, 20);
    }
  }

  li.active a, li.active a:hover {
    background: @blue;
    color: #fff !important;
  }

  .divider {
    margin: 4px 0;
  }

  .disabled {
    opacity: .4;
    cursor: default;

    &:hover {
      background: #fff;
      color: #7a8188;
    }
  }
}

.anchor-right {
  .dropdown-menu {
    left: auto;
    right: 0;

    &:after {
      left: auto;
      right: 12px;
    }

    &:before { // top caret
      left: auto;
      right: 11px;
    }
  }
}

/**
* Navs
* ============================================================================
*/

.nav {
  margin-bottom: 20px;

  .open > a, .open > a:hover, .open > a:active {
    background: none;
  }
}

.nav-pills > li.active > a {
  background-color: lighten(@linkColor, 10%);
}

.nav-small {
  &.nav-pills > li > a {
    padding: 5px 8px;
    font-size: 12px;
  }
}

/**
* Nav stacked
* ============================================================================
*/

.nav-header {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 12px;
  color: lighten(@grayDark, 25%);
  letter-spacing: 0.1px;
}
.nav-stacked li  {
  margin-bottom: 6px;

  > a {
    font-size: 15px;
    padding: 2px 16px;
    margin: 4px 0;
    display: block;
    border: 0;
    background: none;
    color: rgba(52, 60, 69, .5);
    position: relative;

    &:hover, &:active, &:focus {
      background: none;
      color: rgba(52, 60, 69, 1);
    }
  }

  &.active {
    a, a:hover, a:focus {
      border: 0;
      background: none;
      color: rgba(52, 60, 69, 1);
      font-weight: 600;

      &:after {
        position: absolute;
        display: block;
        content: "";
        top: 2px;
        bottom: 3px;
        left: 1px;
        width: 3px;
        background: @blue;
      }
    }
  }
}

/**
* Nav tabs
* ============================================================================
*/

.nav-tabs {
  border-bottom: 0;
  margin: 0 0 20px;

  > li {
    margin-right: 20px;

    > li.pull-right {
      float: right;
    }

    > a {
      font-size: 16px;
      padding: 0 0 10px;
      border: 0;
      background: none;
      color: lighten(@gray, 20);
      min-width: 30px;
      text-align: center;

      &:hover, &:active, &:focus {
        background: none;
        color: @grayDark;
      }
    }

    .dropdown-menu {
      border-radius: 3px;
    }

    &.active {
      a, a:hover, a:focus {
        border: 0;
        border-bottom: 3px solid @blue;
        background: none;
        color: @grayDark;
        font-weight: 600;
      }
    }
  }

  &.border-bottom {
    border-bottom: 1px solid lighten(@trim, 2);
  }
}

.nav-tabs-xs {
  a {
    font-size: 13px !important;
    padding: 6px 0 5px !important;
  }
}

.text-tabs {
  a {
    font-size: 20px !important;
    padding: 0 !important;
    line-height: 1 !important;
  }

  li {
    padding-left: 17px;
    margin-right: 15px;
    position: relative;

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 1px;
      left: 0;
      height: 18px;
      width: 1px;
      background: @trim;
    }

    &:first-child {
      padding: 0 !important;
      &:before {
        display: none;
      }
    }
  }

  li.active a, li.active a:hover, li.active a:focus, li.active a:active {
    border: 0;
  }
}

/**
* Project nav
* ============================================================================
*/

.badge {
  background: lighten(@gray, 32);
  color: #fff;
  font-size: 75%;
  font-weight: 600;
  .square(20px);
  border-radius: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: -1px;
  margin-left: 4px;
  .transition(.1s background linear);

  &.new {
    background: @red;
  }
}

/**
* Project nav
* ============================================================================
*/

.nav.project-nav {
  display: none;
  margin: -10px 0 30px;
  border-radius: 3px 3px 0 0;

  .icon-settings {
    position: relative;
    top: 1px;
    margin-right: 2px;
    opacity: .45;
  }
}

/**
* Datepicker
* ============================================================================
*/

.datepicker-modal {
  .modal-dialog {
    margin-top: -200px;
  }
}

.datepicker-box {
  h6 {
    margin-bottom: 15px;
  }

  .datepicker-wrapper {
    width: 57%;
    float: left;

    .datepicker__input {
      box-shadow: inset 0 1px 1px rgba(70, 82, 98, 0.04);
      height: auto;
      border: 1px solid darken(@trim, 4);
      padding: 8px 12px 7px;
      position: relative;
      border-radius: 2px;

      .placeholder(lighten(@gray, 28));

      &:focus {
        box-shadow: none;
        border-color: darken(@trim, 10);
      }
      display: block;
      line-height: 1.4 !important;
      padding-right: 4px !important;
      padding-left: 8px !important;
      width: 100%;
    }
  }

  .form-control {
    display: inline-block;
    line-height: 1.2 !important;
    padding-right: 4px !important;
    padding-left: 8px !important;

    &.time {
      margin-left: 2%;
      width: 41%;
    }
  }
}

.radio-inputs {
  position: relative;
  display: inline-block;

  .radio {
    margin-top: 7px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 20px;
    display: inline-block;
    font-weight: normal;

    input {
      margin-left: -20px;
      margin-top: 4px;
      vertical-align: middle;
    }
  }
}

/**
* Modal
* ============================================================================
*/

.modal-open #blk_router {
  -webkit-filter: ~"blur(3px) grayscale(25%)";
}

.modal-backdrop {
  background-color: @grayDark;
}

.modal {
  .close {
    background: none;
    border: 0;
    padding: 0;
    font-size: 24px;
    position: absolute;
    top: 14px;
    right: 15px;
    z-index: 100;
    color: lighten(@gray, 20);
    .transition(color .1s linear);

    &:hover {
      color: @gray;
    }
  }
  .modal-content {
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 0;
    overflow: hidden;
  }

  .modal-header {
    background: rgba(249, 250, 251, 0.8);
    border-bottom: 1px solid lighten(@trim, 5);
    border-radius: 5px 5px 0 0;
    padding: 15px 20px;
    margin: -20px -20px 20px;

    h4 {
      font-size: 16px;
      font-weight: 600;
    }

    .close {
      margin-top: 1px;
    }
  }

  .modal-body {
    padding: 0 0 15px;
    font-size: 15px;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .modal-footer {
    padding: 15px 20px;
    border-top: 1px solid lighten(@trim, 8);
    margin: 5px -20px -20px;
  }
}

.welcome-modal {
  background: rgba(52, 60, 69, 0.5);

  @slideWidth: 720px;
  @slideCount: 4;

  .dot-nav {
    .clearfix();
    margin: 8px 0 0;
    padding: 0;

    li {
      .list-unstyled();
      display: inline-block;

      a {
        text-indent: -9999em;
        display: block;
        .square(9px);
        border: 1px solid lighten(@gray, 35);
        border-radius: 12px;
        margin: 0 2px;
        overflow: hidden;
      }

      &.active {
        a {
          border-color: @gray;
          background: @gray;
        }
      }
    }
  }

  .modal-body {
    margin: 0 -20px;
  }

  .modal-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 -1px 0 rgba(52, 60, 69, 0.1);
    padding: 21px 100px;
    background: #fff;
    margin-bottom: 0;
  }

  .prev, .next {
    border-radius: 24px;
    .square(34px);
    padding: 0;
    line-height: 37px;
    text-align: center;

    span {
      font-size: 18px !important;
      position: relative;
    }
  }

  .prev span {
    left: -1px;
  }

  .next span {
    left: 1px;
  }

  .welcome-slides {
    width: @slideWidth * @slideCount;
    .transition(margin-left .4s ease-in-out);
  }

  .slide {
    width: @slideWidth;
    float: left;

    h1, h2, h3 {
      color: @grayDark;
      line-height: 1.2;
    }

    h1 {
      font-size: 34px;
    }

    p {
      font-size: 18px;
      line-height: 1.4;
    }

    .screenshot {
      background-size: contain;
      box-shadow: inset 0 0 0 1px rgba(52, 60, 69, 0.2), 0 1px 2px rgba(52, 60, 69, 0.1);
      border-radius: 2px;
    }
  }

  .slide-1 {
    padding: 35px 0;
    text-align: center;

    .screenshot {
      width: 600px;
      height: 348px;
      margin: 30px auto 0;
      background-image: url(https://s3.amazonaws.com/f.cl.ly/items/261Y0m3B2W3V0F2I2b1w/Screen%20Shot%202015-04-20%20at%205.04.01%20PM.png);
    }

    &.active {

    }
  }

  .slide-2 {
    padding: 45px;

    h3 {
      margin-top: 45px;
    }

    .screenshot, .loupe {
      background-image: url(http://cl.ly/image/0G0S2R07000L/Screen%20Shot%202015-04-20%20at%206.02.20%20PM.png);
    }

    .screenshot {
      margin-top: -15px;
      position: relative;
      right: -25px;
      background-size: cover;
      width: 400px;
      height: 375px;
    }

    .loupe {
      position: absolute;
      top: -10px;
      left: -28px;
      width: 170px;
      height: 170px;
      background-position: -112px -143px;
      border-radius: 190px;
      box-shadow: inset 0 0 0 1px rgba(52, 60, 69, 0.3), 0 1px 2px rgba(52, 60, 69, 0.2), inset 0 0 60px rgba(255, 255,255, 1), inset 0 0 20px rgba(255, 255,255, 1), inset 0 0 40px rgba(255, 255,255, 1), inset 0 0 40px rgba(255, 255,255, 1);
      background-size: 540% 540%;
    }
  }

  .slide-3 {
    padding: 45px;
    position: relative;
    height: 423px;

    h3 {
      margin-top: 55px;
    }

    .chat-column, .row {
      position: static;
    }

    .chat {
      .list-unstyled();
      position: relative;
      top: -90px;

      .chat-message {
        position: relative;
        padding-left: 54px;
        margin-bottom: 24px;

        h5 {
          line-height: 1.2;
          font-weight: 600;
          font-size: 15px;
          margin: 0 0 4px;

          time {
            font-weight: 400;
            text-transform: uppercase;
          }
        }
      }

      blockquote {
        font-size: 13px;
        margin-top: 10px;
        padding: 0 0 0 15px;
        border-left: 4px solid @sentry-orange;
      }

      .chat-avatar {
        position: absolute;
        left: 0;
        top: 0;
        background: #f1f2f3 url(https://avatars3.githubusercontent.com/u/1396951?v=3);
        background-size: cover;
        .square(40px);
        border-radius: 3px;

        img {
          max-width: 100%;
          border-radius: 3px;
        }
      }
    }
    .mask {
      position: absolute;
      top: -20px;
      left: 0;
      right: 100px;
      height: 100px;
      #gradient > .vertical(rgba(255,255,255, 1), rgba(255,255,255, 0));
    }
  }

  .slide-4 {
    padding: 45px;

    h3 {
      padding-top: 35px;
    }
  }
}


/**
* Well
* ============================================================================
*/

.well {
  border: 1px solid #E9EBEC;
  box-shadow: none;
  background: #fff;
  padding: 14px 20px;
  margin-bottom: 20px;

  &.important {
    background: @yellow;
    border: 0;
    a, a:active {
      color: @gray-dark;
    }
  }
}

.blankslate {
  text-align: center;
  padding: 50px 0;
}

/**
* Popovers
* ============================================================================
*/

.popover {
  width: auto;
  min-width: 236px;
  max-width: 600px;
}

.popover * {
  font-size: 11px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.popover-title {
  font-size: 10px;
  background: @blue;
  color: #fff;
}

.popover-title,
.popover-content {
  padding: 4px 10px;
}

#flotTip {
  background-color: @tooltip-bg;
  border-radius: @border-radius-base;
  max-width: 200px;
  padding: 8px;
  color: @tooltip-color;
}


/**
* Tag List
* ============================================================================
*/

ul.tag-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 15px;

  li {
    margin-bottom: 5px;
    position: relative;

    .progressbar {
      padding: 5px 0;
    }

    &:nth-child(even) {
      background: #f9f9f9;
    }

    span {
      position: absolute;
      right: 10px;
    }
  }
}

/**
* Mini tag list
* ============================================================================
*/

.mini-tag-list {
  .clearfix();
  .list-unstyled();
  margin-bottom: 0;

  > li {
    float: left;
    background: #fff;
    border-radius: 3px;
    margin: 0 20px 10px 0;


    em {
      color: #aaa;
    }
  }
}


/**
* Integration list
* ============================================================================
*/

.integration-list {
  .clearfix();
  .list-unstyled();

  li {
    display: inline-block;

    button {
      width: 150px;
      text-align: center;
      font-size: 12px;
      color: darken(#e4e8ed, 30%);
      letter-spacing: 0.1px;
      font-weight: 600;
      text-transform: uppercase;
      border: 1px solid #eee;
      background: inherit;
      border-radius: 4px;
      padding: 10px;
      display: block;

      &:hover {
        border-color: #ccc;
      }
    }
  }
}

/**
* Responsive small screens
* ============================================================================
*/

@media(max-width:767px) {

}

/**
* Responsive (Tablet)
* ============================================================================
*/

@media (min-width: 768px) {
  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -91px;
  }

  .welcome-modal .modal-dialog {
    width: 720px;
    margin-top: -300px;
    margin-left: -360px;

    .modal-content {
      height: 500px;
    }
  }
}
