/**
* Global Sidebar
* ============================================================================
*/

.body-sidebar {
  padding-left: @sidebar-expanded-width;

  // Fake sidebar until loaded
  background-image: linear-gradient(@sidebar-bg-color, @sidebar-bg-color);
  background-size: @sidebar-expanded-width;
  background-repeat: repeat-y;

  &.collapsed {
    padding-left: @sidebar-collapsed-width;
    background-size: @sidebar-collapsed-width;
  }
}

@media (max-width: 767px) {
  .body-sidebar {
    padding-top: @sidebar-mobile-height;
    padding-left: 0;
    background-image: none;

    &.collapsed {
      padding-left: 0;
    }
  }
}

@keyframes offset {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rotateCog {
  from {
    transform: translate(1px, 1px) rotate(0deg);
  }
  to {
    transform: translate(1px, 1px) rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Panel
.sidebar-panel-empty {
  color: @50;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  padding: 0 60px;
  margin-top: (-62px + -16px) / 2; // offset for sidebar-panel-header + font-size
}

.range-picker {
  .dropdown-toggle {
    font-size: 18px;
    font-weight: 600;

    .icon-arrow-down {
      top: 2px;
      margin-left: 4px;
    }
  }
}

/**
* Print
* ============================================================================
*/

@media print {
  .navbar {
    display: none;
  }
}

/**
* Responsive small screens
* ============================================================================
*/

@media (max-width: 767px) {
  @sidebar-panel-offset: 54px;

  body {
    padding-left: 0;
  }

  .navbar {
    flex-direction: row;
    position: static;
    width: 100%;
    max-height: @sidebar-panel-offset;
    padding-top: 10px;
    padding-bottom: 10px;

    .navbar-nav {
      flex-direction: row;
      padding: 0 6px 0 10px;

      > li {
        margin: 0 5px 0 0;

        &.active:before {
          top: auto;
          right: auto;
          bottom: -11px;
          left: 50%;
          margin-left: -6px;
          border-bottom: 7px solid #f7f8f9;
          border-right: 7px solid transparent;
          border-left: 7px solid transparent;
          border-top: 7px solid transparent;
        }

        &.onboarding {
          display: none;
        }
      }
    }

    .divider-bottom {
      border: 0;
      border-right: 1px solid @gray;
    }

    .anchor-top {
      display: flex;

      > div {
        display: flex;
      }

      .org-selector {
        padding: 0;
        padding-right: 14px;

        &.active:before {
          top: auto;
          right: auto;
          bottom: -10px;
          left: 50%;
          margin-left: -12px;
          border-bottom: 7px solid #f7f8f9;
          border-right: 7px solid transparent;
          border-left: 7px solid transparent;
          border-top: 7px solid transparent;
        }
      }
    }

    .anchor-bottom {
      display: flex;

      .navbar-nav {
        padding-right: 0;

        > li:last-child {
          margin: 0;
        }
      }
    }

    .user-settings {
      display: block;
      margin-left: 5px;

      .dropdown-toggle {
        margin-top: 0;
      }

      .dropdown-menu {
        left: auto;
        top: 42px;
        right: -3px;
        bottom: auto;

        &:after {
          top: -16px;
          right: 10px;
          left: auto;
          bottom: auto;
          border: 9px solid transparent;
          border-bottom: 9px solid @90;
        }
      }
    }
  }

  .sidebar-panel {
    width: auto;
    top: @sidebar-panel-offset;
    left: 0;
    right: 0;
  }
}
