/**
 * Variables
 * ============================================================================
 */

 @baseFontSize: 13px;
 @font-family-base: "Lato", "Avenir Next", "Helvetica Neue", sans-serif;
 @font-family-code: Monaco, Consolas, "Courier New", monospace;

/**
 * Links
 * ============================================================================
 */

a {
  color: @link-color;
  text-decoration: none;
  .transition(color linear .2s);
  cursor: pointer;

  &:hover {
    color: @link-color-hover;
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

/**
 * Text
 * ============================================================================
 */

p, pre {
  margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  font-weight: 600;
  line-height: 1;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

ul, ol, table {
  margin: 0 0 20px;
}

ul, ol {
  padding-left: 20px;
}

small {
  font-size: 0.9em;
}

th, dt, strong {
  font-weight: 600;
}

/**
 * Alignment
 * ============================================================================
 */

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

hr {
  border-top: 1px solid @trim;
}

/**
 * Icons
 * ============================================================================
 */

.icon-arrow-down, .icon-arrow-right, .icon-arrow-left {
  font-size: 16px !important;
  position: relative;
  top: 3px;
}

/**
* Code
* ============================================================================
*/

pre, code, kbd, sample {
  font-family: @font-family-code;
}

pre, code {
  border: 0;
  background-color: @white-darker;
  color: @gray-darker;
  border-radius: 3px;

  span {
    display: inline-block;
  }
}

pre {
  word-break: keep-all;
  word-wrap: normal;
  padding: 10px;
}

/**
* Page header
* ============================================================================
*/

.page-header {
  margin: 0 0 20px;
  border-bottom: 1px solid @trim;
}
