@trim: lighten(#bcc5d4, 6);
@bgColor: lighten(#f2f4f9, 2);
@bgColorDarker: #F5F6F9;
@baseFontSize: 13px;
@grayDark: #3b4052;
@gray: #696D80;
@gray-light: #B5B9BD;
@navbarInverseLinkBackgroundActive: #333;
@orange: #F78300;
@black: #111;
@white: #fff;
@sentry-orange: #fb4226;
@blue: #2eb0f7;
@green: #34c08b;
@yellow: #fece09;
@red: #e8535a;
@pink: #DB3B8A;
@purple: #a47ac6;
@teal: #45c2c9;

@linkColor: @blue;

@linkColorHover: darken(@blue, 15%);

@font-family-base: "Lato", "Avenir Next", "Helvetica Neue", sans-serif;
@font-family-code: Monaco, Consolas, "Courier New", monospace;

@sidebar-width: 200px;
