<header ng-include="'partials/team-header.html'"></header>
<section id="content" class="settings">
    <div class="container">
        <flash-messages></flash-messages>
        <div class="page-header">
            <h3>Team Settings</h3>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked">
                    <li ui-sref-active="active"><a ui-sref="manage_team.settings()">Settings</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage_team.projects()">Projects</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage_team.members()">Members</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage_team.access_groups()">Access Groups</a></li>
                    <li class="divider"></li>
                    <li ng-if="selectedTeam.permission.admin"
                        ui-sref-active="active"><a ui-sref="manage_team.ownership()">Transfer Ownership</a></li>
                    <li ng-if="selectedTeam.permission.admin"
                        ui-sref-active="active"><a ui-sref="manage_team.delete()">Delete Team</a></li>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9" ui-view></div>
        </div>
    </div>
</section>
