<h4>{{data.method}} <a href="{{data.url}}">{{data.shortUrl}}</a></h4>

<table class="table">
    <colgroup>
        <col style="width:100px;">
    </colgroup>
    <tbody>
        <tr ng-if="data.queryString">
            <th>Query:</th>
            <td class="code" pretty-json="data.queryString"></td>
        </tr>
        <tr ng-if="data.fragment">
            <th>Fragment:</th>
            <td class="code" pretty-json="data.fragment"></td>
        </tr>
        <tr ng-if="data.body">
            <th>Body:</th>
            <td class="code" pretty-json="data.body"></td>
        </tr>
        <tr ng-if="data.cookies">
            <th>Cookies:</th>
            <td class="code" pretty-json="data.cookies"></td>
        </tr>
        <tr ng-if="data.headers">
            <th>Headers:</th>
            <td class="code" pretty-json="data.headers"></td>
        </tr>
        <tr ng-if="data.env">
            <th>Environment:</th>
            <td class="code" pretty-json="data.env"></td>
        </tr>
    </tbody>
</table>
