{% extends "sentry/emails/base.html" %}

{% load i18n %}
{% load sentry_helpers %}
{% load sentry_assets %}

{% block head %}
    {{ block.super }}
    <style>
        img.hero {margin-bottom: 15px; width: 100%;}
    </style>
{% endblock %}

{% block main %}
    <h3>We've Automatically Created an Uptime Monitor for You</h3>
    <p>
      We've noticed that your errors are happening at <strong>{{monitor_url_display}}</strong>, so we've automatically started monitoring it for you.
    </p>
    <p>
      <a href="{{monitor_detail_url}}">{{monitor_url_display}}</a> | <strong>{{project_slug}}</strong>
      <br /> Created on {{date_created|date:"N j, Y, g:i:s a e"}}
    </p>
    <p>
      This monitor will now check your URL every minute and alert you if it becomes unavailable. If this monitoring is undesirable you may <a href="{{monitor_detail_url}}">edit or remove this monitor</a> at any time.
    </p>
    <p><a href="{{ view_monitors_link }}" class="btn">View Monitors</a></p>
    <p>
      <a href="https://docs.sentry.io/product/alerts/uptime-monitoring/">Learn more about Uptime Monitoring</a>.
    </p>
{% endblock %}

{% block footer %}{% endblock %}
