{% extends "sentry/teams/list.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_helpers %}
{% load sentry_plugins %}

{% block title %}{% blocktrans with team.name as name %}Manage Team: {{ name }}{% endblocktrans %} | {{ block.super }}{% endblock %}

{% block bodyclass %} with-left-sidebar{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="divider">/</li>
    <li><a href="{% url sentry-manage-team team.slug %}">{{ team.name }}</a></li>
{% endblock %}

{% block main %}
    <section class="body">
        {% block inner %}
            <div class="page-header">
                <h2>{% trans "Team Details" %}</h2>
            </div>
            <form class="form-stacked" action="" method="post">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-error">{% trans "Please correct the errors below." %}</div>
                {% endif %}

                {{ form|as_crispy_errors}}

                <fieldset>
                    {% for field in form %}
                        {% include "sentry/partial/_form_field.html" %}
                    {% endfor %}
                </fieldset>

                <fieldset class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
                    {% if can_remove_team %}
                        <a href="{% url sentry-remove-team team.slug %}" class="btn btn-danger">{% trans "Remove Team" %}</a>
                    {% else %}
                        <div class="pull-right note">{% trans "You cannot remove this team because it has projects assigned to it" %}</div>
                    {% endif %}
                </fieldset>
            </form>
        {% endblock %}
    </section>
{% endblock %}

{% block sidebar %}
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Team" %}</li>
        <li{% if page == 'details' %} class="active"{% endif %}>
            <a href="{% url sentry-manage-team team.slug %}">{% trans "Settings" %}</a>
        </li>
        <li{% if page == 'projects' %} class="active"{% endif %}>
            <a href="{% url sentry-manage-team-projects team.slug %}">{% trans "Projects" %}</a>
        </li>
        <li{% if page == 'members' %} class="active"{% endif %}>
            <a href="{% url sentry-manage-team-members team.slug %}">{% trans "Members" %}</a>
        </li>
    </ul>
{% endblock %}
