{% extends "sentry/teams/manage.html" %}

{% load i18n %}

{% block controller %}ManageTeamOwnershipCtrl{% endblock %}

{% block main %}
  <div class="box">
    <div class="box-header">
      <h3>{% trans "Transfer Ownership" %}</h3>
    </div>

    <div class="box-content with-padding">
      <form role="form" name="form">
        <p>Transferring ownership will retain your membership as an admin and takes affect immediately.</p>

        <div class="form-group" ng-class="form.newOwner.$invalid ? 'error' : ''">
          <label for="newOwner">User:</label>
          <input id="newOwner"
                 name="user"
                 ng-model="newOwner"
                 class="form-control"
                 type="email"
                 placeholder="email address"
                 style="width: 240px"
                 required>
          <div ng-show="form.newOwner.$dirty && form.newOwner.$invalid">Invalid:
            <span ng-show="form.newOwner.$error.required">Enter a valid user.</span>
          </div>
        </div>

        <p><label><input ng-model="confirm" type="checkbox" value="1" required> I understand and want to transfer this team.</label></p>
        <div class="form-actions">
          <button class="btn btn-primary"
                  ng-click="saveForm()"
                  ng-disabled="form.$invalid || isUnchanged(newOwner)">Transfer ownership</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
