{% extends "sentry/bases/team.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_helpers %}
{% load sentry_plugins %}

{% block title %}{% trans "Settings" %} | {{ block.super }}{% endblock %}

{% block bodyclass %}{% endblock %}

{% block controller %}ManageTeamSettingsCtrl{% endblock %}

{% block main %}
  {% block inner %}
  <h3>{% trans "Team Settings" %}</h3>
  <div class="box">
      <div class="box-header">
          <h3>{% trans "Team Details" %}</h3>
      </div>
      <div class="box-content with-padding">
          <form method="post"name="form">
              <div class="form-group" ng-class="form.name.$invalid ? 'error' : ''">
                <label for="id_name">Name:</label>
                <input id="id_name"
                       name="name"
                       ng-model="teamData.name"
                       class="form-control"
                       type="text"
                       placeholder="team name"
                       style="width: 240px"
                       required>
                <div ng-show="form.name.$dirty && form.name.$invalid">Invalid:
                  <span ng-show="form.name.$error.required">Enter a valid team name.</span>
                </div>
              </div>

              <div class="form-group" ng-class="form.slug.$invalid ? 'error' : ''">
                <label for="id_slug">Slug:</label>
                <input id="id_slug"
                       name="slug"
                       ng-model="teamData.slug"
                       class="form-control"
                       type="text"
                       placeholder="team slug"
                       style="width: 240px"
                       required>
                <div ng-show="form.slug.$dirty && form.slug.$invalid">Invalid:
                  <span ng-show="form.slug.$error.required">Enter a valid team slug.</span>
                </div>
              </div>
          </form>
          <div class="form-actions">
              <button class="btn btn-primary"
                      ng-click="saveForm()"
                      ng-disabled="form.$invalid || isUnchanged()">{% trans "Save Changes" %}</button>
          </div>
      </div>
  </div>
  {% endblock %}
{% endblock %}
