{% extends "sentry/teams/manage.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Remove Team" %} | {{ block.super }}{% endblock %}

{% block main %}
    <section class="body">
        <form action="" method="post">
            <p>{% trans "Are you sure you wish to remove this team? This change is permanent!" %}</p>
            {% csrf_token %}
            {{ form|as_crispy_errors }}
            {% for field in form %}
                {{ field|as_crispy_field }}
            {% endfor %}
            <fieldset class="form-actions">
                <button type="submit" class="btn btn-danger">{% trans "Confirm" %}</button> <a href="{% url 'sentry-manage-team' team.slug %}" class="btn">{% trans "Cancel" %}</a>
            </fieldset>
        </form>
    </section>
{% endblock %}
