{% extends "sentry/account/base.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Notification Settings" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="divider">/</li>
    <li><a href="{% url sentry-account-settings-notifications %}">{% trans "Notifications" %}</a></li>
{% endblock %}

{% block heading %}
    {% trans "Notification Settings" %}
{% endblock %}

{% block inner %}
    <form action="" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-block alert-error">
                <p>{% trans "There were errors saving your changes:" %}</p>
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <fieldset>
            <div><legend>{% trans "General" %}</legend></div>
            {% for field in form %}
                {% include "sentry/partial/_form_field.html" %}
            {% endfor %}
        </fieldset>
        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
        </fieldset>
    </form>
{% endblock %}
