{% extends "sentry/account/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Notification Settings" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="divider">/</li>
    <li><a href="{% url sentry-account-settings-notifications %}">{% trans "Notifications" %}</a></li>
{% endblock %}

{% block heading %}
    {% trans "Notification Settings" %}
{% endblock %}

{% block inner %}
    <form action="" method="post">
        {% csrf_token %}
        {% for form, helper in forms %}
            {% if form.non_field_errors %}
                <div class="alert alert-block alert-error">
                    <p>{% trans "There were errors saving your changes:" %}</p>
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <fieldset>
                <div><legend>{{ form.get_title }}</legend></div>
                {% with form.get_description as description %}
                    {% if description %}
                        {{ description|linebreaks }}
                    {% endif %}
                {% endwith %}
                {% crispy form helper %}
            </fieldset>
        {% endfor %}
        <fieldset class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
        </fieldset>
    </form>
{% endblock %}
