{% load i18n %}

<ul class="client-platform-list list-unstyled">
    <li>
        <a href="{% url 'sentry-help-platform' 'python' %}">
            <img src="{% url 'sentry-media' "sentry" "images/platforms/python48x48.png" %}">
            Python
        </a>
    </li>
    <li>
        <a href="{% url 'sentry-help-platform' 'php' %}">
            <img src="{% url 'sentry-media' "sentry" "images/platforms/php48x48.png" %}">
            PHP
        </a>
    </li>
    <li>
        <a href="{% url 'sentry-help-platform' 'ruby' %}">
            <img src="{% url 'sentry-media' "sentry" "images/platforms/ruby48x48.png" %}">
            Ruby
        </a>
    </li>
    <li>
        <a href="{% url 'sentry-help-platform' 'javascript' %}">
            <img src="{% url 'sentry-media' "sentry" "images/platforms/javascript48x48.png" %}">
            JavaScript
        </a>
    </li>
    <li>
        <a href="{% url 'sentry-help-platform' 'java' %}">
            <img src="{% url 'sentry-media' "sentry" "images/platforms/java48x48.png" %}">
            Java
        </a>
    </li>
    <li>
        <a href="{% url 'sentry-help-platform' 'node.js' %}">
            <img src="{% url 'sentry-media' "sentry" "images/platforms/node48x48.png" %}">
            Node.js
        </a>
    </li>
    <li>
        <a href="{% url 'sentry-help-platform' 'ios' %}">
            <img src="{% url 'sentry-media' "sentry" "images/platforms/ios48x48.png" %}">
            iOS
        </a>
    </li>
    <li>
        <a href="{% url 'sentry-help-platform' 'go' %}">
            <img src="{% url 'sentry-media' "sentry" "images/platforms/go48x48.png" %}">
            Go
        </a>
    </li>

    <li>
        <a href="{% url 'sentry-help-platform' 'rails3' %}">
            <img src="{% url 'sentry-media' "sentry" "images/platforms/rails48x48.png" %}">
            Rails 3
        </a>
    </li>
    <li>
        <a href="{% url 'sentry-help-platform' 'rails4' %}">
            <img src="{% url 'sentry-media' "sentry" "images/platforms/rails48x48.png" %}">
            Rails 4
        </a>
    </li>
    <li>
        <a href="{% url 'sentry-help-platform' 'django' %}">
            <img src="{% url 'sentry-media' "sentry" "images/platforms/django48x48.png" %}">
            Django
        </a>
    </li>
</ul>

<p>{% blocktrans with 'http://sentry.readthedocs.org' as link %}For more information on developing clients and the Sentry API, see the <a href="{{ link }}">documentation</a>.{% endblocktrans %}</p>
