{% load i18n %}
{% load sentry_helpers %}

{% for interface, interface_html in interface_list %}
    <div id="{{ interface.get_slug }}">
        {{ interface_html }}
    </div>
{% endfor %}

{% if json_data %}
    <div id="extra">
        <div class="page-header">
            <h2>{% trans "Additional Data" %}</h2>
        </div>
        <table class="table table-striped vars">
            {% for k, v in json_data.iteritems|as_sorted %}
                <tr>
                    <th class="key">{{ k }}</th>
                    <td class="values{% if not v|is_dict %} code{% endif %}">
                    {% if v|is_dict %}
                        {% if v|length > 5 %}
                            <a href="#" onclick="return varToggle(this, '#vExtra{{ forloop.counter }}')"><span>&#x25b6;</span> {% trans "Expand" %}</a>
                        {% endif %}
                        <table class="table vars" id="vExtra{{ forloop.counter }}"{% if v|length > 5 %} style="display:none;"{% endif %}>
                            <colgroup>
                                <col style="width:100px;">
                            </colgroup>
                            <tbody>
                                {% for k_, v_ in v.iteritems|as_sorted %}
                                    <tr>
                                        <th>{{ k_ }}</th>
                                        <td class="code"><pre>{{ v_|pprint }}</pre></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <pre>{{ v|pprint }}</pre>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

{% if version_data %}
    <div id="versions">
        <div class="page-header">
            <h2>{% trans "Package Versions" %}</h2>
        </div>
        <table class="table table-striped">
            {% for k, v in version_data.iteritems|as_sorted %}
                <tr>
                    <th class="key">{{ k }}</th>
                    <td class="values"><code>{{ v }}</code></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
