{% load i18n %}
{% load sentry_helpers %}

{% if tags %}
    <div id="tags" class="box">
        <div class="box-header">
            <h3>Tags</h3>
        </div>
        <div class="box-content with-padding">
            <ul class="mini-tag-list">
                {% for tag_key, tag_value in tags %}
                    <li>
                        <strong>{{ tag_key }}</strong>
                        <em>=</em>
                        <span><a href="{% url 'sentry-stream' group.organization.slug group.project.slug %}?{{ tag_key }}={{ tag_value }}">{{ tag_value }}</a> {% if tag_value|is_url %}<a href="{{ tag_value }}" class="icon-share"></a>{% endif %}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% for interface, interface_html in interface_list %}
    <div id="{{ interface.get_slug }}">
        {{ interface_html }}
    </div>
{% endfor %}

{% if json_data %}
    <div id="extra" class="box">
        <div class="box-header">
            <h3>{% trans "Additional Data" %}</h3>
        </div>
        <div class="box-content with-padding">
            {% render_values json_data %}
        </div>
    </div>
{% endif %}

{% if version_data %}
    <div id="versions" class="box">
        <div class="box-header">
            <h3>{% trans "Package Versions" %}</h3>
        </div>
        <div class="box-content with-padding">
            <table class="table vars">
                <colgroup>
                    <col style="width:80%">
                    <col style="width:20%">
                </colgroup>
                {% for k, v in version_data.iteritems|as_sorted %}
                    <tr>
                        <th class="key">{{ k }}</th>
                        <td class="values" style="text-align: right"><code>{{ v }}</code></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}
