{% load sentry_helpers %}
{% load sentry_plugins %}

<li class="event">
    <div class="event-details event-cell">
        <h3>
            <a href="{% url 'sentry-group-event' event.organization.slug event.project.slug event.group_id event.pk %}">
                {{ event.message_short }}
            </a>
        </h3>
        <div class="meta">
            <span class="last-seen pretty-date" title="{{ event.datetime|date:"c" }}Z">{{ event.datetime|timesince }}</span>
            {% if event.time_spent %}
                <span class="time-spent">{{ event.time_spent|duration }}</span>
            {% endif %}
        </div>
        <a href="{% url 'sentry-group-event' event.organization.slug event.project.slug event.group_id event.pk %}" class="row_link"></a>
    </div>
</li>
