@use "../../styles/layout" as *;
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  .category-cell {
    @include sub-heading;
  }

  .value-cell {
    @include content;
  }
}
