{% load sentry_helpers %}
{% load sentry_assets %}
<!DOCTYPE html>
<html>
  <head>
    <title>Sentry DevToolbar iFrame - invalid referrer</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body>
    <script>
      (function() {
        //TODO: handle missing project if () {

        console.log('Invalid Domain/Project', {referrer});
        // TODO: get referrer and log this some other way, maybe analytics

        window.parent.postMessage({
          source: 'sentry-toolbar',
          message: 'invalid-domain',
        }, referrer);
      })();
    </script>
  </body>
</html>
