@tooltip-bg: @purple;
@tooltip-color: @white;
@tooltip-max-width: 200px;

.tooltip-inner {
  font-weight: bold;
  // border: 1px solid @trim;

  .time-label {
    font-size: 11px;
    padding: 3px 5px;
    margin-left: -5px;
    margin-right: -5px;
    background: @purple-dark;
  }
  .value-label {
    padding: 3px 0;
  }
}
