{% extends "sentry/teams/manage.html" %}

{% load url from future %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Edit Member" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="divider"></li>
    <li><a href="{% url 'sentry-edit-team-member' team.slug member.pk %}">Member: {{ member.user.username }}</a></li>
{% endblock %}

{% block inner %}
    <form class="form-stacked" action="" method="post">
        {% csrf_token %}
        <legend>{% trans "Details" %}</legend>

        {% if form.errors %}
            <div class="alert alert-error">{% trans "Please correct the errors below." %}</div>
        {% endif %}

        {{ form|as_crispy_errors }}

        <div class="control-group">
            <label>{% trans "User" %}</label>
            <div class="controls">
                {{ member.user.username }}
            </div>
        </div>
        <br/>
        <legend>{% trans "Access" %}</legend>
        {% for field in form %}
            {% include "sentry/partial/_form_field.html" %}
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
        </div>
    </form>
{% endblock %}
