{% extends "sentry/bases/team.html" %}

{% load i18n %}

{% block team_members_nav %} class="active"{% endblock %}

{% block title %}{% trans "New Member" %} | {{ block.super }}{% endblock %}

{% block inner %}
    {% if is_invite %}
        <p>{% trans "Invite a member to join this team via their email address. If they do not already have an account, they will first be asked to create one." %}</p>
        {% trans "Send Invite" as submit_label %}
        {% include "sentry/partial/_form.html" %}
    {% else %}
        <p>{% trans "You may add a user by their username if they already have an account." %}</p>
        {% include "sentry/partial/_form.html" %}
    {% endif %}
    <script type="text/javascript">
    new app.AddTeamMemberPage();
    </script>
{% endblock %}
