{% extends "sentry/teams/members/index.html" %}

{% load i18n %}

{% block title %}{% trans "Add Team Member" %} | {{ block.super }}{% endblock %}

{% block sidebar %}
    {{ block.super }}
    <h4>{% trans "Access Levels" %}</h4>
    <p>{% blocktrans %}The primary difference between access levels is team management. Any member with admin access is treated almost identical to the team owner.{% endblocktrans %}</p>
{% endblock %}

{% block inner %}
    <div class="box">
        <div class="box-header">
            <h3>{% trans "Add Team Member" %}</h3>
        </div>
        <div class="box-content with-padding">
            <p>{% trans "Invite a member to join this team via their email address. If they do not already have an account, they will first be asked to create one." %}</p>

            {% include "sentry/partial/_form.html" %}
        </div>
    </div>
{% endblock %}
