{% extends "sentry/teams/groups/details.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_helpers %}

{% block title %}
    {% trans "Members" %} | {{ block.super }}
{% endblock %}

{% block inner %}
    <div class="page-header">
        <h2>{% trans "Group Members" %}</h2>
    </div>

    {% if member_list %}
        <table class="table table-striped">
            <colgroup>
                <col/>
                <col width="100px"/>
                <col width="180px"/>
            </colgroup>
            <thead>
                <tr>
                    <th>{% trans "User" %}</th>
                    <th style="text-align:center">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for member in member_list %}
                    <tr>
                        <td>
                            <strong>{% if member.first_name %}{{ member.first_name }} &mdash; {% endif %}{{ member.username }}</strong><br>
                            {{ member.email }}
                        </td>
                        <td style="text-align:center;">
                            <a href="{% url 'sentry-remove-access-group-member' group.team.slug group.id member.id %}" class="btn">{% trans "Remove" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "There are no members assigned to this group." %}
    {% endif %}

    <form action="" method="post" class="form-search">
        {% csrf_token %}
        {{ form|as_crispy_errors }}

        {{ form.user }} <button type="submit" class="btn btn-primary" style="padding: 6px 10px; margin-left: 5px">{% trans "Add Member" %}</button>
    </form>

    <script type="text/javascript">
    new app.AccessGroupMembersPage();
    </script>

{% endblock %}
