{% extends "sentry/bases/auth.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load sentry_assets %}

{% block title %}{% trans "Unlink Identity" %} | {{ block.super }}{% endblock %}

{% block auth_main %}
<form class="form-stacked" action="" method="post">
  {% csrf_token %}


  <div class="align-center">
    <p>{% trans "Confirm that you'd like to unlink your Microsoft Teams identity from your Sentry account." %}</p>

    <p>
      <button type="submit" class="btn btn-default btn-login-msteams">
        <span class="provider-logo msteams"></span> {% trans "Unlink with Microsoft Teams" %}
      </button>
    </p>
  </div>
</form>
{% endblock %}
