{% load i18n %}
{% load sentry_activity %}
{% load sentry_helpers %}

{% with event|get_rendered_interfaces:request as interface_list %}

    {% if group|has_charts %}
        <div class="module">
            <div id="chart" class="chart" data-api-url="{% url 'sentry-api-0-group-stats' group.id %}">
                <div class="sparkline">
                    <span class="loading">{% trans "Loading historical data..." %}</span>
                    <noscript>{% trans "Get yourself some JavaScripts dood" %}</noscript>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="activity" id="activity">
        <ul>
            {% for item in activity %}
                {% with item|render_activity as out %}
                    {% if out %}
                        <li class="item item-{{ item.get_type_display }}">{{ out }}</li>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </ul>
        <a href="#add-note" class="add-note-btn"><i class="icon-comment"></i> Add Note</a>
        <form class="add-note-form hide" method="POST" action=".">
            {% csrf_token %}
            <input type="hidden" name="o" value="note">
            {{ add_note_form.text }}
            <fieldset class="form-actions">
                <button type="submit" class="btn btn-small btn-primary">{% trans "Add Note" %}</button>
            </fieldset>
        </form>
    </div>

    <div class="box event-browser">
      <div class="event-controls">
        <a class="btn btn-sm btn-default older {% if not prev_event %} disabled{% endif %}"
           {% if prev_event %} href="{% url 'sentry-group-event' group.team.slug group.project.slug group.id prev_event.id %}"{% endif %}>
            <span class="icon-arrow-left"></span>  {% trans "Older" %}</a>
        <a class="btn btn-sm btn-default newer {% if not next_event %} disabled{% endif %}"
           {% if next_event %} href="{% url 'sentry-group-event' group.team.slug group.project.slug group.id next_event.id %}"{% endif %}>
            {% trans "Newer" %} <span class="icon-arrow-right"></span></a>
           <p>Event id <strong>{{ event.event_id }}</strong> occurred <time title="{{ event.datetime }}">{% localized_datetime event.datetime %}</time></p>
      </div>
    </div>

    {% include "sentry/partial/event_nav.html" %}

    {% if group.is_muted %}
        <div class="alert alert-info">This event has been muted. You will not be notified of any changes and it will not show up in the default feed.</div>
    {% endif %}

    {% if event.has_two_part_message %}
        <pre id="full-message">{{ event.message }}</pre>
    {% endif %}

    {% if tags %}
        <section class="entry box" id="tags">
            <div class="box-header">
                <h4>Tags</h4>
            </div>
            <div class="box-content">
                <ul class="mini-tag-list">
                    {% for tag_key, tag_value in tags %}
                        <li>
                            <strong>{{ tag_key }}</strong>
                            <em>=</em>
                            <span><a href="{% url 'sentry-stream' group.team.slug group.project.slug %}?{{ tag_key }}={{ tag_value }}">{{ tag_value }}</a> {% if tag_value|is_url %}<a href="{{ tag_value }}" class="icon-share"></a>{% endif %}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}

    {% for interface, interface_html in interface_list %}
        <section class="entry box" id="{{ interface.get_slug }}">
            {{ interface_html }}
        </section>
    {% endfor %}

    {% if json_data %}
        <section class="entry box" id="extra">
            <div class="box-header">
                <h4>{% trans "Additional Data" %}</h4>
            </div>
            <div class="box-content">
                {% render_values json_data %}
            </div>
        </section>
    {% endif %}

    {% if version_data %}
        <section class="entry box" id="versions">
            <div class="box-header">
                <h2>{% trans "Package Versions" %}</h2>
            </div>
            <div class="box-content">
                <table class="table table-striped">
                    <colgroup>
                        <col style="width:130px">
                    </colgroup>
                    {% for k, v in version_data.iteritems|as_sorted %}
                        <tr>
                            <th class="key">{{ k }}</th>
                            <td class="values"><code>{{ v }}</code></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    {% endif %}
{% endwith %}
