/* storybook@4.x.x does not seem to support any other babel config filename */
{
  "presets": ["@babel/react", "@babel/env"],
  "plugins": [
    "emotion",
    "react-hot-loader/babel",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": true}]
  ],
  "env": {
    "production": {},
    "development": {
      "plugins": [["emotion", {"sourceMap": true, "autoLabel": true}]]
    },
    "test": {
      "plugins": [["emotion", {"autoLabel": true}], "dynamic-import-node"]
    }
  }
}
