{% load sentry_helpers %}

{% url 'sentry-group' group.organization.slug group.project.slug group.id as group_link %}
{% url 'sentry-stream' group.organization.slug group.project.slug as project_link %}
<div class="group-header">
  <table class="group-stats">
    <thead>
      <tr>
        <th>
          <h6>On this issue</h6>
        </th>
        <th class="align-right">
          <h6>Level</h6>
        </th>
      </tr>
    </thead>
    <tr>
      <td class="group-message">
        {% include "sentry/emails/_group.html" %}
        <p class="meta">
          <small>
            <span class="count">Seen <strong>{{ group.times_seen }}</strong> time{{ group.times_seen|pluralize }}.</span>
            <span class="last-seen pretty-date"> Last seen: {{ group.last_seen }} UTC</span>
            {% if group.avg_time_spent %}
              <span class="time-spent">{{ group.avg_time_spent|duration }}</span>
            {% endif %}
            in <a href="{% absolute_uri project_link %}"><strong>{{ group.project.organization.slug }} / {{ group.project.slug }}</strong></a>
          </small>
        </p>
      </td>
      <td class="group-level">
        <p class="value"><span class="level level-{{ group.get_level_display }}">{{ group.get_level_display }}</span></p>
      </td>
    </tr>
  </table>
</div>
