{% extends "sentry/emails/base.html" %}

{% load i18n %}

{% block main %}
    <h3>Confirm Account</h3>
    <p>
        Sentry received a login attempt for {{ organization }} authenticated by {{ provider }},
        with the credentials {{ email }}.
    </p>

    <p>
        If this was you, and you wish to associate your existing Sentry account to the new {{ provider }} identity for {{ email }},
        please click the link below.
    </p>

    <p>
        <em>This authentication link will expire in 10 minutes.</em>
    </p>

    <a href="{{ url }}" class="btn">Confirm</a>
{% endblock %}
