{% extends "sentry/emails/base.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block main %}
    <p>He there,</p>
    <p>Your teammates at <strong>{{ organization.name }}</strong> are using Sentry to catch errors, improve latency issues, and keep their (and maybe your) code from catching fire. 🔥</p>

    <p>Looks like they need your help. You've been invited to join them:</p>


<p>👉 <a href="{{ url }}" class="btn">Accept your invite</a></p>

     <div class="notice">Heads up: this invite link is just for you. Don't share it unless you want random strangers fixing your bugs.</div>

    <p>Oh, and meet Seer, your new AI debugging agent. It'll automatically pinpoint root causes, suggest fixes, and even predict bugs before they land in prod.</p>

    <p>
        Welcome to the club.<br>
        - The Sentry Team
    </p>
{% endblock %}

{% block footer %}
  <a href="https://sentry.zendesk.com/hc/en-us/">Help Center</a>

  <a href="{% absolute_uri %}" style="float:right">Home</a>
{% endblock %}
