{% extends "sentry/emails/base.html" %} {% load i18n %} {% block main %}
<h3>Finish Onboarding</h3>

<p>Hey {{ recipient_name }},</p>

<p>
  Thanks for getting started with Sentry with your
  <strong>{{ organization_name }}</strong> organization. Before you can access all the
  debugging goodness Sentry offers, we need a few more details about your {{ platforms }} project{{num_platforms|pluralize}}. To complete the onboarding process, click this link on your
  desktop/laptop.
</p>

<p>
  <a href="{{ onboarding_link }}" class="btn"> Finish Onboarding </a>
</p>

{% endblock %}
