{% extends "sentry/emails/base.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block main %}
  <h3>Request for Access</h3>

  <p><strong>{{ inviter_name|sanitize_periods }}</strong> has requested to invite <strong>{{ email }}</strong> to the {{ organization_name }} organization.</p>

  <a href="{{ pending_requests_link }}" class="btn">View access requests</a>

  <p class="via">
    You are receiving this email because you're listed as an organization Owner or Manager.
  </p>
{% endblock %}
