{% extends "sentry/emails/base.html" %}

{% load i18n %}

{% block main %}
    <p>Welcome to Sentry. We created your account, just need you to set a password and you'll be all set.</p>

    <p><a href="{{ url|safe }}" class="btn">Set your Password</a></p>

    <p>Once you are in, you can:</p>
    <ul>
        <li>Monitor your code in production</li>
        <li>Get realtime notifications for errors and latency problems</li>
        <li>Have all the context to debug critical issues</li>
    </ul>

    <p>If you weren't expecting this email, please ignore it.</p>

    <p>The Sentry Team</p>
{% endblock %}
