{% load i18n %}
<table>
    <colgroup>
      <col style="width:130px;">
    </colgroup>
    <tbody>
        {% if span_evidence_key_value %}
        {% for item in span_evidence_key_value %}
            {% if item.is_multi_value %}
            <tr>
                <th>{{ item.key }}</th>
                <td>
                    <code>{{ item.value.0|truncatechars:100 }}</code>
                </td>
            </tr>
            {% for val in item.value|slice:"1:" %}
            <tr>
                <th></th>
                <td>
                    <code>{{ val|truncatechars:100 }}</code>
                </td>
            </tr>
            {% endfor %}

            {% else %}
            <tr>
                <th>{{ item.key }}</th>
                <td>
                    <code>{{ item.value|truncatechars:100 }}</code>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        {% endif %}
    </tbody>
</table>
