{% extends "sentry/emails/base.html" %}

{% load i18n %}

{% block main %}
    <h3>Request for Project Transfer</h3>
    <p>A project transfer request has been made:</p>
    <p>
        <pre>from organization: <strong>{{ from_org }}</strong></pre>
    </p>
    <p>
        <pre>project: <strong>{{ project_name }}</strong></pre>
    </p>
    <p>
        <pre>requested by: {{ requester }}</pre>
    </p>
    <p>
        <pre>requested at: {{ request_time }}</pre>
    </p>
    <p>Click below to approve the transfer of
        <strong>{{ project_name }}</strong>. If you are an organization owner for more than one Sentry organization, you will be asked to choose which one should accept the project.</p>
    <p>
        <a href="{{ url }}" class="btn">Approve Transfer</a>
    </p>
{% endblock %}
