{{ partial "team/project/project-nav" }}
<div class="row">
    <div class="col-sm-4">
        <h4>Browser</h4>
        <table class="table table-striped table-borderless">
            <tbody>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">407k</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <h4>File</h4>
        <table class="table table-striped table-borderless">
            <tbody>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">407k</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <h4>Function</h4>
        <table class="table table-striped table-borderless">
            <tbody>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">407k</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h4>Browser</h4>
        <table class="table table-striped table-borderless">
            <tbody>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td><a href="#">Chrome 6.0.5</a></td>
                    <td class="align-right">407k</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <h4>File</h4>
        <table class="table table-striped table-borderless">
            <tbody>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td><a href="#">Chrome 6.0.5</a></td>
                    <td class="align-right">407k</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <h4>Function</h4>
        <table class="table table-striped table-borderless">
            <tbody>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td><a href="#">Chrome 6.0.5</a></td>
                    <td class="align-right">407k</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
                <tr>
                    <td>{{#link-to 'team.project.explore.item'}}Safari 6.0.5{{/link-to}}</td>
                    <td class="align-right">1.1m</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
