.onboarding-container{
  margin-left: 250px;
}

.step-container{
  max-width: 800px;
  display: flex;
  padding: 10px;
}


.awaiting-event {
  max-height: 100px;
  padding-left: 10px;

  .configure-text {
  // display: inline-block;
  // left: 0;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
  }
 // border-radius: 0;
  // padding: 30px 20px 30px 0;
  // #gradient > .vertical(#F8F9FA, #ffffff);
  // box-shadow: inset 0 1px 3px rgba(0,0,0, .08);
  // border-radius: 0 0 3px 3px;
  // padding: 10x;
  // left: 10px;
  // margin-left: 15px;


   .wrap {
     position: relative;
     // max-width: 1060px;
     margin: 0 auto;
     // padding: 30px 0 20px 10px;
     font-size: 18px;
     // min-height: 130px;
     // max-width: 500px;
     // max-height: 100px;
     left: 300px;
   }

   .waiting-text {
    // padding: 20px 20px 20px 70px;
    // max-height: 100px;

   }

    .robot {
     position: absolute;
     left: 0;
     top: 0;
     padding-bottom: 5px;
     width: 55px;
     height: 65px;
     background: url(../../../images/sentry-robot.png);
     background-size: cover;

     .eye {
       display: block;
       .square(3px);
       border-radius: 6px;
       position: absolute;
       top: 17px;
       left: 20px;

        -webkit-animation: blink-eye .6s infinite;
        -moz-animation:    blink-eye .6s infinite;
        -o-animation:      blink-eye .6s infinite;
        animation:         blink-eye .6s infinite;
      }
    }
  }


.onboarding-sidebar{
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left:0;
  color: whitesmoke;
  background: url(../../../images/sentry-pattern.png);
  background-color: #493e54;
  background-size: 400px;

  .sentry-flag{
    margin: 50px 0px;
    background-color: #e03e2f;
    width: 100px;
    padding:5px 15px;
    h4{
      display: inline;
      padding:  0 5px;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  .progress-nodes{
    div.node{
      width: 190px;
      margin:auto;
      margin-bottom: 30px;
      display: flex;
      color:@50;
      position: relative;
      padding-left: 30px;
      border-color: @50;

      &.active{
        color: white;
          &::before{
          border-color: white;
        }
      }

      span.node {
        &::before{
          content:'';
          position: absolute;
          left:-15px;
          border-radius: 100%;
          width:30px;
          height:30px;
          margin-top: 10px;
          margin-right: 8px;
          border: 3px solid;
        }

        &.done{
          &::before{
            content: '●';
            text-align: center;
          }
        }
      }
    }
  }
  .stuck{
    padding: 20px;
    position: absolute;
    bottom: 0px;
  }
}

.platformicon-stack{
  background-color: white;
  position: absolute;
}

.platform-picker{
  .nav-tabs {
    border-bottom: 1px solid @20;
    margin: 0px;
  }
  .platform-filter{
    border-radius: 5px;
    border: 1px solid @20;

  }
  .platform-tiles{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid @20;

    .platform-card {
      display: flex;
      flex-direction: column;
      min-width: 105px;
      &.selected{
      background-color:  #aeb;
     }
    }

    &.client-platform-list li {
      margin: 0 auto;
    }
    &.client-platform-list.shade{
      background-color: @40;
      filter: brightness(0.4);
    }
  }

  h5{
    text-align: center;
  }
}

.project-name{
  margin-top: 10px;
  .platform-tile{
    display: inline-block;
    vertical-align: middle;
  }
}