<div class="modal-header">
  <button type="button" class="close"
          ng-click="close()">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title">Please confirm</h4>
</div>
<div class="modal-body">
  <p><strong>Are you sure that you want to <% actionLabel.toLowerCase() %> these <% numEvents %> events?</strong></p>
  <p>This action cannot be undone.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default"
          ng-click="close()">Cancel</button>
  <button type="button" class="btn btn-danger"
          ng-if="canActionAll"
          ng-click="actionAll()"><% actionLabel %> all recorded events</button>
  <button type="button" class="btn btn-primary"
          ng-click="actionSelected()"><% actionLabel %> <% numEvents %> selected events</button>
</div>
