<div class="user-selector">
  <div class="btn-group">
    <a href="#" class="btn btn-sm btn-default dropdown-toggle">
      <img src="http://github.com/benvinegar.png" class="avatar">
      <span aria-hidden="true" class="icon-arrow-down"></span>
    </a>
    <div class="dropdown-menu">
      <input type="text" class="form-control input-sm" placeholder="Filter people">
      <ul>
        <li ng-repeat="projectMember in projectMemberList">
          <a href="#"><img src="<% projectMember.avatarUrl %>" class="avatar"> <% projectMember.name || projectMember.email %></a>
        </li>
      </ul>
    </div>
  </div>
</div>
