{% extends "dblog/index.html" %}

{% load dblog_helpers %}

{% block title %}{{ message.error }} | Django DB Log{% endblock %}

{% block body %}
	<div id="header"> 
		<h1><a href="{% url dblog %}">Django DB Log</a></h1> 
		<h2>Message Details</h2>
	</div> 

	<div id="sidebar">
		<h2>Last 24 Hours</h2>
		
		<img src="{{ chart_url }}" class="chart" alt="chart"/>
		
		<h2>URLs</h2>
		
		<ul class="url-list">
			{% for link, priority in unique_urls|with_priority:"times_seen" %}
				<li class="priority-{{ priority }}"><span class="count">{{ link.times_seen }}</span> <a href="{{ link.url }}">{{ link.url }}</a></li>
			{% endfor %}
		</ul>

		<h2>Servers</h2>
		
		<ul class="server-list">
			{% for server, priority in unique_servers|with_priority:"times_seen" %}
				<li class="priority-{{ priority }}"><span class="count">{{ server.times_seen }}</span> {{ server.server_name }}</li>
			{% endfor %}
		</ul>
	</div>

	<div id="body" class="with-sidebar"> 
		<ul class="messages">
			<li class="{% cycle 'row1' 'row2' %} level-{{ message.level }} active">
				<span class="count">{{ message.times_seen }}</span>
				<h3>{% if message.view %}{{ message.view }}{% else %}{{ message.message }}{% endif %}</h3>
				<p class="message">{{ message.error }}</p>
				<pre class="traceback">{{ message.shortened_traceback }}</pre>
			</li>
		</ul>
		
		{% if traceback %}

			<h2>Sample Traceback</h2>

			{{ traceback }}

		{% endif %}
	</div>

	<div id="footer">Powered by sexy Django magic.</div> 
{% endblock %}