{% extends "dblog/index.html" %}

{% block title %}{{ message.error }} | Django DB Log{% endblock %}

{% block body %}
	<div id="header"> 
		<h1><a href="{% url dblog %}">Django DB Log</a></h1> 
		<h2>Message Details</h2>
	</div> 

	<div id="sidebar">
		<h2>URLs</h2>
		
		<ul class="url-list">
			{% for link in unique_urls %}
				<li><span class="count">{{ link.times_seen }}</span> <a href="{{ link.url }}">{{ link.url }}</a></li>
			{% endfor %}
		</ul>

		<h2>Servers</h2>
		
		<ul class="server-list">
			{% for server in unique_servers %}
				<li><span class="count">{{ server.times_seen }}</span> {{ server.server_name }}</li>
			{% endfor %}
		</ul>
	</div>

	<div id="body" class="with-sidebar"> 
		<ul class="messages">
			<li class="{% cycle 'row1' 'row2' %} level-{{ message.level }} priority-{{ message.priority }} active">
				<span class="count">{{ message.times_seen }}</span>
				<h3>{{ message.view }}</h3>
				<p class="message">{{ message.error }}</p>
				<pre class="traceback">{{ message.shortened_traceback }}</pre>
			</li>
		</ul>
		
		{% if traceback %}

			<h2>Sample Traceback</h2>

			{{ traceback }}

		{% endif %}
	</div>

	<div id="footer">Powered by sexy Django magic.</div> 
{% endblock %}