/* http://www.positioniseverything.net/easyclearing.html */
#djDebug .djdt-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#djDebug .djdt-clearfix {display: inline-block;}
/* Hides from IE-mac \*/
#djDebug .djdt-clearfix {display: block;}
* html #djDebug .djdt-clearfix {height: 1%;}
/* end hide from IE-mac */

/* Debug Toolbar CSS Reset, adapted from Eric Meyer's CSS Reset */
#djDebug {color:#000;background:#FFF;}
#djDebug, #djDebug div, #djDebug span, #djDebug applet, #djDebug object, #djDebug iframe,
#djDebug h1, #djDebug h2, #djDebug h3, #djDebug h4, #djDebug h5, #djDebug h6, #djDebug p, #djDebug blockquote, #djDebug pre,
#djDebug a, #djDebug abbr, #djDebug acronym, #djDebug address, #djDebug big, #djDebug cite, #djDebug code,
#djDebug del, #djDebug dfn, #djDebug em, #djDebug font, #djDebug img, #djDebug ins, #djDebug kbd, #djDebug q, #djDebug s, #djDebug samp,
#djDebug small, #djDebug strike, #djDebug strong, #djDebug sub, #djDebug sup, #djDebug tt, #djDebug var,
#djDebug b, #djDebug u, #djDebug i, #djDebug center,
#djDebug dl, #djDebug dt, #djDebug dd, #djDebug ol, #djDebug ul, #djDebug li,
#djDebug fieldset, #djDebug form, #djDebug label, #djDebug legend,
#djDebug table, #djDebug caption, #djDebug tbody, #djDebug tfoot, #djDebug thead, #djDebug tr, #djDebug th, #djDebug td,
#djDebug button {
    margin:0;
    padding:0;
    min-width:0;
    width:auto;
    border:0;
    outline:0;
    font-size:12px;
    line-height:1.5em;
    color:#000;
    vertical-align:baseline;
    background-color:transparent;
    font-family:sans-serif;
    text-align:left;
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#djDebug button {
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(top, #eee, #cccccc);
    background-image: -moz-linear-gradient(top, #eee, #cccccc);
    background-image: -ms-linear-gradient(top, #eee, #cccccc);
    background-image: -o-linear-gradient(top, #eee, #cccccc);
    background-image: linear-gradient(top, #eee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    line-height: 1;
    padding: 0 8px;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
}

#djDebug button:hover {
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, #bbb));
    background-image: -webkit-linear-gradient(top, #ddd, #bbb);
    background-image: -moz-linear-gradient(top, #ddd, #bbb);
    background-image: -ms-linear-gradient(top, #ddd, #bbb);
    background-image: -o-linear-gradient(top, #ddd, #bbb);
    background-image: linear-gradient(top, #ddd, #bbb);
    border-color: #bbb;
    border-bottom-color: #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

#djDebug button:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
    -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
    box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}

#djDebug {
    position:fixed;
    top:0;
    right:0;
    left:0;
}

#djDebug #djDebugToolbar {
    background-color:#111;
    height:50px;
    z-index:100000000;
    overflow-y: auto;
    border-bottom:1px solid #222;
}

#djDebug #djDebugToolbar small {
    color:#999;
}

#djDebug #djDebugToolbar ul {
    margin:0;
    padding:0;
    list-style:none;
}

#djDebug #djDebugToolbar * {
    line-height: 1.2;
}

#djDebug #djDebugToolbar li {
    color:#fff;
    float:left;
    height:100%;
    font-weight:bold;
    margin:0;
    padding:0;
    position:relative;
    width:auto;
}
#djDebug #djDebugToolbar li a,
#djDebug #djDebugToolbar li div.djdt-contentless  {
    font-weight:normal;
    font-style:normal;
    text-decoration:none;
    vertical-align:top;
    display:block;
    height:40px;
    font-size:14px;
    padding:10px;
    color:#fff;
}
#djDebug #djDebugToolbar li div.djdt-disabled {
    font-style: italic;
    color: #999;
}

#djDebug #djDebugToolbar li a:hover,
#djDebug #djDebugToolbar li a:focus {
    background:#333;
}

#djDebug #djDebugToolbar li.djdt-active,
#djDebug #djDebugToolbar li.djdt-active a,
#djDebug #djDebugToolbar li.djdt-active a:hover,
#djDebug #djDebugToolbar li.djdt-active a:focus {
    color:#111;
    background-color:#ffc;
}

#djDebug #djDebugToolbar li small {
    font-size:12px;
    color:#999;
    font-style:normal;
    text-decoration:none;
}

#djDebug code {
    display:block;
    font-family:Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace;
    font-size: 12px;
    white-space:pre;
    overflow:auto;
}

#djDebug .djDebugOdd {
    background-color:#f5f5f5;
}

#djDebug .djdt-panelContent {
    display:none;
    position:fixed;
    margin:0;
    top:50px;
    right:0;
    bottom:0;
    left:0px;
    background-color:#eee;
    color:#666;
    z-index:100000000;
}

#djDebug .djdt-panelContent > div {
    border-bottom:1px solid #ddd;
}

#djDebug .djDebugPanelTitle {
    position:absolute;
    background-color:#ffc;
    color:#666;
    padding:10px 20px;
    top:0;
    right:0;
    left:0;
    height:25px;
}

#djDebug .djDebugPanelTitle h3 {
    margin-bottom: 0;
}

#djDebug .djDebugPanelTitle code {
    display:inline;
    font-size:inherit;
}

#djDebug .djDebugPanelContent {
    position:absolute;
    top:45px;
    right:0;
    bottom:0;
    left:0;
    height:auto;
    padding:20px;
}

#djDebug .djDebugPanelContent .djdt-loader {
    display:block;
    margin:80px auto;
}

#djDebug .djDebugPanelContent .djdt-scroll {
    height:100%;
    overflow:auto;
    display:block;
    padding:0 10px 0 0;
}

#djDebug h3 {
    line-height:1;
    font-size:24px;
    font-weight:normal;
}

#djDebug h4 {
    line-height:1;
    font-size:20px;
    font-weight:bold;
}

#djDebug .djDebugPanelContent table,
#djDebug .djDebugPanelContent ul,
#djDebug .djDebugPanelContent ol,
#djDebug .djDebugPanelContent dl,
#djDebug .djDebugPanelContent h3,
#djDebug .djDebugPanelContent h4,
#djDebug .djDebugPanelContent p {
    margin:0 0 20px;
}

#djDebug .djdt-panelContent table {
    border:1px solid #ccc;
    border-collapse:collapse;
    width:100%;
    background-color:#fff;
    display:block;
    overflow: auto;
}
#djDebug .djdt-panelContent tbody td,
#djDebug .djdt-panelContent tbody th {
    vertical-align:top;
    padding:2px 3px;
}
#djDebug .djdt-panelContent tbody td.djdt-time {
    text-align: center;
}

#djDebug .djdt-panelContent thead th {
    padding:1px 6px 1px 3px;
    text-align:left;
    font-weight:bold;
    font-size:14px;
    white-space: nowrap;
}
#djDebug .djdt-panelContent tbody th {
    width:12em;
    text-align:right;
    color:#666;
    padding-right:.5em;
}

#djDebug .djTemplateHideContextDiv {
    background-color:#fff;
}

#djDebug .djdt-panelContent .djDebugClose {
    display:block;
    position:absolute;
    top:4px;
    right:15px;
    height:40px;
    width:40px;
    background: no-repeat center center;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAQAAACQTsNJAAABuUlEQVR4Ab2WXeoaMRTFZxHz6pObcA0DeXUHhXktFl8LXYAPXYBLKhQGBOFqW3XS8YOW6vjHmnp6wWZyHU1maqHnQDAf/Ehu7twYhUQxdUixO/wr8ts3oeg9TQjCEx5R7SGvKCd4nPNsIyShD4QGf6QkBBkQWnrgg4zqS2fm01kbze3M3GFGjyBvCdLFqYRUySM1zLAOUXJ6dZAACcoPBOHkFpK5qY1BQBt5sExC0gAijEkriMuLfI9m8SqXNxbSd+QSbVSCnPtXyNjdCCoZ7PANF7C4/Y4tznASNzW+QqaP9lFcj4cLW4PY+vFepsSQ2Hbnp5vw2ShB231Cau72EkfUs53lC4R+YQkSXsBAiFdXc72IkupmDODDfKkhwKtdygUgHAuXw7gEIN7jCIQNsfc43sDuqlgsbC57A+u94q82nFVscv8Vy2Rbi72csGKQ+RPignvytGuZbPW0P6KNjvdpz97aIf3jLz/ArfuKXz9dCt7IojR9qihNAuUx33vL454grOqF+t2/F2rPk/H5pzaa2+Ynw3lIaOlh6BlVlDUCMlLND3pKhRdQUPof/1o4x9Qlxe6G/+T8BlqvQqkd4EyZAAAAAElFTkSuQmCC");
}

#djDebug .djdt-panelContent .djDebugClose:hover {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAACiUlEQVR4Ad2Yz2oTURSH+xCz7cqX6DMUZtudCxExigq2WhcKYtGFVLrwAboSKoVGxT+tJWpTa2lLTDsm6SSTjtZoIq0prf+2Hu8PcmHInJvJPYwuPPDBMDPn8DE5c+fcDEgjDENHMahwOwx2zg1IsE1wFXcVvoIM+J173L8hckrRUpAlLeSmITKsKNoKMHioJRUZU1DKjNmKTCUWDWpUL21RJbcAcIxz/chM9StyvVeh8rOHtH7nJi2dOc6Ba7gnSWY8ScQ1JVdfv6C1yQlegAH3+su5XjLDvUTKXNK77H0Ul4Bck0jZJJLhEry5GV1ULvNg1iSTiYlw64SfX0ShNEAtfp3pEhnhjJmekIJapqcyEhWZZt4OtuDqlXPUWHxKYXaGli+c1Ocpf/4E1Wfv0afcPK1dG+VyTW/TdFQk6Pdp7BfWSMdhtQIZSFDbe0s6DiqezVMJtIjTfXGnuv3b9Iib+RxF47C2Te3SJkUDsqZ81GZkHIgMdV+ora8YC62MnqbvH0Iyxa/WZ3pz+awxH7UZkSH9YaMolZfPdaJZZvd9XOJLU0sYQW1ucROJoCcOyh51x1G9ip4Ri1j9NLoxDaEbWPDTWDbrx/lHsZ740dilSKChBc1q+fp+3SyQjp/NBnoi1sB4KpLXl13QSo/n2GKFW1fpaKdG+8UNSEQbmPY2VulbWKfi5A0uFzUTFzR+ib/NFJSBWolLvKYd++i9WkhNxF9i35Y29/W9KB8DxDPJJU4EBP9wMPJFoyLmCetRUc8gPK5JRDOhIBOlJ9nE4Rn3yIdnwXYi2Crq7QSOU99OaGBNKTMu3XK63GQvADXcNDbhGcWeQAA5mf/ybwkOR3FM4XbAsSOt9wcLTn8FNtAKkQAAAABJRU5ErkJggg==");
}

#djDebug .djdt-panelContent .djDebugClose.djDebugBack {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAACBUlEQVR4Ad2Y0WriQBSGfYjc7tW+hM8g5HbfYMHbxcXbhT6AF30AH6cXvRCEttK0JgZi0qhQaRNtNWV2fuiADicZcxirdOCn45mccz4mMyczbXDbeDx2pH5IuRD6n7YGR3UdkPBSaiQlSoQxPOMeA+S3VIxENRXD1wZIS2rAANA1RCwuSAdBLKtTF6RnCur7fjGZTLZJkhQQ+rAdANM7FORfVaA0Td/zPBdlDWN4xgDTNYG4Zc7T6TQjASqA4jjOKmBaVSA3lNN8Pi8Es8GXBkEuGqTNh2DDtCkQvU5gal+FpYZYZJ3RQH5RxPqaWG82qmuw02uGyoHcuyB9anfowZ6el+I2jITellkOu9gWH5UwJbupvwvimWZDgVzdeWLohyqpAlF2zE7dWfEUiKMPBkGwNxt6QmjwEKik+Ltnz9ZvpTCITcA4AGnqA1EUreFkgrm+fwSEsuO3spfCIDYB0gRIi9gtlVsWSVRSAOzaMSOw4zVSDbGp4nZGIPxXg6TWXo39xarsjMV6LtuXLmiz2cx6QUNMuqAZSvxqtbJW4hHLVOKVFvpDSZK8HPmjt6C+vn9OcAz4S4FA3hcejEasoyKmlnFUVK+DklsFAl2c9vDMuE6EYbhR1wn0bV8nlEAtLKvLvXK62smeK8RwbVzC21IpAyCF77f8twQlR+onEkLow8aN9x+oYk85YNJqYQAAAABJRU5ErkJggg==");
}

#djDebug .djdt-panelContent .djDebugClose.djDebugBack:hover  {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAACLElEQVR4Ad2YT8sSURTG/RCzbdWX8DMIs23XMrBlTLiTSIKKIqgP4C6KQAuKsLCycqGLRHNsXqck2giStIiiRdDtPtABuz0zNw+XkAYe3vHce57zY/7cOfetaI/VahVZHbOKIZz/ilU02jcBBW9YZVaGC2OYg7nhQU5ZrVlhj9bIDQFSs5ooAFzN4KUFSWASWMm+INe8pvnSvJ1PzaLfg3COmB8G3n8Jcq7MKH14z4yvXjCD0yepMIY5HpiGDyQuSj56+cSMrrQ4ABHmZi/6ZTC1MpCUJb3u3oa5SsjlIKjFQeosYda5JaZ6mLt3OAxquiBsncieP4ZRCMGLrjMuyAlG7D4To2Yi5/44eWZYDdTeBWmzt8M1W95sm09Z+kd8dv0S4maY1EthCt6m9i5ITq8GAcHx+cN7KSogEqdXx3NVcgGJ3MF3R29+MCMpiOPbx40Uxd/f4q8uNgth4E1gIoBU3YHleOgYcJjvX78AQuL4LfFCGHgTkCpAau7A4umj0nuNIlIUALtxXBEcuI0kF950cTsoEO2tQdGAtyb8w4rfiof1cF5fvqDN73dCL2jwpAuaf4m/fD7UEg8v7xIv2rqTsme9cB+9AX1btuzre0bdBuh7krMMBMr/YWOUaVpF9BP7t4rSg3DFvua5xRJF8wddb/OMOfrmWbGdyKcT2U7gPPh2QgRqE1gN7ZYzZp29Qim8QmzC61YbBcAGuf/hvyW4IqvjKAjhHDGt309H4mp9BS17eAAAAABJRU5ErkJggg==");
}

#djDebug .djdt-panelContent dt, #djDebug .djdt-panelContent dd {
    display:block;
}

#djDebug .djdt-panelContent dt {
    margin-top:0.75em;
}

#djDebug .djdt-panelContent dd {
    margin-left:10px;
}

#djDebug a.toggleTemplate {
    padding:4px;
    background-color:#bbb;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

#djDebug a.toggleTemplate:hover {
    padding:4px;
    background-color:#444;
    color:#ffe761;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}


#djDebug a.djTemplateShowContext, #djDebug a.djTemplateShowContext span.toggleArrow {
    color:#999;
}

#djDebug a.djTemplateShowContext:hover,  #djDebug a.djTemplateShowContext:hover span.toggleArrow {
    color:#000;
    cursor:pointer;
}

#djDebug .djDebugSqlWrap {
    position:relative;
}

#djDebug .djDebugCollapsed {
    display: none;
    text-decoration: none;
    color: #333;
}

#djDebug .djDebugUncollapsed {
    color: #333;
    text-decoration: none;
}

#djDebug .djUnselected {
    display: none;
}
#djDebug tr.djHiddenByDefault {
    display: none;
}
#djDebug tr.djSelected {
    display: table-row;
}

#djDebug .djDebugSql {
    z-index:100000002;
}

#djDebug .djSQLDetailsDiv tbody th {
    text-align: left;
}

#djDebug .djSqlExplain td {
    white-space: pre;
}

#djDebug span.djDebugLineChart {
    background-color:#777;
    height:3px;
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    display:block;
    z-index:1000000001;
}
#djDebug span.djDebugLineChartWarning {
    background-color:#900;
}

#djDebug .highlight  { color:#000; }
#djDebug .highlight .err { color:#000; } /* Error */
#djDebug .highlight .g { color:#000; } /* Generic */
#djDebug .highlight .k { color:#000; font-weight:bold } /* Keyword */
#djDebug .highlight .o { color:#000; } /* Operator */
#djDebug .highlight .n { color:#000; } /* Name */
#djDebug .highlight .mi { color:#000; font-weight:bold } /* Literal.Number.Integer */
#djDebug .highlight .l { color:#000; } /* Literal */
#djDebug .highlight .x { color:#000; } /* Other */
#djDebug .highlight .p { color:#000; } /* Punctuation */
#djDebug .highlight .m { color:#000; font-weight:bold } /* Literal.Number */
#djDebug .highlight .s { color:#333 } /* Literal.String */
#djDebug .highlight .w { color:#888888 } /* Text.Whitespace */
#djDebug .highlight .il { color:#000; font-weight:bold } /* Literal.Number.Integer.Long */
#djDebug .highlight .na { color:#333 } /* Name.Attribute */
#djDebug .highlight .nt { color:#000; font-weight:bold } /* Name.Tag */
#djDebug .highlight .nv { color:#333 } /* Name.Variable */
#djDebug .highlight .s2 { color:#333 } /* Literal.String.Double */
#djDebug .highlight .cp { color:#333 } /* Comment.Preproc */

#djDebug .timeline {
    width: 30%;
}
#djDebug .djDebugTimeline {
    position: relative;
    height: 100%;
    min-height: 100%;
}
#djDebug div.djDebugLineChart {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}
#djDebug div.djDebugLineChart strong {
    text-indent: -10000em;
    display: block;
    font-weight: normal;
    vertical-align: middle;
    background-color:#ccc;
}

#djDebug div.djDebugLineChartWarning strong {
    background-color:#900;
}

#djDebug .djDebugInTransaction div.djDebugLineChart strong {
    background-color: #d3ff82;
}
#djDebug .djDebugStartTransaction div.djDebugLineChart strong {
    border-left: 1px solid #94b24d;
}
#djDebug .djDebugEndTransaction div.djDebugLineChart strong {
    border-right: 1px solid #94b24d;
}
#djDebug .djDebugHover div.djDebugLineChart strong {
    background-color: #000;
}
#djDebug .djDebugInTransaction.djDebugHover div.djDebugLineChart strong {
    background-color: #94b24d;
}


#djDebug .djdt-panelContent ul.djdt-stats {
    position: relative;
    list-style-type: none;
}
#djDebug .djdt-panelContent ul.djdt-stats li {
    width: 30%;
    float: left;
}
#djDebug .djdt-panelContent ul.djdt-stats li strong.djdt-label {
    display: block;
}
#djDebug .djdt-panelContent ul.djdt-stats li span.djdt-color {
    height: 12px;
    width: 3px;
    display: inline-block;
}
#djDebug .djdt-panelContent ul.djdt-stats li span.djdt-info {
    display: block;
    padding-left: 5px;
}

#djDebug .djdt-panelContent thead th {
    white-space: nowrap;
}
#djDebug .djDebugRowWarning .djdt-time {
    color: red;
}
#djdebug .djdt-panelContent table .djdt-toggle {
    width: 14px;
    padding-top: 3px;
}
#djDebug .djdt-panelContent table .djdt-actions {
    min-width: 70px;
    white-space: nowrap;
}
#djdebug .djdt-panelContent table .djdt-color {
    width: 3px;
}
#djdebug .djdt-panelContent table .djdt-color span {
    width: 3px;
    height: 12px;
    overflow: hidden;
    padding: 0;
}
#djDebug .djToggleSwitch {
    text-decoration: none;
    border: 1px solid #999;
    height: 12px;
    width: 12px;
    line-height: 12px;
    text-align: center;
    color: #777;
    display: inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#DCDCDC'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DCDCDC)); /* for webkit browsers */
    background:-moz-linear-gradient(center top , #FFFFFF 0pt, #DCDCDC 100%) repeat scroll 0 0 transparent;
}
#djDebug .djNoToggleSwitch {
    height: 14px;
    width: 14px;
    display: inline-block;
}

#djDebug .djSQLDetailsDiv {
    margin-top:0.8em;
}
#djDebug pre {
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999    */
    white-space: -pre-wrap;      /* Opera 4-6              */
    white-space: -o-pre-wrap;    /* Opera 7                */
    white-space: pre-wrap;       /* CSS-3                  */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    color: #555;
    border:1px solid #ccc;
    border-collapse:collapse;
    background-color:#fff;
    display:block;
    overflow: auto;
    padding:2px 3px;
    margin-bottom: 3px;
    font-family:Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace;
}
#djDebug .djdt-stack span {
    color: #000;
    font-weight: bold;
}
#djDebug .djdt-stack span.djdt-path {
    color: #777;
    font-weight: normal;
}
#djDebug .djdt-stack span.djdt-code {
    font-weight: normal;
}

@media print {
    #djDebug {
        display: none !important;
    }
}

#djDebug .djdt-width-20 {
    width: 20%;
}
#djDebug .djdt-width-60 {
    width: 60%;
}
#djDebug .djdt-highlighted {
    background-color: lightgrey;
}
