{% extends "sentry/layout.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block title %}{{ group.error }} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="divider">/</li>
    <li><a href="{% url sentry-group group.project_id group.id %}">{{ group.message|truncatechars:30 }}</a></li>
{% endblock %}

{% block sidebar %}
    <div class="page-header">
        <h3>{% trans "Aggregate Details" %}</h3>
    </div>

    <dl class="flat">
        <dt>{% trans "Logger:" %}</dt>
        <dd><a href="{% url sentry project.pk %}?logger={{ group.logger }}">{{ group.logger }}</a></dd>
        <dt>{% trans "Level:" %}</dt>
        <dd><a href="{% url sentry project.pk %}?level={{ group.level|safe }}">{{ group.get_level_display }}</a></dd>
        <dt>{% trans "Status:" %}</dt>
        <dd>{{ group.get_status_display|title }}</dd>
        <dt>{% trans "First Seen:" %}</dt>
        <dd title="{{ group.first_seen }}">{{ group.first_seen|timesince }}</dd>
        <dt>{% trans "Last Seen:" %}</dt>
        <dd title="{{ group.first_seen }}">{{ group.last_seen|timesince }}</dd>
        <dt>{% trans "Avg Duration:" %}</dt>
        <dd>{% if group.avg_time_spent %}{{ group.avg_time_spent|duration }}{% else %}<em>n/a</em>{% endif %}</dd>
        <dt>{% trans "Checksum:" %}</dt>
        <dd>{{ group.checksum }}</dd>
    </dl>

    {% for html in group|get_widgets:request %}
        {{ html|safe }}
    {% endfor %}

{% endblock %}

{% block main %}
    {% handle_before_events request group %}
    <ul class="events" id="event_list">
        <li class="event level-{{ group.level }}{% if group.status == 1 %} resolved{% endif %}" id="group_{{ group.pk|safe }}" data-count="{{ group.times_seen }}" data-score="{{ group.sort_value }}">
            <div class="count"><span>{{ group.times_seen|small_count }}</span></div>
            <div class="details">
                <h3>
                    {% if group.view %}
                        {{ group.view }}
                    {% else %}
                        {{ group.message_top|truncatechars:100 }}
                    {% endif %}
                </h3>
                <p class="message" title="{{ group.message }}">
                    <span class="tag tag-logger">{{ group.logger }}</span>
                    {% with group.get_version as version %}
                        {% if version %}
                            <span class="tag tag-version">{{ version.0 }} {{ version.1 }}</span>
                        {% endif %}
                    {% endwith %}
                    {% for tag in group|get_tags:request %}<span class="tag">{{ tag }}</span> {% endfor %}
                    {{ group.error }}
                </p>
                <div class="meta">
                    <span class="last-seen pretty-date" title="{{ group.last_seen|date:"c" }}Z">{{ group.last_seen|timesince }}</span>
                    {% if group.avg_time_spent %}
                        <span class="time-spent">{{ group.avg_time_spent|duration }}</span>
                    {% endif %}
                </div>
                <ul class="actions">
                    <li>
                        {% if group.status == 0 %}
                            <a href="javascript:void(0)" onclick="Sentry.stream.resolve({{ group.project_id|safe }}, {{ group.pk|safe }}, false);" class="resolve">&#10003;</a>
                        {% else %}
                            <a href="javascript:void(0)" class="resolve disabled">&#10003;</a>
                        {% endif %}
                    </li>
                    {% if request.user.is_authenticated %}
                        <li><a href="javascript:void(0)" onclick="Sentry.stream.bookmark({{ group.project_id|safe }}, {{ group.pk|safe }}, this);" class="bookmark{% if is_bookmarked %} checked{% endif %}">&#9829;</a></li>
                    {% endif %}
                </ul>
        <!--         <a href="{% url sentry-group group.project_id group.pk %}" class="row_link"></a>
         -->
            </div>
        </li>
    </ul>

    <section class="body">
        <ul class="nav nav-tabs">
            <li{% ifequal page 'details' %} class="active"{% endifequal %}>
                <a href="{% url sentry-group group.project_id group.pk %}">{% trans "Details" %}</a>
            </li>
            <li{% ifequal page 'event_list' %} class="active"{% endifequal %}>
                <a href="{% url sentry-group-events group.project_id group.pk %}">{% trans "Events" %}</a>
            </li>
            {% for label, link, is_active in group|get_panels:request %}
                <li{% if is_active %} class="active"{% endif %}><a href="{{ link }}">{{ label }}</a></li>
            {% endfor %}
            <li class="dropdown pull-right">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">{% trans "Actions" %} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {# We're going to move these to the resolve action location #}
                    <li><a href="{% url sentry-group-json project_id=project.pk group_id=group.pk %}">{% trans "Raw JSON Data" %}</a></li>
                    {% for label, link, is_active in group|get_actions:request %}
                        {% if forloop.first %}
                            <li class="divider"></li>
                        {% endif %}
                        <li><a href="{{ link }}">{{ label }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        {% block inner %}
            {% if group.has_two_part_message %}
                <div class="page-header">
                    <h2>{% trans "Full Message" %}</h2>
                </div>
                <pre id="full-message">{{ group.message }}</pre>
            {% endif %}

            {% if group|has_charts %}
                <div class="module">
                    <div class="page-header">
                        <h2>{% trans "Frequency" %}</h2>
                    </div>
                    <div class="module-content" style="height: 120px;">
                        <div id="chart">
                            <noscript>{% trans "Get yourself some JavaScripts dood" %}</noscript>
                            <p>Loading...</p>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% for interface in interface_list %}
                {{ interface }}
            {% endfor %}

            {% if json_data %}
                <div id="extra">
                    <div class="page-header">
                        <h2>{% trans "Additional Data" %}</h2>
                    </div>
                    <table class="table table-bordered">
                        {% for k, v in json_data.iteritems|as_sorted %}
                            <tr>
                                <th class="key">{{ k }}</th>
                                <td class="values">
                                {% if v %}
                                    {% if v|is_dict %}
                                        {% if v|length > 5 %}
                                            <a href="#" onclick="return varToggle(this, 'Extra{{ forloop.index }}')"><span>&#x25b6;</span> {% trans "Body" %}</a>
                                        {% endif %}
                                        <table class="table vars" id="vExtra{{ forloop.index }}"{% if v|length > 5 %} style="display:none;"{% endif %}>
                                            <colgroup>
                                                <col style="width:100px;">
                                            </colgroup>
                                            <tbody>
                                                {% for k_, v_ in v.iteritems|as_sorted %}
                                                    <tr>
                                                        <td>{{ k_ }}</td>
                                                        <td class="code"><pre>{{ v_|pprint }}</pre></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <pre>{{ v|pprint }}</pre>
                                    {% endif %}
                                {% else %}
                                    <p>{% blocktrans with k as varname %}No data for {{ varname }}{% endblocktrans %}</p>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

            {% if version_data %}
                <div id="versioninfo">
                    <div class="page-header">
                        <h2>{% trans "Module Versions" %}</h2>
                    </div>
                    <table class="table table-bordered">
                        {% for k, v in version_data.iteritems|as_sorted %}
                            <tr>
                                <th class="key">{{ k }}</th>
                                <td class="values"><code>{{ v }}</code></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        {% endblock %}
    </section>
{% endblock %}

{% block content_after %}
    <script type="text/javascript">
    $(document).ready(function() {
        Sentry.charts.render("#chart", {{ group.project.id|safe }}, {{ group.id|safe }}, true);
    });
    </script>
{% endblock %}