{% extends "sentry/groups/details.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="divider">/</li>
    <li><a href="{% url sentry-group-event group.project_id group.pk event.pk %}">Event at {{ event.datetime }} UTC</a></li>
{% endblock %}

{% block sidebar %}
    <h6>{% trans "Event Details" %}</h6>

    <dl class="flat">
        <dt>{% trans "Seen:" %}</dt>
        <dd class="pretty-date" title="{{ event.datetime|date:"c" }}Z">{{ event.datetime|timesince }}</dd>
        <dt>{% trans "Duration:" %}</dt>
        <dd>{% if event.time_spent %}{{ event.time_spent|duration }}{% else %}<em>n/a</em>{% endif %}</dd>
        <dt>{% trans "Server:" %}</dt>
        <dd>{% if event.server_name %}{{ event.server_name }}{% else %}<em>n/a</em>{% endif %}</dd>
        <dt>{% trans "Site:" %}</dt>
        <dd>{% if event.site %}{{ event.site }}{% else %}<em>n/a</em>{% endif %}</dd>
    </dl>

    <hr>

    {{ block.super }}
{% endblock %}

{% block inner %}
    <ul class="events no-counts" id="event_list">
        {% include "sentry/partial/_event.html" %}
    </ul>

    {% if event.has_two_part_message %}
        <div class="page-header">
            <h2>{% trans "Full Message" %}</h2>
        </div>
        <pre id="full-message">{{ event.message }}</pre>
    {% endif %}

    {% for interface in interface_list %}
        {{ interface }}
    {% endfor %}

    {% if json_data %}
        <div id="extra">
            <div class="page-header">
                <h2>{% trans "Additional Data" %}</h2>
            </div>
            <table class="table table-bordered">
                {% for k, v in json_data.iteritems|as_sorted %}
                    <tr>
                        <th class="key">{{ k }}</th>
                        <td class="values{% if v and not v|is_dict %} code{% endif %}">
                        {% if v %}
                            {% if v|is_dict %}
                                {% if v|length > 5 %}
                                    <a href="#" onclick="return varToggle(this, 'Extra{{ forloop.index }}')"><span>&#x25b6;</span> {% trans "Body" %}</a>
                                {% endif %}
                                <table class="table vars" id="vExtra{{ forloop.index }}"{% if v|length > 5 %} style="display:none;"{% endif %}>
                                    <colgroup>
                                        <col style="width:100px;">
                                    </colgroup>
                                    <tbody>
                                        {% for k_, v_ in v.iteritems|as_sorted %}
                                            <tr>
                                                <td>{{ k_ }}</td>
                                                <td class="code"><pre>{{ v_|pprint }}</pre></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <pre>{{ v|pprint }}</pre>
                            {% endif %}
                        {% else %}
                            <p>{% blocktrans with k as varname %}No data for {{ varname }}{% endblocktrans %}</p>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if version_data %}
        <div id="versioninfo">
            <div class="page-header">
                <h2>{% trans "Module Versions" %}</h2>
            </div>
            <table class="table table-bordered">
                {% for k, v in version_data.iteritems|as_sorted %}
                    <tr>
                        <th class="key">{{ k }}</th>
                        <td class="values"><code>{{ v }}</code></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}