{% extends "sentry/groups/details.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block inner %}
    <h2>{% trans "Message List" %}</h2>
    {% paginate event_list from request as event_list per_page MESSAGES_PER_PAGE %}
    <div class="paging-wrap">
        <div class="clearfix">
            {{ event_list.paging }}
        </div>
    </div>
    <ul class="messages" id="event_list">
        {% for event in event_list.objects %}
            {% include "sentry/partial/_event.html" %}
        {% endfor %}
    </ul>
    <div class="paging-wrap">
        <div class="clearfix">
            {{ event_list.paging }}
        </div>
    </div>
{% endblock %}