{% extends "sentry/groups/details.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block title %}{{ group.error }} | {{ block.super }}{% endblock %}

{% block inner %}
    <ul class="messages" id="event_list">
        <li class="row1 active level-{{ event.level }}" data-sentry-count="{{ event.times_seen }}">
            <h3>
                {{ event.message_top }}
                {% if event.url %}
                     on {{ event.url }}
                {% endif %}
            </h3>
            <span class="status status-{{ event.status }}">{{ event.get_status_display }}</span>
            <p class="message">
                {% if event.message_id %}
                    <span class="tag tag-id">{{ event.message_id }}</span>
                {% endif %}
                <span class="tag tag-level">{{ event.get_level_display }}</span>
                <span class="tag tag-server">{{ event.server_name }}</span>
                {% with event.get_version as version %}
                    {% if version %}
                        <span class="tag tag-version">{{ version.0 }} {{ version.1 }}</span>
                    {% endif %}
                {% endwith %}
                <span class="last_seen" title="{{ event.datetime }}">{{ event.datetime|timesince }}</span>
            </p>
        </li>
    </ul>

    {% if event.has_two_part_message %}
        <div class="page-header">
            <h2>{% trans "Full Message" %}</h2>
        </div>
        <pre id="full-message">{{ event.message }}</pre>
    {% endif %}

    {% for interface in interface_list %}
        {{ interface }}
    {% endfor %}

    {% if json_data %}
        <div id="extra">
            <div class="page-header">
                <h2>{% trans "Additional Data" %}</h2>
            </div>
            <table>
                {% for k, v in json_data.iteritems|as_sorted %}
                    <tr>
                        <th class="key">{{ k }}</th>
                        <td class="values">
                        {% if v %}
                            {% if v|is_dict %}
                                {% if v|length > 5 %}
                                    <a href="#" onclick="return varToggle(this, 'Extra{{ forloop.index }}')"><span>&#x25b6;</span> {% trans "Body" %}</a>
                                {% endif %}
                                <table class="table vars" id="vExtra{{ forloop.index }}"{% if v|length > 5 %} style="display:none;"{% endif %}>
                                    <colgroup>
                                        <col style="width:100px;">
                                    </colgroup>
                                    <tbody>
                                        {% for k_, v_ in v.iteritems|as_sorted %}
                                            <tr>
                                                <td>{{ k_ }}</td>
                                                <td class="code"><pre>{{ v_|pprint }}</pre></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <pre>{{ v|pprint }}</pre>
                            {% endif %}
                        {% else %}
                            <p>{% blocktrans with k as varname %}No data for {{ varname }}{% endblocktrans %}</p>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if version_data %}
        <div id="versioninfo">
            <div class="page-header">
                <h2>{% trans "Module Versions" %}</h2>
            </div>
            <table class="table table-bordered">
                {% for k, v in version_data.iteritems|as_sorted %}
                    <tr>
                        <th class="key">{{ k }}</th>
                        <td class="values"><code>{{ v }}</code></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}