{% extends "sentry/layout.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block meta %}
    {{ block.super }}
    <script>
    {% if has_realtime %}
        Sentry.realtime.config({
            projectId: {{ project.pk|safe }},
            viewId: {% if view %}{{ view.pk|safe }}{% else %}null{% endif %}
        })
        Sentry.realtime.enable();
    {% endif %}
    </script>
{% endblock %}

{% block page_header %}
    <div class="btn-group pull-right">
        {% if VIEWS %}
            <a class="btn small{% if not view %} active{% endif %}" href="{% url sentry project.pk %}">{% trans "All" %}</a>
            {% for v in VIEWS %}
                <a class="btn small{% if view == v %} active{% endif %}" href="{% url sentry project.pk v.pk %}">{{ v.verbose_name_plural }}</a>
            {% endfor %}
        {% endif %}
    </div>
    {{ block.super }}
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block sidebar %}
    {% querystring from request without bookmarks as bookmark_querystring %}
    <h6>{% trans "Bookmarks" %}</h6>
    <form>
    <ul class="nav nav-tabs nav-stacked">
        <li{% if not request.GET.bookmarks %} class="active"{% endif %}><a href="?{{ bookmark_querystring }}">{% trans "All Events" %}</a></li>
        <li{% if request.GET.bookmarks %} class="active"{% endif %}><a href="?{{ bookmark_querystring }}&amp;bookmarks=1">{% trans "Only Bookmarks" %}</a></li>
    </ul>

    {% for filter in filters %}
        {% if filter.show_label %}
            <h6>{% trans filter.label %}</h6>
        {% endif %}
        <form method="get" action="{{ filter.get_query_string|safe }}">
            {{ filter.render }}
        </form>
    {% endfor %}
{% endblock %}

{% block main %}
    {% paginator event_list from request as event_list per_page MESSAGES_PER_PAGE %}
    {% querystring from request without sort as sort_querystring %}

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="javascript:void(0)" id="sentry-resolve-feed" onclick="Sentry.stream.clear({{ project.id|safe }});">{% trans "Resolve Feed" %}</a>
        </div>
        <div class="btn-group">
            <a class="btn realtime-play" href="javascript:void(0)" id="sentry-realtime" onclick="Sentry.realtime.toggle();">{% trans "Pause Feed" %}</a>
        </div>
        <div class="btn-group">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">{% blocktrans with sort_label as label %}Sort by: {{ label }}{% endblocktrans %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li{% ifequal sort 'priority' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=priority">{% trans "Priority" %}</a></li>
                <li{% ifequal sort 'date' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=date">{% trans "Last Seen" %}</a></li>
                <li{% ifequal sort 'new' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=new">{% trans "First Seen" %}</a></li>
                <li{% ifequal sort 'freq' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=freq">{% trans "Frequency" %}</a></li>
                <li class="divider"></li>
                <li{% ifequal sort 'tottime' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=tottime">{% trans "Total Time Spent" %}</a></li>
                <li{% ifequal sort 'avgtime' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=avgtime">{% trans "Average Time Spent" %}</a></li>
                {% if HAS_TRENDING %}
                    <li class="divider"></li>
                    <li{% ifequal sort 'accel_15' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=accel_15">{% trans "Trending: 15 minutes" %}</a></li>
                    <li{% ifequal sort 'accel_60' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=accel_60">{% trans "Trending: 60 minutes" %}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="btn-group pull-right">
            <a class="btn prev{% if not event_list.paginator.has_previous %} disabled{% endif %}" href="?{{ event_list.query_string|escape }}&amp;p={{ event_list.paginator.previous_page }}"><span>{% trans "Previous" %}</span></a>
            <a class="btn next{% if not event_list.paginator.has_next %} disabled{% endif %}" href="?{{ event_list.query_string|escape }}&amp;p={{ event_list.paginator.next_page }}"><span>{% trans "Next" %}</span></a>
        </div>
    </div>

    {% if event_list.paginator.objects %}
        {% handle_before_events request event_list.paginator.objects %}
        <ul class="events" id="event_list">
            {% for group, is_bookmarked in event_list.paginator.objects|as_bookmarks:request.user %}
                {% include "sentry/partial/_group.html" %}
            {% endfor %}
        </ul>
    {% else %}
        <ul class="events" id="event_list">
            <li class="empty-result" id="no_messages">{% trans "No events match your filters." %}</li>
        </ul>
    {% endif %}

    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a class="btn prev{% if not event_list.paginator.has_previous %} disabled{% endif %}" href="?{{ event_list.query_string|escape }}&amp;p={{ event_list.paginator.previous_page }}"><span>{% trans "Previous" %}</span></a>
            <a class="btn next{% if not event_list.paginator.has_next %} disabled{% endif %}" href="?{{ event_list.query_string|escape }}&amp;p={{ event_list.paginator.next_page }}"><span>{% trans "Next" %}</span></a>
        </div>
    </div>
{% endblock %}