{% extends "sentry/layout.html" %}

{% load i18n %}

{% block title %}{% trans "Select a Project" %} | {{ block.super }}{% endblock %}

{% block heading %}{% trans "Select a Project" %}{% endblock %}

{% block content %}
    <div class="span16">
        {% if project_list %}
            <div class="alert-message info">Select a project to view the stream of events...</div>
            <ul class="sparkline-grid">
                {% for project in project_list %}
                    <li>
                        <a href="{% url sentry project.pk %}">
                            <h3>{{ project.name }}</h3>
                            <div class="sparkline" data-project="{{ project.pk|safe }}" data-api-url="{% url sentry-api-chart project.pk %}"></div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {% if can_create_projects %}
                <div class="alert-message info">You do not have access to any projects. Would you like to <a href="{% url sentry-new-project %}">create a new project</a>?</div>
            {% else %}
                <div class="alert-message notice">You do not have access to any projects. Ask an administrator to add you as a member.</div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}


{% block content_after %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.sparkline-grid .sparkline').each(function(_, el){
            var $el = $(el);

            $.ajax({
                url: $el.attr('data-api-url'),
                type: 'get',
                dataType: 'json',
                data: {
                    op: 'chart',
                    days: 1
                },
                success: function(data){
                    if (!data.length) {
                        return;
                    }

                    var start = new Date().getTime() - data.length * 3600000;
                    var pairs = [];
                    // for (var i=0; i<1000; i++) {
                    //     pairs.push([start + (3600 * 1000) * i, Math.random()*1000]);
                    // }
                    for (var i=0; i<data.length; i++) {
                        pairs.push([start + (3600 * 1000) * i, data[i]]);
                    }
                    $.plot($el, [
                        {
                            data: pairs,
                            color: '#3079d0',
                            shadowSize: 0,
                            lines: {
                                lineWidth: 1,
                                show: true,
                                fill: true
                            },
                        }
                    ], {
                        xaxis: {
                           mode: "time"
                        },
                        grid: {
                            show: false,
                            backgroundColor: '#F5F5F5'
                        },
                        lines: { show: false }

                    });
                }
            });
        });
    });
    </script>
{% endblock %}