{% extends "sentry/layout.html" %}

{% load i18n %}

{% block title %}{% trans "Select a Project" %} | {{ block.super }}{% endblock %}

{% block heading %}{% trans "Select a Project" %}{% endblock %}

{% block content %}
    <div class="span16">
        <p>Select a project to view the stream of events...</p>
        <ul>
            {% for project in project_list.itervalues %}
                <li><a href="{% url sentry project.pk %}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
