{% load i18n %}

<header id="header">
    <div class="navbar navbar-fixed">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{% url sentry %}">Sentry</a>
                <ul class="nav">
                    <li><a href="{% url sentry %}">Home</a></li>
                    <li><a href="{% url sentry-status %}">Status</a></li>
                </ul>
                <ul class="nav pull-right">
                    {% if request.user.is_authenticated %}
                        {% if project_list and project_list|length > 1 %}
                            <li class="dropdown" data-dropdown="dropdown">
                                <a href="#" class="dropdown-toggle">{% trans "Projects" %} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for p in project_list %}
                                        <li{% if project == p %} class="active"{% endif %}><a href="{% url sentry p.pk %}">{{ p.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        <li class="dropdown" data-dropdown="dropdown">
                            <a href="#" class="dropdown-toggle">{% trans "Account" %} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url sentry-project-list %}">{% trans "Manage Projects" %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url sentry-logout %}">{% trans "Logout" %}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url sentry-login %}">{% trans "Login" %}</a></li>
                    {% endif %}
                </ul>
                {% block search %}
                {% if project %}
                    <form action="{% url sentry-search project.pk %}" class="navbar-search pull-right" id="search">
                        <input type="hidden" name="sort" value="{% if sort %}{{ sort }}{% endif %}"/>
                        <input type="text" name="q" value="{% if query %}{{ query }}{% endif %}" placeholder="{% if HAS_SEARCH %}search query or message id{% else %}message id{% endif %}"/>
                    </form>
                {% endif %}
                {% endblock %}
             </div>
        </div>
    </div>
</header>