{% load i18n %}

<header id="header">
    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a class="brand" href="{% url sentry %}">Sentry</a>
                <ul class="nav">
                    <li><a href="{% url sentry %}">Home</a></li>
                    {% if project and project_list|length > 1 %}
                        <li><a href="{% url sentry project.pk %}">{{ project.name }}</a></li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li><a href="{% url sentry-status %}">Status</a></li>
                    {% endif %}
                </ul>
                <ul class="nav secondary-nav">
                    {% if request.user.is_authenticated %}
                        {% if project_list and project_list|length > 1 %}
                            <li class="dropdown" data-dropdown="dropdown">
                                <a href="#" class="dropdown-toggle">{% trans "Projects" %}</a>
                                <ul class="dropdown-menu">
                                    {% for p in project_list %}
                                        <li{% if project == p %} class="active"{% endif %}><a href="{% url sentry p.pk %}">{{ p.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        <li class="dropdown" data-dropdown="dropdown">
                            <a href="#" class="dropdown-toggle">{% trans "Account" %}</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url sentry-project-list %}">{% trans "Manage Projects" %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url sentry-logout %}">{% trans "Logout" %}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url sentry-login %}">{% trans "Login" %}</a></li>
                    {% endif %}
                </ul>
                {% block search %}
                {% if project %}
                    <form action="{% url sentry-search project.pk %}" class="pull-right" id="search">
                        <input type="hidden" name="sort" value="{% if sort %}{{ sort }}{% endif %}"/>
                        <input type="text" name="q" value="{% if query %}{{ query }}{% endif %}" placeholder="{% if has_search %}search query or message id{% else %}message id{% endif %}"/>
                    </form>
                {% endif %}
                {% endblock %}
<!--                   <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
-->                </div>
        </div>
    </div>
</header>