{% load i18n %}

<header id="header">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a id="logo" href="{% url sentry %}">Sentry</a>
                {% block search %}
                    {% if project %}
                        <form action="{% url sentry-search project.pk %}" class="navbar-search pull-right" id="search">
                            <input type="hidden" name="sort" value="{% if sort %}{{ sort }}{% endif %}"/>
                            <input type="text" name="q" value="{% if query %}{{ query }}{% endif %}" placeholder="{% if HAS_SEARCH %}search query or message id{% else %}message id{% endif %}" class="search-query pull-left" />
                        </form>
                    {% else %}
                        <form class="navbar-search pull-right" id="search">
                            <input type="hidden" name="sort" value="{% if sort %}{{ sort }}{% endif %}"/>
                            <input type="text" name="q" value="{% if query %}{{ query }}{% endif %}" placeholder="select a project to enable search" class="search-query pull-left disabled" disabled="disabled" />
                        </form>
                    {% endif %}
                {% endblock %}

                <ul class="nav">
                    {% if project %}
                        <li{% if PAGE == 'dashboard' %} class="active"{% endif %}><a href="{% url sentry project.pk %}">{% trans "Dashboard" %}</a></li>
                        <li{% if PAGE == 'stream' %} class="active"{% endif %}><a href="{% url sentry-events project.pk %}">{% trans "Stream" %}</a></li>
                    {% endif %}
                </ul>
                <ul class="nav pull-right">
                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Projects" %} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url sentry-project-list %}">{% trans "Manage" %}</a></li>
                                {% if project_list %}
                                    <li class="divider"></li>
                                    {% for p in project_list %}
                                        <li{% if project == p %} class="active"{% endif %}><a href="{% url sentry p.pk %}">{{ p.name }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Account" %} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url sentry-account-settings %}">{% trans "Settings" %}</a></li>
                                {% if request.user.is_staff %}
                                    <li class="divider"></li>
                                    <li><a href="{% url sentry-admin-status %}">{% trans "Admin" %}</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{% url sentry-logout %}">{% trans "Logout" %}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url sentry-login %}">{% trans "Login" %}</a></li>
                    {% endif %}
                </ul>
             </div>
        </div>
    </div>
</header>