{% load paging_extras %}
{% load sentry_helpers %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html lang="en">
	<head> 
		<meta http-equiv="content-type" content="text/html; charset=utf-8"> 
		<meta name="robots" content="NONE,NOARCHIVE">
		<title>{% block title %}Django Sentry{% endblock %}</title> 
		<script type="text/javascript"> 
		//<!--
		function getElementsByClassName(oElm, strTagName, strClassName){
			// Written by Jonathan Snook, http://www.snook.ca/jon; Add-ons by Robert Nyman, http://www.robertnyman.com
			var arrElements = (strTagName == "*" && document.all)? document.all :
			oElm.getElementsByTagName(strTagName);
			var arrReturnElements = new Array();
			strClassName = strClassName.replace(/\-/g, "\\-");
			var oRegExp = new RegExp("(^|\\s)" + strClassName + "(\\s|$)");
			var oElement;
			for(var i=0; i<arrElements.length; i++){
				oElement = arrElements[i];
				if(oRegExp.test(oElement.className)){
					arrReturnElements.push(oElement);
				}
			}
			return (arrReturnElements)
		}
		function hideAll(elems) {
		  for (var e = 0; e < elems.length; e++) {
			elems[e].style.display = 'none';
		  }
		}
		window.onload = function() {
		  hideAll(getElementsByClassName(document, 'table', 'vars'));
		  hideAll(getElementsByClassName(document, 'ol', 'pre-context'));
		  hideAll(getElementsByClassName(document, 'ol', 'post-context'));
		  hideAll(getElementsByClassName(document, 'div', 'pastebin'));
		}
		function toggle() {
		  for (var i = 0; i < arguments.length; i++) {
			var e = document.getElementById(arguments[i]);
			if (e) {
			  e.style.display = e.style.display == 'none' ? 'block' : 'none';
			}
		  }
		  return false;
		}
		function varToggle(link, id) {
		  toggle('v' + id);
		  var s = link.getElementsByTagName('span')[0];
		  var uarr = String.fromCharCode(0x25b6);
		  var darr = String.fromCharCode(0x25bc);
		  s.innerHTML = s.innerHTML == uarr ? darr : uarr;
		  return false;
		}
		function switchPastebinFriendly(link) {
		  s1 = "Switch to copy-and-paste view";
		  s2 = "Switch back to interactive view";
		  link.innerHTML = link.innerHTML == s1 ? s2 : s1;
		  toggle('browserTraceback', 'pastebinTraceback');
		  return false;
		}
		//-->
		</script>
		<style>
			{% include "sentry/css/sentry.css" %}
		</style>
	</head> 
	
	<body> 
		{% block body %}
		
		<div id="header"> 
			<h1><a href="{% url sentry %}"><span class="sentry-logo" title="Django Sentry">Django Sentry</span></a></h1>
			<h2>Dashboard</h2>
		</div> 
		<div id="content">
			<div id="sidebar">
				<h2>Last 24 Hours</h2>
			
				<img src="{{ chart_url }}" class="chart" alt="chart"/>
			
				<h2>Loggers</h2>

				<ul class="logger-list filter-list sidebar-module">
					<li{% if not logger %} class="active"{% endif %}><a href="?server_name={{ server_name }}&amp;level={{ level }}">any logger</a></li>
					{% for key, name in logger_names.iteritems %}
						<li{% if logger == key %} class="active"{% endif %}><a href="?logger={{ key }}&amp;server_name={{ server_name }}&amp;level={{ level }}">{{ name }}</a></li>
					{% endfor %}
				</ul>
			
				<h2>Levels</h2>

				<ul class="level-list filter-list sidebar-module">
					<li{% if not level %} class="active"{% endif %}><a href="?server_name={{ server_name }}&amp;logger={{ logger }}">any level</a></li>
					{% for key, name in level_names.iteritems %}
						<li{% if level == key %} class="active"{% endif %}><a href="?level={{ key }}&amp;server_name={{ server_name }}&amp;logger={{ logger }}">{{ name|title }}</a></li>
					{% endfor %}
				</ul>

				<h2>Servers</h2>

				<ul class="server-list filter-list sidebar-module">
					<li{% if not server_name %} class="active"{% endif %}><a href="?level={{ level }}&amp;logger={{ logger }}">any server</a></li>
					{% for key, name in server_names.iteritems %}
						<li{% if server_name == key %} class="active"{% endif %}><a href="?server_name={{ key }}&amp;level={{ level }}&amp;logger={{ logger }}">{{ name }}</a></li>
					{% endfor %}
				</ul>
			</div>

			<div id="body" class="with-sidebar">
				{% paginate message_list from request as message_list per_page 25 %}
				{% if message_list.objects %}
					{{ message_list.paging }}
					<ul class="messages">
						{% for message, priority in message_list.objects|with_priority %}
							<li class="{% cycle 'row1' 'row2' %} level-{{ message.level }} priority-{{ priority }}" onclick="window.location.href='{% url sentry-group message.pk %}'">
								<span class="count">{{ message.times_seen }}</span>
								<h3><a href="{% url sentry-group message.pk %}">{% if message.view %}{{ message.view }}{% else %}{{ message.message }}{% endif %}</a></h3>
								<span class="last_seen">{{ message.last_seen|timesince }} ago</span>
								<p class="message"><span class="tag tag-level">{{ message.get_level_display }}</span> <span class="tag tag-server">{{ message.server_name }}</span> {{ message.error }}</p>
								<pre class="traceback">{{ message.shortened_traceback }}</pre>
								<span class="hidden">&raquo;</span>
							</li>
						{% endfor %}
					</ul>
					{{ message_list.paging }}
				{% else %}
					<p class="no-messages">No messages match your filters.</p>
				{% endif %}
			</div>
 		</div>
		<div id="footer">Powered by sexy Django magic.</div> 
		{% endblock %}
	</body>
</html>