{% load i18n %}
{% load sentry_helpers %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="robots" content="NONE,NOARCHIVE">

        <link href="{% url sentry-media "styles/global.min.css" %}" rel="stylesheet" type="text/css"/>
        <!-- <link href="{% url sentry-media "images/sentry.png" %}" rel="shortcut icon"/> -->

        <title>{% block title %}Sentry{% endblock %}</title>

        <script type="text/javascript" src="{% url sentry-media "scripts/client.js" %}"></script>
        <script type="text/javascript">
        Sentry.client.config({
            server: '{% url sentry-api-store %}',
            projectId: '{{ PROJECT_ID }}',
            logger: 'sentry.errors.javascript'
        })
        Sentry.client.registerGlobalHandler();
        </script>

        <script type="text/javascript" src="{% url sentry-media "scripts/jquery.js" %}"></script>
        <script type="text/javascript" src="{% url sentry-media "scripts/jquery.flot.min.js" %}"></script>
        <script type="text/javascript" src="{% url sentry-media "scripts/jquery.animate-colors-min.js" %}"></script>
        <script type="text/javascript" src="{% url sentry-media "scripts/global.min.js" %}"></script>
        <script type="text/javascript">
        Sentry.config({
            urlPrefix: '{{ URL_PREFIX }}',
            mediaUrl: '{% url sentry-media '' %}',
            defaultImage: '{% url sentry-media 'images/sentry.png' %}',
            popupCss: '{% url sentry-media 'styles/popup.css' %}'
        });
        </script>

        {% block meta %}
        {% endblock %}
    </head>

    <body>
        {% block body %}
        {% block header %}
            {% include "sentry/header.html" %}
        {% endblock %}
        <section id="page-header" class="toolbar">
            {% block page_header %}
                <ul class="breadcrumb">
                    <li><a href="{% url sentry %}">Projects</a></li>
                    {% if project %}
                        <li class="divider">/</li>
                        <li><a href="{% url sentry project.pk %}">{{ project.name }}</a></li>
                    {% endif %}
                    {% block breadcrumb %}
                    {% endblock %}
                </ul>
            {% endblock %}
        </section>
        <section id="content" class="{% block bodyclass %}with-sidebar{% endblock %}">
            <div class="container">
                <div class="content">
                    {% block content_before %}
                    {% endblock %}
                    {% block content %}
                        <div class="main">
                            {% block main %}
                            {% endblock %}
                        </div>

                        <div class="sidebar">
                            {% block sidebar %}
                                <h6>{% trans "Your Projects" %}</h6>
                                <ul class="nav nav-tabs nav-stacked">
                                    {% for p in project_list %}
                                        <li{% if p == project %} class="active"{% endif %}><a href="{% url sentry-manage-project p.pk %}">{{ p.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endblock %}
                        </div>
                    {% endblock %}
                    {% block content_after %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                {% block footer %}
                    Sentry {% sentry_version %} | Conjured up by the <a href="http://code.disqus.com">DISQUS</a> team and other noble <a href="https://github.com/dcramer/sentry/contributors">sorcerers</a>. | Sentry is <a href="https://github.com/dcramer/sentry">Open Source Software</a>
                {% endblock %}
            </div>
        </footer>
        {% endblock %}

        <script type="text/javascript" src="{% url sentry-media "scripts/bootstrap.min.js" %}"></script>
    </body>
</html>
