{% load i18n %}
{% load sentry_helpers %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="robots" content="NONE,NOARCHIVE">
        <link href="{% url sentry-media "styles/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>

        <link href="{% url sentry-media "styles/global.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% url sentry-media "images/sentry.png" %}" rel="shortcut icon"/>

        <title>{% block title %}Sentry{% endblock %}</title>

        <script type="text/javascript" src="{% url sentry-media "scripts/client.js" %}"></script>
        <script type="text/javascript">
        Sentry.client.config({
            server: '{% url sentry-api-store %}',
            projectId: '{{ PROJECT_ID }}',
            logger: 'sentry.errors.javascript'
        })
        Sentry.client.registerGlobalHandler();
        </script>

        <script type="text/javascript" src="{% url sentry-media "scripts/jquery.js" %}"></script>
        <script type="text/javascript" src="{% url sentry-media "scripts/jquery.flot.min.js" %}"></script>
        <script type="text/javascript" src="{% url sentry-media "scripts/jquery.animate-colors-min.js" %}"></script>
        <script type="text/javascript" src="{% url sentry-media "scripts/bootstrap-dropdown.min.js" %}"></script>
        <script type="text/javascript" src="{% url sentry-media "scripts/bootstrap-tabs.min.js" %}"></script>
        <script type="text/javascript" src="{% url sentry-media "scripts/global.js" %}"></script>
        <script type="text/javascript">
        Sentry.config({
            urlPrefix: '{{ URL_PREFIX }}',
            mediaUrl: '{% url sentry-media '' %}',
            defaultImage: '{% url sentry-media 'images/sentry.png' %}',
            popupCss: '{% url sentry-media 'styles/popup.css' %}'
        });
        </script>

        {% block meta %}
        {% endblock %}
    </head>

    <body>
        {% block body %}
        {% block header %}
            {% include "sentry/header.html" %}
        {% endblock %}
        <section id="content">
            <div class="container">
                <div class="content">
                    <div class="main-header">
                        {% block page_header %}
                            <h1>{% block heading %}Sentry{% endblock %}</h1>
                        {% endblock %}
                    </div>
                    <div class="row">
                    {% block content_before %}
                    {% endblock %}
                    {% block content %}
                        <div class="span12">
                            {% block main %}
                            {% endblock %}
                        </div>

                        <div class="span4" id="sidebar">
                            {% block sidebar %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                    {% block content_after %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                Sentry {% sentry_version %} | {% trans "Powered by sexy Django magic" %} | Conjured up by the <a href="http://code.disqus.com">DISQUS</a> team and other noble <a href="https://github.com/dcramer/sentry/contributors">sorcerers</a>. | <a href="https://github.com/dcramer/sentry">Contribute to Sentry</a>
            </div>
        </footer>
        {% endblock %}
    </body>
</html>
