{% extends "sentry/layout.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block heading %}{% trans "Search" %}{% endblock %}

{% block main %}
    {% paginate event_list from request as event_list per_page 15 %}

    <div class="paging-wrap">
        <div class="clearfix">
            <form method="GET" action="">
                <input type="hidden" name="q" value="{% if query %}{{ query }}{% endif %}"/>
                <div class="sort-by">Sort by <select name="sort" onchange="this.form.submit()">
                    <option value=""{% ifequal sort 'relevance' %} selected="selected"{% endifequal %}>Relevance</option>
                    <option value="date"{% ifequal sort 'date' %} selected="selected"{% endifequal %}>Last Seen</option>
                    <option value="new"{% ifequal sort 'new' %} selected="selected"{% endifequal %}>First Seen</option>
                </select>
                </div>
            </form>
            {{ event_list.paging }}
        </div>
    </div>

    {% if event_list.objects %}
        <ul class="messages" id="event_list">
            {% for group in event_list.objects %}
                {% include "sentry/partial/_group.html" %}
            {% endfor %}
        </ul>
    {% else %}
        <ul class="messages" id="event_list">
            <li class="no-messages" id="no_messages">{% trans "No events match your query." %}</li>
        </ul>
    {% endif %}

    <div class="paging-wrap">
        <div class="clearfix">
            {{ event_list.paging }}
        </div>
    </div>
{% endblock %}
