{% extends "sentry/layout.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block heading %}{% trans "Search" %}{% endblock %}

{% block main %}
    <ul class="nav tabs options">
        <li class="dropdown pull-right" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle">{% blocktrans with sort_label as label %}Sort by: {{ label }}{% endblocktrans %} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li{% ifequal sort 'date' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}">{% trans "Last Seen" %}</a></li>
                <li{% ifequal sort 'score' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=score">{% trans "Score" %}</a></li>
                <li{% ifequal sort 'new' %} class="active"{% endifequal %}><a href="?{{ sort_querystring }}&amp;sort=new">{% trans "First Seen" %}</a></li>
            </ul>
        </li>
    </ul>

    {% if event_list %}
        {% handle_before_events request event_list %}
        <ul class="messages" id="event_list">
            {% for group, is_bookmarked in event_list|as_bookmarks:request.user %}
                {% include "sentry/partial/_group.html" %}
            {% endfor %}
        </ul>
    {% else %}
        <ul class="messages" id="event_list">
            <li class="no-messages" id="no_messages">{% trans "No events match your search query." %}</li>
        </ul>
    {% endif %}
{% endblock %}
