{% extends "sentry/layout.html" %}

{% load i18n %}
{% load sentry_helpers %}

{% block title %}{% trans "Status" %} | {{ block.super }}{% endblock %}

{% block heading %}{% trans "Status" %}{% endblock %}

{% block content %}
    <div class="span12">
        <ul class="nav tabs" data-tabs="tabs">
            <li class="active"><a href="#main" data-toggle="tab">{% trans "Environment" %}</a></li>
            <li><a href="#packages" data-toggle="tab">{% trans "Packages" %}</a></li>
            <li><a href="#workers" data-toggle="tab">{% trans "Workers" %}</a></li>
            {% for conf in site_configs %}
                <li><a href="#config_{{ conf.slug }}" data-toggle="tab">{{ conf.site_conf_title }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div id="main" class="active tab-pane">
                <div class="page-header">
                    <h2>{% trans "Environment" %}</h2>
                </div>
                {% if environment %}
                    <table class="table vars table-bordered table-zebra">
                        <colgroup>
                            <col style="width:220px">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>{% trans "Server Version" %}</th>
                                <td>{% sentry_version %}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Python Version" %}</th>
                                <td>{{ python_version }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Configuration File" %}</th>
                                <td>{{ environment.config }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Uptime" %}</th>
                                <td>{{ environment.start_date|timesince }} (since {{ environment.start_date|date }})</td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <p>{% trans "Environment not found (are you using the builtin Sentry webserver?)." %}</p>
                {% endif %}

                <div class="page-header">
                    <h2>{% trans "Configuration" %}{% if environment.config %} <small>{{ environment.config }}</small>{% endif %}</h2>
                </div>
                <table class="table vars table-bordered table-zebra">
                    <colgroup>
                        <col style="width:220px">
                    </colgroup>
                    <tbody>
                        {% for key, value in config %}
                            <tr>
                                <th>{{ key }}</th>
                                <td class="code"><pre>{{ value|pprint }}</pre></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="packages" class="tab-pane">
                <div class="page-header">
                    <h2>{% trans "Extensions" %}</h2>
                </div>
                {% if extensions %}
                    <table class="table vars table-bordered table-zebra">
                        <colgroup>
                            <col style="width:220px">
                        </colgroup>
                        <tbody>
                            {% for key, value in extensions %}
                                <tr>
                                    <th>{{ key }}</th>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{% trans "No extensions registered." %}</p>
                {% endif %}
                <div class="page-header">
                    <h2>{% trans "Views" %}</h2>
                </div>
                {% if views %}
                    <table class="table vars table-bordered table-zebra">
                        <colgroup>
                            <col style="width:220px">
                        </colgroup>
                        <tbody>
                            {% for key, value in views %}
                                <tr>
                                    <th>{{ key }}</th>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{% trans "No views registered." %}</p>
                {% endif %}
                <div class="page-header">
                    <h2>{% trans "Processors" %}</h2>
                </div>
                {% if processors %}
                    <table class="table vars table-bordered table-zebra">
                        <colgroup>
                            <col style="width:220px">
                        </colgroup>
                        <tbody>
                            {% for key, value in processors %}
                                <tr>
                                    <th>{{ key }}</th>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{% trans "No event processors registered." %}</p>
                {% endif %}
                <div class="page-header">
                    <h2>{% trans "Modules" %}</h2>
                </div>
                <table class="table vars table-bordered table-zebra">
                    <colgroup>
                        <col style="width:220px">
                    </colgroup>
                    <tbody>
                        {% for key, value in modules %}
                            <tr>
                                <th>{{ key }}</th>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if worker_status %}
                <div id="workers" class="tab-pane">
                    <div class="page-header">
                        <h2>{% trans "Background Processes" %}</h2>
                    </div>
                    {% if background_procs %}
                        <table class="table vars table-bordered table-zebra">
                            <colgroup>
                                <col style="width:220px">
                            </colgroup>
                            <tbody>
                            </tbody>
                        </table>
                    {% else %}
                        <p>{% trans "No information available." %}</p>
                    {% endif %}
                    <div class="page-header">
                        <h2>{% trans "Pending Tasks" %}</h2>
                    </div>
                    <table class="table vars table-bordered table-zebra">
                        <colgroup>
                            <col>
                            <col style="width:150px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>{% trans "Queue" %}</th>
                                <th>{% trans "Pending Tasks" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for queue, num_pending in pending_tasks %}
                                <tr>
                                    <td>{{ queue }}</td>
                                    <td>{{ num_pending }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% for conf in site_configs %}
                <div id="config_{{ conf.slug }}" class="tab-pane">
                    <div class="page-header">
                        <h2>{{ conf.site_config_title|default:conf.title }} configuration</h2>
                    </div>
                    <br/>
                    {{ conf.view|safe }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
