{% extends "admin/change_form.html" %}

{% load i18n admin_modify adminmedia %}

{% block extrahead %}
	{{ block.super }}
	{% if has_traceback %}
		{{ error_headers }}
		<style type="text/css">
		#reporter_body { 
			padding: 8px;
			background: none repeat scroll 0 0 #FFFFCC
		}
		#reporter_body #traceback li { list-style-type: inherit; }
		#reporter_body #traceback { padding: 8px; margin-top: 10px; }
		#content { margin: 0; }
		</style>
	{% endif %}
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
	{% if not has_traceback %}
		{{ block.super }}
	{% else %}
		<div id="reporter_body">
			{{ error_body }}
		</div>
	{% endif %}
{% endblock %}