name: acceptance
on:
  push:
    branches:
      - master
  pull_request:

jobs:
    jest:
      runs-on: ubuntu-latest
      steps:
        - run: exit 1
        - if: always()
          run: echo "hi"


    test:
      runs-on: ubuntu-latest
      needs: [ jest ]
      steps:
        - run: |
            echo ${{ env.WORKSPACE_CONCLUSION }}
            echo ${{ needs.jest.result }}
