name: api docs
on:
  push:
    branches:
      - master
  pull_request:
    # TODO(joshuarli): Confirm it passes on 3.8.12.
    branches:
      - master

jobs:
  test:
    name: api docs test
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: [3.8.12]
    steps:
      - uses: actions/checkout@v2

      - name: Check for python and `api-docs` file changes
        uses: getsentry/paths-filter@v2
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml

      - uses: volta-cli/action@v1
        if: steps.changes.outputs.api_docs == 'true'

      - name: Setup sentry python env (python ${{ matrix.python-version }})
        uses: ./.github/actions/setup-sentry
        id: setup
        if: steps.changes.outputs.api_docs == 'true'
        with:
          python-version: ${{ matrix.python-version }}
          pip-cache-version: ${{ secrets.PIP_CACHE_VERSION }}
          snuba: true

      - name: Run API docs tests
        if: steps.changes.outputs.api_docs == 'true'
        # install ts-node for ts build scripts to execute properly without potentially installing
        # conflicting deps when running scripts locally
        # see: https://github.com/getsentry/sentry/pull/32328/files
        run: |
          yarn add ts-node && make test-api-docs
