name: backend test shard 18

on: [pull_request]

jobs:
  backend-test-shard-18:
    name: backend test shard 18
    runs-on: ubuntu-24.04
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Setup sentry env
        uses: ./.github/actions/setup-sentry
        id: setup
        with:
          mode: backend-ci

      - name: run shard 18
        id: run_shard_18
        run: |
          TOTAL_TEST_GROUPS=22 TEST_GROUP=18 COVERAGE_CORE=sysmon python3 -b -m pytest \
            tests \
            --ignore tests/acceptance \
            --ignore tests/apidocs \
            --ignore tests/js \
            --ignore tests/tools \
            --cov . \
            --cov-report="xml:.artifacts/coverage.xml" \
            --cov-context=test

          ls -lah .coverage* || true
          ls -lah .artifacts
