name: backend dynamic sharding trial

on:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: 'Commit to run CI on'
        required: true

# hack for https://github.com/actions/cache/issues/810#issuecomment-1222550359
env:
  SEGMENT_DOWNLOAD_TIMEOUT_MINS: 3
  SNUBA_NO_WORKERS: 1

jobs:
  calculate-shards:
    name: calculate test shards
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    outputs:
      shard-count: ${{ steps.calculate-shards.outputs.shard-count }}
      shard-indices: ${{ steps.calculate-shards.outputs.shard-indices }}

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          ref: ${{ github.event.inputs.commit_sha }}

      - name: Setup sentry env
        uses: ./.github/actions/setup-sentry
        id: setup
        with:
          mode: backend-ci
          skip-devservices: true

      - name: Calculate test shards
        id: calculate-shards
        run: |
          python3 .github/workflows/scripts/calculate-backend-test-shards.py

  backend-dynamic-sharding-trial:
    needs: [calculate-shards]
    name: backend dynamic sharding trial
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    strategy:
      # This helps not having to run multiple jobs because one fails, thus, reducing resource usage
      # and reducing the risk that one of many runs would turn red again (read: intermittent tests)
      fail-fast: false
      matrix:
        # Dynamic matrix from calculate-shards
        instance: ${{ fromJSON(needs.calculate-shards.outputs.shard-indices) }}

    env:
      # Dynamic total from calculate-shards
      MATRIX_INSTANCE_TOTAL: ${{ needs.calculate-shards.outputs.shard-count }}
      TEST_GROUP_STRATEGY: roundrobin

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          ref: ${{ github.event.inputs.commit_sha }}

      - name: Setup sentry env
        uses: ./.github/actions/setup-sentry
        id: setup
        with:
          mode: backend-ci

      - name: Run backend test (${{ steps.setup.outputs.matrix-instance-number }} of ${{ steps.setup.outputs.matrix-instance-total }})
        run: |
          python .github/workflows/scripts/pytest-args-wrapper.py "selected-tests-c4e8fece8faf619533a482f27196ddc8c8e01180"

      - name: Inspect failure
        if: failure()
        run: |
          if command -v devservices; then
            devservices logs
          fi
