name: check migration
on: pull_request

jobs:
  should-check:
    name: did files change
    runs-on: ubuntu-20.04
    timeout-minutes: 3
    # Map a step output to a job output
    outputs:
      changed: ${{ steps.changes.outputs.migration_lockfile }}
    steps:
      - name: Checkout sentry
        uses: actions/checkout@v2

      - name: check if files have changed
        uses: getsentry/paths-filter@v2
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml

  main:
    name: check migration
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.6.13, 3.8.12]
    needs: [should-check]
    if: needs.should-check.outputs.changed == 'true'

    steps:
      - name: Checkout sentry
        uses: actions/checkout@v2

      - name: Setup sentry env (python ${{ matrix.python-version }})
        uses: ./.github/actions/setup-sentry
        id: setup
        with:
          python-version: ${{ matrix.python-version }}
          pip-cache-version: ${{ secrets.PIP_CACHE_VERSION }}

      - name: Migration & lockfile checks
        env:
          SENTRY_LOG_LEVEL: ERROR
          PGPASSWORD: postgres
        run: |
          ./.github/workflows/scripts/migration-check.sh
