name: getsentry
on: pull_request

jobs:
  ensure_docker:
    name: Ensure docker image
    runs-on: ubuntu-latest

    steps:
    - name: getsentry token
      id: getsentry
      uses: getsentry/action-github-app-token@v1
      with:
        private_key: ${{ secrets.SENTRY_INTERNAL_APP_PRIVATE_KEY }}

    - name: Checkout getsentry
      uses: actions/checkout@v2
      with:
        repository: getsentry/getsentry
        token: ${{ steps.getsentry.outputs.token }}

    - name: Install gcloud utils
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '281.0.0'
        export_default_credentials: true
        service_account_key: ${{ secrets.GCR_SERVICE_ACCOUNT }}

    - name: Configure docker
      run: |
        mkdir -p $HOME/.docker
        echo '{"experimental": "enabled"}' > $HOME/.docker/config.json
        gcloud auth configure-docker --quiet

    - name: bump-sentry ${{ github.event.pull_request.base.sha }}
      run: |
        git config --global user.email "github-actions@sentry.io"
        git config --global user.name "github-actions[bot]"
        bin/bump-sentry ${{ github.event.pull_request.head.sha }}

    - name: Collect dependencies
      run: bin/test-utils/collect_deps

    - name: Ensure image
      run: bin/test-utils/ensure_image

  acceptance:
    name: acceptance
    runs-on: ubuntu-16.04
    continue-on-error: true
    needs: [ensure_docker]

    strategy:
      matrix:
        # can't use `strategy.job-total` with nested matrices :/
        # This means we may need to split acceptance and sentry-plugins if we wanted
        # each one to have different number of groups
        job: [acceptance]
        instance: [0, 1]
        include:
          - job: acceptance
            group-strategy: individual

    env:
      SENTRY_KAFKA_HOSTS: kafka:9093
      SENTRY_ZOOKEEPER_HOSTS: zookeeper:2182
      SENTRY_REDIS_HOST: redis

      PYTEST_SENTRY_DSN: https://6fd5cfea2d4d46b182ad214ac7810508@sentry.io/2423079
      PYTEST_ADDOPTS: "--reruns 5"

      # The hostname used to communicate with the PostgreSQL from sentry
      DATABASE_URL: postgresql://postgres:postgres@localhost/sentry
      # Number of matrix instances
      TOTAL_TEST_GROUPS: 2
      PGPASSWORD: postgres

    services:
      clickhouse:
        image: yandex/clickhouse-server:20.3.9.70
        options: --ulimit nofile=262144:262144
        ports:
          - 9000:9000

      snuba:
        image: getsentry/snuba
        env:
          SNUBA_SETTINGS: test
          REDIS_HOST: redis
          CLICKHOUSE_HOST: clickhouse
          CLICKHOUSE_PORT: 9000
        ports:
          - 1218:1218

      redis:
        image: redis:5.0-alpine
        ports:
          - 6379:6379

      memcached:
        image: memcached:1.5-alpine
        ports:
          - 11211:11211

      postgres:
        image: postgres:9.6
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      zookeeper:
        image: confluentinc/cp-zookeeper:4.1.0
        env:
          ZOOKEEPER_CLIENT_PORT: 2181

      kafka:
        image: confluentinc/cp-kafka:5.1.2
        env:
          KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
          KAFKA_LISTENERS: INTERNAL://0.0.0.0:9093,EXTERNAL://0.0.0.0:9092
          KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9093,EXTERNAL://kafka:9092
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
          KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    steps:
    - name: getsentry token
      id: getsentry
      uses: getsentry/action-github-app-token@v1
      with:
        private_key: ${{ secrets.SENTRY_INTERNAL_APP_PRIVATE_KEY }}

    - name: Checkout getsentry
      uses: actions/checkout@v2
      with:
        repository: getsentry/getsentry
        token: ${{ steps.getsentry.outputs.token }}

    - name: Install gcloud utils
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '281.0.0'
        export_default_credentials: true
        service_account_key: ${{ secrets.GCR_SERVICE_ACCOUNT }}

    - name: Configure docker
      run: |
        mkdir -p $HOME/.docker
        echo '{"experimental": "enabled"}' > $HOME/.docker/config.json
        gcloud auth configure-docker --quiet

    - name: bump-sentry ${{ github.event.pull_request.base.sha }}
      run: |
        git config --global user.email "github-actions@sentry.io"
        git config --global user.name "github-actions[bot]"
        bin/bump-sentry ${{ github.event.pull_request.head.sha }}

    - name: Collect dependencies
      run: bin/test-utils/collect_deps

    - name: Before tests
      run: |
        createdb -h 127.0.0.1 -U postgres -E utf-8 sentry

    - name: Run tests
      env:
        TEST_GROUP_STRATEGY: ${{ matrix.group-strategy }}
        TEST_GROUP: ${{ matrix.instance }}
      run: |
        bin/test-utils/docker_run_tests make ci-test-${{ matrix.job }}-quiet

  frontend:
    name: frontend
    runs-on: ubuntu-latest
    continue-on-error: true
    needs: [ensure_docker]

    steps:
    - name: Checkout sentry
      uses: actions/checkout@v2

    - name: getsentry token
      id: getsentry
      uses: getsentry/action-github-app-token@v1
      with:
        private_key: ${{ secrets.SENTRY_INTERNAL_APP_PRIVATE_KEY }}

    - name: Checkout getsentry
      uses: actions/checkout@v2
      with:
        repository: getsentry/getsentry
        token: ${{ steps.getsentry.outputs.token }}

    - name: Install gcloud utils
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '281.0.0'
        export_default_credentials: true
        service_account_key: ${{ secrets.GCR_SERVICE_ACCOUNT }}

    - name: Configure docker
      run: |
        mkdir -p $HOME/.docker
        echo '{"experimental": "enabled"}' > $HOME/.docker/config.json
        gcloud auth configure-docker --quiet

    - name: bump-sentry ${{ github.event.pull_request.base.sha }}
      run: |
        git config --global user.email "github-actions@sentry.io"
        git config --global user.name "github-actions[bot]"
        bin/bump-sentry ${{ github.event.pull_request.head.sha }}

    - name: Collect dependencies
      run: bin/test-utils/collect_deps

    - name: Run tests
      run: |
        bin/test-utils/docker_run_tests make ci-test-js
