name: React to product-owners.yml changes
on:
  # This could be run manually, but the general expectation is that this fires
  # from GHA in getsentry/security-as-code on changes there.

  workflow_dispatch:
jobs:
  release:
    runs-on: ubuntu-latest
    name: React to product-owners.yml changes
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - uses: getsentry/action-setup-venv@a133e6fd5fa6abd3f590a1c106abda344f5df69f # v2.1.0
        with:
          python-version: 3.12.6

      - name: React to product-owners.yml changes
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.BUMP_SENTRY_TOKEN }}
          COMMITTER_NAME: getsentry-bot
          COMMITTER_EMAIL: bot@sentry.io
        run: ./bin/react-to-product-owners-yml-changes.sh
