name: React to product-owners.yml changes
on:
  # This could be run manually, but the general expectation is that this fires
  # from GHA in getsentry/security-as-code on changes there.

  workflow_dispatch:
jobs:
  release:
    runs-on: ubuntu-latest
    name: React to product-owners.yml changes
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - uses: getsentry/action-setup-venv@5a80476d175edf56cb205b08bc58986fa99d1725 # v3.2.0
        with:
          cache-dependency-path: uv.lock
          install-cmd: echo

      - name: React to product-owners.yml changes
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.BUMP_SENTRY_TOKEN }}
          COMMITTER_NAME: getsentry-bot
          COMMITTER_EMAIL: bot@sentry.io
        run: |
          uv export --only-dev --no-hashes --no-annotate --no-header \
          | grep '^pyyaml' | sed -E 's/ ;.*//' \
          | xargs uv pip install --index-url 'https://pypi.devinfra.sentry.io/simple'

          ./bin/react-to-product-owners-yml-changes.sh
