name: release
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release (optional)
        required: false
      force:
        description: Force a release even when there are release-blockers (optional)
        required: false
  schedule:
    # We want the release to be at 9-10am Pacific Time
    # We also want it to be 1 hour before the on-prem release
    - cron: '0 17 15 * *'
jobs:
  release:
    runs-on: ubuntu-latest
    name: 'Release a new version'
    steps:
      - name: Prepare release
        uses: getsentry/action-prepare-release@main
        with:
          version: ${{ github.event.inputs.version }}
          force: ${{ github.event.inputs.force }}
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_RELEASE_PAT }}
          fetch-depth: 0
      - uses: getsentry/craft@master
        name: Craft Prepare
        with:
          action: prepare
          version: ${{ env.RELEASE_VERSION }}
      - name: Request publish
        if: success()
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GH_RELEASE_PAT }}
          script: |
            const repoInfo = context.repo;
            await github.issues.create({
              owner: repoInfo.owner,
              repo: 'publish',
              title: `publish: ${repoInfo.repo}@${process.env.RELEASE_VERSION}`,
            });
