name: update codecov config

on:
  pull_request:
    paths:
      - '.github/workflows/*.yml'

# Cancel in progress workflows on the same pull_request.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  files-changed:
    name: detect what files changed
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    outputs:
      workflow_files: ${{ steps.changes.outputs.workflow_files }}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Check for workflow file changes
        uses: dorny/paths-filter@0bc4621a3135347011ad047f9ecf449bf72ce2bd # v3.0.0
        id: changes
        with:
          token: ${{ github.token }}
          filters: |
            workflow_files:
              - '.github/workflows/*.yml'

  update-codecov-config:
    needs: files-changed
    if: needs.files-changed.outputs.workflow_files == 'true'
    name: update codecov after_n_builds
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: getsentry/action-github-app-token@d4b5da6c5e37703f8c3b3e43abb5705b46e159cc # v3.0.0
        id: token
        continue-on-error: true
        with:
          app_id: ${{ vars.SENTRY_INTERNAL_APP_ID }}
          private_key: ${{ secrets.SENTRY_INTERNAL_APP_PRIVATE_KEY }}

      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Setup Python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          pip install pyyaml

      - name: Update codecov.yml
        id: update
        run: |
          python scripts/update_codecov_after_n_builds.py
          if git diff --exit-code codecov.yml; then
            echo "changed=false" >> "$GITHUB_OUTPUT"
          else
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Commit changes
        if: steps.token.outcome == 'success' && steps.update.outputs.changed == 'true' && github.ref != 'refs/heads/master'
        uses: getsentry/action-github-commit@31f6706ca1a7b9ad6d22c1b07bf3a92eabb05632 # v2.0.0
        with:
          github-token: ${{ steps.token.outputs.token }}
          message: ':robot: Update codecov after_n_builds from workflow changes'
